flows/A.Proxmox.json
[
  {
    "id": "422511c2793ff288",
    "type": "tab",
    "label": "A.Proxmox",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "0c72531717a01ea2",
    "type": "group",
    "z": "422511c2793ff288",
    "name": "proxmox - ui - servers",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "e66b05819afe5f9b",
      "cf36484da72c0614",
      "3e575131b157d58c",
      "591d9584f2826895",
      "ae506fba4bac5e81",
      "9112bb2a8dc47460",
      "b5afd4eb06f899a1",
      "adb22cd4e76fd9eb",
      "76323f6b74b3cf6e",
      "a0264b96576e8fc6",
      "42e6573c9c69f200",
      "dbec9d8eafc144f8",
      "308b8672ef449d0c",
      "46e028f30bd1e4df",
      "c6ac70f99bf92330",
      "1de41c5ebf6163d6",
      "60cbbe86ef1ca6c8",
      "10fd8311c39ec414",
      "fea797bca6360e73",
      "3d380600a548966c",
      "140844d72684e5fd",
      "502e6e4ee5518983",
      "a68c83cf64464a78",
      "9a09e268a979f777",
      "9971e6ae76308194",
      "254c6a165d02d73c",
      "ad774d4c0392a7fd",
      "27bee2c35bd62e53",
      "8db58c6858a53e3b",
      "6411bcf28b7ffa6f",
      "fcb805254a062bbc",
      "24fe1694a71b23a0",
      "b28e23d2535310a5",
      "f04f1b08715e2da9",
      "21e0a26a69851550"
    ],
    "x": 94,
    "y": 939,
    "w": 952,
    "h": 862
  },
  {
    "id": "b2743c80684b0c5b",
    "type": "group",
    "z": "422511c2793ff288",
    "name": "catch error",
    "style": {
      "fill": "#ff0000",
      "fill-opacity": "0.05",
      "label": true,
      "stroke": "#ff0000"
    },
    "nodes": [
      "eff9d80049182cee",
      "c48efb433e1bac8b",
      "f21a1bff030f3d3d"
    ],
    "x": 534,
    "y": 19,
    "w": 422,
    "h": 82
  },
  {
    "id": "f5c47550f872f36e",
    "type": "group",
    "z": "422511c2793ff288",
    "name": "api - proxmox",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "7df081d38de8d887",
      "d36d7c4d00993eda",
      "738a9b631ec7f956",
      "02f2098631b8f1bc"
    ],
    "x": 68,
    "y": 173,
    "w": 7064,
    "h": 714
  },
  {
    "id": "7df081d38de8d887",
    "type": "group",
    "z": "422511c2793ff288",
    "g": "f5c47550f872f36e",
    "name": "proxmox - list",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "a3768ce65939db54",
      "23929da1a8dc3ab1",
      "1c774f316a83189f",
      "0c26626f4e3adf41",
      "5395e3432fb6a03a",
      "7c482f95d5acd377",
      "3be3338a465d07b4",
      "73fc98b86fa09bd4",
      "e463ecf298cb67dd",
      "5a9bc4ec16bbbbdd",
      "2c10659ba7fe0d2e",
      "043c1679f6189be4",
      "eba5563db4b6c071",
      "e5a2a2539df70a6a",
      "7ac6d616ebb5757c",
      "e4bf0709d1045f3a",
      "17e5368c34dd3491",
      "7f8d43438348795d",
      "1043788b4cd33ebf",
      "643d93be5812d978",
      "10eef034696319a1",
      "70e4f4553c942c61",
      "400c9b7813cf6d51",
      "f675d1dd4067f84b",
      "b1bb3606daf5a8eb",
      "87c78a11cf031035",
      "ee02a80588e4865e",
      "939a9569896f434a",
      "075ac2c97dc15b14",
      "9b1c118db9a99b9e",
      "148252a55589c509",
      "b67ff7c8de31abd1",
      "7757f127c3b4cace",
      "be08cc3353798b38",
      "7302166d0d52c751",
      "be5d5fbef097ff89",
      "b7808f0d1452b125",
      "d3a356b2b25b55cc",
      "23f8be1e8c0ed116",
      "dbc00f1ad95d7531",
      "e1768552a28f6516",
      "c749dbb3c75164bd",
      "486eab6cd67669f4",
      "cd60eff79722f6a8",
      "eddef41fac28be72",
      "5def5c4c2f2f242a",
      "f6aaeec4c6fdfabe",
      "522b6c161afcb47e",
      "6957810565336218",
      "d82d93f92871f901",
      "df15e932155f2ba9",
      "c30333f4e590339e",
      "ce7f4614862751ea",
      "9646351e993f370b",
      "add6ed83ed30f23d",
      "b83c5421732aa53c",
      "6e81c498073124d6",
      "f182def43c9b706e",
      "f7de59496ae60d1b",
      "0845db45a9ff77b2",
      "b3ca9cbe02a17956",
      "9938c42740cdd357",
      "4098270104cd50f5",
      "5538fb1a47d31421",
      "80954cb6ad16cefc",
      "b4d39d580663092e",
      "cc8a05125b23ef33",
      "0cd42c49ccab909c"
    ],
    "x": 3554,
    "y": 199,
    "w": 3552,
    "h": 662
  },
  {
    "id": "738a9b631ec7f956",
    "type": "group",
    "z": "422511c2793ff288",
    "g": "f5c47550f872f36e",
    "name": "api - proxmox - model",
    "style": {
      "fill": "#001f60",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "b2838ba438b43d0b",
      "0bde03fbf7b38bcb",
      "89a3bed0e116f6f1"
    ],
    "x": 94,
    "y": 199,
    "w": 342,
    "h": 82
  },
  {
    "id": "d36d7c4d00993eda",
    "type": "group",
    "z": "422511c2793ff288",
    "g": "f5c47550f872f36e",
    "name": "api - proxmox - device",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "ad92cd0a9ebcc5c6",
      "bc0f706d3f9ddd67",
      "97594776b8a93958",
      "29a790d13e997ea0",
      "34225f529989ce82",
      "c90531777172c544"
    ],
    "x": 534,
    "y": 199,
    "w": 902,
    "h": 142
  },
  {
    "id": "02f2098631b8f1bc",
    "type": "group",
    "z": "422511c2793ff288",
    "g": "f5c47550f872f36e",
    "name": "api - proxmox - source",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "a84ce3434527b080",
      "46e8d049f1dfa844",
      "be261ab969e7e113",
      "caf42cf81dd9a31f",
      "0dc4530042a27b71",
      "c799c704d0078a61",
      "0717e554d8e37888",
      "31fb41f4b6681c69",
      "90bb7f1a39ec64b7",
      "2b29f074aad421e2",
      "98525980d1eae3a3",
      "a6e1c1277d441234",
      "4da6b55dc971d6da"
    ],
    "x": 1534,
    "y": 199,
    "w": 1932,
    "h": 142
  },
  {
    "id": "e66b05819afe5f9b",
    "type": "link in",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "name": "proxmox - ui - servers",
    "links": [
      "94c79b8f52f0b6ba"
    ],
    "x": 135,
    "y": 980,
    "wires": [
      [
        "46e028f30bd1e4df"
      ]
    ]
  },
  {
    "id": "cf36484da72c0614",
    "type": "ui-template",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "group": "0e7c66df5c84175b",
    "page": "",
    "ui": "",
    "name": "",
    "order": 2,
    "width": "3",
    "height": "1",
    "head": "",
    "format": "<template>\n    <v-btn @click=\"gotoserver()\">{{ msg.payload }}</v-btn>\n</template>\n\n<script>\n    export default {\n  name: 'MyLink',\n  data() {\n    return {\n        my_link: ''\n    }\n  },\n  methods: {\n    gotoserver: function () {\n        window.open(`${this.my_link}`);\n    }\n  },\n  mounted () {\n    this.$socket.on('msg-input:' + this.id, (msg) => {\n        this.my_link = msg.topic\n    })\n  },\n  unmounted () {\n    this.$socket.off(`msg-input:${this.id}`)\n  }\n}\n</script>",
    "storeOutMessages": true,
    "passthru": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 960,
    "y": 980,
    "wires": [
      []
    ]
  },
  {
    "id": "3e575131b157d58c",
    "type": "ui-template",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "group": "0e7c66df5c84175b",
    "page": "",
    "ui": "",
    "name": "",
    "order": 4,
    "width": "3",
    "height": "1",
    "head": "",
    "format": "<template>\n    <v-btn @click=\"gotoserver()\">{{ msg.payload }}</v-btn>\n</template>\n\n<script>\n    export default {\n  name: 'MyLink',\n  data() {\n    return {\n        my_link: ''\n    }\n  },\n  methods: {\n    gotoserver: function () {\n        window.open(`${this.my_link}`);\n    }\n  },\n  mounted () {\n    this.$socket.on('msg-input:' + this.id, (msg) => {\n        this.my_link = msg.topic\n    })\n  },\n  unmounted () {\n    this.$socket.off(`msg-input:${this.id}`)\n  }\n}\n</script>",
    "storeOutMessages": true,
    "passthru": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 960,
    "y": 1100,
    "wires": [
      []
    ]
  },
  {
    "id": "591d9584f2826895",
    "type": "ui-template",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "group": "0e7c66df5c84175b",
    "page": "",
    "ui": "",
    "name": "",
    "order": 5,
    "width": "3",
    "height": "1",
    "head": "",
    "format": "<template>\n    <v-btn @click=\"gotoserver()\">{{ msg.payload }}</v-btn>\n</template>\n\n<script>\n    export default {\n  name: 'MyLink',\n  data() {\n    return {\n        my_link: ''\n    }\n  },\n  methods: {\n    gotoserver: function () {\n        window.open(`${this.my_link}`);\n    }\n  },\n  mounted () {\n    this.$socket.on('msg-input:' + this.id, (msg) => {\n        this.my_link = msg.topic\n    })\n  },\n  unmounted () {\n    this.$socket.off(`msg-input:${this.id}`)\n  }\n}\n</script>",
    "storeOutMessages": true,
    "passthru": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 960,
    "y": 1160,
    "wires": [
      []
    ]
  },
  {
    "id": "ae506fba4bac5e81",
    "type": "ui-template",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "group": "0e7c66df5c84175b",
    "page": "",
    "ui": "",
    "name": "",
    "order": 6,
    "width": "3",
    "height": "1",
    "head": "",
    "format": "<template>\n    <v-btn @click=\"gotoserver()\">{{ msg.payload }}</v-btn>\n</template>\n\n<script>\n    export default {\n  name: 'MyLink',\n  data() {\n    return {\n        my_link: ''\n    }\n  },\n  methods: {\n    gotoserver: function () {\n        window.open(`${this.my_link}`);\n    }\n  },\n  mounted () {\n    this.$socket.on('msg-input:' + this.id, (msg) => {\n        this.my_link = msg.topic\n    })\n  },\n  unmounted () {\n    this.$socket.off(`msg-input:${this.id}`)\n  }\n}\n</script>",
    "storeOutMessages": true,
    "passthru": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 960,
    "y": 1220,
    "wires": [
      []
    ]
  },
  {
    "id": "9112bb2a8dc47460",
    "type": "ui-template",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "group": "0e7c66df5c84175b",
    "page": "",
    "ui": "",
    "name": "",
    "order": 7,
    "width": "3",
    "height": "1",
    "head": "",
    "format": "<template>\n    <v-btn @click=\"gotoserver()\">{{ msg.payload }}</v-btn>\n</template>\n\n<script>\n    export default {\n  name: 'MyLink',\n  data() {\n    return {\n        my_link: ''\n    }\n  },\n  methods: {\n    gotoserver: function () {\n        window.open(`${this.my_link}`);\n    }\n  },\n  mounted () {\n    this.$socket.on('msg-input:' + this.id, (msg) => {\n        this.my_link = msg.topic\n    })\n  },\n  unmounted () {\n    this.$socket.off(`msg-input:${this.id}`)\n  }\n}\n</script>",
    "storeOutMessages": true,
    "passthru": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 960,
    "y": 1280,
    "wires": [
      []
    ]
  },
  {
    "id": "b5afd4eb06f899a1",
    "type": "ui-template",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "group": "0e7c66df5c84175b",
    "page": "",
    "ui": "",
    "name": "",
    "order": 8,
    "width": "3",
    "height": "1",
    "head": "",
    "format": "<template>\n    <v-btn @click=\"gotoserver()\">{{ msg.payload }}</v-btn>\n</template>\n\n<script>\n    export default {\n  name: 'MyLink',\n  data() {\n    return {\n        my_link: ''\n    }\n  },\n  methods: {\n    gotoserver: function () {\n        window.open(`${this.my_link}`);\n    }\n  },\n  mounted () {\n    this.$socket.on('msg-input:' + this.id, (msg) => {\n        this.my_link = msg.topic\n    })\n  },\n  unmounted () {\n    this.$socket.off(`msg-input:${this.id}`)\n  }\n}\n</script>",
    "storeOutMessages": true,
    "passthru": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 960,
    "y": 1340,
    "wires": [
      []
    ]
  },
  {
    "id": "adb22cd4e76fd9eb",
    "type": "ui-template",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "group": "0e7c66df5c84175b",
    "page": "",
    "ui": "",
    "name": "",
    "order": 15,
    "width": "3",
    "height": "1",
    "head": "",
    "format": "<template>\n    <v-btn @click=\"gotoserver()\">{{ msg.payload }}</v-btn>\n</template>\n\n<script>\n    export default {\n  name: 'MyLink',\n  data() {\n    return {\n        my_link: ''\n    }\n  },\n  methods: {\n    gotoserver: function () {\n        window.open(`${this.my_link}`);\n    }\n  },\n  mounted () {\n    this.$socket.on('msg-input:' + this.id, (msg) => {\n        this.my_link = msg.topic\n    })\n  },\n  unmounted () {\n    this.$socket.off(`msg-input:${this.id}`)\n  }\n}\n</script>",
    "storeOutMessages": true,
    "passthru": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 960,
    "y": 1400,
    "wires": [
      []
    ]
  },
  {
    "id": "76323f6b74b3cf6e",
    "type": "ui-template",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "group": "0e7c66df5c84175b",
    "page": "",
    "ui": "",
    "name": "",
    "order": 10,
    "width": "3",
    "height": "1",
    "head": "",
    "format": "<template>\n    <v-btn @click=\"gotoserver()\">{{ msg.payload }}</v-btn>\n</template>\n\n<script>\n    export default {\n  name: 'MyLink',\n  data() {\n    return {\n        my_link: ''\n    }\n  },\n  methods: {\n    gotoserver: function () {\n        window.open(`${this.my_link}`);\n    }\n  },\n  mounted () {\n    this.$socket.on('msg-input:' + this.id, (msg) => {\n        this.my_link = msg.topic\n    })\n  },\n  unmounted () {\n    this.$socket.off(`msg-input:${this.id}`)\n  }\n}\n</script>",
    "storeOutMessages": true,
    "passthru": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 960,
    "y": 1460,
    "wires": [
      []
    ]
  },
  {
    "id": "a0264b96576e8fc6",
    "type": "ui-template",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "group": "0e7c66df5c84175b",
    "page": "",
    "ui": "",
    "name": "",
    "order": 14,
    "width": "3",
    "height": "1",
    "head": "",
    "format": "<template>\n    <v-btn @click=\"gotoserver()\">{{ msg.payload }}</v-btn>\n</template>\n\n<script>\n    export default {\n  name: 'MyLink',\n  data() {\n    return {\n        my_link: ''\n    }\n  },\n  methods: {\n    gotoserver: function () {\n        window.open(`${this.my_link}`);\n    }\n  },\n  mounted () {\n    this.$socket.on('msg-input:' + this.id, (msg) => {\n        this.my_link = msg.topic\n    })\n  },\n  unmounted () {\n    this.$socket.off(`msg-input:${this.id}`)\n  }\n}\n</script>",
    "storeOutMessages": true,
    "passthru": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 960,
    "y": 1520,
    "wires": [
      []
    ]
  },
  {
    "id": "42e6573c9c69f200",
    "type": "ui-template",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "group": "0e7c66df5c84175b",
    "page": "",
    "ui": "",
    "name": "",
    "order": 3,
    "width": "3",
    "height": "1",
    "head": "",
    "format": "<template>\n    <v-btn @click=\"gotoserver()\">{{ msg.payload }}</v-btn>\n</template>\n\n<script>\n    export default {\n  name: 'MyLink',\n  data() {\n    return {\n        my_link: ''\n    }\n  },\n  methods: {\n    gotoserver: function () {\n        window.open(`${this.my_link}`);\n    }\n  },\n  mounted () {\n    this.$socket.on('msg-input:' + this.id, (msg) => {\n        this.my_link = msg.topic\n    })\n  },\n  unmounted () {\n    this.$socket.off(`msg-input:${this.id}`)\n  }\n}\n</script>",
    "storeOutMessages": true,
    "passthru": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 960,
    "y": 1040,
    "wires": [
      []
    ]
  },
  {
    "id": "dbec9d8eafc144f8",
    "type": "ui-template",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "group": "0e7c66df5c84175b",
    "page": "",
    "ui": "",
    "name": "",
    "order": 13,
    "width": "3",
    "height": "1",
    "head": "",
    "format": "<template>\n    <v-btn @click=\"gotoserver()\">{{ msg.payload }}</v-btn>\n</template>\n\n<script>\n    export default {\n  name: 'MyLink',\n  data() {\n    return {\n        my_link: ''\n    }\n  },\n  methods: {\n    gotoserver: function () {\n        window.open(`${this.my_link}`);\n    }\n  },\n  mounted () {\n    this.$socket.on('msg-input:' + this.id, (msg) => {\n        this.my_link = msg.topic\n    })\n  },\n  unmounted () {\n    this.$socket.off(`msg-input:${this.id}`)\n  }\n}\n</script>",
    "storeOutMessages": true,
    "passthru": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 960,
    "y": 1580,
    "wires": [
      []
    ]
  },
  {
    "id": "308b8672ef449d0c",
    "type": "ui-template",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "group": "0e7c66df5c84175b",
    "page": "",
    "ui": "",
    "name": "",
    "order": 12,
    "width": "3",
    "height": "1",
    "head": "",
    "format": "<template>\n    <v-btn @click=\"gotoserver()\">{{ msg.payload }}</v-btn>\n</template>\n\n<script>\n    export default {\n  name: 'MyLink',\n  data() {\n    return {\n        my_link: ''\n    }\n  },\n  methods: {\n    gotoserver: function () {\n        window.open(`${this.my_link}`);\n    }\n  },\n  mounted () {\n    this.$socket.on('msg-input:' + this.id, (msg) => {\n        this.my_link = msg.topic\n    })\n  },\n  unmounted () {\n    this.$socket.off(`msg-input:${this.id}`)\n  }\n}\n</script>",
    "storeOutMessages": true,
    "passthru": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 960,
    "y": 1640,
    "wires": [
      []
    ]
  },
  {
    "id": "46e028f30bd1e4df",
    "type": "delay",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "name": "",
    "pauseType": "delayv",
    "timeout": "10",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 540,
    "y": 980,
    "wires": [
      [
        "502e6e4ee5518983",
        "a68c83cf64464a78",
        "9a09e268a979f777",
        "9971e6ae76308194",
        "254c6a165d02d73c",
        "ad774d4c0392a7fd",
        "27bee2c35bd62e53",
        "8db58c6858a53e3b",
        "6411bcf28b7ffa6f",
        "fcb805254a062bbc",
        "24fe1694a71b23a0",
        "b28e23d2535310a5",
        "f04f1b08715e2da9",
        "21e0a26a69851550"
      ]
    ]
  },
  {
    "id": "c6ac70f99bf92330",
    "type": "switch",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "name": "page name",
    "property": "payload.page.name",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Serveur",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 350,
    "y": 1040,
    "wires": [
      [
        "46e028f30bd1e4df"
      ]
    ]
  },
  {
    "id": "1de41c5ebf6163d6",
    "type": "comment",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "name": "do not work for now",
    "info": "",
    "x": 210,
    "y": 1100,
    "wires": []
  },
  {
    "id": "60cbbe86ef1ca6c8",
    "type": "ui-button",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "group": "0e7c66df5c84175b",
    "name": "",
    "label": "Recharger",
    "order": 1,
    "width": "6",
    "height": "1",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 190,
    "y": 1160,
    "wires": [
      [
        "10fd8311c39ec414"
      ]
    ]
  },
  {
    "id": "10fd8311c39ec414",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "name": "now",
    "rules": [
      {
        "t": "set",
        "p": "delay",
        "pt": "msg",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 350,
    "y": 1160,
    "wires": [
      [
        "46e028f30bd1e4df"
      ]
    ]
  },
  {
    "id": "fea797bca6360e73",
    "type": "ui-event",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "ui": "2d75e4809d2a6fbf",
    "name": "",
    "x": 190,
    "y": 1040,
    "wires": [
      [
        "c6ac70f99bf92330"
      ]
    ]
  },
  {
    "id": "3d380600a548966c",
    "type": "ui-template",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "group": "0e7c66df5c84175b",
    "page": "",
    "ui": "",
    "name": "",
    "order": 11,
    "width": "3",
    "height": "1",
    "head": "",
    "format": "<template>\n    <v-btn @click=\"gotoserver()\">{{ msg.payload }}</v-btn>\n</template>\n\n<script>\n    export default {\n  name: 'MyLink',\n  data() {\n    return {\n        my_link: ''\n    }\n  },\n  methods: {\n    gotoserver: function () {\n        window.open(`${this.my_link}`);\n    }\n  },\n  mounted () {\n    this.$socket.on('msg-input:' + this.id, (msg) => {\n        this.my_link = msg.topic\n    })\n  },\n  unmounted () {\n    this.$socket.off(`msg-input:${this.id}`)\n  }\n}\n</script>",
    "storeOutMessages": true,
    "passthru": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 960,
    "y": 1700,
    "wires": [
      []
    ]
  },
  {
    "id": "140844d72684e5fd",
    "type": "ui-template",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "group": "0e7c66df5c84175b",
    "page": "",
    "ui": "",
    "name": "",
    "order": 9,
    "width": "3",
    "height": "1",
    "head": "",
    "format": "<template>\n    <v-btn @click=\"gotoserver()\">{{ msg.payload }}</v-btn>\n</template>\n\n<script>\n    export default {\n  name: 'MyLink',\n  data() {\n    return {\n        my_link: ''\n    }\n  },\n  methods: {\n    gotoserver: function () {\n        window.open(`${this.my_link}`);\n    }\n  },\n  mounted () {\n    this.$socket.on('msg-input:' + this.id, (msg) => {\n        this.my_link = msg.topic\n    })\n  },\n  unmounted () {\n    this.$socket.off(`msg-input:${this.id}`)\n  }\n}\n</script>",
    "storeOutMessages": true,
    "passthru": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 960,
    "y": 1760,
    "wires": [
      []
    ]
  },
  {
    "id": "a3768ce65939db54",
    "type": "proxmox-api",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "lxc",
    "path": "nodes/proxmox-ve-02/lxc",
    "method": "GET",
    "payload": "",
    "server": "b2b86208a514c8a7",
    "x": 4250,
    "y": 540,
    "wires": [
      [
        "10eef034696319a1",
        "939a9569896f434a"
      ]
    ]
  },
  {
    "id": "23929da1a8dc3ab1",
    "type": "proxmox-api",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "qemu",
    "path": "nodes/proxmox-ve-02/qemu",
    "method": "GET",
    "payload": "",
    "server": "b2b86208a514c8a7",
    "x": 4250,
    "y": 600,
    "wires": [
      [
        "0c26626f4e3adf41",
        "939a9569896f434a"
      ]
    ]
  },
  {
    "id": "1c774f316a83189f",
    "type": "split",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 4570,
    "y": 600,
    "wires": [
      [
        "5395e3432fb6a03a"
      ]
    ]
  },
  {
    "id": "0c26626f4e3adf41",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "list",
    "rules": [
      {
        "t": "set",
        "p": "#:(memoryOnly)::list_qemu",
        "pt": "flow",
        "to": "[]",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4410,
    "y": 600,
    "wires": [
      [
        "1c774f316a83189f"
      ]
    ]
  },
  {
    "id": "5395e3432fb6a03a",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "add",
    "rules": [
      {
        "t": "set",
        "p": "#:(memoryOnly)::list_qemu[msg.parts.index]",
        "pt": "flow",
        "to": "{\"label\":msg.payload.name, \"value\":msg.payload.vmid}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4730,
    "y": 600,
    "wires": [
      [
        "7c482f95d5acd377"
      ]
    ]
  },
  {
    "id": "7c482f95d5acd377",
    "type": "join",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "",
    "mode": "auto",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": "false",
    "timeout": "",
    "count": "",
    "reduceRight": false,
    "x": 4890,
    "y": 600,
    "wires": [
      [
        "3be3338a465d07b4"
      ]
    ]
  },
  {
    "id": "3be3338a465d07b4",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "options",
    "rules": [
      {
        "t": "set",
        "p": "options",
        "pt": "msg",
        "to": "#:(memoryOnly)::list_qemu",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "options",
        "pt": "msg",
        "to": "$sort(msg.options, function($l, $r) {\t  $l[0].label > $r[0].label\t})",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "options",
        "pt": "msg",
        "to": "$append(msg.options,[{'label':'» recharger','value':''}])",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "class",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 5060,
    "y": 600,
    "wires": [
      [
        "be08cc3353798b38"
      ]
    ]
  },
  {
    "id": "73fc98b86fa09bd4",
    "type": "proxmox-api",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "vm",
    "path": "",
    "method": "GET",
    "payload": "",
    "server": "b2b86208a514c8a7",
    "x": 6150,
    "y": 700,
    "wires": [
      [
        "5a9bc4ec16bbbbdd",
        "643d93be5812d978",
        "1043788b4cd33ebf",
        "7f8d43438348795d",
        "b67ff7c8de31abd1"
      ]
    ]
  },
  {
    "id": "e463ecf298cb67dd",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "path",
    "rules": [
      {
        "t": "set",
        "p": "path",
        "pt": "msg",
        "to": "current_id",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "path",
        "pt": "msg",
        "to": "'nodes/'&msg.path&'/qemu/' & msg.payload & '/status/current'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "#:(memoryOnly)::current_vmid",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "#:(memoryOnly)::current_type",
        "pt": "flow",
        "to": "qemu",
        "tot": "str"
      },
      {
        "t": "delete",
        "p": "reset",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "class",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 5570,
    "y": 600,
    "wires": [
      [
        "5def5c4c2f2f242a"
      ]
    ]
  },
  {
    "id": "5a9bc4ec16bbbbdd",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "status",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "msg.payload.status='running'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 6310,
    "y": 580,
    "wires": [
      [
        "ee02a80588e4865e",
        "148252a55589c509"
      ]
    ]
  },
  {
    "id": "2c10659ba7fe0d2e",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "cpu",
    "rules": [
      {
        "t": "set",
        "p": "cpus",
        "pt": "msg",
        "to": "payload.cpus",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$round(msg.payload.cpu,3)*100",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "msg.payload & '% (' & msg.cpus & ')'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 6470,
    "y": 700,
    "wires": [
      [
        "c749dbb3c75164bd"
      ]
    ]
  },
  {
    "id": "043c1679f6189be4",
    "type": "function",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "convert",
    "func": "var bytes = msg.payload;\nvar decimals = 2;\n\nconst k = 1024;\nconst dm = decimals < 0 ? 0 : decimals;\nconst sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n\nconst i = Math.floor(Math.log(bytes) / Math.log(k));\n\nmsg.payload = parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 6660,
    "y": 760,
    "wires": [
      [
        "486eab6cd67669f4"
      ]
    ]
  },
  {
    "id": "eba5563db4b6c071",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "memory",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.mem",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 6480,
    "y": 760,
    "wires": [
      [
        "043c1679f6189be4"
      ]
    ]
  },
  {
    "id": "e5a2a2539df70a6a",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "uptime",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.uptime",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 6470,
    "y": 640,
    "wires": [
      [
        "7ac6d616ebb5757c"
      ]
    ]
  },
  {
    "id": "7ac6d616ebb5757c",
    "type": "humanizer",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "",
    "input": "",
    "x": 6650,
    "y": 640,
    "wires": [
      [
        "cd60eff79722f6a8"
      ]
    ]
  },
  {
    "id": "e4bf0709d1045f3a",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "class",
        "pt": "msg",
        "to": "remove",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 5410,
    "y": 480,
    "wires": [
      [
        "dbc00f1ad95d7531",
        "e1768552a28f6516",
        "c749dbb3c75164bd",
        "486eab6cd67669f4"
      ]
    ]
  },
  {
    "id": "17e5368c34dd3491",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "class",
        "pt": "msg",
        "to": "remove",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 5410,
    "y": 420,
    "wires": [
      [
        "7757f127c3b4cace",
        "be5d5fbef097ff89",
        "b7808f0d1452b125",
        "d3a356b2b25b55cc",
        "23f8be1e8c0ed116"
      ]
    ]
  },
  {
    "id": "7f8d43438348795d",
    "type": "switch",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "0",
    "property": "payload.uptime",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 6310,
    "y": 640,
    "wires": [
      [
        "e5a2a2539df70a6a"
      ]
    ]
  },
  {
    "id": "1043788b4cd33ebf",
    "type": "switch",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "0",
    "property": "payload.mem",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 6310,
    "y": 760,
    "wires": [
      [
        "eba5563db4b6c071"
      ]
    ]
  },
  {
    "id": "643d93be5812d978",
    "type": "switch",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "0",
    "property": "payload.cpu",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 6310,
    "y": 700,
    "wires": [
      [
        "2c10659ba7fe0d2e"
      ]
    ]
  },
  {
    "id": "10eef034696319a1",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "list",
    "rules": [
      {
        "t": "set",
        "p": "#:(memoryOnly)::list_lxc",
        "pt": "flow",
        "to": "[]",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4410,
    "y": 540,
    "wires": [
      [
        "70e4f4553c942c61"
      ]
    ]
  },
  {
    "id": "70e4f4553c942c61",
    "type": "split",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "property": "payload",
    "x": 4570,
    "y": 540,
    "wires": [
      [
        "400c9b7813cf6d51"
      ]
    ]
  },
  {
    "id": "400c9b7813cf6d51",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "add",
    "rules": [
      {
        "t": "set",
        "p": "#:(memoryOnly)::list_lxc[msg.parts.index]",
        "pt": "flow",
        "to": "{\"label\":msg.payload.name, \"value\":msg.payload.vmid}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4730,
    "y": 540,
    "wires": [
      [
        "f675d1dd4067f84b"
      ]
    ]
  },
  {
    "id": "f675d1dd4067f84b",
    "type": "join",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "",
    "mode": "auto",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": "false",
    "timeout": "",
    "count": "",
    "reduceRight": false,
    "x": 4890,
    "y": 540,
    "wires": [
      [
        "b1bb3606daf5a8eb"
      ]
    ]
  },
  {
    "id": "b1bb3606daf5a8eb",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "options",
    "rules": [
      {
        "t": "set",
        "p": "options",
        "pt": "msg",
        "to": "#:(memoryOnly)::list_lxc",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "options",
        "pt": "msg",
        "to": "$sort(msg.options, function($l, $r) {\t  $l[0].label > $r[0].label\t})",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "options",
        "pt": "msg",
        "to": "$append(msg.options,[{'label':'» recharger','value':''}])",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "class",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 5060,
    "y": 540,
    "wires": [
      [
        "7302166d0d52c751"
      ]
    ]
  },
  {
    "id": "87c78a11cf031035",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "path",
    "rules": [
      {
        "t": "set",
        "p": "path",
        "pt": "msg",
        "to": "current_id",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "path",
        "pt": "msg",
        "to": "'nodes/'&msg.path&'/lxc/' & msg.payload & '/status/current'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "#:(memoryOnly)::current_vmid",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "#:(memoryOnly)::current_type",
        "pt": "flow",
        "to": "lxc",
        "tot": "str"
      },
      {
        "t": "delete",
        "p": "reset",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "class",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 5570,
    "y": 540,
    "wires": [
      [
        "5def5c4c2f2f242a"
      ]
    ]
  },
  {
    "id": "ee02a80588e4865e",
    "type": "switch",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "true",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 6470,
    "y": 520,
    "wires": [
      [
        "b7808f0d1452b125",
        "d3a356b2b25b55cc",
        "23f8be1e8c0ed116"
      ],
      [
        "be5d5fbef097ff89"
      ]
    ]
  },
  {
    "id": "939a9569896f434a",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "raz",
    "rules": [
      {
        "t": "set",
        "p": "#:(memoryOnly)::current_vmid",
        "pt": "flow",
        "to": "0",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "current_type",
        "pt": "flow",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4410,
    "y": 480,
    "wires": [
      [
        "9938c42740cdd357"
      ]
    ]
  },
  {
    "id": "075ac2c97dc15b14",
    "type": "proxmox-api",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "start/stop",
    "path": "",
    "method": "POST",
    "payload": "",
    "server": "b2b86208a514c8a7",
    "x": 6980,
    "y": 340,
    "wires": [
      []
    ]
  },
  {
    "id": "9b1c118db9a99b9e",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "path",
    "rules": [
      {
        "t": "set",
        "p": "type",
        "pt": "msg",
        "to": "#:(memoryOnly)::current_type",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "vmid",
        "pt": "msg",
        "to": "#:(memoryOnly)::current_vmid",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "path",
        "pt": "msg",
        "to": "current_id",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "path",
        "pt": "msg",
        "to": "'nodes/'&msg.path&'/' & msg.type & '/' & msg.vmid & '/status/' & msg.payload",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 6810,
    "y": 340,
    "wires": [
      [
        "075ac2c97dc15b14"
      ]
    ]
  },
  {
    "id": "148252a55589c509",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "state",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "msg.payload?'Démarré':'Arrêté'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 6470,
    "y": 580,
    "wires": [
      [
        "e1768552a28f6516"
      ]
    ]
  },
  {
    "id": "b67ff7c8de31abd1",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "loop",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{}",
        "tot": "json"
      },
      {
        "t": "delete",
        "p": "reset",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 6310,
    "y": 820,
    "wires": [
      [
        "7757f127c3b4cace"
      ]
    ]
  },
  {
    "id": "7757f127c3b4cace",
    "type": "trigger",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "payl",
    "duration": "30",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 5960,
    "y": 700,
    "wires": [
      [
        "73fc98b86fa09bd4"
      ]
    ]
  },
  {
    "id": "be08cc3353798b38",
    "type": "ui-dropdown",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "group": "c758b19593f570d4",
    "name": "Liste VM",
    "label": "Liste VM",
    "tooltip": "",
    "order": 1,
    "width": "6",
    "height": "1",
    "passthru": false,
    "multiple": false,
    "chips": false,
    "clearable": false,
    "options": [
      {
        "label": "» recharger",
        "value": "",
        "type": "str"
      }
    ],
    "payload": "",
    "topic": "topic",
    "topicType": "msg",
    "className": "",
    "x": 5240,
    "y": 600,
    "wires": [
      [
        "d82d93f92871f901",
        "17e5368c34dd3491",
        "e4bf0709d1045f3a"
      ]
    ]
  },
  {
    "id": "7302166d0d52c751",
    "type": "ui-dropdown",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "group": "c758b19593f570d4",
    "name": "Liste LXC",
    "label": "Liste LXC",
    "tooltip": "",
    "order": 3,
    "width": "6",
    "height": "1",
    "passthru": false,
    "multiple": false,
    "chips": false,
    "clearable": false,
    "options": [
      {
        "label": "» recharger",
        "value": "",
        "type": "str"
      }
    ],
    "payload": "",
    "topic": "topic",
    "topicType": "msg",
    "className": "",
    "x": 5240,
    "y": 540,
    "wires": [
      [
        "6957810565336218",
        "17e5368c34dd3491",
        "e4bf0709d1045f3a"
      ]
    ]
  },
  {
    "id": "be5d5fbef097ff89",
    "type": "ui-button",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "group": "c758b19593f570d4",
    "name": "start",
    "label": "",
    "order": 4,
    "width": "2",
    "height": "1",
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "play",
    "iconPosition": "left",
    "payload": "start",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 6630,
    "y": 340,
    "wires": [
      [
        "9b1c118db9a99b9e",
        "f6aaeec4c6fdfabe"
      ]
    ]
  },
  {
    "id": "b7808f0d1452b125",
    "type": "ui-button",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "group": "c758b19593f570d4",
    "name": "shutdown",
    "label": "",
    "order": 6,
    "width": "2",
    "height": "1",
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "power",
    "iconPosition": "left",
    "payload": "shutdown",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 6640,
    "y": 460,
    "wires": [
      [
        "9b1c118db9a99b9e",
        "f6aaeec4c6fdfabe"
      ]
    ]
  },
  {
    "id": "d3a356b2b25b55cc",
    "type": "ui-button",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "group": "c758b19593f570d4",
    "name": "stop",
    "label": "",
    "order": 5,
    "width": "2",
    "height": "1",
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "stop",
    "iconPosition": "left",
    "payload": "stop",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 6630,
    "y": 400,
    "wires": [
      [
        "9b1c118db9a99b9e",
        "f6aaeec4c6fdfabe"
      ]
    ]
  },
  {
    "id": "23f8be1e8c0ed116",
    "type": "ui-button",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "group": "c758b19593f570d4",
    "name": "reboot",
    "label": "",
    "order": 7,
    "width": "2",
    "height": "1",
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "reload",
    "iconPosition": "left",
    "payload": "reboot",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 6630,
    "y": 520,
    "wires": [
      [
        "9b1c118db9a99b9e",
        "f6aaeec4c6fdfabe"
      ]
    ]
  },
  {
    "id": "dbc00f1ad95d7531",
    "type": "ui-text",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "group": "c758b19593f570d4",
    "order": 8,
    "width": "3",
    "height": "1",
    "name": "uptime",
    "label": "Disponibilité",
    "format": "{{msg.payload}}",
    "layout": "row-left",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 7010,
    "y": 640,
    "wires": []
  },
  {
    "id": "e1768552a28f6516",
    "type": "ui-text",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "group": "c758b19593f570d4",
    "order": 9,
    "width": "3",
    "height": "1",
    "name": "state",
    "label": "Status",
    "format": "{{msg.payload}}",
    "layout": "row-left",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 7010,
    "y": 580,
    "wires": []
  },
  {
    "id": "c749dbb3c75164bd",
    "type": "ui-text",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "group": "c758b19593f570d4",
    "order": 10,
    "width": "3",
    "height": "1",
    "name": "cpu",
    "label": "CPU",
    "format": "{{msg.payload}}",
    "layout": "row-left",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 7010,
    "y": 700,
    "wires": []
  },
  {
    "id": "486eab6cd67669f4",
    "type": "ui-text",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "group": "c758b19593f570d4",
    "order": 11,
    "width": "3",
    "height": "1",
    "name": "memory",
    "label": "Mémoire",
    "format": "{{msg.payload}}",
    "layout": "row-left",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 7020,
    "y": 760,
    "wires": []
  },
  {
    "id": "cd60eff79722f6a8",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "payload",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.humanized",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 6840,
    "y": 640,
    "wires": [
      [
        "dbc00f1ad95d7531"
      ]
    ]
  },
  {
    "id": "eddef41fac28be72",
    "type": "delay",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "",
    "pauseType": "delay",
    "timeout": "4",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 3920,
    "y": 540,
    "wires": [
      [
        "4098270104cd50f5",
        "5538fb1a47d31421"
      ]
    ]
  },
  {
    "id": "5def5c4c2f2f242a",
    "type": "delay",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "",
    "pauseType": "delay",
    "timeout": "100",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 5750,
    "y": 700,
    "wires": [
      [
        "7757f127c3b4cace"
      ]
    ]
  },
  {
    "id": "f6aaeec4c6fdfabe",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "set notification metric",
    "rules": [
      {
        "t": "set",
        "p": "bucket",
        "pt": "msg",
        "to": "system",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "notification",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "message",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "'Commande '&msg.payload&' envoyée'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "repeat",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 6860,
    "y": 420,
    "wires": [
      [
        "522b6c161afcb47e"
      ]
    ]
  },
  {
    "id": "522b6c161afcb47e",
    "type": "link out",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "proxmox - list - notification",
    "mode": "link",
    "links": [
      "206c1fb4a48067df"
    ],
    "x": 7035,
    "y": 420,
    "wires": []
  },
  {
    "id": "502e6e4ee5518983",
    "type": "credentials",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "name": "Proxmox VE 2",
    "props": [
      {
        "value": "topic",
        "type": "msg"
      },
      {
        "value": "payload",
        "type": "msg"
      }
    ],
    "x": 740,
    "y": 980,
    "wires": [
      [
        "cf36484da72c0614"
      ]
    ]
  },
  {
    "id": "a68c83cf64464a78",
    "type": "credentials",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "name": "Proxmox BS",
    "props": [
      {
        "value": "topic",
        "type": "msg"
      },
      {
        "value": "payload",
        "type": "msg"
      }
    ],
    "x": 730,
    "y": 1040,
    "wires": [
      [
        "42e6573c9c69f200"
      ]
    ]
  },
  {
    "id": "9a09e268a979f777",
    "type": "credentials",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "name": "Portainer",
    "props": [
      {
        "value": "topic",
        "type": "msg"
      },
      {
        "value": "payload",
        "type": "msg"
      }
    ],
    "x": 720,
    "y": 1100,
    "wires": [
      [
        "3e575131b157d58c"
      ]
    ]
  },
  {
    "id": "9971e6ae76308194",
    "type": "credentials",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "name": "MQTT Server",
    "props": [
      {
        "value": "topic",
        "type": "msg"
      },
      {
        "value": "payload",
        "type": "msg"
      }
    ],
    "x": 740,
    "y": 1160,
    "wires": [
      [
        "591d9584f2826895"
      ]
    ]
  },
  {
    "id": "254c6a165d02d73c",
    "type": "credentials",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "name": "InfluxDB",
    "props": [
      {
        "value": "topic",
        "type": "msg"
      },
      {
        "value": "payload",
        "type": "msg"
      }
    ],
    "x": 720,
    "y": 1220,
    "wires": [
      [
        "ae506fba4bac5e81"
      ]
    ]
  },
  {
    "id": "ad774d4c0392a7fd",
    "type": "credentials",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "name": "Grarfana",
    "props": [
      {
        "value": "topic",
        "type": "msg"
      },
      {
        "value": "payload",
        "type": "msg"
      }
    ],
    "x": 720,
    "y": 1280,
    "wires": [
      [
        "9112bb2a8dc47460"
      ]
    ]
  },
  {
    "id": "27bee2c35bd62e53",
    "type": "credentials",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "name": "Zigbee",
    "props": [
      {
        "value": "topic",
        "type": "msg"
      },
      {
        "value": "payload",
        "type": "msg"
      }
    ],
    "x": 710,
    "y": 1340,
    "wires": [
      [
        "b5afd4eb06f899a1"
      ]
    ]
  },
  {
    "id": "8db58c6858a53e3b",
    "type": "credentials",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "name": "Nodered admin",
    "props": [
      {
        "value": "topic",
        "type": "msg"
      },
      {
        "value": "payload",
        "type": "msg"
      }
    ],
    "x": 740,
    "y": 1400,
    "wires": [
      [
        "adb22cd4e76fd9eb"
      ]
    ]
  },
  {
    "id": "6411bcf28b7ffa6f",
    "type": "credentials",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "name": "Telefino",
    "props": [
      {
        "value": "topic",
        "type": "msg"
      },
      {
        "value": "payload",
        "type": "msg"
      }
    ],
    "x": 720,
    "y": 1460,
    "wires": [
      [
        "76323f6b74b3cf6e"
      ]
    ]
  },
  {
    "id": "fcb805254a062bbc",
    "type": "credentials",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "name": "Rhasspy",
    "props": [
      {
        "value": "topic",
        "type": "msg"
      },
      {
        "value": "payload",
        "type": "msg"
      }
    ],
    "x": 720,
    "y": 1520,
    "wires": [
      [
        "a0264b96576e8fc6"
      ]
    ]
  },
  {
    "id": "24fe1694a71b23a0",
    "type": "credentials",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "name": "Baikal",
    "props": [
      {
        "value": "topic",
        "type": "msg"
      },
      {
        "value": "payload",
        "type": "msg"
      }
    ],
    "x": 710,
    "y": 1580,
    "wires": [
      [
        "dbec9d8eafc144f8"
      ]
    ]
  },
  {
    "id": "b28e23d2535310a5",
    "type": "credentials",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "name": "Nextcloud",
    "props": [
      {
        "value": "topic",
        "type": "msg"
      },
      {
        "value": "payload",
        "type": "msg"
      }
    ],
    "x": 720,
    "y": 1640,
    "wires": [
      [
        "308b8672ef449d0c"
      ]
    ]
  },
  {
    "id": "f04f1b08715e2da9",
    "type": "credentials",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "name": "Zwave",
    "props": [
      {
        "value": "topic",
        "type": "msg"
      },
      {
        "value": "payload",
        "type": "msg"
      }
    ],
    "x": 710,
    "y": 1700,
    "wires": [
      [
        "3d380600a548966c"
      ]
    ]
  },
  {
    "id": "21e0a26a69851550",
    "type": "credentials",
    "z": "422511c2793ff288",
    "g": "0c72531717a01ea2",
    "name": "Nodered 2 admin",
    "props": [
      {
        "value": "topic",
        "type": "msg"
      },
      {
        "value": "payload",
        "type": "msg"
      }
    ],
    "x": 750,
    "y": 1760,
    "wires": [
      [
        "140844d72684e5fd"
      ]
    ]
  },
  {
    "id": "eff9d80049182cee",
    "type": "catch",
    "z": "422511c2793ff288",
    "g": "b2743c80684b0c5b",
    "name": "catch error",
    "scope": null,
    "uncaught": false,
    "x": 620,
    "y": 60,
    "wires": [
      [
        "c48efb433e1bac8b"
      ]
    ]
  },
  {
    "id": "c48efb433e1bac8b",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "b2743c80684b0c5b",
    "name": "topic",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "proxmox",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 790,
    "y": 60,
    "wires": [
      [
        "f21a1bff030f3d3d"
      ]
    ]
  },
  {
    "id": "f21a1bff030f3d3d",
    "type": "link out",
    "z": "422511c2793ff288",
    "g": "b2743c80684b0c5b",
    "name": "catch error",
    "mode": "link",
    "links": [
      "a52f0e788cd4dca3"
    ],
    "x": 915,
    "y": 60,
    "wires": []
  },
  {
    "id": "6957810565336218",
    "type": "switch",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "reload",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 5410,
    "y": 540,
    "wires": [
      [
        "4098270104cd50f5"
      ],
      [
        "87c78a11cf031035"
      ]
    ]
  },
  {
    "id": "d82d93f92871f901",
    "type": "switch",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "reload",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 5410,
    "y": 600,
    "wires": [
      [
        "5538fb1a47d31421"
      ],
      [
        "e463ecf298cb67dd"
      ]
    ]
  },
  {
    "id": "df15e932155f2ba9",
    "type": "link in",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "room - ui - photovoltaic - load",
    "links": [
      "9e4bfee0db3051d4"
    ],
    "x": 3595,
    "y": 240,
    "wires": [
      [
        "9646351e993f370b",
        "0845db45a9ff77b2"
      ]
    ]
  },
  {
    "id": "c30333f4e590339e",
    "type": "link in",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "room - ui - photovoltaic - metric",
    "links": [
      "b6323e1460f6f50c"
    ],
    "x": 3595,
    "y": 300,
    "wires": [
      [
        "ce7f4614862751ea"
      ]
    ]
  },
  {
    "id": "ce7f4614862751ea",
    "type": "switch",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "measurement",
    "property": "measurement",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "virtual environment",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 3760,
    "y": 300,
    "wires": [
      [
        "80954cb6ad16cefc"
      ]
    ]
  },
  {
    "id": "9646351e993f370b",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t   \"groups\":{\t       \"hide\":[\"Pièces:Proxmox VE\"]\t   }\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "class",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 5070,
    "y": 240,
    "wires": [
      [
        "f182def43c9b706e",
        "add6ed83ed30f23d"
      ]
    ]
  },
  {
    "id": "add6ed83ed30f23d",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "payload",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Aucun relevé photovoltaic",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 5240,
    "y": 240,
    "wires": [
      [
        "b83c5421732aa53c"
      ]
    ]
  },
  {
    "id": "b83c5421732aa53c",
    "type": "ui-text",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "group": "c758b19593f570d4",
    "order": 2,
    "width": "6",
    "height": "1",
    "name": "none",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 5410,
    "y": 240,
    "wires": []
  },
  {
    "id": "6e81c498073124d6",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "set",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t   \"groups\":{\t       \"show\":[\"Pièces:Proxmox VE\"]\t   }\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "class",
        "pt": "msg",
        "to": "remove",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 5070,
    "y": 300,
    "wires": [
      [
        "f182def43c9b706e",
        "add6ed83ed30f23d"
      ]
    ]
  },
  {
    "id": "f182def43c9b706e",
    "type": "ui-control",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "",
    "ui": "2d75e4809d2a6fbf",
    "events": "all",
    "x": 5240,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "f7de59496ae60d1b",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "reset",
    "rules": [],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 5070,
    "y": 360,
    "wires": [
      [
        "17e5368c34dd3491",
        "e4bf0709d1045f3a"
      ]
    ]
  },
  {
    "id": "0845db45a9ff77b2",
    "type": "delay",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "50 ms",
    "pauseType": "delay",
    "timeout": "150",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 3730,
    "y": 360,
    "wires": [
      [
        "f7de59496ae60d1b"
      ]
    ]
  },
  {
    "id": "b3ca9cbe02a17956",
    "type": "delay",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "100 ms",
    "pauseType": "delay",
    "timeout": "100",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 3740,
    "y": 480,
    "wires": [
      [
        "eddef41fac28be72",
        "939a9569896f434a"
      ]
    ]
  },
  {
    "id": "b2838ba438b43d0b",
    "type": "link in",
    "z": "422511c2793ff288",
    "g": "738a9b631ec7f956",
    "name": "api - proxmox - model",
    "links": [
      "9cb906bf8066d37e"
    ],
    "x": 135,
    "y": 240,
    "wires": [
      [
        "0bde03fbf7b38bcb"
      ]
    ]
  },
  {
    "id": "0bde03fbf7b38bcb",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "738a9b631ec7f956",
    "name": "model",
    "rules": [
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "proxmox",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "model",
        "pt": "msg",
        "to": "proxmox ve",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "api",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "virtual environment",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'proxmox ve'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "text",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 270,
    "y": 240,
    "wires": [
      [
        "89a3bed0e116f6f1"
      ]
    ]
  },
  {
    "id": "89a3bed0e116f6f1",
    "type": "link out",
    "z": "422511c2793ff288",
    "g": "738a9b631ec7f956",
    "name": "api - proxmox - model",
    "mode": "link",
    "links": [
      "94aa726ce8973d2c"
    ],
    "x": 395,
    "y": 240,
    "wires": []
  },
  {
    "id": "ad92cd0a9ebcc5c6",
    "type": "link in",
    "z": "422511c2793ff288",
    "g": "d36d7c4d00993eda",
    "name": "api - proxmox  - device",
    "links": [
      "546f190f3ec0c90d"
    ],
    "x": 575,
    "y": 240,
    "wires": [
      [
        "bc0f706d3f9ddd67"
      ]
    ]
  },
  {
    "id": "bc0f706d3f9ddd67",
    "type": "switch",
    "z": "422511c2793ff288",
    "g": "d36d7c4d00993eda",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "proxmox ve",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 710,
    "y": 240,
    "wires": [
      [
        "97594776b8a93958",
        "c90531777172c544"
      ]
    ]
  },
  {
    "id": "97594776b8a93958",
    "type": "change",
    "z": "422511c2793ff288",
    "d": true,
    "g": "d36d7c4d00993eda",
    "name": "brand",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "virtual environment",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "url",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "proxmox",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 870,
    "y": 240,
    "wires": [
      [
        "29a790d13e997ea0"
      ]
    ]
  },
  {
    "id": "29a790d13e997ea0",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "d36d7c4d00993eda",
    "name": "protocol",
    "rules": [
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "nodered",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1260,
    "y": 240,
    "wires": [
      [
        "34225f529989ce82"
      ]
    ]
  },
  {
    "id": "34225f529989ce82",
    "type": "link out",
    "z": "422511c2793ff288",
    "g": "d36d7c4d00993eda",
    "name": "api - proxmox - device",
    "mode": "link",
    "links": [
      "3e1b4213132404be"
    ],
    "x": 1395,
    "y": 240,
    "wires": []
  },
  {
    "id": "c90531777172c544",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "d36d7c4d00993eda",
    "name": "virtual environment / proxmox ve* / text / *",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "virtual environment",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'proxmox ve'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "text",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "msg.default?msg.default:''",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 980,
    "y": 300,
    "wires": [
      [
        "29a790d13e997ea0"
      ]
    ]
  },
  {
    "id": "9938c42740cdd357",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "class",
    "rules": [
      {
        "t": "set",
        "p": "class",
        "pt": "msg",
        "to": "",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "options",
        "pt": "msg",
        "to": "[{'label':'» recharger','value':''}]",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 5070,
    "y": 480,
    "wires": [
      [
        "7302166d0d52c751",
        "be08cc3353798b38"
      ]
    ]
  },
  {
    "id": "a84ce3434527b080",
    "type": "proxmox-api",
    "z": "422511c2793ff288",
    "g": "02f2098631b8f1bc",
    "name": "version",
    "path": "plop",
    "method": "GET",
    "payload": "",
    "server": "b2b86208a514c8a7",
    "x": 2940,
    "y": 300,
    "wires": [
      [
        "caf42cf81dd9a31f"
      ]
    ]
  },
  {
    "id": "46e8d049f1dfa844",
    "type": "inject",
    "z": "422511c2793ff288",
    "g": "02f2098631b8f1bc",
    "name": "manual update",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 1660,
    "y": 240,
    "wires": [
      [
        "c799c704d0078a61"
      ]
    ]
  },
  {
    "id": "be261ab969e7e113",
    "type": "debug",
    "z": "422511c2793ff288",
    "g": "02f2098631b8f1bc",
    "name": "api - proxmox - source",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 3320,
    "y": 240,
    "wires": []
  },
  {
    "id": "caf42cf81dd9a31f",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "02f2098631b8f1bc",
    "name": "metric",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "virtual environment",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.version",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "repeat",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "delete",
        "p": "path",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3110,
    "y": 300,
    "wires": [
      [
        "be261ab969e7e113",
        "4da6b55dc971d6da"
      ]
    ]
  },
  {
    "id": "4098270104cd50f5",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "path",
    "rules": [
      {
        "t": "set",
        "p": "path",
        "pt": "msg",
        "to": "current_id",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "path",
        "pt": "msg",
        "to": "'nodes/'&msg.path&'/lxc'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4090,
    "y": 540,
    "wires": [
      [
        "a3768ce65939db54"
      ]
    ]
  },
  {
    "id": "5538fb1a47d31421",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "path",
    "rules": [
      {
        "t": "set",
        "p": "path",
        "pt": "msg",
        "to": "current_id",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "path",
        "pt": "msg",
        "to": "'nodes/'&msg.path&'/qemu'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4090,
    "y": 600,
    "wires": [
      [
        "23929da1a8dc3ab1"
      ]
    ]
  },
  {
    "id": "0dc4530042a27b71",
    "type": "link in",
    "z": "422511c2793ff288",
    "g": "02f2098631b8f1bc",
    "name": "api - proxmox - source",
    "links": [
      "074a67bf0fcf09ad"
    ],
    "x": 1575,
    "y": 300,
    "wires": [
      [
        "c799c704d0078a61"
      ]
    ]
  },
  {
    "id": "c799c704d0078a61",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "02f2098631b8f1bc",
    "name": "from global",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "metrics",
        "tot": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1870,
    "y": 300,
    "wires": [
      [
        "0717e554d8e37888"
      ]
    ]
  },
  {
    "id": "0717e554d8e37888",
    "type": "split",
    "z": "422511c2793ff288",
    "g": "02f2098631b8f1bc",
    "name": "buckets",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "bucket",
    "property": "payload",
    "x": 2060,
    "y": 300,
    "wires": [
      [
        "2b29f074aad421e2"
      ]
    ]
  },
  {
    "id": "31fb41f4b6681c69",
    "type": "comment",
    "z": "422511c2793ff288",
    "g": "02f2098631b8f1bc",
    "name": "scan buckets to find proxmox and to query it to update values",
    "info": "",
    "x": 2020,
    "y": 240,
    "wires": []
  },
  {
    "id": "90bb7f1a39ec64b7",
    "type": "split",
    "z": "422511c2793ff288",
    "g": "02f2098631b8f1bc",
    "name": "fields",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "field",
    "property": "payload",
    "x": 2450,
    "y": 300,
    "wires": [
      [
        "98525980d1eae3a3"
      ]
    ]
  },
  {
    "id": "2b29f074aad421e2",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "02f2098631b8f1bc",
    "name": "measurement",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload['virtual environment']",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2260,
    "y": 300,
    "wires": [
      [
        "90bb7f1a39ec64b7"
      ]
    ]
  },
  {
    "id": "98525980d1eae3a3",
    "type": "switch",
    "z": "422511c2793ff288",
    "g": "02f2098631b8f1bc",
    "name": "model",
    "property": "devices[msg.bucket]['virtual environment'][msg.field]model",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "proxmox ve",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 2610,
    "y": 300,
    "wires": [
      [
        "a6e1c1277d441234"
      ]
    ]
  },
  {
    "id": "a6e1c1277d441234",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "02f2098631b8f1bc",
    "name": "path",
    "rules": [
      {
        "t": "set",
        "p": "path",
        "pt": "msg",
        "to": "devices[msg.bucket]['virtual environment'][msg.field]id",
        "tot": "global"
      },
      {
        "t": "set",
        "p": "path",
        "pt": "msg",
        "to": "'nodes/'&msg.path&'/version'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2770,
    "y": 300,
    "wires": [
      [
        "a84ce3434527b080"
      ]
    ]
  },
  {
    "id": "4da6b55dc971d6da",
    "type": "link out",
    "z": "422511c2793ff288",
    "g": "02f2098631b8f1bc",
    "name": "api - proxmox - source",
    "mode": "link",
    "links": [
      "206c1fb4a48067df"
    ],
    "x": 3235,
    "y": 300,
    "wires": []
  },
  {
    "id": "80954cb6ad16cefc",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "measurements",
    "rules": [
      {
        "t": "set",
        "p": "old_payload",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "devices[msg.bucket][msg.measurement]",
        "tot": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3980,
    "y": 300,
    "wires": [
      [
        "b4d39d580663092e"
      ]
    ]
  },
  {
    "id": "b4d39d580663092e",
    "type": "split",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "fields",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "field",
    "property": "payload",
    "x": 4170,
    "y": 300,
    "wires": [
      [
        "cc8a05125b23ef33"
      ]
    ]
  },
  {
    "id": "cc8a05125b23ef33",
    "type": "switch",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "model",
    "property": "devices[msg.bucket]['virtual environment'][msg.field]model",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "proxmox ve",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 4330,
    "y": 300,
    "wires": [
      [
        "0cd42c49ccab909c"
      ]
    ]
  },
  {
    "id": "0cd42c49ccab909c",
    "type": "change",
    "z": "422511c2793ff288",
    "g": "7df081d38de8d887",
    "name": "node id",
    "rules": [
      {
        "t": "set",
        "p": "node_id",
        "pt": "msg",
        "to": "devices[msg.bucket][msg.measurement][msg.field]id",
        "tot": "global"
      },
      {
        "t": "set",
        "p": "current_id",
        "pt": "flow",
        "to": "node_id",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "old_payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4500,
    "y": 300,
    "wires": [
      [
        "b3ca9cbe02a17956",
        "6e81c498073124d6"
      ]
    ]
  }
]