flows/K.Translate.json
[
  {
    "id": "bac2b08cd7c2e421",
    "type": "tab",
    "label": "K.Translate",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "dd7ef46856df793e",
    "type": "group",
    "z": "bac2b08cd7c2e421",
    "name": "translate - field",
    "style": {
      "stroke": "#92d04f",
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "df0e4ab2e1efc286",
      "11cf10d72d2c9472",
      "636ca4080756bce2",
      "03b03906a1eca939",
      "54730608d846782c",
      "b05b4ca61abd8608",
      "4b95465c124aa834",
      "0ce324166893b70a",
      "bdcd4dd80dcbe2b9",
      "98770f13ab060020",
      "df12c095346ac6e5",
      "b929885ac70c377e",
      "f03cb3f44a33d88e"
    ],
    "x": 94,
    "y": 199,
    "w": 2562,
    "h": 202
  },
  {
    "id": "59e25ae2b1717262",
    "type": "group",
    "z": "bac2b08cd7c2e421",
    "name": "catch error",
    "style": {
      "fill": "#ff0000",
      "fill-opacity": "0.05",
      "label": true,
      "stroke": "#ff0000"
    },
    "nodes": [
      "d1074c913f8ce2e9",
      "6c02b601fadbf658",
      "6fd2028d522ac563"
    ],
    "x": 534,
    "y": 19,
    "w": 422,
    "h": 82
  },
  {
    "id": "3ce65ca28b29922d",
    "type": "group",
    "z": "bac2b08cd7c2e421",
    "name": "translate - dictionnary - en",
    "style": {
      "stroke": "#92d04f",
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "f772d4abf0871088",
      "dfff0419d36524cf",
      "74289a05cdddab34",
      "a1385a4a89404636",
      "e3978b35f4a099ab",
      "2a7ee2b9643e48ab",
      "c8c5507a879a6447",
      "4baf1d36b4971cb5",
      "09ef74553d2bf413",
      "1f1862300f29f4be",
      "502c26f59c72bc20",
      "56cabe66c45f025e"
    ],
    "x": 94,
    "y": 1039,
    "w": 502,
    "h": 262
  },
  {
    "id": "a057f7516f625581",
    "type": "group",
    "z": "bac2b08cd7c2e421",
    "name": "translate - dictionnary",
    "style": {
      "stroke": "#92d04f",
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "0ac217c2ced7927a",
      "27183008d41a13ed",
      "5f817c4189dc849f",
      "b1ea37cc98323342",
      "391a03c947ca3797",
      "93a63d74ebc8b545",
      "0e07c82f165989f8",
      "d8bb30ab9b1d5e6a",
      "bc523fc5dcd3f607",
      "be79e50cd381ed04",
      "0411a5a65ca13a67",
      "dcc6c975447a9cd3",
      "ef63242b0954ddd8",
      "9e1b6551c2a77738",
      "a8fe7d31170d65f8",
      "359029339a166e29",
      "b87c82c6c7d711b3",
      "bf836542a7db7520",
      "2fe005298161599c",
      "6402f2306b4ca091"
    ],
    "x": 94,
    "y": 439,
    "w": 1122,
    "h": 502
  },
  {
    "id": "1cefc23dde634662",
    "type": "group",
    "z": "bac2b08cd7c2e421",
    "name": "translate - dictionnary - en",
    "style": {
      "stroke": "#92d04f",
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "7f69ccdbc41f82d2",
      "d19444d55fc80292",
      "dea0faa68144f674",
      "51590cf6b20f47a3",
      "b992e76203b16a72",
      "a224ce84703d7913",
      "631e6df32297fad4",
      "804f5e47bf25b226",
      "fa5fa5f551f340b8",
      "b502be8f6570f52c",
      "93834b48f9810d44",
      "b25023459b4d1288"
    ],
    "x": 94,
    "y": 1339,
    "w": 502,
    "h": 262
  },
  {
    "id": "df0e4ab2e1efc286",
    "type": "link in",
    "z": "bac2b08cd7c2e421",
    "g": "dd7ef46856df793e",
    "name": "translate - field",
    "links": [],
    "x": 135,
    "y": 360,
    "wires": [
      [
        "54730608d846782c"
      ]
    ]
  },
  {
    "id": "11cf10d72d2c9472",
    "type": "switch",
    "z": "bac2b08cd7c2e421",
    "g": "dd7ef46856df793e",
    "name": "lang",
    "property": "about.lang",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "fr",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 470,
    "y": 360,
    "wires": [
      [
        "b05b4ca61abd8608"
      ],
      [
        "03b03906a1eca939"
      ]
    ]
  },
  {
    "id": "636ca4080756bce2",
    "type": "link out",
    "z": "bac2b08cd7c2e421",
    "g": "dd7ef46856df793e",
    "name": "translate - field",
    "mode": "return",
    "links": [],
    "x": 2615,
    "y": 360,
    "wires": []
  },
  {
    "id": "03b03906a1eca939",
    "type": "change",
    "z": "bac2b08cd7c2e421",
    "g": "dd7ef46856df793e",
    "name": "original",
    "rules": [
      {
        "t": "set",
        "p": "trans",
        "pt": "msg",
        "to": "field",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2480,
    "y": 360,
    "wires": [
      [
        "636ca4080756bce2"
      ]
    ]
  },
  {
    "id": "d1074c913f8ce2e9",
    "type": "catch",
    "z": "bac2b08cd7c2e421",
    "g": "59e25ae2b1717262",
    "name": "catch error",
    "scope": null,
    "uncaught": false,
    "x": 620,
    "y": 60,
    "wires": [
      [
        "6c02b601fadbf658"
      ]
    ]
  },
  {
    "id": "6c02b601fadbf658",
    "type": "change",
    "z": "bac2b08cd7c2e421",
    "g": "59e25ae2b1717262",
    "name": "topic",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "translate",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 790,
    "y": 60,
    "wires": [
      [
        "6fd2028d522ac563"
      ]
    ]
  },
  {
    "id": "6fd2028d522ac563",
    "type": "link out",
    "z": "bac2b08cd7c2e421",
    "g": "59e25ae2b1717262",
    "name": "catch error",
    "mode": "link",
    "links": [
      "a52f0e788cd4dca3"
    ],
    "x": 915,
    "y": 60,
    "wires": []
  },
  {
    "id": "0ac217c2ced7927a",
    "type": "link in",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "translate - dictionnary - fields",
    "links": [],
    "x": 135,
    "y": 540,
    "wires": [
      [
        "ef63242b0954ddd8"
      ]
    ]
  },
  {
    "id": "27183008d41a13ed",
    "type": "link in",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "translate - dictionnary - measurements",
    "links": [],
    "x": 135,
    "y": 660,
    "wires": [
      [
        "d8bb30ab9b1d5e6a"
      ]
    ]
  },
  {
    "id": "5f817c4189dc849f",
    "type": "link in",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "translate - dictionnary - states",
    "links": [],
    "x": 135,
    "y": 780,
    "wires": [
      [
        "0411a5a65ca13a67"
      ]
    ]
  },
  {
    "id": "b1ea37cc98323342",
    "type": "switch",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "lang",
    "property": "about.lang",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "fr",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 610,
    "y": 540,
    "wires": [
      [
        "391a03c947ca3797"
      ],
      [
        "93a63d74ebc8b545"
      ]
    ]
  },
  {
    "id": "391a03c947ca3797",
    "type": "link call",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "",
    "links": [
      "7f69ccdbc41f82d2"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 850,
    "y": 480,
    "wires": [
      [
        "93a63d74ebc8b545"
      ]
    ]
  },
  {
    "id": "93a63d74ebc8b545",
    "type": "link out",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "translate - dictionnary - fields",
    "mode": "return",
    "links": [],
    "x": 1055,
    "y": 540,
    "wires": []
  },
  {
    "id": "f772d4abf0871088",
    "type": "link in",
    "z": "bac2b08cd7c2e421",
    "g": "3ce65ca28b29922d",
    "name": "translate - dictionnary - en - fields",
    "links": [],
    "x": 135,
    "y": 1080,
    "wires": [
      [
        "dfff0419d36524cf"
      ]
    ]
  },
  {
    "id": "dfff0419d36524cf",
    "type": "change",
    "z": "bac2b08cd7c2e421",
    "g": "3ce65ca28b29922d",
    "name": "dictionnary - en - fields",
    "rules": [
      {
        "t": "set",
        "p": "tmp",
        "pt": "msg",
        "to": "{\t    'url':'url',\t    'detector':'detector',\t    'sensor':'sensor',\t    'probe':'probe',\t    'ceiling':'ceiling',\t    'lamp':'lamp',\t    'leds':'leds',\t    'left leds':'left leds',\t    'right leds':'right leds',\t    'spots':'spots',\t    'socket':'socket',\t    'left socket':'left socket',\t    'right socket':'right socket',\t    'door':'door',\t    'window':'window',\t    'bay':'bay',\t    'left bay':'left bay',\t    'right bay':'right bay',\t    'balloon':'balloon',\t    'speaker':'speaker',\t    'desk':'desk',\t    'mirror':'mirror',\t    'fire':'fire',\t    'remote':'remote',\t    'left remote':'left remote',\t    'right remote':'right remote',\t    'button':'button',\t    'shutter':'shutter',\t    'pilot':'pilot',\t    'bedside':'bedside',\t    'left bedside':'left bedside',\t    'right bedside':'right bedside',\t    'heat pump':'heat pump',\t    'cmv':'cmv',\t    'torus':'torus',\t    'relay':'relay',\t    'electric meter':'electric meter',\t    'solar panels':'solar panels',\t    'rack':'rack',\t    'actif':'actif',\t    'snapshot':'snapshot',\t    'assistant':'assistant',\t    'message':'message',\t    'alexa':'alexa',\t    'server':'server',\t    'proxmox ve':'proxmox ve',\t    'unifi console':'unifi console'\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "dictionnary",
        "pt": "msg",
        "to": "msg.dictionnary?$merge([msg.dictionnary,msg.tmp]):msg.tmp",
        "tot": "jsonata"
      },
      {
        "t": "delete",
        "p": "tmp",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 320,
    "y": 1080,
    "wires": [
      [
        "74289a05cdddab34"
      ]
    ]
  },
  {
    "id": "74289a05cdddab34",
    "type": "link out",
    "z": "bac2b08cd7c2e421",
    "g": "3ce65ca28b29922d",
    "name": "translate - dictionnary - en  - fields",
    "mode": "return",
    "links": [],
    "x": 555,
    "y": 1080,
    "wires": []
  },
  {
    "id": "a1385a4a89404636",
    "type": "link in",
    "z": "bac2b08cd7c2e421",
    "g": "3ce65ca28b29922d",
    "name": "translate - dictionnary - en - measurements",
    "links": [],
    "x": 135,
    "y": 1140,
    "wires": [
      [
        "e3978b35f4a099ab"
      ]
    ]
  },
  {
    "id": "e3978b35f4a099ab",
    "type": "change",
    "z": "bac2b08cd7c2e421",
    "g": "3ce65ca28b29922d",
    "name": "dictionnary - en - measurements",
    "rules": [
      {
        "t": "set",
        "p": "tmp",
        "pt": "msg",
        "to": "{\t    'temperature':'temperature',\t    'humidity':'humidity',\t    'luminosity':'luminosity',\t    'power':'power',\t    'current':'current',\t    'outlet':'outlet',\t    'light':'light',\t    'battery':'battery',\t    'motion':'motion',\t    'aperture':'aperture',\t    'airflow':'airflow',\t    'command':'command',\t    'photovoltaic':'photovoltaic',\t    'camera':'camera',\t    'cumulus':'cumulus',\t    'air conditioner':'air conditioner',\t    'thermostat':'thermostat',\t    'tariff':'tariff',\t    'peak hours counter':'peak hours counter',\t    'off-peak hours counter':'off-peak hours counter',\t    'total hours counter':'total hours counter',\t    'smoke':'smoke',\t    'heat':'heat',\t    'volume':'volume',\t    'telegram':'telegram',\t    'color':'color',\t    'brightness':'brightness',\t    'cpu usage':'cpu usage',\t    'overload':'overload',\t    'virtual environment':'virtual environment'\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "dictionnary",
        "pt": "msg",
        "to": "msg.dictionnary?$merge([msg.dictionnary,msg.tmp]):msg.tmp",
        "tot": "jsonata"
      },
      {
        "t": "delete",
        "p": "tmp",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 350,
    "y": 1140,
    "wires": [
      [
        "2a7ee2b9643e48ab"
      ]
    ]
  },
  {
    "id": "2a7ee2b9643e48ab",
    "type": "link out",
    "z": "bac2b08cd7c2e421",
    "g": "3ce65ca28b29922d",
    "name": "translate - dictionnary - en - measurements",
    "mode": "return",
    "links": [],
    "x": 555,
    "y": 1140,
    "wires": []
  },
  {
    "id": "c8c5507a879a6447",
    "type": "link in",
    "z": "bac2b08cd7c2e421",
    "g": "3ce65ca28b29922d",
    "name": "translate - dictionnary - en - states",
    "links": [],
    "x": 135,
    "y": 1200,
    "wires": [
      [
        "4baf1d36b4971cb5"
      ]
    ]
  },
  {
    "id": "4baf1d36b4971cb5",
    "type": "change",
    "z": "bac2b08cd7c2e421",
    "g": "3ce65ca28b29922d",
    "name": "dictionnary - en - states",
    "rules": [
      {
        "t": "set",
        "p": "tmp",
        "pt": "msg",
        "to": "{\t    'stopped':'stopped',\t    'offloaded':'offloaded',\t    'suspended':'suspended',\t    'powered':'powered',\t    'reached':'reached',\t    'on':'on',\t    'off':'off',\t    'manual':'manual',\t    'automatic':'automatic'\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "dictionnary",
        "pt": "msg",
        "to": "msg.dictionnary?$merge([msg.dictionnary,msg.tmp]):msg.tmp",
        "tot": "jsonata"
      },
      {
        "t": "delete",
        "p": "tmp",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 330,
    "y": 1200,
    "wires": [
      [
        "09ef74553d2bf413"
      ]
    ]
  },
  {
    "id": "09ef74553d2bf413",
    "type": "link out",
    "z": "bac2b08cd7c2e421",
    "g": "3ce65ca28b29922d",
    "name": "translate - dictionnary - en - states",
    "mode": "return",
    "links": [],
    "x": 555,
    "y": 1200,
    "wires": []
  },
  {
    "id": "0e07c82f165989f8",
    "type": "link call",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "",
    "links": [
      "51590cf6b20f47a3"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 940,
    "y": 600,
    "wires": [
      [
        "9e1b6551c2a77738"
      ]
    ]
  },
  {
    "id": "d8bb30ab9b1d5e6a",
    "type": "link call",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "",
    "links": [
      "a1385a4a89404636"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 390,
    "y": 660,
    "wires": [
      [
        "bc523fc5dcd3f607"
      ]
    ]
  },
  {
    "id": "bc523fc5dcd3f607",
    "type": "switch",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "lang",
    "property": "about.lang",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "fr",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 670,
    "y": 660,
    "wires": [
      [
        "0e07c82f165989f8"
      ],
      [
        "9e1b6551c2a77738"
      ]
    ]
  },
  {
    "id": "be79e50cd381ed04",
    "type": "switch",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "lang",
    "property": "about.lang",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "fr",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 610,
    "y": 780,
    "wires": [
      [
        "dcc6c975447a9cd3"
      ],
      [
        "a8fe7d31170d65f8"
      ]
    ]
  },
  {
    "id": "0411a5a65ca13a67",
    "type": "link call",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "",
    "links": [
      "c8c5507a879a6447"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 360,
    "y": 780,
    "wires": [
      [
        "be79e50cd381ed04"
      ]
    ]
  },
  {
    "id": "dcc6c975447a9cd3",
    "type": "link call",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "",
    "links": [
      "631e6df32297fad4"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 860,
    "y": 720,
    "wires": [
      [
        "a8fe7d31170d65f8"
      ]
    ]
  },
  {
    "id": "ef63242b0954ddd8",
    "type": "link call",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "",
    "links": [
      "f772d4abf0871088"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 360,
    "y": 540,
    "wires": [
      [
        "b1ea37cc98323342"
      ]
    ]
  },
  {
    "id": "9e1b6551c2a77738",
    "type": "link out",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "translate - dictionnary - measurements",
    "mode": "return",
    "links": [],
    "x": 1175,
    "y": 660,
    "wires": []
  },
  {
    "id": "a8fe7d31170d65f8",
    "type": "link out",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "translate - dictionnary - states",
    "mode": "return",
    "links": [],
    "x": 1085,
    "y": 780,
    "wires": []
  },
  {
    "id": "54730608d846782c",
    "type": "switch",
    "z": "bac2b08cd7c2e421",
    "g": "dd7ef46856df793e",
    "name": "check field",
    "property": "field",
    "propertyType": "msg",
    "rules": [
      {
        "t": "istype",
        "v": "string",
        "vt": "string"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 290,
    "y": 360,
    "wires": [
      [
        "11cf10d72d2c9472"
      ]
    ]
  },
  {
    "id": "b05b4ca61abd8608",
    "type": "link call",
    "z": "bac2b08cd7c2e421",
    "g": "dd7ef46856df793e",
    "name": "",
    "links": [
      "7f69ccdbc41f82d2"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 730,
    "y": 300,
    "wires": [
      [
        "4b95465c124aa834"
      ]
    ]
  },
  {
    "id": "4b95465c124aa834",
    "type": "link call",
    "z": "bac2b08cd7c2e421",
    "g": "dd7ef46856df793e",
    "name": "",
    "links": [
      "51590cf6b20f47a3"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 1080,
    "y": 300,
    "wires": [
      [
        "0ce324166893b70a"
      ]
    ]
  },
  {
    "id": "0ce324166893b70a",
    "type": "link call",
    "z": "bac2b08cd7c2e421",
    "g": "dd7ef46856df793e",
    "name": "",
    "links": [
      "631e6df32297fad4"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 1440,
    "y": 300,
    "wires": [
      [
        "f03cb3f44a33d88e"
      ]
    ]
  },
  {
    "id": "7f69ccdbc41f82d2",
    "type": "link in",
    "z": "bac2b08cd7c2e421",
    "g": "1cefc23dde634662",
    "name": "translate - dictionnary - fr - fields",
    "links": [],
    "x": 135,
    "y": 1380,
    "wires": [
      [
        "d19444d55fc80292"
      ]
    ]
  },
  {
    "id": "d19444d55fc80292",
    "type": "change",
    "z": "bac2b08cd7c2e421",
    "g": "1cefc23dde634662",
    "name": "dictionnary - fr - fields",
    "rules": [
      {
        "t": "set",
        "p": "tmp",
        "pt": "msg",
        "to": "{\t    'url':'url',\t    'detector':'détecteur',\t    'sensor':'capteur',\t    'probe':'sonde',\t    'ceiling':'plafonnier',\t    'lamp':'lampe',\t    'leds':'leds',\t    'left leds':'leds gauche',\t    'right leds':'leds droite',\t    'spots':'spots',\t    'socket':'sortie',\t    'left socket':'sortie gauche',\t    'right socket':'sortie droite',\t    'door':'porte',\t    'window':'fenêtre',\t    'bay':'baie',\t    'left bay':'baie gauche',\t    'right bay':'baie droite',\t    'balloon':'ballon',\t    'speaker':'haut parleur',\t    'desk':'bureau',\t    'mirror':'miroir',\t    'fire':'incendie',\t    'remote':'télécommande',\t    'left remote':'télécommande gauche',\t    'right remote':'télécommande droite',\t    'button':'button',\t    'shutter':'volet',\t    'pilot':'pilote',\t    'bedside':'chevet',\t    'left bedside':'chevet gauche',\t    'right bedside':'chevet droite',\t    'heat pump':'pompe à chaleur',\t    'cmv':'vmc',\t    'torus':'tore',\t    'relay':'relais',\t    'power production':\"production d'énergie\",\t    'electric meter':'compteur électrique',\t    'solar panels':'panneaux solaires',\t    'rack':'rack',\t    'actif':'actif',\t    'snapshot':\"capture d'image\",\t    'assistant':'assistant',\t    'message':'message',\t    'alexa':'alexa',\t    'server':'serveur',\t    'proxmox ve':'proxmox ve',\t    'unifi console':'unifi console'\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "dictionnary",
        "pt": "msg",
        "to": "$merge([msg.dictionnary,msg.tmp])",
        "tot": "jsonata"
      },
      {
        "t": "delete",
        "p": "tmp",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 320,
    "y": 1380,
    "wires": [
      [
        "dea0faa68144f674"
      ]
    ]
  },
  {
    "id": "dea0faa68144f674",
    "type": "link out",
    "z": "bac2b08cd7c2e421",
    "g": "1cefc23dde634662",
    "name": "translate - dictionnary - fr - fields",
    "mode": "return",
    "links": [],
    "x": 555,
    "y": 1380,
    "wires": []
  },
  {
    "id": "51590cf6b20f47a3",
    "type": "link in",
    "z": "bac2b08cd7c2e421",
    "g": "1cefc23dde634662",
    "name": "translate - dictionnary - fr - measurements",
    "links": [],
    "x": 135,
    "y": 1440,
    "wires": [
      [
        "b992e76203b16a72"
      ]
    ]
  },
  {
    "id": "b992e76203b16a72",
    "type": "change",
    "z": "bac2b08cd7c2e421",
    "g": "1cefc23dde634662",
    "name": "dictionnary - fr - measurements",
    "rules": [
      {
        "t": "set",
        "p": "tmp",
        "pt": "msg",
        "to": "{\t    'temperature':'température',\t    'humidity':'humidité',\t    'luminosity':'luminosité',\t    'power':'puissance',\t    'current':'courant',\t    'outlet':'prise',\t    'light':'lumière',\t    'battery':'batterie',\t    'motion':'mouvement',\t    'aperture':'ouverture',\t    'airflow':'ventilation',\t    'command':'commande',\t    'photovoltaic':'photovoltaîque',\t    'camera':'camera',\t    'cumulus':'cumulus',\t    'air conditioner':'climatisation',\t    'thermostat':'thermostat',\t    'tariff':'tarif',\t    'peak hours counter':'compteur heaures pleines',\t    'off-peak hours counter':'compteur heures creuses',\t    'total hours counter':'compteur heures total',\t    'smoke':'fumée',\t    'heat':'chaleur',\t    'volume':'volume',\t    'telegram':'telegram',\t    'color':'couleur',\t    'brightness':'luminosité',\t    'cpu usage':'utilisation cpu',\t    'overload':'surcharge',\t    'virtual environment':'Environnement virtuel'\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "dictionnary",
        "pt": "msg",
        "to": "$merge([msg.dictionnary,msg.tmp])",
        "tot": "jsonata"
      },
      {
        "t": "delete",
        "p": "tmp",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 350,
    "y": 1440,
    "wires": [
      [
        "a224ce84703d7913"
      ]
    ]
  },
  {
    "id": "a224ce84703d7913",
    "type": "link out",
    "z": "bac2b08cd7c2e421",
    "g": "1cefc23dde634662",
    "name": "translate - dictionnary - fr - measurements",
    "mode": "return",
    "links": [],
    "x": 555,
    "y": 1440,
    "wires": []
  },
  {
    "id": "631e6df32297fad4",
    "type": "link in",
    "z": "bac2b08cd7c2e421",
    "g": "1cefc23dde634662",
    "name": "translate - dictionnary - fr - states",
    "links": [],
    "x": 135,
    "y": 1500,
    "wires": [
      [
        "804f5e47bf25b226"
      ]
    ]
  },
  {
    "id": "804f5e47bf25b226",
    "type": "change",
    "z": "bac2b08cd7c2e421",
    "g": "1cefc23dde634662",
    "name": "dictionnary - fr - states",
    "rules": [
      {
        "t": "set",
        "p": "tmp",
        "pt": "msg",
        "to": "{\t    'stopped':'arrêté',\t    'offloaded':'délesté',\t    'suspended':'suspendu',\t    'powered':'allumé',\t    'reached':'atteint',\t    'on':'marche',\t    'off':'arrêt',\t    'manual':'manuel',\t    'automatic':'automatic'\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "dictionnary",
        "pt": "msg",
        "to": "$merge([msg.dictionnary,msg.tmp])",
        "tot": "jsonata"
      },
      {
        "t": "delete",
        "p": "tmp",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 320,
    "y": 1500,
    "wires": [
      [
        "fa5fa5f551f340b8"
      ]
    ]
  },
  {
    "id": "fa5fa5f551f340b8",
    "type": "link out",
    "z": "bac2b08cd7c2e421",
    "g": "1cefc23dde634662",
    "name": "translate - dictionnary - fr - states",
    "mode": "return",
    "links": [],
    "x": 555,
    "y": 1500,
    "wires": []
  },
  {
    "id": "df12c095346ac6e5",
    "type": "change",
    "z": "bac2b08cd7c2e421",
    "g": "dd7ef46856df793e",
    "name": "translate",
    "rules": [
      {
        "t": "set",
        "p": "trans",
        "pt": "msg",
        "to": "dictionnary[msg.short_field]",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "trans",
        "pt": "msg",
        "to": "msg.trans&msg.end_field",
        "tot": "jsonata"
      },
      {
        "t": "delete",
        "p": "split_field",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2480,
    "y": 240,
    "wires": [
      [
        "636ca4080756bce2"
      ]
    ]
  },
  {
    "id": "b929885ac70c377e",
    "type": "switch",
    "z": "bac2b08cd7c2e421",
    "g": "dd7ef46856df793e",
    "name": "",
    "property": "dictionnary",
    "propertyType": "msg",
    "rules": [
      {
        "t": "hask",
        "v": "short_field",
        "vt": "msg"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 2300,
    "y": 300,
    "wires": [
      [
        "df12c095346ac6e5"
      ],
      [
        "98770f13ab060020"
      ]
    ]
  },
  {
    "id": "98770f13ab060020",
    "type": "change",
    "z": "bac2b08cd7c2e421",
    "g": "dd7ef46856df793e",
    "name": "original",
    "rules": [
      {
        "t": "set",
        "p": "trans",
        "pt": "msg",
        "to": "msg.short_field&msg.end_field",
        "tot": "jsonata"
      },
      {
        "t": "delete",
        "p": "split_field",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2480,
    "y": 300,
    "wires": [
      [
        "636ca4080756bce2"
      ]
    ]
  },
  {
    "id": "bdcd4dd80dcbe2b9",
    "type": "link call",
    "z": "bac2b08cd7c2e421",
    "g": "dd7ef46856df793e",
    "name": "",
    "links": [
      "aeb0d3b6747c9280"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 2070,
    "y": 300,
    "wires": [
      [
        "b929885ac70c377e"
      ]
    ]
  },
  {
    "id": "359029339a166e29",
    "type": "link in",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "translate - dictionnary - colors",
    "links": [],
    "x": 135,
    "y": 900,
    "wires": [
      [
        "bf836542a7db7520"
      ]
    ]
  },
  {
    "id": "b87c82c6c7d711b3",
    "type": "switch",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "lang",
    "property": "about.lang",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "fr",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 610,
    "y": 900,
    "wires": [
      [
        "2fe005298161599c"
      ],
      [
        "6402f2306b4ca091"
      ]
    ]
  },
  {
    "id": "bf836542a7db7520",
    "type": "link call",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "",
    "links": [
      "1f1862300f29f4be"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 360,
    "y": 900,
    "wires": [
      [
        "b87c82c6c7d711b3"
      ]
    ]
  },
  {
    "id": "2fe005298161599c",
    "type": "link call",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "",
    "links": [
      "b502be8f6570f52c"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 860,
    "y": 840,
    "wires": [
      [
        "6402f2306b4ca091"
      ]
    ]
  },
  {
    "id": "6402f2306b4ca091",
    "type": "link out",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "translate - dictionnary - colors",
    "mode": "return",
    "links": [],
    "x": 1085,
    "y": 900,
    "wires": []
  },
  {
    "id": "1f1862300f29f4be",
    "type": "link in",
    "z": "bac2b08cd7c2e421",
    "g": "3ce65ca28b29922d",
    "name": "translate - dictionnary - en - colors",
    "links": [],
    "x": 135,
    "y": 1260,
    "wires": [
      [
        "502c26f59c72bc20"
      ]
    ]
  },
  {
    "id": "502c26f59c72bc20",
    "type": "change",
    "z": "bac2b08cd7c2e421",
    "g": "3ce65ca28b29922d",
    "name": "dictionnary - en - colors",
    "rules": [
      {
        "t": "set",
        "p": "tmp",
        "pt": "msg",
        "to": "{\t    'white':'white',\t    'red':'red',\t    'yellow':'yellow',\t    'green':'green',\t    'blue':'blue',\t    'purple':'purple'\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "dictionnary",
        "pt": "msg",
        "to": "msg.dictionnary?$merge([msg.dictionnary,msg.tmp]):msg.tmp",
        "tot": "jsonata"
      },
      {
        "t": "delete",
        "p": "tmp",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 330,
    "y": 1260,
    "wires": [
      [
        "56cabe66c45f025e"
      ]
    ]
  },
  {
    "id": "56cabe66c45f025e",
    "type": "link out",
    "z": "bac2b08cd7c2e421",
    "g": "3ce65ca28b29922d",
    "name": "translate - dictionnary - en - colors",
    "mode": "return",
    "links": [],
    "x": 555,
    "y": 1260,
    "wires": []
  },
  {
    "id": "b502be8f6570f52c",
    "type": "link in",
    "z": "bac2b08cd7c2e421",
    "g": "1cefc23dde634662",
    "name": "translate - dictionnary - fr - colors",
    "links": [],
    "x": 135,
    "y": 1560,
    "wires": [
      [
        "93834b48f9810d44"
      ]
    ]
  },
  {
    "id": "93834b48f9810d44",
    "type": "change",
    "z": "bac2b08cd7c2e421",
    "g": "1cefc23dde634662",
    "name": "dictionnary - fr - colors",
    "rules": [
      {
        "t": "set",
        "p": "tmp",
        "pt": "msg",
        "to": "{\t    'white':'blanc',\t    'red':'rouge',\t    'yellow':'jaune',\t    'green':'vert',\t    'blue':'bleu',\t    'purple':'violet'\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "dictionnary",
        "pt": "msg",
        "to": "$merge([msg.dictionnary,msg.tmp])",
        "tot": "jsonata"
      },
      {
        "t": "delete",
        "p": "tmp",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 320,
    "y": 1560,
    "wires": [
      [
        "b25023459b4d1288"
      ]
    ]
  },
  {
    "id": "b25023459b4d1288",
    "type": "link out",
    "z": "bac2b08cd7c2e421",
    "g": "1cefc23dde634662",
    "name": "translate - dictionnary - fr - colors",
    "mode": "return",
    "links": [],
    "x": 555,
    "y": 1560,
    "wires": []
  },
  {
    "id": "f03cb3f44a33d88e",
    "type": "link call",
    "z": "bac2b08cd7c2e421",
    "g": "dd7ef46856df793e",
    "name": "",
    "links": [
      "359029339a166e29"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 1770,
    "y": 300,
    "wires": [
      [
        "bdcd4dd80dcbe2b9"
      ]
    ]
  },
  {
    "id": "025e219749a67439",
    "type": "link in",
    "z": "bac2b08cd7c2e421",
    "name": "translate - metric",
    "links": [],
    "x": 135,
    "y": 1740,
    "wires": [
      [
        "34429d11d196843d"
      ]
    ]
  },
  {
    "id": "34429d11d196843d",
    "type": "switch",
    "z": "bac2b08cd7c2e421",
    "name": "check metric",
    "property": "metric",
    "propertyType": "msg",
    "rules": [
      {
        "t": "istype",
        "v": "string",
        "vt": "string"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 290,
    "y": 1740,
    "wires": [
      [
        "8132d29defa08323"
      ]
    ]
  },
  {
    "id": "8132d29defa08323",
    "type": "change",
    "z": "bac2b08cd7c2e421",
    "name": "split metric",
    "rules": [
      {
        "t": "set",
        "p": "tmp",
        "pt": "msg",
        "to": "$split(msg.metric,'/')",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "trans",
        "pt": "msg",
        "to": "{}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "trans.bucket",
        "pt": "msg",
        "to": "tmp[0]",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "trans.measurement",
        "pt": "msg",
        "to": "tmp[1]",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "trans.field",
        "pt": "msg",
        "to": "tmp[2]",
        "tot": "msg"
      },
      {
        "t": "delete",
        "p": "dictionnary",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 490,
    "y": 1740,
    "wires": [
      [
        "97fc1790a2645359"
      ]
    ]
  },
  {
    "id": "97fc1790a2645359",
    "type": "link call",
    "z": "bac2b08cd7c2e421",
    "name": "",
    "links": [
      "27183008d41a13ed"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 770,
    "y": 1740,
    "wires": [
      [
        "8bcefb815fc8435c"
      ]
    ]
  },
  {
    "id": "978da5d0e2dd6cd6",
    "type": "link call",
    "z": "bac2b08cd7c2e421",
    "name": "",
    "links": [
      "aeb0d3b6747c9280"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 1630,
    "y": 1740,
    "wires": [
      [
        "ded3021e1648bbc7"
      ]
    ]
  },
  {
    "id": "8bcefb815fc8435c",
    "type": "change",
    "z": "bac2b08cd7c2e421",
    "name": "trans measurement",
    "rules": [
      {
        "t": "set",
        "p": "tmp",
        "pt": "msg",
        "to": "dictionnary[msg.trans.measurement]",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "trans.measurement",
        "pt": "msg",
        "to": "msg.tmp?msg.tmp:msg.trans.measurement",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "trans.field",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1070,
    "y": 1740,
    "wires": [
      [
        "088a7d890760254f"
      ]
    ]
  },
  {
    "id": "088a7d890760254f",
    "type": "link call",
    "z": "bac2b08cd7c2e421",
    "name": "",
    "links": [
      "0ac217c2ced7927a"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 1340,
    "y": 1740,
    "wires": [
      [
        "978da5d0e2dd6cd6"
      ]
    ]
  },
  {
    "id": "ded3021e1648bbc7",
    "type": "switch",
    "z": "bac2b08cd7c2e421",
    "name": "",
    "property": "dictionnary",
    "propertyType": "msg",
    "rules": [
      {
        "t": "hask",
        "v": "short_field",
        "vt": "msg"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 1860,
    "y": 1740,
    "wires": [
      [
        "252c4251489738e4"
      ],
      [
        "047190c9d2c62ebe"
      ]
    ]
  },
  {
    "id": "252c4251489738e4",
    "type": "change",
    "z": "bac2b08cd7c2e421",
    "name": "translate",
    "rules": [
      {
        "t": "set",
        "p": "trans.field",
        "pt": "msg",
        "to": "dictionnary[msg.short_field]",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "trans.field",
        "pt": "msg",
        "to": "msg.trans.field&msg.end_field",
        "tot": "jsonata"
      },
      {
        "t": "delete",
        "p": "split_field",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2040,
    "y": 1680,
    "wires": [
      [
        "e25ebb310bbeb26b"
      ]
    ]
  },
  {
    "id": "047190c9d2c62ebe",
    "type": "change",
    "z": "bac2b08cd7c2e421",
    "name": "original",
    "rules": [
      {
        "t": "set",
        "p": "trans.field",
        "pt": "msg",
        "to": "msg.short_field&msg.end_field",
        "tot": "jsonata"
      },
      {
        "t": "delete",
        "p": "split_field",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2040,
    "y": 1740,
    "wires": [
      [
        "e25ebb310bbeb26b"
      ]
    ]
  },
  {
    "id": "1519fd79c475d95a",
    "type": "link out",
    "z": "bac2b08cd7c2e421",
    "name": "translate - metric",
    "mode": "return",
    "links": [],
    "x": 2335,
    "y": 1740,
    "wires": []
  },
  {
    "id": "e25ebb310bbeb26b",
    "type": "change",
    "z": "bac2b08cd7c2e421",
    "name": "path",
    "rules": [
      {
        "t": "set",
        "p": "trans.path",
        "pt": "msg",
        "to": "msg.trans.bucket&' / '&msg.trans.measurement&' / '&msg.trans.field",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2210,
    "y": 1740,
    "wires": [
      [
        "1519fd79c475d95a"
      ]
    ]
  }
]