flows/K.Translate.json
[
  {
    "id": "bac2b08cd7c2e421",
    "type": "tab",
    "label": "K.Translate",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "dd7ef46856df793e",
    "type": "group",
    "z": "bac2b08cd7c2e421",
    "name": "translate - field",
    "style": {
      "stroke": "#92d04f",
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "df0e4ab2e1efc286",
      "11cf10d72d2c9472",
      "636ca4080756bce2",
      "03b03906a1eca939",
      "54730608d846782c",
      "b05b4ca61abd8608",
      "4b95465c124aa834",
      "0ce324166893b70a",
      "cb0492f66a98afeb",
      "ea0f4f97e969665a"
    ],
    "x": 94,
    "y": 199,
    "w": 1962,
    "h": 142
  },
  {
    "id": "59e25ae2b1717262",
    "type": "group",
    "z": "bac2b08cd7c2e421",
    "name": "catch error",
    "style": {
      "fill": "#ff0000",
      "fill-opacity": "0.05",
      "label": true,
      "stroke": "#ff0000"
    },
    "nodes": [
      "d1074c913f8ce2e9",
      "6c02b601fadbf658",
      "6fd2028d522ac563"
    ],
    "x": 534,
    "y": 19,
    "w": 422,
    "h": 82
  },
  {
    "id": "3ce65ca28b29922d",
    "type": "group",
    "z": "bac2b08cd7c2e421",
    "name": "translate - dictionnary - en",
    "style": {
      "stroke": "#92d04f",
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "f772d4abf0871088",
      "dfff0419d36524cf",
      "74289a05cdddab34",
      "a1385a4a89404636",
      "e3978b35f4a099ab",
      "2a7ee2b9643e48ab",
      "c8c5507a879a6447",
      "4baf1d36b4971cb5",
      "09ef74553d2bf413"
    ],
    "x": 94,
    "y": 799,
    "w": 502,
    "h": 202
  },
  {
    "id": "a057f7516f625581",
    "type": "group",
    "z": "bac2b08cd7c2e421",
    "name": "translate - dictionnary",
    "style": {
      "stroke": "#92d04f",
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "0ac217c2ced7927a",
      "27183008d41a13ed",
      "5f817c4189dc849f",
      "b1ea37cc98323342",
      "391a03c947ca3797",
      "93a63d74ebc8b545",
      "0e07c82f165989f8",
      "d8bb30ab9b1d5e6a",
      "bc523fc5dcd3f607",
      "be79e50cd381ed04",
      "0411a5a65ca13a67",
      "dcc6c975447a9cd3",
      "ef63242b0954ddd8",
      "9e1b6551c2a77738",
      "a8fe7d31170d65f8"
    ],
    "x": 94,
    "y": 379,
    "w": 1122,
    "h": 382
  },
  {
    "id": "1cefc23dde634662",
    "type": "group",
    "z": "bac2b08cd7c2e421",
    "name": "translate - dictionnary - en",
    "style": {
      "stroke": "#92d04f",
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "7f69ccdbc41f82d2",
      "d19444d55fc80292",
      "dea0faa68144f674",
      "51590cf6b20f47a3",
      "b992e76203b16a72",
      "a224ce84703d7913",
      "631e6df32297fad4",
      "804f5e47bf25b226",
      "fa5fa5f551f340b8"
    ],
    "x": 94,
    "y": 1039,
    "w": 502,
    "h": 202
  },
  {
    "id": "df0e4ab2e1efc286",
    "type": "link in",
    "z": "bac2b08cd7c2e421",
    "g": "dd7ef46856df793e",
    "name": "translate - field",
    "links": [],
    "x": 135,
    "y": 300,
    "wires": [
      [
        "54730608d846782c"
      ]
    ]
  },
  {
    "id": "11cf10d72d2c9472",
    "type": "switch",
    "z": "bac2b08cd7c2e421",
    "g": "dd7ef46856df793e",
    "name": "lang",
    "property": "about.lang",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "fr",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 470,
    "y": 300,
    "wires": [
      [
        "b05b4ca61abd8608"
      ],
      [
        "03b03906a1eca939"
      ]
    ]
  },
  {
    "id": "636ca4080756bce2",
    "type": "link out",
    "z": "bac2b08cd7c2e421",
    "g": "dd7ef46856df793e",
    "name": "translate - field",
    "mode": "return",
    "links": [],
    "x": 2015,
    "y": 300,
    "wires": []
  },
  {
    "id": "03b03906a1eca939",
    "type": "change",
    "z": "bac2b08cd7c2e421",
    "g": "dd7ef46856df793e",
    "name": "original",
    "rules": [
      {
        "t": "set",
        "p": "trans",
        "pt": "msg",
        "to": "field",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1880,
    "y": 300,
    "wires": [
      [
        "636ca4080756bce2"
      ]
    ]
  },
  {
    "id": "d1074c913f8ce2e9",
    "type": "catch",
    "z": "bac2b08cd7c2e421",
    "g": "59e25ae2b1717262",
    "name": "catch error",
    "scope": null,
    "uncaught": false,
    "x": 620,
    "y": 60,
    "wires": [
      [
        "6c02b601fadbf658"
      ]
    ]
  },
  {
    "id": "6c02b601fadbf658",
    "type": "change",
    "z": "bac2b08cd7c2e421",
    "g": "59e25ae2b1717262",
    "name": "topic",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "translate",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 790,
    "y": 60,
    "wires": [
      [
        "6fd2028d522ac563"
      ]
    ]
  },
  {
    "id": "6fd2028d522ac563",
    "type": "link out",
    "z": "bac2b08cd7c2e421",
    "g": "59e25ae2b1717262",
    "name": "catch error",
    "mode": "link",
    "links": [
      "a52f0e788cd4dca3"
    ],
    "x": 915,
    "y": 60,
    "wires": []
  },
  {
    "id": "0ac217c2ced7927a",
    "type": "link in",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "translate - dictionnary - fields",
    "links": [],
    "x": 135,
    "y": 480,
    "wires": [
      [
        "ef63242b0954ddd8"
      ]
    ]
  },
  {
    "id": "27183008d41a13ed",
    "type": "link in",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "translate - dictionnary - measurements",
    "links": [],
    "x": 135,
    "y": 600,
    "wires": [
      [
        "d8bb30ab9b1d5e6a"
      ]
    ]
  },
  {
    "id": "5f817c4189dc849f",
    "type": "link in",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "translate - dictionnary - states",
    "links": [],
    "x": 135,
    "y": 720,
    "wires": [
      [
        "0411a5a65ca13a67"
      ]
    ]
  },
  {
    "id": "b1ea37cc98323342",
    "type": "switch",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "lang",
    "property": "about.lang",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "fr",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 610,
    "y": 480,
    "wires": [
      [
        "391a03c947ca3797"
      ],
      [
        "93a63d74ebc8b545"
      ]
    ]
  },
  {
    "id": "391a03c947ca3797",
    "type": "link call",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "",
    "links": [
      "7f69ccdbc41f82d2"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 850,
    "y": 420,
    "wires": [
      [
        "93a63d74ebc8b545"
      ]
    ]
  },
  {
    "id": "93a63d74ebc8b545",
    "type": "link out",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "translate - dictionnary - fields",
    "mode": "return",
    "links": [],
    "x": 1055,
    "y": 480,
    "wires": []
  },
  {
    "id": "f772d4abf0871088",
    "type": "link in",
    "z": "bac2b08cd7c2e421",
    "g": "3ce65ca28b29922d",
    "name": "translate - dictionnary - en - fields",
    "links": [],
    "x": 135,
    "y": 840,
    "wires": [
      [
        "dfff0419d36524cf"
      ]
    ]
  },
  {
    "id": "dfff0419d36524cf",
    "type": "change",
    "z": "bac2b08cd7c2e421",
    "g": "3ce65ca28b29922d",
    "name": "dictionnary - en - fields",
    "rules": [
      {
        "t": "set",
        "p": "tmp",
        "pt": "msg",
        "to": "{\t    'url':'url',\t    'detector':'detector',\t    'sensor':'sensor',\t    'sensor 2':'sensor 2',\t    'probe':'probe',\t    'ceiling':'ceiling',\t    'lamp':'lamp',\t    'socket':'socket',\t    'left socket':'left socket',\t    'right socket':'right socket',\t    'door':'door',\t    'window':'window',\t    'bay':'bay',\t    'left bay':'left bay',\t    'right bay':'right bay',\t    'balloon':'balloon',\t    'speaker':'speaker',\t    'desk':'desk',\t    'fire':'fire',\t    'remote':'remote',\t    'left remote':'left remote',\t    'right remote':'right remote',\t    'shutter':'shutter',\t    'pilot':'pilot',\t    'bedside':'bedside',\t    'left bedside':'left bedside',\t    'right bedside':'right bedside',\t    'heat pump':'heat pump',\t    'cmv':'cmv',\t    'torus':'torus',\t    'relay':'relay',\t    'electric meter':'electric meter',\t    'solar panels':'solar panels',\t    'rack':'rack'\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "dictionnary",
        "pt": "msg",
        "to": "msg.dictionnary?$merge([msg.dictionnary,msg.tmp]):msg.tmp",
        "tot": "jsonata"
      },
      {
        "t": "delete",
        "p": "tmp",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 320,
    "y": 840,
    "wires": [
      [
        "74289a05cdddab34"
      ]
    ]
  },
  {
    "id": "74289a05cdddab34",
    "type": "link out",
    "z": "bac2b08cd7c2e421",
    "g": "3ce65ca28b29922d",
    "name": "translate - dictionnary - en  - fields",
    "mode": "return",
    "links": [],
    "x": 555,
    "y": 840,
    "wires": []
  },
  {
    "id": "a1385a4a89404636",
    "type": "link in",
    "z": "bac2b08cd7c2e421",
    "g": "3ce65ca28b29922d",
    "name": "translate - dictionnary - en - measurements",
    "links": [],
    "x": 135,
    "y": 900,
    "wires": [
      [
        "e3978b35f4a099ab"
      ]
    ]
  },
  {
    "id": "e3978b35f4a099ab",
    "type": "change",
    "z": "bac2b08cd7c2e421",
    "g": "3ce65ca28b29922d",
    "name": "dictionnary - en - measurements",
    "rules": [
      {
        "t": "set",
        "p": "tmp",
        "pt": "msg",
        "to": "{\t    'temperature':'temperature',\t    'humidity':'humidity',\t    'luminosity':'luminosity',\t    'power':'power',\t    'current':'current',\t    'outlet':'outlet',\t    'light':'light',\t    'battery':'battery',\t    'motion':'motion',\t    'aperture':'aperture',\t    'airflow':'airflow',\t    'command':'command',\t    'photovoltaic':'photovoltaic',\t    'camera':'camera',\t    'cumulus':'cumulus',\t    'air contidioner':'air conditioner',\t    'thermostat':'thermostat',\t    'tariff':'tariff',\t    'peak hours counter':'peak hours counter',\t    'off-peak hours counter':'off-peak hours counter',\t    'total hours counter':'total hours counter',\t    'smoke':'smoke',\t    'heat':'heat'\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "dictionnary",
        "pt": "msg",
        "to": "msg.dictionnary?$merge([msg.dictionnary,msg.tmp]):msg.tmp",
        "tot": "jsonata"
      },
      {
        "t": "delete",
        "p": "tmp",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 350,
    "y": 900,
    "wires": [
      [
        "2a7ee2b9643e48ab"
      ]
    ]
  },
  {
    "id": "2a7ee2b9643e48ab",
    "type": "link out",
    "z": "bac2b08cd7c2e421",
    "g": "3ce65ca28b29922d",
    "name": "translate - dictionnary - en - measurements",
    "mode": "return",
    "links": [],
    "x": 555,
    "y": 900,
    "wires": []
  },
  {
    "id": "c8c5507a879a6447",
    "type": "link in",
    "z": "bac2b08cd7c2e421",
    "g": "3ce65ca28b29922d",
    "name": "translate - dictionnary - en - states",
    "links": [],
    "x": 135,
    "y": 960,
    "wires": [
      [
        "4baf1d36b4971cb5"
      ]
    ]
  },
  {
    "id": "4baf1d36b4971cb5",
    "type": "change",
    "z": "bac2b08cd7c2e421",
    "g": "3ce65ca28b29922d",
    "name": "dictionnary - en - states",
    "rules": [
      {
        "t": "set",
        "p": "tmp",
        "pt": "msg",
        "to": "{\t    'stopped':'stopped',\t    'offloaded':'offloaded',\t    'suspended':'suspended',\t    'powered':'powered',\t    'reached':'reached',\t    'on':'on',\t    'off':'off',\t    'manual':'manual',\t    'automatic':'automatic'\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "dictionnary",
        "pt": "msg",
        "to": "msg.dictionnary?$merge([msg.dictionnary,msg.tmp]):msg.tmp",
        "tot": "jsonata"
      },
      {
        "t": "delete",
        "p": "tmp",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 330,
    "y": 960,
    "wires": [
      [
        "09ef74553d2bf413"
      ]
    ]
  },
  {
    "id": "09ef74553d2bf413",
    "type": "link out",
    "z": "bac2b08cd7c2e421",
    "g": "3ce65ca28b29922d",
    "name": "translate - dictionnary - en - states",
    "mode": "return",
    "links": [],
    "x": 555,
    "y": 960,
    "wires": []
  },
  {
    "id": "0e07c82f165989f8",
    "type": "link call",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "",
    "links": [
      "51590cf6b20f47a3"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 940,
    "y": 540,
    "wires": [
      [
        "9e1b6551c2a77738"
      ]
    ]
  },
  {
    "id": "d8bb30ab9b1d5e6a",
    "type": "link call",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "",
    "links": [
      "a1385a4a89404636"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 390,
    "y": 600,
    "wires": [
      [
        "bc523fc5dcd3f607"
      ]
    ]
  },
  {
    "id": "bc523fc5dcd3f607",
    "type": "switch",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "lang",
    "property": "about.lang",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "fr",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 670,
    "y": 600,
    "wires": [
      [
        "0e07c82f165989f8"
      ],
      [
        "9e1b6551c2a77738"
      ]
    ]
  },
  {
    "id": "be79e50cd381ed04",
    "type": "switch",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "lang",
    "property": "about.lang",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "fr",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 610,
    "y": 720,
    "wires": [
      [
        "dcc6c975447a9cd3"
      ],
      [
        "a8fe7d31170d65f8"
      ]
    ]
  },
  {
    "id": "0411a5a65ca13a67",
    "type": "link call",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "",
    "links": [
      "c8c5507a879a6447"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 360,
    "y": 720,
    "wires": [
      [
        "be79e50cd381ed04"
      ]
    ]
  },
  {
    "id": "dcc6c975447a9cd3",
    "type": "link call",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "",
    "links": [
      "631e6df32297fad4"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 860,
    "y": 660,
    "wires": [
      [
        "a8fe7d31170d65f8"
      ]
    ]
  },
  {
    "id": "ef63242b0954ddd8",
    "type": "link call",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "",
    "links": [
      "f772d4abf0871088"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 360,
    "y": 480,
    "wires": [
      [
        "b1ea37cc98323342"
      ]
    ]
  },
  {
    "id": "9e1b6551c2a77738",
    "type": "link out",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "translate - dictionnary - measurements",
    "mode": "return",
    "links": [],
    "x": 1175,
    "y": 600,
    "wires": []
  },
  {
    "id": "a8fe7d31170d65f8",
    "type": "link out",
    "z": "bac2b08cd7c2e421",
    "g": "a057f7516f625581",
    "name": "translate - dictionnary - states",
    "mode": "return",
    "links": [],
    "x": 1085,
    "y": 720,
    "wires": []
  },
  {
    "id": "54730608d846782c",
    "type": "switch",
    "z": "bac2b08cd7c2e421",
    "g": "dd7ef46856df793e",
    "name": "check field",
    "property": "field",
    "propertyType": "msg",
    "rules": [
      {
        "t": "istype",
        "v": "string",
        "vt": "string"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 290,
    "y": 300,
    "wires": [
      [
        "11cf10d72d2c9472"
      ]
    ]
  },
  {
    "id": "b05b4ca61abd8608",
    "type": "link call",
    "z": "bac2b08cd7c2e421",
    "g": "dd7ef46856df793e",
    "name": "",
    "links": [
      "7f69ccdbc41f82d2"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 730,
    "y": 240,
    "wires": [
      [
        "4b95465c124aa834"
      ]
    ]
  },
  {
    "id": "4b95465c124aa834",
    "type": "link call",
    "z": "bac2b08cd7c2e421",
    "g": "dd7ef46856df793e",
    "name": "",
    "links": [
      "51590cf6b20f47a3"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 1080,
    "y": 240,
    "wires": [
      [
        "0ce324166893b70a"
      ]
    ]
  },
  {
    "id": "0ce324166893b70a",
    "type": "link call",
    "z": "bac2b08cd7c2e421",
    "g": "dd7ef46856df793e",
    "name": "",
    "links": [
      "631e6df32297fad4"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 1440,
    "y": 240,
    "wires": [
      [
        "cb0492f66a98afeb"
      ]
    ]
  },
  {
    "id": "cb0492f66a98afeb",
    "type": "switch",
    "z": "bac2b08cd7c2e421",
    "g": "dd7ef46856df793e",
    "name": "",
    "property": "dictionnary",
    "propertyType": "msg",
    "rules": [
      {
        "t": "hask",
        "v": "field",
        "vt": "msg"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 1700,
    "y": 240,
    "wires": [
      [
        "ea0f4f97e969665a"
      ],
      [
        "03b03906a1eca939"
      ]
    ]
  },
  {
    "id": "ea0f4f97e969665a",
    "type": "change",
    "z": "bac2b08cd7c2e421",
    "g": "dd7ef46856df793e",
    "name": "translate",
    "rules": [
      {
        "t": "set",
        "p": "trans",
        "pt": "msg",
        "to": "dictionnary[msg.field]",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1880,
    "y": 240,
    "wires": [
      [
        "636ca4080756bce2"
      ]
    ]
  },
  {
    "id": "7f69ccdbc41f82d2",
    "type": "link in",
    "z": "bac2b08cd7c2e421",
    "g": "1cefc23dde634662",
    "name": "translate - dictionnary - fr - fields",
    "links": [],
    "x": 135,
    "y": 1080,
    "wires": [
      [
        "d19444d55fc80292"
      ]
    ]
  },
  {
    "id": "d19444d55fc80292",
    "type": "change",
    "z": "bac2b08cd7c2e421",
    "g": "1cefc23dde634662",
    "name": "dictionnary - fr - fields",
    "rules": [
      {
        "t": "set",
        "p": "tmp",
        "pt": "msg",
        "to": "{\t    'url':'url',\t    'detector':'détecteur',\t    'sensor':'capteur',\t    'sensor 2':'capteur 2',\t    'probe':'sonde',\t    'ceiling':'plafonnier',\t    'lamp':'lampe',\t    'socket':'sortie',\t    'left socket':'sortie gauche',\t    'right socket':'sortie droite',\t    'door':'porte',\t    'window':'fenêtre',\t    'bay':'baie',\t    'left bay':'baie gauche',\t    'right bay':'baie droite',\t    'balloon':'ballon',\t    'speaker':'haut parleur',\t    'desk':'bureau',\t    'fire':'incendie',\t    'remote':'télécommande',\t    'left remote':'télécommande gauche',\t    'right remote':'télécommande droite',\t    'shutter':'volet',\t    'pilot':'pilote',\t    'bedside':'chevet',\t    'left bedside':'chevet gauche',\t    'right bedside':'chevet droite',\t    'heat pump':'pompe à chaleur',\t    'cmv':'vmc',\t    'torus':'tore',\t    'relay':'relais',\t    'power production':\"production d'énergie\",\t    'electric meter':'compteur électrique',\t    'solar panels':'panneaux solaires',\t    'rack':'rack'\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "dictionnary",
        "pt": "msg",
        "to": "$merge([msg.dictionnary,msg.tmp])",
        "tot": "jsonata"
      },
      {
        "t": "delete",
        "p": "tmp",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 320,
    "y": 1080,
    "wires": [
      [
        "dea0faa68144f674"
      ]
    ]
  },
  {
    "id": "dea0faa68144f674",
    "type": "link out",
    "z": "bac2b08cd7c2e421",
    "g": "1cefc23dde634662",
    "name": "translate - dictionnary - fr - fields",
    "mode": "return",
    "links": [],
    "x": 555,
    "y": 1080,
    "wires": []
  },
  {
    "id": "51590cf6b20f47a3",
    "type": "link in",
    "z": "bac2b08cd7c2e421",
    "g": "1cefc23dde634662",
    "name": "translate - dictionnary - fr - measurements",
    "links": [],
    "x": 135,
    "y": 1140,
    "wires": [
      [
        "b992e76203b16a72"
      ]
    ]
  },
  {
    "id": "b992e76203b16a72",
    "type": "change",
    "z": "bac2b08cd7c2e421",
    "g": "1cefc23dde634662",
    "name": "dictionnary - fr - measurements",
    "rules": [
      {
        "t": "set",
        "p": "tmp",
        "pt": "msg",
        "to": "{\t    'temperature':'température',\t    'humidity':'humidité',\t    'luminosity':'luminosité',\t    'power':'puissance',\t    'current':'courant',\t    'outlet':'prise',\t    'light':'lumière',\t    'battery':'batterie',\t    'motion':'mouvement',\t    'aperture':'ouverture',\t    'airflow':'ventilation',\t    'command':'commande',\t    'photovoltaic':'photovoltaîque',\t    'camera':'camera',\t    'cumulus':'cumulus',\t    'air contidioner':'climatisation',\t    'thermostat':'thermostat',\t    'tariff':'tarif',\t    'peak hours counter':'compteur heaures pleines',\t    'off-peak hours counter':'compteur heures creuses',\t    'total hours counter':'compteur heures total',\t    'smoke':'fumée',\t    'heat':'chaleur'\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "dictionnary",
        "pt": "msg",
        "to": "$merge([msg.dictionnary,msg.tmp])",
        "tot": "jsonata"
      },
      {
        "t": "delete",
        "p": "tmp",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 350,
    "y": 1140,
    "wires": [
      [
        "a224ce84703d7913"
      ]
    ]
  },
  {
    "id": "a224ce84703d7913",
    "type": "link out",
    "z": "bac2b08cd7c2e421",
    "g": "1cefc23dde634662",
    "name": "translate - dictionnary - fr - measurements",
    "mode": "return",
    "links": [],
    "x": 555,
    "y": 1140,
    "wires": []
  },
  {
    "id": "631e6df32297fad4",
    "type": "link in",
    "z": "bac2b08cd7c2e421",
    "g": "1cefc23dde634662",
    "name": "translate - dictionnary - fr - states",
    "links": [],
    "x": 135,
    "y": 1200,
    "wires": [
      [
        "804f5e47bf25b226"
      ]
    ]
  },
  {
    "id": "804f5e47bf25b226",
    "type": "change",
    "z": "bac2b08cd7c2e421",
    "g": "1cefc23dde634662",
    "name": "dictionnary - fr - states",
    "rules": [
      {
        "t": "set",
        "p": "tmp",
        "pt": "msg",
        "to": "{\t    'stopped':'arrêté',\t    'offloaded':'délesté',\t    'suspended':'suspendu',\t    'powered':'allumé',\t    'reached':'atteint',\t    'on':'marche',\t    'off':'arrêt',\t    'manual':'manuel',\t    'automatic':'automatic'\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "dictionnary",
        "pt": "msg",
        "to": "$merge([msg.dictionnary,msg.tmp])",
        "tot": "jsonata"
      },
      {
        "t": "delete",
        "p": "tmp",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 320,
    "y": 1200,
    "wires": [
      [
        "fa5fa5f551f340b8"
      ]
    ]
  },
  {
    "id": "fa5fa5f551f340b8",
    "type": "link out",
    "z": "bac2b08cd7c2e421",
    "g": "1cefc23dde634662",
    "name": "translate - dictionnary - fr - states",
    "mode": "return",
    "links": [],
    "x": 555,
    "y": 1200,
    "wires": []
  }
]