flows/P.Rfxcom.json
[
  {
    "id": "b984eb4415408ed9",
    "type": "tab",
    "label": "P.Rfxcom",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "8ff8200fb98a6c9f",
    "type": "group",
    "z": "b984eb4415408ed9",
    "name": "Oregon Scientific - THG",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "c9bfd06d94c778b0",
      "964bf809761a572e",
      "3f9f8a0b4fa2c055",
      "f86e15a9805df2eb"
    ],
    "x": 68,
    "y": 413,
    "w": 2154,
    "h": 314
  },
  {
    "id": "d6b920b99b611bdf",
    "type": "group",
    "z": "b984eb4415408ed9",
    "name": "Smartwaves - SH4-90157",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "f203be2131a6857b",
      "648c017fa768efff",
      "6e4f227cc28d0ae1",
      "0c79eda0b1819a61"
    ],
    "x": 68,
    "y": 773,
    "w": 2794,
    "h": 194
  },
  {
    "id": "9764355bf8f8caf8",
    "type": "group",
    "z": "b984eb4415408ed9",
    "name": "Chacon - DIO-54791",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "ac4875632c3c08e1",
      "315a7d88b33ec298",
      "fe22668bd12059fe",
      "fc4300b4cbfc7dac"
    ],
    "x": 2908,
    "y": 413,
    "w": 2834,
    "h": 194
  },
  {
    "id": "068fb3ac81317e59",
    "type": "group",
    "z": "b984eb4415408ed9",
    "name": "Chacon - DIO-54780",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "32b0e7dfab2726d5",
      "f3fbbcf1b5165983",
      "6e514e612809a95c",
      "72d6fffa4dada8c2"
    ],
    "x": 2908,
    "y": 653,
    "w": 3154,
    "h": 314
  },
  {
    "id": "e1a08515c0ecf6e6",
    "type": "group",
    "z": "b984eb4415408ed9",
    "name": "catch error",
    "style": {
      "fill": "#ff0000",
      "fill-opacity": "0.05",
      "label": true,
      "stroke": "#ff0000"
    },
    "nodes": [
      "bd97281f3442270a",
      "931bfb7a154e1d13",
      "2475f7b012c187fb"
    ],
    "x": 534,
    "y": 19,
    "w": 422,
    "h": 82
  },
  {
    "id": "6c3162f93343ce7e",
    "type": "group",
    "z": "b984eb4415408ed9",
    "name": "mqtt server for rfxcom",
    "style": {
      "fill": "#ffffff",
      "fill-opacity": "0.5",
      "label": true,
      "stroke": "#0070c0"
    },
    "nodes": [
      "3ab6bcaac666ddc4",
      "ae4487a0bf7f922f"
    ],
    "x": 68,
    "y": 173,
    "w": 1824,
    "h": 194
  },
  {
    "id": "f391c9146d7bbd74",
    "type": "group",
    "z": "b984eb4415408ed9",
    "name": "rfxcom - bucket",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true,
      "stroke": "#ffC000"
    },
    "nodes": [
      "21ece2cf0225f84c",
      "c0f802fd747208b3",
      "957e5c162598e005"
    ],
    "x": 94,
    "y": 19,
    "w": 342,
    "h": 82
  },
  {
    "id": "c9bfd06d94c778b0",
    "type": "group",
    "z": "b984eb4415408ed9",
    "g": "8ff8200fb98a6c9f",
    "name": "rfxcom - THG - device",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "c7c9dbd511ce3178",
      "aa27feeb7f465ede",
      "bd90c8853bb23bbc",
      "1868c54d6625f422",
      "277f13fc211becf2",
      "a05655d2da0205bf",
      "05b9c831fcbc4327",
      "919ec72b0122125e"
    ],
    "x": 534,
    "y": 439,
    "w": 862,
    "h": 262
  },
  {
    "id": "964bf809761a572e",
    "type": "group",
    "z": "b984eb4415408ed9",
    "g": "8ff8200fb98a6c9f",
    "name": "rfxcom - THG - source",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "05b01da832e8dc8e",
      "4b250474eef9ebf9",
      "3f67497a06c6790b",
      "40abdc0a6d9a02e0",
      "ba66e66c54a87e85",
      "bc5e8eb38502426b",
      "0a2fa3c2042de32b"
    ],
    "x": 1494,
    "y": 439,
    "w": 702,
    "h": 202
  },
  {
    "id": "f203be2131a6857b",
    "type": "group",
    "z": "b984eb4415408ed9",
    "g": "d6b920b99b611bdf",
    "name": "rfxcom - SH4-90157 - device",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "d1282e8de47bdf60",
      "14a19cafbce9493f",
      "3f944b3a650ccb02",
      "2069657998805215",
      "58a1beac4e88a457",
      "64209e9b32b3069e"
    ],
    "x": 534,
    "y": 799,
    "w": 882,
    "h": 142
  },
  {
    "id": "648c017fa768efff",
    "type": "group",
    "z": "b984eb4415408ed9",
    "g": "d6b920b99b611bdf",
    "name": "rfxcom - SH4-90157 - source",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "e9e3a2077a1fb722",
      "582fd41fd3f9077e",
      "cb0926c497a333b7",
      "846e71a382cb0e4a",
      "e75839a08fe8026b",
      "18d6239a83c542f6",
      "b1b7d0d0ebcf09f8",
      "1ed7593011ad6d9d",
      "559501a6882a7e03"
    ],
    "x": 1514,
    "y": 799,
    "w": 1322,
    "h": 142
  },
  {
    "id": "ac4875632c3c08e1",
    "type": "group",
    "z": "b984eb4415408ed9",
    "g": "9764355bf8f8caf8",
    "name": "rfxcom - DIO-54791 - source",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "4d6edf0867a50f9d",
      "c54311f816c57545",
      "cfd7f4d7cb8008c2",
      "625e790911e89ba5",
      "396a3bfdb0718a53",
      "daf0d80c53e0db5f",
      "12ee535e8df383e4",
      "ada8e99555ab016e",
      "e6c56ae4bc5df5d8",
      "fbf9779ea5af2111",
      "c04bcd7a0e7a788c",
      "8a80d7d04901125e"
    ],
    "x": 4354,
    "y": 439,
    "w": 1362,
    "h": 142
  },
  {
    "id": "315a7d88b33ec298",
    "type": "group",
    "z": "b984eb4415408ed9",
    "g": "9764355bf8f8caf8",
    "name": "rfxcom - DIO-54791 - device",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "4b701431b4a2a6cf",
      "9386d8f8dd219a71",
      "31b02672ea156965",
      "9648a5fa00b709ec",
      "76e4299fa08ddb99",
      "5b20e4596518419e"
    ],
    "x": 3374,
    "y": 439,
    "w": 882,
    "h": 142
  },
  {
    "id": "32b0e7dfab2726d5",
    "type": "group",
    "z": "b984eb4415408ed9",
    "g": "068fb3ac81317e59",
    "name": "rfxcom - DIO-54760 - source",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "bd94efd3c0d41ec1",
      "77f89a4e117cdb43",
      "977fce374c045aa2",
      "64e62d9c80ee281f",
      "1f51d9ea8a1bf1de",
      "2b13cb6248d2f638",
      "aeefd326e0d79eb2",
      "cdb2ddeafa644131",
      "246fe56fe7852fb7",
      "1c45f45498655577",
      "df6ef3b58ab095da",
      "5de16c90c3283bc0",
      "40b53bd7b2dd3fda",
      "baa85c145ba7e3cd",
      "7c7b0c1ef742761b",
      "fd7c381284fe78b5",
      "db5251d07949a8c0",
      "67a3679a821559e1",
      "6d3f4589b84a4ae0"
    ],
    "x": 4334,
    "y": 679,
    "w": 1702,
    "h": 262
  },
  {
    "id": "f3fbbcf1b5165983",
    "type": "group",
    "z": "b984eb4415408ed9",
    "g": "068fb3ac81317e59",
    "name": "rfxcom - DIO-54760 - device",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "cea82d4e74329977",
      "20255790fade5c76",
      "2c174532d49b2fa7",
      "78c44721aa7e96ba",
      "76c617de3fe57a72",
      "a08fafe0b15e2f0d",
      "802a3e81458149bc"
    ],
    "x": 3374,
    "y": 679,
    "w": 862,
    "h": 202
  },
  {
    "id": "3ab6bcaac666ddc4",
    "type": "group",
    "z": "b984eb4415408ed9",
    "g": "6c3162f93343ce7e",
    "name": "",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "24a3e98a92c0d57d",
      "ed6bcbd32e72afe1",
      "be945e0c2c2208b0",
      "735774bdb56f6be4",
      "014d8a5287538444",
      "03eacf7a446d906c"
    ],
    "x": 94,
    "y": 199,
    "w": 1162,
    "h": 142
  },
  {
    "id": "ae4487a0bf7f922f",
    "type": "group",
    "z": "b984eb4415408ed9",
    "g": "6c3162f93343ce7e",
    "name": "",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "a4f8287c851b1796",
      "de0c34e8104574b0",
      "f0991abcca9403bc",
      "a39cfa7867f1affb"
    ],
    "x": 1354,
    "y": 199,
    "w": 512,
    "h": 142
  },
  {
    "id": "3f9f8a0b4fa2c055",
    "type": "group",
    "z": "b984eb4415408ed9",
    "g": "8ff8200fb98a6c9f",
    "name": "rfxcom - THG - model",
    "style": {
      "fill": "#001f60",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "4125458fe3950d3d",
      "d8907bcd74db249f",
      "5b6791e0c3031934"
    ],
    "x": 94,
    "y": 439,
    "w": 342,
    "h": 82
  },
  {
    "id": "6e4f227cc28d0ae1",
    "type": "group",
    "z": "b984eb4415408ed9",
    "g": "d6b920b99b611bdf",
    "name": "rfxcom - SH4-90157 - model",
    "style": {
      "fill": "#001f60",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "7a5b0b5583ea7343",
      "1b2d8f9617488c30",
      "e7c8646d0179e346"
    ],
    "x": 94,
    "y": 799,
    "w": 342,
    "h": 82
  },
  {
    "id": "6e514e612809a95c",
    "type": "group",
    "z": "b984eb4415408ed9",
    "g": "068fb3ac81317e59",
    "name": "rfxcom - DIO-54760 - model",
    "style": {
      "fill": "#001f60",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "7956edf72f807538",
      "be033ed2f9099d29",
      "197354399802c0d6"
    ],
    "x": 2934,
    "y": 679,
    "w": 342,
    "h": 82
  },
  {
    "id": "fe22668bd12059fe",
    "type": "group",
    "z": "b984eb4415408ed9",
    "g": "9764355bf8f8caf8",
    "name": "rfxcom - DIO-54791 - model",
    "style": {
      "fill": "#001f60",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "2cd6d04618352d88",
      "f0d61d7030f60516",
      "4902a3b3378eb68c"
    ],
    "x": 2934,
    "y": 439,
    "w": 342,
    "h": 82
  },
  {
    "id": "c7c9dbd511ce3178",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "c9bfd06d94c778b0",
    "name": "temperature / probe / number / 20",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "temperature",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "probe",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "20",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 960,
    "y": 540,
    "wires": [
      [
        "05b9c831fcbc4327"
      ]
    ]
  },
  {
    "id": "aa27feeb7f465ede",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "c9bfd06d94c778b0",
    "name": "humidity / probe / number / 50",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "humidity",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "probe",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "percent",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "50",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 950,
    "y": 600,
    "wires": [
      [
        "05b9c831fcbc4327"
      ]
    ]
  },
  {
    "id": "bd90c8853bb23bbc",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "c9bfd06d94c778b0",
    "name": "battery / probe / percent / 99",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "battery",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "probe",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "percent",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "99",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 940,
    "y": 660,
    "wires": [
      [
        "05b9c831fcbc4327"
      ]
    ]
  },
  {
    "id": "1868c54d6625f422",
    "type": "switch",
    "z": "b984eb4415408ed9",
    "g": "c9bfd06d94c778b0",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "THG",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 710,
    "y": 480,
    "wires": [
      [
        "c7c9dbd511ce3178",
        "aa27feeb7f465ede",
        "bd90c8853bb23bbc",
        "a05655d2da0205bf"
      ]
    ]
  },
  {
    "id": "277f13fc211becf2",
    "type": "link in",
    "z": "b984eb4415408ed9",
    "g": "c9bfd06d94c778b0",
    "name": "rfxcom - THG - device",
    "links": [
      "546f190f3ec0c90d"
    ],
    "x": 575,
    "y": 480,
    "wires": [
      [
        "1868c54d6625f422"
      ]
    ]
  },
  {
    "id": "a05655d2da0205bf",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "c9bfd06d94c778b0",
    "name": "brand: oregon / temperature / probe",
    "rules": [
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "oregon",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "temperature",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "probe",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 960,
    "y": 480,
    "wires": [
      [
        "05b9c831fcbc4327"
      ]
    ]
  },
  {
    "id": "05b9c831fcbc4327",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "c9bfd06d94c778b0",
    "name": "protocol",
    "rules": [
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "rfxcom",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1220,
    "y": 480,
    "wires": [
      [
        "919ec72b0122125e"
      ]
    ]
  },
  {
    "id": "919ec72b0122125e",
    "type": "link out",
    "z": "b984eb4415408ed9",
    "g": "c9bfd06d94c778b0",
    "name": "rfxcom - THG - device",
    "mode": "link",
    "links": [
      "3e1b4213132404be"
    ],
    "x": 1355,
    "y": 480,
    "wires": []
  },
  {
    "id": "f86e15a9805df2eb",
    "type": "comment",
    "z": "b984eb4415408ed9",
    "g": "8ff8200fb98a6c9f",
    "name": "temperature / probe",
    "info": "",
    "x": 210,
    "y": 560,
    "wires": []
  },
  {
    "id": "05b01da832e8dc8e",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "964bf809761a572e",
    "name": "temperature",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "temperature",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "probe",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.temperature",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2010,
    "y": 480,
    "wires": [
      [
        "0a2fa3c2042de32b"
      ]
    ]
  },
  {
    "id": "4b250474eef9ebf9",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "964bf809761a572e",
    "name": "humidity",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "humidity",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "probe",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.humidity",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2000,
    "y": 540,
    "wires": [
      [
        "0a2fa3c2042de32b"
      ]
    ]
  },
  {
    "id": "3f67497a06c6790b",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "964bf809761a572e",
    "name": "battery",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "battery",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "probe",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.batteryLevel",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "msg.payload*10",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1990,
    "y": 600,
    "wires": [
      [
        "0a2fa3c2042de32b"
      ]
    ]
  },
  {
    "id": "40abdc0a6d9a02e0",
    "type": "link in",
    "z": "b984eb4415408ed9",
    "g": "964bf809761a572e",
    "name": "rfxcom - THG - source",
    "links": [
      "24058eec92534b27"
    ],
    "x": 1535,
    "y": 480,
    "wires": [
      [
        "ba66e66c54a87e85"
      ]
    ]
  },
  {
    "id": "ba66e66c54a87e85",
    "type": "switch",
    "z": "b984eb4415408ed9",
    "g": "964bf809761a572e",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "THG",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1670,
    "y": 480,
    "wires": [
      [
        "bc5e8eb38502426b"
      ]
    ]
  },
  {
    "id": "bc5e8eb38502426b",
    "type": "switch",
    "z": "b984eb4415408ed9",
    "g": "964bf809761a572e",
    "name": "topic",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "prefix",
        "vt": "msg"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1830,
    "y": 480,
    "wires": [
      [
        "05b01da832e8dc8e",
        "4b250474eef9ebf9",
        "3f67497a06c6790b"
      ]
    ]
  },
  {
    "id": "0a2fa3c2042de32b",
    "type": "link out",
    "z": "b984eb4415408ed9",
    "g": "964bf809761a572e",
    "name": "rfxcom - THG - source",
    "mode": "link",
    "links": [
      "14a0a0839924964f"
    ],
    "x": 2155,
    "y": 480,
    "wires": []
  },
  {
    "id": "d1282e8de47bdf60",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "f203be2131a6857b",
    "name": "motion / sensor* / boolean / false",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "motion",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'sensor'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 960,
    "y": 900,
    "wires": [
      [
        "58a1beac4e88a457"
      ]
    ]
  },
  {
    "id": "14a19cafbce9493f",
    "type": "link in",
    "z": "b984eb4415408ed9",
    "g": "f203be2131a6857b",
    "name": "rfxcom - SH4-90157 - device",
    "links": [
      "546f190f3ec0c90d"
    ],
    "x": 575,
    "y": 840,
    "wires": [
      [
        "3f944b3a650ccb02"
      ]
    ]
  },
  {
    "id": "3f944b3a650ccb02",
    "type": "switch",
    "z": "b984eb4415408ed9",
    "g": "f203be2131a6857b",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "SH4-90157",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 710,
    "y": 840,
    "wires": [
      [
        "2069657998805215",
        "d1282e8de47bdf60"
      ]
    ]
  },
  {
    "id": "2069657998805215",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "f203be2131a6857b",
    "name": "brand: smartwaves / motion / sensor*",
    "rules": [
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "smartwaves",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "motion",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'sensor'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 970,
    "y": 840,
    "wires": [
      [
        "58a1beac4e88a457"
      ]
    ]
  },
  {
    "id": "58a1beac4e88a457",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "f203be2131a6857b",
    "name": "protocol",
    "rules": [
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "rfxcom",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1240,
    "y": 840,
    "wires": [
      [
        "64209e9b32b3069e"
      ]
    ]
  },
  {
    "id": "64209e9b32b3069e",
    "type": "link out",
    "z": "b984eb4415408ed9",
    "g": "f203be2131a6857b",
    "name": "rfxcom - SH4-90157 - device",
    "mode": "link",
    "links": [
      "3e1b4213132404be"
    ],
    "x": 1375,
    "y": 840,
    "wires": []
  },
  {
    "id": "0c79eda0b1819a61",
    "type": "comment",
    "z": "b984eb4415408ed9",
    "g": "d6b920b99b611bdf",
    "name": "motion / sensor",
    "info": "",
    "x": 200,
    "y": 920,
    "wires": []
  },
  {
    "id": "e9e3a2077a1fb722",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "648c017fa768efff",
    "name": "motion*",
    "rules": [],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2660,
    "y": 840,
    "wires": [
      [
        "1ed7593011ad6d9d"
      ]
    ]
  },
  {
    "id": "582fd41fd3f9077e",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "648c017fa768efff",
    "name": "command",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$string(msg.payload.command)='On'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2020,
    "y": 840,
    "wires": [
      [
        "846e71a382cb0e4a",
        "cb0926c497a333b7"
      ]
    ]
  },
  {
    "id": "cb0926c497a333b7",
    "type": "switch",
    "z": "b984eb4415408ed9",
    "g": "648c017fa768efff",
    "name": "true",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2190,
    "y": 840,
    "wires": [
      [
        "e9e3a2077a1fb722"
      ]
    ]
  },
  {
    "id": "846e71a382cb0e4a",
    "type": "trigger",
    "z": "b984eb4415408ed9",
    "g": "648c017fa768efff",
    "name": "wait 30 s then send first msg",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "30",
    "extend": true,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "topic",
    "topic": "topic",
    "outputs": 1,
    "x": 2260,
    "y": 900,
    "wires": [
      [
        "559501a6882a7e03"
      ]
    ]
  },
  {
    "id": "e75839a08fe8026b",
    "type": "link in",
    "z": "b984eb4415408ed9",
    "g": "648c017fa768efff",
    "name": "rfxcom - SH4-90157 - source",
    "links": [
      "24058eec92534b27"
    ],
    "x": 1555,
    "y": 840,
    "wires": [
      [
        "18d6239a83c542f6"
      ]
    ]
  },
  {
    "id": "18d6239a83c542f6",
    "type": "switch",
    "z": "b984eb4415408ed9",
    "g": "648c017fa768efff",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "SH4-90157",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1690,
    "y": 840,
    "wires": [
      [
        "b1b7d0d0ebcf09f8"
      ]
    ]
  },
  {
    "id": "b1b7d0d0ebcf09f8",
    "type": "switch",
    "z": "b984eb4415408ed9",
    "g": "648c017fa768efff",
    "name": "topic",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "msg.prefix&'/10'",
        "vt": "jsonata"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1850,
    "y": 840,
    "wires": [
      [
        "582fd41fd3f9077e"
      ]
    ]
  },
  {
    "id": "1ed7593011ad6d9d",
    "type": "link out",
    "z": "b984eb4415408ed9",
    "g": "648c017fa768efff",
    "name": "rfxcom - SH4-00157 - source",
    "mode": "link",
    "links": [
      "14a0a0839924964f"
    ],
    "x": 2795,
    "y": 840,
    "wires": []
  },
  {
    "id": "559501a6882a7e03",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "648c017fa768efff",
    "name": "false",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2490,
    "y": 900,
    "wires": [
      [
        "e9e3a2077a1fb722"
      ]
    ]
  },
  {
    "id": "4d6edf0867a50f9d",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "ac4875632c3c08e1",
    "name": "command",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "command",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "repeat",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 5540,
    "y": 540,
    "wires": [
      [
        "8a80d7d04901125e"
      ]
    ]
  },
  {
    "id": "c54311f816c57545",
    "type": "switch",
    "z": "b984eb4415408ed9",
    "g": "ac4875632c3c08e1",
    "name": "group",
    "property": "payload.command",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "On",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Off",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 5190,
    "y": 540,
    "wires": [
      [
        "cfd7f4d7cb8008c2"
      ],
      [
        "cfd7f4d7cb8008c2"
      ]
    ]
  },
  {
    "id": "cfd7f4d7cb8008c2",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "ac4875632c3c08e1",
    "name": "payload",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$string(msg.payload.command)='On'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 5360,
    "y": 540,
    "wires": [
      [
        "4d6edf0867a50f9d"
      ]
    ]
  },
  {
    "id": "625e790911e89ba5",
    "type": "switch",
    "z": "b984eb4415408ed9",
    "g": "ac4875632c3c08e1",
    "name": "unit",
    "property": "payload.unitCode",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 5030,
    "y": 540,
    "wires": [
      [
        "c54311f816c57545"
      ]
    ]
  },
  {
    "id": "396a3bfdb0718a53",
    "type": "switch",
    "z": "b984eb4415408ed9",
    "g": "ac4875632c3c08e1",
    "name": "id",
    "property": "payload.id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "id",
        "vt": "msg"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 4870,
    "y": 540,
    "wires": [
      [
        "625e790911e89ba5"
      ]
    ]
  },
  {
    "id": "daf0d80c53e0db5f",
    "type": "gate",
    "z": "b984eb4415408ed9",
    "g": "ac4875632c3c08e1",
    "name": "",
    "controlTopic": "gate",
    "defaultState": "closed",
    "openCmd": "open",
    "closeCmd": "close",
    "toggleCmd": "toggle",
    "defaultCmd": "default",
    "statusCmd": "status",
    "persist": false,
    "storeName": "default",
    "x": 4710,
    "y": 540,
    "wires": [
      [
        "396a3bfdb0718a53"
      ]
    ]
  },
  {
    "id": "12ee535e8df383e4",
    "type": "link in",
    "z": "b984eb4415408ed9",
    "g": "ac4875632c3c08e1",
    "name": "rfxcom - DIO-54791 - source gate",
    "links": [
      "94c79b8f52f0b6ba"
    ],
    "x": 4395,
    "y": 480,
    "wires": [
      [
        "ada8e99555ab016e"
      ]
    ]
  },
  {
    "id": "ada8e99555ab016e",
    "type": "trigger",
    "z": "b984eb4415408ed9",
    "g": "ac4875632c3c08e1",
    "name": "wait 10 s",
    "op1": "",
    "op2": "open",
    "op1type": "nul",
    "op2type": "str",
    "duration": "10",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 4540,
    "y": 480,
    "wires": [
      [
        "daf0d80c53e0db5f"
      ]
    ]
  },
  {
    "id": "e6c56ae4bc5df5d8",
    "type": "comment",
    "z": "b984eb4415408ed9",
    "g": "ac4875632c3c08e1",
    "name": "Do not replay command from mqtt on startup",
    "info": "",
    "x": 4830,
    "y": 480,
    "wires": []
  },
  {
    "id": "fbf9779ea5af2111",
    "type": "link in",
    "z": "b984eb4415408ed9",
    "g": "ac4875632c3c08e1",
    "name": "rfxcom - DIO-54791 - source",
    "links": [
      "24058eec92534b27"
    ],
    "x": 4395,
    "y": 540,
    "wires": [
      [
        "c04bcd7a0e7a788c"
      ]
    ]
  },
  {
    "id": "c04bcd7a0e7a788c",
    "type": "switch",
    "z": "b984eb4415408ed9",
    "g": "ac4875632c3c08e1",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "DIO-54791",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 4530,
    "y": 540,
    "wires": [
      [
        "daf0d80c53e0db5f"
      ]
    ]
  },
  {
    "id": "8a80d7d04901125e",
    "type": "link out",
    "z": "b984eb4415408ed9",
    "g": "ac4875632c3c08e1",
    "name": "rfxcom - DIO-54791 - source",
    "mode": "link",
    "links": [
      "14a0a0839924964f"
    ],
    "x": 5675,
    "y": 540,
    "wires": []
  },
  {
    "id": "4b701431b4a2a6cf",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "315a7d88b33ec298",
    "name": "command / remote* / boolean / false",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "command",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'remote'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3810,
    "y": 540,
    "wires": [
      [
        "9648a5fa00b709ec"
      ]
    ]
  },
  {
    "id": "9386d8f8dd219a71",
    "type": "link in",
    "z": "b984eb4415408ed9",
    "g": "315a7d88b33ec298",
    "name": "rfxcom - DIO-54791 - device",
    "links": [
      "546f190f3ec0c90d"
    ],
    "x": 3415,
    "y": 480,
    "wires": [
      [
        "31b02672ea156965"
      ]
    ]
  },
  {
    "id": "31b02672ea156965",
    "type": "switch",
    "z": "b984eb4415408ed9",
    "g": "315a7d88b33ec298",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "DIO-54791",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 3550,
    "y": 480,
    "wires": [
      [
        "4b701431b4a2a6cf",
        "5b20e4596518419e"
      ]
    ]
  },
  {
    "id": "9648a5fa00b709ec",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "315a7d88b33ec298",
    "name": "protocol",
    "rules": [
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "rfxcom",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4080,
    "y": 480,
    "wires": [
      [
        "76e4299fa08ddb99"
      ]
    ]
  },
  {
    "id": "76e4299fa08ddb99",
    "type": "link out",
    "z": "b984eb4415408ed9",
    "g": "315a7d88b33ec298",
    "name": "rfxcom - DIO-54791 - device",
    "mode": "link",
    "links": [
      "3e1b4213132404be"
    ],
    "x": 4215,
    "y": 480,
    "wires": []
  },
  {
    "id": "fc4300b4cbfc7dac",
    "type": "comment",
    "z": "b984eb4415408ed9",
    "g": "9764355bf8f8caf8",
    "name": "command / remote",
    "info": "",
    "x": 3050,
    "y": 560,
    "wires": []
  },
  {
    "id": "5b20e4596518419e",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "315a7d88b33ec298",
    "name": "brand: chacon / command / remote*",
    "rules": [
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "chacon",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "command",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.filed?msg.field:'remote'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3800,
    "y": 480,
    "wires": [
      [
        "9648a5fa00b709ec"
      ]
    ]
  },
  {
    "id": "bd94efd3c0d41ec1",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "32b0e7dfab2726d5",
    "name": "prefix 1",
    "rules": [
      {
        "t": "set",
        "p": "prefix",
        "pt": "msg",
        "to": "10",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 5360,
    "y": 840,
    "wires": [
      [
        "977fce374c045aa2"
      ]
    ]
  },
  {
    "id": "77f89a4e117cdb43",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "32b0e7dfab2726d5",
    "name": "command",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "command",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "msg.prefix+msg.payload",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "repeat",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 5860,
    "y": 840,
    "wires": [
      [
        "6d3f4589b84a4ae0"
      ]
    ]
  },
  {
    "id": "977fce374c045aa2",
    "type": "switch",
    "z": "b984eb4415408ed9",
    "g": "32b0e7dfab2726d5",
    "name": "group",
    "property": "payload.command",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "On",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Off",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 5510,
    "y": 840,
    "wires": [
      [
        "64e62d9c80ee281f"
      ],
      [
        "64e62d9c80ee281f"
      ]
    ]
  },
  {
    "id": "64e62d9c80ee281f",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "32b0e7dfab2726d5",
    "name": "payload",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$string(msg.payload.command)='On'?1:0",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 5680,
    "y": 840,
    "wires": [
      [
        "77f89a4e117cdb43"
      ]
    ]
  },
  {
    "id": "1f51d9ea8a1bf1de",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "32b0e7dfab2726d5",
    "name": "prefix 2",
    "rules": [
      {
        "t": "set",
        "p": "prefix",
        "pt": "msg",
        "to": "20",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 5360,
    "y": 720,
    "wires": [
      [
        "977fce374c045aa2"
      ]
    ]
  },
  {
    "id": "2b13cb6248d2f638",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "32b0e7dfab2726d5",
    "name": "prefix 3",
    "rules": [
      {
        "t": "set",
        "p": "prefix",
        "pt": "msg",
        "to": "30",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 5360,
    "y": 780,
    "wires": [
      [
        "977fce374c045aa2"
      ]
    ]
  },
  {
    "id": "aeefd326e0d79eb2",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "32b0e7dfab2726d5",
    "name": "prefix 4",
    "rules": [
      {
        "t": "set",
        "p": "prefix",
        "pt": "msg",
        "to": "40",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 5360,
    "y": 900,
    "wires": [
      [
        "cdb2ddeafa644131"
      ]
    ]
  },
  {
    "id": "cdb2ddeafa644131",
    "type": "switch",
    "z": "b984eb4415408ed9",
    "g": "32b0e7dfab2726d5",
    "name": "group",
    "property": "payload.command",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Group On",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Group off",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 5510,
    "y": 900,
    "wires": [
      [
        "246fe56fe7852fb7"
      ],
      [
        "246fe56fe7852fb7"
      ]
    ]
  },
  {
    "id": "246fe56fe7852fb7",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "32b0e7dfab2726d5",
    "name": "payload",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$string(msg.payload.command)='Group On'?1:0",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 5680,
    "y": 900,
    "wires": [
      [
        "77f89a4e117cdb43"
      ]
    ]
  },
  {
    "id": "1c45f45498655577",
    "type": "switch",
    "z": "b984eb4415408ed9",
    "g": "32b0e7dfab2726d5",
    "name": "unit",
    "property": "payload.unitCode",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "2",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "3",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 3,
    "x": 5010,
    "y": 840,
    "wires": [
      [
        "1f51d9ea8a1bf1de"
      ],
      [
        "2b13cb6248d2f638"
      ],
      [
        "5de16c90c3283bc0"
      ]
    ]
  },
  {
    "id": "df6ef3b58ab095da",
    "type": "switch",
    "z": "b984eb4415408ed9",
    "g": "32b0e7dfab2726d5",
    "name": "id",
    "property": "payload.id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "id",
        "vt": "msg"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 4850,
    "y": 840,
    "wires": [
      [
        "1c45f45498655577"
      ]
    ]
  },
  {
    "id": "5de16c90c3283bc0",
    "type": "switch",
    "z": "b984eb4415408ed9",
    "g": "32b0e7dfab2726d5",
    "name": "number",
    "property": "payload.commandNumber",
    "propertyType": "msg",
    "rules": [
      {
        "t": "lt",
        "v": "3",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 5180,
    "y": 900,
    "wires": [
      [
        "bd94efd3c0d41ec1"
      ],
      [
        "aeefd326e0d79eb2"
      ]
    ]
  },
  {
    "id": "40b53bd7b2dd3fda",
    "type": "gate",
    "z": "b984eb4415408ed9",
    "g": "32b0e7dfab2726d5",
    "name": "",
    "controlTopic": "gate",
    "defaultState": "closed",
    "openCmd": "open",
    "closeCmd": "close",
    "toggleCmd": "toggle",
    "defaultCmd": "default",
    "statusCmd": "status",
    "persist": false,
    "storeName": "default",
    "x": 4690,
    "y": 840,
    "wires": [
      [
        "df6ef3b58ab095da"
      ]
    ]
  },
  {
    "id": "baa85c145ba7e3cd",
    "type": "link in",
    "z": "b984eb4415408ed9",
    "g": "32b0e7dfab2726d5",
    "name": "rfxcom - DIO-54760 - source gate",
    "links": [
      "94c79b8f52f0b6ba"
    ],
    "x": 4375,
    "y": 780,
    "wires": [
      [
        "7c7b0c1ef742761b"
      ]
    ]
  },
  {
    "id": "7c7b0c1ef742761b",
    "type": "trigger",
    "z": "b984eb4415408ed9",
    "g": "32b0e7dfab2726d5",
    "name": "wait 10 s",
    "op1": "",
    "op2": "open",
    "op1type": "nul",
    "op2type": "str",
    "duration": "10",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 4520,
    "y": 780,
    "wires": [
      [
        "40b53bd7b2dd3fda"
      ]
    ]
  },
  {
    "id": "fd7c381284fe78b5",
    "type": "comment",
    "z": "b984eb4415408ed9",
    "g": "32b0e7dfab2726d5",
    "name": "Do not replay command from mqtt on startup",
    "info": "",
    "x": 4810,
    "y": 780,
    "wires": []
  },
  {
    "id": "db5251d07949a8c0",
    "type": "link in",
    "z": "b984eb4415408ed9",
    "g": "32b0e7dfab2726d5",
    "name": "rfxcom - DIO-54760 - source",
    "links": [
      "24058eec92534b27"
    ],
    "x": 4375,
    "y": 840,
    "wires": [
      [
        "67a3679a821559e1"
      ]
    ]
  },
  {
    "id": "67a3679a821559e1",
    "type": "switch",
    "z": "b984eb4415408ed9",
    "g": "32b0e7dfab2726d5",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "DIO-54760",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 4510,
    "y": 840,
    "wires": [
      [
        "40b53bd7b2dd3fda"
      ]
    ]
  },
  {
    "id": "6d3f4589b84a4ae0",
    "type": "link out",
    "z": "b984eb4415408ed9",
    "g": "32b0e7dfab2726d5",
    "name": "rfxcom - DIO-54760 - source",
    "mode": "link",
    "links": [
      "14a0a0839924964f"
    ],
    "x": 5995,
    "y": 840,
    "wires": []
  },
  {
    "id": "cea82d4e74329977",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "f3fbbcf1b5165983",
    "name": "command / remote* / number / 0",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "command",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'remote'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3790,
    "y": 780,
    "wires": [
      [
        "78c44721aa7e96ba"
      ]
    ]
  },
  {
    "id": "20255790fade5c76",
    "type": "link in",
    "z": "b984eb4415408ed9",
    "g": "f3fbbcf1b5165983",
    "name": "rfxcom - DIO-54760 - device",
    "links": [
      "546f190f3ec0c90d"
    ],
    "x": 3415,
    "y": 720,
    "wires": [
      [
        "2c174532d49b2fa7"
      ]
    ]
  },
  {
    "id": "2c174532d49b2fa7",
    "type": "switch",
    "z": "b984eb4415408ed9",
    "g": "f3fbbcf1b5165983",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "DIO-54760",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 3550,
    "y": 720,
    "wires": [
      [
        "cea82d4e74329977",
        "a08fafe0b15e2f0d"
      ]
    ]
  },
  {
    "id": "78c44721aa7e96ba",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "f3fbbcf1b5165983",
    "name": "protocol",
    "rules": [
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "rfxcom",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4060,
    "y": 720,
    "wires": [
      [
        "76c617de3fe57a72"
      ]
    ]
  },
  {
    "id": "76c617de3fe57a72",
    "type": "link out",
    "z": "b984eb4415408ed9",
    "g": "f3fbbcf1b5165983",
    "name": "rfxcom - DIO-54760 - source",
    "mode": "link",
    "links": [
      "3e1b4213132404be"
    ],
    "x": 4195,
    "y": 720,
    "wires": []
  },
  {
    "id": "72d6fffa4dada8c2",
    "type": "comment",
    "z": "b984eb4415408ed9",
    "g": "068fb3ac81317e59",
    "name": "command / remote x",
    "info": "",
    "x": 3050,
    "y": 800,
    "wires": []
  },
  {
    "id": "a08fafe0b15e2f0d",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "f3fbbcf1b5165983",
    "name": "brand: chacon / command / remote*",
    "rules": [
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "chacon",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "command",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'remote'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3800,
    "y": 720,
    "wires": [
      [
        "78c44721aa7e96ba"
      ]
    ]
  },
  {
    "id": "802a3e81458149bc",
    "type": "comment",
    "z": "b984eb4415408ed9",
    "g": "f3fbbcf1b5165983",
    "name": "payload: button 1 off = 10, button 1 on = 11, button 2 off = 20, button 2 on = 21, ...",
    "info": "",
    "x": 3680,
    "y": 840,
    "wires": []
  },
  {
    "id": "bd97281f3442270a",
    "type": "catch",
    "z": "b984eb4415408ed9",
    "g": "e1a08515c0ecf6e6",
    "name": "catch error",
    "scope": null,
    "uncaught": false,
    "x": 620,
    "y": 60,
    "wires": [
      [
        "931bfb7a154e1d13"
      ]
    ]
  },
  {
    "id": "931bfb7a154e1d13",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "e1a08515c0ecf6e6",
    "name": "topic",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "rfxcom",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 790,
    "y": 60,
    "wires": [
      [
        "2475f7b012c187fb"
      ]
    ]
  },
  {
    "id": "2475f7b012c187fb",
    "type": "link out",
    "z": "b984eb4415408ed9",
    "g": "e1a08515c0ecf6e6",
    "name": "catch error",
    "mode": "link",
    "links": [
      "a52f0e788cd4dca3"
    ],
    "x": 915,
    "y": 60,
    "wires": []
  },
  {
    "id": "24a3e98a92c0d57d",
    "type": "mqtt in",
    "z": "b984eb4415408ed9",
    "g": "3ab6bcaac666ddc4",
    "name": "MQTT rfxcom",
    "topic": "rfxcom2mqtt/devices/#",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "cdd708cca8782382",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 190,
    "y": 240,
    "wires": [
      [
        "014d8a5287538444"
      ]
    ]
  },
  {
    "id": "ed6bcbd32e72afe1",
    "type": "link out",
    "z": "b984eb4415408ed9",
    "g": "3ab6bcaac666ddc4",
    "name": "mqtt rfxcom",
    "mode": "link",
    "links": [
      "2dba8c9110e069a7",
      "35e7aab1f0314355",
      "5d58266f86a39f1a",
      "617755f6bb1e2972",
      "6390818317da9a22",
      "8a3a49343040e9dd",
      "92c37a3c88284082",
      "aeec616505632135",
      "beb26a3a88ba29ec",
      "c55d2fbe9a6e0312",
      "ca854a261959d5e3",
      "cd0b7dc3cdbb9e58",
      "dac6324a7409b4c0",
      "dfe710104e247c4c",
      "e6048bb9f2a4ecee",
      "3256d8e9e4075f1f",
      "d53118042e7346dc",
      "3be6b8c3d6485c46",
      "ba77500cd9f7f6da",
      "bd614b03c17a2dcd",
      "0e9fc0eb536659f8"
    ],
    "x": 1215,
    "y": 240,
    "wires": []
  },
  {
    "id": "be945e0c2c2208b0",
    "type": "q-gate",
    "z": "b984eb4415408ed9",
    "g": "3ab6bcaac666ddc4",
    "name": "",
    "controlTopic": "gate",
    "defaultState": "queueing",
    "openCmd": "open",
    "closeCmd": "close",
    "toggleCmd": "toggle",
    "queueCmd": "close",
    "defaultCmd": "default",
    "triggerCmd": "trigger",
    "flushCmd": "open",
    "resetCmd": "reset",
    "peekCmd": "peek",
    "dropCmd": "drop",
    "statusCmd": "status",
    "maxQueueLength": "0",
    "keepNewest": false,
    "qToggle": false,
    "persist": false,
    "storeName": "default",
    "x": 590,
    "y": 240,
    "wires": [
      [
        "03eacf7a446d906c"
      ]
    ]
  },
  {
    "id": "735774bdb56f6be4",
    "type": "link in",
    "z": "b984eb4415408ed9",
    "g": "3ab6bcaac666ddc4",
    "name": "mqtt rfxcom gate",
    "links": [
      "d68d686bbf684c95",
      "8fdb5986494986cc"
    ],
    "x": 455,
    "y": 300,
    "wires": [
      [
        "be945e0c2c2208b0"
      ]
    ]
  },
  {
    "id": "014d8a5287538444",
    "type": "delay",
    "z": "b984eb4415408ed9",
    "g": "3ab6bcaac666ddc4",
    "name": "100 msg / s",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "100",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 410,
    "y": 240,
    "wires": [
      [
        "be945e0c2c2208b0"
      ]
    ]
  },
  {
    "id": "03eacf7a446d906c",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "3ab6bcaac666ddc4",
    "name": "raz MQTT properties",
    "rules": [
      {
        "t": "delete",
        "p": "qos",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "retain",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1040,
    "y": 240,
    "wires": [
      [
        "ed6bcbd32e72afe1"
      ]
    ]
  },
  {
    "id": "a4f8287c851b1796",
    "type": "mqtt out",
    "z": "b984eb4415408ed9",
    "g": "ae4487a0bf7f922f",
    "name": "MQTT rfxcom",
    "topic": "",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "cdd708cca8782382",
    "x": 1760,
    "y": 240,
    "wires": []
  },
  {
    "id": "de0c34e8104574b0",
    "type": "link in",
    "z": "b984eb4415408ed9",
    "g": "ae4487a0bf7f922f",
    "name": "mqtt rfxcom",
    "links": [
      "89d2eebcaafb5013"
    ],
    "x": 1395,
    "y": 240,
    "wires": [
      [
        "a39cfa7867f1affb"
      ]
    ]
  },
  {
    "id": "f0991abcca9403bc",
    "type": "link out",
    "z": "b984eb4415408ed9",
    "g": "ae4487a0bf7f922f",
    "name": "mqtt rfxcom output",
    "mode": "link",
    "links": [
      "881b1ed942ae2f5d",
      "e1bd888198e8ad2b",
      "4c77acdbe9fb09c9",
      "dff88b670b073ad9"
    ],
    "x": 1695,
    "y": 300,
    "wires": []
  },
  {
    "id": "a39cfa7867f1affb",
    "type": "switch",
    "z": "b984eb4415408ed9",
    "g": "ae4487a0bf7f922f",
    "name": "check topic",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "^rfxcom2mqtt",
        "vt": "str",
        "case": false
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1550,
    "y": 240,
    "wires": [
      [
        "a4f8287c851b1796",
        "f0991abcca9403bc"
      ]
    ]
  },
  {
    "id": "21ece2cf0225f84c",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "f391c9146d7bbd74",
    "name": "bucket",
    "rules": [
      {
        "t": "set",
        "p": "bucket",
        "pt": "msg",
        "to": "rfxcom",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "bucket",
        "pt": "flow",
        "to": "bucket",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 270,
    "y": 60,
    "wires": [
      [
        "957e5c162598e005"
      ]
    ]
  },
  {
    "id": "c0f802fd747208b3",
    "type": "link in",
    "z": "b984eb4415408ed9",
    "g": "f391c9146d7bbd74",
    "name": "rfxcom - bucket",
    "links": [
      "25445f5a9b787a0a"
    ],
    "x": 135,
    "y": 60,
    "wires": [
      [
        "21ece2cf0225f84c"
      ]
    ]
  },
  {
    "id": "957e5c162598e005",
    "type": "link out",
    "z": "b984eb4415408ed9",
    "g": "f391c9146d7bbd74",
    "name": "rfxcom - bucket",
    "mode": "link",
    "links": [],
    "x": 395,
    "y": 60,
    "wires": []
  },
  {
    "id": "4125458fe3950d3d",
    "type": "link in",
    "z": "b984eb4415408ed9",
    "g": "3f9f8a0b4fa2c055",
    "name": "rfxcom - THG - model",
    "links": [
      "9cb906bf8066d37e"
    ],
    "x": 135,
    "y": 480,
    "wires": [
      [
        "d8907bcd74db249f"
      ]
    ]
  },
  {
    "id": "d8907bcd74db249f",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "3f9f8a0b4fa2c055",
    "name": "model",
    "rules": [
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "Oregon Scientific",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "model",
        "pt": "msg",
        "to": "THG",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "rfxcom",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "temperature",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "probe",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "20",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 270,
    "y": 480,
    "wires": [
      [
        "5b6791e0c3031934"
      ]
    ]
  },
  {
    "id": "5b6791e0c3031934",
    "type": "link out",
    "z": "b984eb4415408ed9",
    "g": "3f9f8a0b4fa2c055",
    "name": "rfxcom - THG - model",
    "mode": "link",
    "links": [
      "94aa726ce8973d2c"
    ],
    "x": 395,
    "y": 480,
    "wires": []
  },
  {
    "id": "7a5b0b5583ea7343",
    "type": "link in",
    "z": "b984eb4415408ed9",
    "g": "6e4f227cc28d0ae1",
    "name": "rfxcom - SH4-90157 - model",
    "links": [
      "9cb906bf8066d37e"
    ],
    "x": 135,
    "y": 840,
    "wires": [
      [
        "1b2d8f9617488c30"
      ]
    ]
  },
  {
    "id": "1b2d8f9617488c30",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "6e4f227cc28d0ae1",
    "name": "model",
    "rules": [
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "Smartwaves",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "model",
        "pt": "msg",
        "to": "SH4-90157",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "rfxcom",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "motion",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "sensor",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 270,
    "y": 840,
    "wires": [
      [
        "e7c8646d0179e346"
      ]
    ]
  },
  {
    "id": "e7c8646d0179e346",
    "type": "link out",
    "z": "b984eb4415408ed9",
    "g": "6e4f227cc28d0ae1",
    "name": "rfxcom - SH4-90157 - model",
    "mode": "link",
    "links": [
      "94aa726ce8973d2c"
    ],
    "x": 395,
    "y": 840,
    "wires": []
  },
  {
    "id": "7956edf72f807538",
    "type": "link in",
    "z": "b984eb4415408ed9",
    "g": "6e514e612809a95c",
    "name": "rfxcom - DIO-54760 - model",
    "links": [
      "9cb906bf8066d37e"
    ],
    "x": 2975,
    "y": 720,
    "wires": [
      [
        "197354399802c0d6"
      ]
    ]
  },
  {
    "id": "be033ed2f9099d29",
    "type": "link out",
    "z": "b984eb4415408ed9",
    "g": "6e514e612809a95c",
    "name": "rfxcom - DIO-54760 - model",
    "mode": "link",
    "links": [
      "94aa726ce8973d2c"
    ],
    "x": 3235,
    "y": 720,
    "wires": []
  },
  {
    "id": "2cd6d04618352d88",
    "type": "link in",
    "z": "b984eb4415408ed9",
    "g": "fe22668bd12059fe",
    "name": "rfxcom - DIO-54791 - model",
    "links": [
      "9cb906bf8066d37e"
    ],
    "x": 2975,
    "y": 480,
    "wires": [
      [
        "f0d61d7030f60516"
      ]
    ]
  },
  {
    "id": "f0d61d7030f60516",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "fe22668bd12059fe",
    "name": "model",
    "rules": [
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "Chacon",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "model",
        "pt": "msg",
        "to": "DIO-54791",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "rfxcom",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "command",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "remote",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3110,
    "y": 480,
    "wires": [
      [
        "4902a3b3378eb68c"
      ]
    ]
  },
  {
    "id": "4902a3b3378eb68c",
    "type": "link out",
    "z": "b984eb4415408ed9",
    "g": "fe22668bd12059fe",
    "name": "rfxcom - DIO-54791 - model",
    "mode": "link",
    "links": [
      "94aa726ce8973d2c"
    ],
    "x": 3235,
    "y": 480,
    "wires": []
  },
  {
    "id": "197354399802c0d6",
    "type": "change",
    "z": "b984eb4415408ed9",
    "g": "6e514e612809a95c",
    "name": "model",
    "rules": [
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "Chacon",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "model",
        "pt": "msg",
        "to": "DIO-54760",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "rfxcom",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "command",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "remote",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3110,
    "y": 720,
    "wires": [
      [
        "be033ed2f9099d29"
      ]
    ]
  }
]