flows/P.Zigbee.json
[
  {
    "id": "0cd436e03cba5cb6",
    "type": "tab",
    "label": "P.Zigbee",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "76782942a819b942",
    "type": "group",
    "z": "0cd436e03cba5cb6",
    "name": "zigbee - catch",
    "style": {
      "fill": "#ff0000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "6e53c8030c7fd466",
      "633f0a44836ee1d8"
    ],
    "x": 534,
    "y": 19,
    "w": 432,
    "h": 82
  },
  {
    "id": "f147598b1853465c",
    "type": "group",
    "z": "0cd436e03cba5cb6",
    "name": "",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "66948514053cd7ef",
      "8bb6e6e526809dfc",
      "ba0439c1fa954d4d"
    ],
    "x": 68,
    "y": 173,
    "w": 2634,
    "h": 314
  },
  {
    "id": "610900e2bc688c66",
    "type": "group",
    "z": "0cd436e03cba5cb6",
    "name": "",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "e47b49408799776a",
      "ee13e249bc8f7cb8"
    ],
    "x": 68,
    "y": 533,
    "w": 1774,
    "h": 254
  },
  {
    "id": "1a4c91d77f5e3f12",
    "type": "group",
    "z": "0cd436e03cba5cb6",
    "name": "",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "4139f126d180c24e",
      "697a44ba65900e43"
    ],
    "x": 68,
    "y": 833,
    "w": 1874,
    "h": 314
  },
  {
    "id": "a8afdde5118f03bd",
    "type": "group",
    "z": "0cd436e03cba5cb6",
    "name": "",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "b8071baa204e8be9",
      "2e0d545ca1f1f751",
      "bbbe67eb0c6352bc"
    ],
    "x": 68,
    "y": 1193,
    "w": 2594,
    "h": 314
  },
  {
    "id": "7ca9480926549d67",
    "type": "group",
    "z": "0cd436e03cba5cb6",
    "name": "",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "5a940d986fd98e4f",
      "7ec205f137c6c32f",
      "432680d564c1569e"
    ],
    "x": 68,
    "y": 1553,
    "w": 2554,
    "h": 254
  },
  {
    "id": "85cf36fc3802a3fe",
    "type": "group",
    "z": "0cd436e03cba5cb6",
    "name": "",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "19df7e1ced610978",
      "46f335e4a5e2f58f"
    ],
    "x": 68,
    "y": 1853,
    "w": 2674,
    "h": 314
  },
  {
    "id": "b475a609b6f58891",
    "type": "group",
    "z": "0cd436e03cba5cb6",
    "name": "",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "19780ef67d75fab4",
      "95639b2299991877"
    ],
    "x": 68,
    "y": 2213,
    "w": 1794,
    "h": 254
  },
  {
    "id": "66948514053cd7ef",
    "type": "group",
    "z": "0cd436e03cba5cb6",
    "g": "f147598b1853465c",
    "name": "zigbee - S530559 - device",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "19b13887fb6925d7",
      "6874cf6f062fb04a",
      "33d5e527d6182be4",
      "4260ec8334e317f2",
      "de6506a93e799ba9",
      "f2c9d7a95dbaeb38",
      "d16b37d2939388d4",
      "dbc8bb25a9189ad0",
      "3f468d9127dbefd1"
    ],
    "x": 94,
    "y": 199,
    "w": 902,
    "h": 262
  },
  {
    "id": "8bb6e6e526809dfc",
    "type": "group",
    "z": "0cd436e03cba5cb6",
    "g": "f147598b1853465c",
    "name": "zigbee - S530559 - source",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "22ae28cd02b2ac40",
      "f2a5994dd44a5161",
      "e357d03ad7d6882e",
      "ed6122dd6848d885",
      "cc0ff5feddc37308",
      "61d409cdd6107520"
    ],
    "x": 1094,
    "y": 199,
    "w": 762,
    "h": 142
  },
  {
    "id": "ba0439c1fa954d4d",
    "type": "group",
    "z": "0cd436e03cba5cb6",
    "g": "f147598b1853465c",
    "name": "zigbee - S530559 - metric",
    "style": {
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "8f9164d97bb54bdc",
      "0f053409eacfc57b",
      "826e10a356b21321",
      "1547b4b71e27b11b",
      "3a56ad77ed759c12"
    ],
    "x": 1954,
    "y": 199,
    "w": 722,
    "h": 82
  },
  {
    "id": "e47b49408799776a",
    "type": "group",
    "z": "0cd436e03cba5cb6",
    "g": "610900e2bc688c66",
    "name": "zigbee - MCCGQ11LM - source",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "0d54b77d8c9e9c2e",
      "eb2dea648ab3cbf3",
      "0dc72fc23588671b",
      "6a57d40dff357bfa",
      "8f6759a268add92e",
      "da66f64898772e28"
    ],
    "x": 1034,
    "y": 559,
    "w": 782,
    "h": 142
  },
  {
    "id": "ee13e249bc8f7cb8",
    "type": "group",
    "z": "0cd436e03cba5cb6",
    "g": "610900e2bc688c66",
    "name": "zigbee - MCCGQ11LM - device",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "2743e40bf657513e",
      "3ceac0cbe91463c5",
      "2d105ceea6392f18",
      "f2af422ed8da0c9f",
      "4f9f216ecca80280",
      "0cdcc7d5d4b9c579",
      "cff5883034f77cb0",
      "573db46bbc14f6e9"
    ],
    "x": 94,
    "y": 559,
    "w": 842,
    "h": 202
  },
  {
    "id": "4139f126d180c24e",
    "type": "group",
    "z": "0cd436e03cba5cb6",
    "g": "1a4c91d77f5e3f12",
    "name": "source zigbee SNZB-02",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "eba7097bf16acf67",
      "b5e907f3ee711b07",
      "372f04c4a067844d",
      "ada7d594f73cc361",
      "134fcbb851958c16",
      "43cac53e0a0d9eee",
      "f11a044ad0e20908"
    ],
    "x": 1054,
    "y": 859,
    "w": 862,
    "h": 202
  },
  {
    "id": "697a44ba65900e43",
    "type": "group",
    "z": "0cd436e03cba5cb6",
    "g": "1a4c91d77f5e3f12",
    "name": "zigbee - SNZB-02 - device",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "14186618daa0777a",
      "3ecc82d3284673db",
      "dc1da9165183247d",
      "db246d9296a823b2",
      "d29d128c44cded92",
      "5ea3980a5d978b17",
      "40de05671513ae04",
      "42d5c8c10cedb468",
      "b1443ec31cf4651d"
    ],
    "x": 94,
    "y": 859,
    "w": 862,
    "h": 262
  },
  {
    "id": "b8071baa204e8be9",
    "type": "group",
    "z": "0cd436e03cba5cb6",
    "g": "a8afdde5118f03bd",
    "name": "zigbee - 412171 - device",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "8cac6d3317d16d9b",
      "de7e38615805f3a5",
      "14cb219896489fb7",
      "93766a4847594832",
      "c2e44a76c98cd7ae",
      "3a8223f94768eb4c",
      "d982fc8e308c3260",
      "8237bbc2fead9706",
      "a96ce0d1796adb63"
    ],
    "x": 94,
    "y": 1219,
    "w": 842,
    "h": 262
  },
  {
    "id": "2e0d545ca1f1f751",
    "type": "group",
    "z": "0cd436e03cba5cb6",
    "g": "a8afdde5118f03bd",
    "name": "zigbee - 412171 - source",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "93febb4421f30d87",
      "f21af5e954aec1df",
      "3b6e494f3b2508cf",
      "1163d4337dbcccf6",
      "2ec8ca0d27d00fed",
      "4385665e61ddeef1"
    ],
    "x": 1034,
    "y": 1219,
    "w": 782,
    "h": 142
  },
  {
    "id": "bbbe67eb0c6352bc",
    "type": "group",
    "z": "0cd436e03cba5cb6",
    "g": "a8afdde5118f03bd",
    "name": "zigbee - 412171 - metric",
    "style": {
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "de48ab70a838d67e",
      "c7ca4f7a643b3a2c",
      "c7da23fa87be228d",
      "f2fda89b10cab1fe",
      "dc8432cb11ffb0d6"
    ],
    "x": 1914,
    "y": 1219,
    "w": 722,
    "h": 82
  },
  {
    "id": "5a940d986fd98e4f",
    "type": "group",
    "z": "0cd436e03cba5cb6",
    "g": "7ca9480926549d67",
    "name": "zigbee - ZBMINIL2 - device",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "99a4e5dc5644cb4f",
      "f75e69724e356e1c",
      "5e07eabb2b7d8ce2",
      "c491dadde798f841",
      "1d31e1f4842e9321",
      "00384275810d4079",
      "97bc7bfd63052866",
      "72d58a85b9a4aa52"
    ],
    "x": 94,
    "y": 1579,
    "w": 842,
    "h": 202
  },
  {
    "id": "7ec205f137c6c32f",
    "type": "group",
    "z": "0cd436e03cba5cb6",
    "g": "7ca9480926549d67",
    "name": "zigbee - ZBMINIL2 - source",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "39ac0b2fb3f505c0",
      "e93a07a5851a14f2",
      "7b6cf0c3453cf17b",
      "a6ae8f35d17b3622",
      "162055ff0b298da7"
    ],
    "x": 1034,
    "y": 1579,
    "w": 742,
    "h": 82
  },
  {
    "id": "432680d564c1569e",
    "type": "group",
    "z": "0cd436e03cba5cb6",
    "g": "7ca9480926549d67",
    "name": "zigbee - ZBMINIL2 - metric",
    "style": {
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "d051e2ecad8a4c91",
      "25b1ac0e4bf27db0",
      "0be54ddf68a672a5",
      "bbeb040050524c9a",
      "7906a1e6360e1d26"
    ],
    "x": 1874,
    "y": 1579,
    "w": 722,
    "h": 82
  },
  {
    "id": "19df7e1ced610978",
    "type": "group",
    "z": "0cd436e03cba5cb6",
    "g": "85cf36fc3802a3fe",
    "name": "zigbee - SNZB-01P - source",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "670e7395d0752414",
      "0552a0e8ad4f3621",
      "0454a289f1920bdf",
      "9d5b5ecf823f3e06",
      "42c7380d496e1a14",
      "d6691e769350c0ac",
      "1e1a6a213e5bed71",
      "6a4924e86bc8630f",
      "19b7b50be9592a5c",
      "c892e02505855e89",
      "1e457934d5466768",
      "589c37cd53161a2b",
      "f2a3784904b9112d",
      "6b6b43283b748b66",
      "19732dc56de56ff4",
      "2f670c5c2a24ce20",
      "64168fa4c56dcecc"
    ],
    "x": 1054,
    "y": 1879,
    "w": 1662,
    "h": 262
  },
  {
    "id": "46f335e4a5e2f58f",
    "type": "group",
    "z": "0cd436e03cba5cb6",
    "g": "85cf36fc3802a3fe",
    "name": "zigbee - SNZB-01P - device",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "341f5047f4a4fe5d",
      "65f6a02b5d2c092d",
      "fe5cbe149f478b8f",
      "cb01f17b4f6d897a",
      "74b35458f02dda86",
      "6e2340865ef4c2ba",
      "29f7aa56b6e32d61"
    ],
    "x": 94,
    "y": 1879,
    "w": 862,
    "h": 142
  },
  {
    "id": "19780ef67d75fab4",
    "type": "group",
    "z": "0cd436e03cba5cb6",
    "g": "b475a609b6f58891",
    "name": "zigbee - SNZB-03 - source",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "746e7afab8f321b5",
      "8fb070b26cad8e8c",
      "3a92525692be8c0a",
      "40746311949be945",
      "b2f041d50556adbe",
      "eec5f8a1287b092c"
    ],
    "x": 1054,
    "y": 2239,
    "w": 782,
    "h": 142
  },
  {
    "id": "95639b2299991877",
    "type": "group",
    "z": "0cd436e03cba5cb6",
    "g": "b475a609b6f58891",
    "name": "zigbee - SNZB-03 - device",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "dcb1d3c98c1c8c60",
      "9bce06553cc1164f",
      "b4da65c019049b2e",
      "c0e646f0c8352181",
      "8480858c89a6eed5",
      "dab0ca52a89d269d",
      "bc2f27d32087dd9a",
      "5cb5d81fb0a8ee1e"
    ],
    "x": 94,
    "y": 2239,
    "w": 862,
    "h": 202
  },
  {
    "id": "6e53c8030c7fd466",
    "type": "catch",
    "z": "0cd436e03cba5cb6",
    "g": "76782942a819b942",
    "name": "catch error",
    "scope": null,
    "uncaught": false,
    "x": 620,
    "y": 60,
    "wires": [
      [
        "633f0a44836ee1d8"
      ]
    ]
  },
  {
    "id": "633f0a44836ee1d8",
    "type": "debug",
    "z": "0cd436e03cba5cb6",
    "g": "76782942a819b942",
    "name": "zigbee - catch error",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 830,
    "y": 60,
    "wires": []
  },
  {
    "id": "19b13887fb6925d7",
    "type": "switch",
    "z": "0cd436e03cba5cb6",
    "g": "66948514053cd7ef",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "S530559",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 270,
    "y": 240,
    "wires": [
      [
        "6874cf6f062fb04a",
        "33d5e527d6182be4",
        "4260ec8334e317f2",
        "f2c9d7a95dbaeb38"
      ]
    ]
  },
  {
    "id": "6874cf6f062fb04a",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "66948514053cd7ef",
    "name": "cible / socket* / boolean / false",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "cible",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'socket'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 300,
    "wires": [
      [
        "d16b37d2939388d4"
      ]
    ]
  },
  {
    "id": "33d5e527d6182be4",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "66948514053cd7ef",
    "name": "outlet* / socket* / boolean / false*",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "msg.measurement?msg.measurement:'outlet'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'socket'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "msg.default?msg.default:false",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 360,
    "wires": [
      [
        "d16b37d2939388d4"
      ]
    ]
  },
  {
    "id": "4260ec8334e317f2",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "66948514053cd7ef",
    "name": "power / socket* / number / 0",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "power",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'socket'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 420,
    "wires": [
      [
        "d16b37d2939388d4"
      ]
    ]
  },
  {
    "id": "de6506a93e799ba9",
    "type": "link in",
    "z": "0cd436e03cba5cb6",
    "g": "66948514053cd7ef",
    "name": "zigbee - S530559 - device",
    "links": [
      "546f190f3ec0c90d"
    ],
    "x": 135,
    "y": 240,
    "wires": [
      [
        "19b13887fb6925d7"
      ]
    ]
  },
  {
    "id": "f2c9d7a95dbaeb38",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "66948514053cd7ef",
    "name": "brand: schneider eletric /. outlet / socket",
    "rules": [
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "schneider electric",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "msg.measurement?msg.measurement:'outlet'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'socket'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 540,
    "y": 240,
    "wires": [
      [
        "d16b37d2939388d4"
      ]
    ]
  },
  {
    "id": "d16b37d2939388d4",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "66948514053cd7ef",
    "name": "protocol",
    "rules": [
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "zigbee",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 820,
    "y": 240,
    "wires": [
      [
        "dbc8bb25a9189ad0"
      ]
    ]
  },
  {
    "id": "dbc8bb25a9189ad0",
    "type": "link out",
    "z": "0cd436e03cba5cb6",
    "g": "66948514053cd7ef",
    "name": "zigbee -  S530559 - device",
    "mode": "link",
    "links": [
      "3e1b4213132404be"
    ],
    "x": 955,
    "y": 240,
    "wires": []
  },
  {
    "id": "3f468d9127dbefd1",
    "type": "comment",
    "z": "0cd436e03cba5cb6",
    "g": "66948514053cd7ef",
    "name": "outlet / socket",
    "info": "",
    "x": 190,
    "y": 300,
    "wires": []
  },
  {
    "id": "22ae28cd02b2ac40",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "8bb6e6e526809dfc",
    "name": "xxx / xxx / boolean",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.state",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "msg.payload='ON'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1630,
    "y": 240,
    "wires": [
      [
        "61d409cdd6107520"
      ]
    ]
  },
  {
    "id": "f2a5994dd44a5161",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "8bb6e6e526809dfc",
    "name": "power / xxx / number",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "power",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.power",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1640,
    "y": 300,
    "wires": [
      [
        "61d409cdd6107520"
      ]
    ]
  },
  {
    "id": "e357d03ad7d6882e",
    "type": "link in",
    "z": "0cd436e03cba5cb6",
    "g": "8bb6e6e526809dfc",
    "name": "zigbee - S530559 - source",
    "links": [
      "24058eec92534b27"
    ],
    "x": 1135,
    "y": 240,
    "wires": [
      [
        "ed6122dd6848d885"
      ]
    ]
  },
  {
    "id": "ed6122dd6848d885",
    "type": "switch",
    "z": "0cd436e03cba5cb6",
    "g": "8bb6e6e526809dfc",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "S530559",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1270,
    "y": 240,
    "wires": [
      [
        "cc0ff5feddc37308"
      ]
    ]
  },
  {
    "id": "cc0ff5feddc37308",
    "type": "switch",
    "z": "0cd436e03cba5cb6",
    "g": "8bb6e6e526809dfc",
    "name": "topic",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "prefix",
        "vt": "msg"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1430,
    "y": 240,
    "wires": [
      [
        "22ae28cd02b2ac40",
        "f2a5994dd44a5161"
      ]
    ]
  },
  {
    "id": "61d409cdd6107520",
    "type": "link out",
    "z": "0cd436e03cba5cb6",
    "g": "8bb6e6e526809dfc",
    "name": "zigbee -  S530559 - source",
    "mode": "link",
    "links": [
      "14a0a0839924964f"
    ],
    "x": 1815,
    "y": 240,
    "wires": []
  },
  {
    "id": "8f9164d97bb54bdc",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "ba0439c1fa954d4d",
    "name": "topic",
    "rules": [
      {
        "t": "set",
        "p": "tmp",
        "pt": "msg",
        "to": "msg.payload?'ON':'OFF'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    'state':msg.tmp\t}",
        "tot": "jsonata"
      },
      {
        "t": "delete",
        "p": "tmp",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "set",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2510,
    "y": 240,
    "wires": [
      [
        "3a56ad77ed759c12"
      ]
    ]
  },
  {
    "id": "0f053409eacfc57b",
    "type": "link in",
    "z": "0cd436e03cba5cb6",
    "g": "ba0439c1fa954d4d",
    "name": "zigbee - S530559 - metric",
    "links": [
      "637b84024e725f38"
    ],
    "x": 1995,
    "y": 240,
    "wires": [
      [
        "826e10a356b21321"
      ]
    ]
  },
  {
    "id": "826e10a356b21321",
    "type": "switch",
    "z": "0cd436e03cba5cb6",
    "g": "ba0439c1fa954d4d",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "S530559",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 2130,
    "y": 240,
    "wires": [
      [
        "1547b4b71e27b11b"
      ]
    ]
  },
  {
    "id": "1547b4b71e27b11b",
    "type": "switch",
    "z": "0cd436e03cba5cb6",
    "g": "ba0439c1fa954d4d",
    "name": "measurement",
    "property": "measurement",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "cible",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 2320,
    "y": 240,
    "wires": [
      [
        "8f9164d97bb54bdc"
      ]
    ]
  },
  {
    "id": "3a56ad77ed759c12",
    "type": "link out",
    "z": "0cd436e03cba5cb6",
    "g": "ba0439c1fa954d4d",
    "name": "zigbee - S530559 - metric",
    "mode": "link",
    "links": [
      "e93e8daa30075ae6"
    ],
    "x": 2635,
    "y": 240,
    "wires": []
  },
  {
    "id": "0d54b77d8c9e9c2e",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "e47b49408799776a",
    "name": "battery / xxx / percent",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "battery",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'door'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.battery",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1580,
    "y": 660,
    "wires": [
      [
        "8f6759a268add92e"
      ]
    ]
  },
  {
    "id": "eb2dea648ab3cbf3",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "e47b49408799776a",
    "name": "aperture / xxx / boolean",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "aperture",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'door'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.contact",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$boolean(msg.payload)=false",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1590,
    "y": 600,
    "wires": [
      [
        "8f6759a268add92e"
      ]
    ]
  },
  {
    "id": "0dc72fc23588671b",
    "type": "link in",
    "z": "0cd436e03cba5cb6",
    "g": "e47b49408799776a",
    "name": "zigbee - MCCGQ11LM - source",
    "links": [
      "24058eec92534b27"
    ],
    "x": 1075,
    "y": 600,
    "wires": [
      [
        "6a57d40dff357bfa"
      ]
    ]
  },
  {
    "id": "6a57d40dff357bfa",
    "type": "switch",
    "z": "0cd436e03cba5cb6",
    "g": "e47b49408799776a",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "MCCGQ11LM",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1210,
    "y": 600,
    "wires": [
      [
        "da66f64898772e28"
      ]
    ]
  },
  {
    "id": "8f6759a268add92e",
    "type": "link out",
    "z": "0cd436e03cba5cb6",
    "g": "e47b49408799776a",
    "name": "zigbee - MCCGQ11LM - source",
    "mode": "link",
    "links": [
      "14a0a0839924964f"
    ],
    "x": 1775,
    "y": 600,
    "wires": []
  },
  {
    "id": "da66f64898772e28",
    "type": "switch",
    "z": "0cd436e03cba5cb6",
    "g": "e47b49408799776a",
    "name": "topic",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "prefix",
        "vt": "msg"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1370,
    "y": 600,
    "wires": [
      [
        "eb2dea648ab3cbf3",
        "0d54b77d8c9e9c2e"
      ]
    ]
  },
  {
    "id": "2743e40bf657513e",
    "type": "switch",
    "z": "0cd436e03cba5cb6",
    "g": "ee13e249bc8f7cb8",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "MCCGQ11LM",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 270,
    "y": 600,
    "wires": [
      [
        "3ceac0cbe91463c5",
        "2d105ceea6392f18",
        "cff5883034f77cb0"
      ]
    ]
  },
  {
    "id": "3ceac0cbe91463c5",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "ee13e249bc8f7cb8",
    "name": "aperture / door* / boolean / false",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "aperture",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'door'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 660,
    "wires": [
      [
        "0cdcc7d5d4b9c579"
      ]
    ]
  },
  {
    "id": "2d105ceea6392f18",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "ee13e249bc8f7cb8",
    "name": "battery / door* / percent / 99",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "battery",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'door'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "percent",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "99",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 720,
    "wires": [
      [
        "0cdcc7d5d4b9c579"
      ]
    ]
  },
  {
    "id": "f2af422ed8da0c9f",
    "type": "link in",
    "z": "0cd436e03cba5cb6",
    "g": "ee13e249bc8f7cb8",
    "name": "zigbee - MCCGQ11LM - device",
    "links": [
      "546f190f3ec0c90d"
    ],
    "x": 135,
    "y": 600,
    "wires": [
      [
        "2743e40bf657513e"
      ]
    ]
  },
  {
    "id": "4f9f216ecca80280",
    "type": "link out",
    "z": "0cd436e03cba5cb6",
    "g": "ee13e249bc8f7cb8",
    "name": "zigbee - MCCGQ11LM - device",
    "mode": "link",
    "links": [
      "3e1b4213132404be"
    ],
    "x": 895,
    "y": 600,
    "wires": []
  },
  {
    "id": "0cdcc7d5d4b9c579",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "ee13e249bc8f7cb8",
    "name": "protocol",
    "rules": [
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "zigbee",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 760,
    "y": 600,
    "wires": [
      [
        "4f9f216ecca80280"
      ]
    ]
  },
  {
    "id": "cff5883034f77cb0",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "ee13e249bc8f7cb8",
    "name": "brand: sonoff / aperture / door*",
    "rules": [
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "sonoff",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "aperture",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'door'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 600,
    "wires": [
      [
        "0cdcc7d5d4b9c579"
      ]
    ]
  },
  {
    "id": "573db46bbc14f6e9",
    "type": "comment",
    "z": "0cd436e03cba5cb6",
    "g": "ee13e249bc8f7cb8",
    "name": "aperture / door",
    "info": "",
    "x": 200,
    "y": 660,
    "wires": []
  },
  {
    "id": "eba7097bf16acf67",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "4139f126d180c24e",
    "name": "temperature / probe / number",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "temperature",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "probe",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.temperature",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1620,
    "y": 900,
    "wires": [
      [
        "f11a044ad0e20908"
      ]
    ]
  },
  {
    "id": "b5e907f3ee711b07",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "4139f126d180c24e",
    "name": "humidity / probe / number",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "humidity",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "probe",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.humidity",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1610,
    "y": 960,
    "wires": [
      [
        "f11a044ad0e20908"
      ]
    ]
  },
  {
    "id": "372f04c4a067844d",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "4139f126d180c24e",
    "name": "battery / probe / percent",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "battery",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "probe",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.battery",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1610,
    "y": 1020,
    "wires": [
      [
        "f11a044ad0e20908"
      ]
    ]
  },
  {
    "id": "ada7d594f73cc361",
    "type": "link in",
    "z": "0cd436e03cba5cb6",
    "g": "4139f126d180c24e",
    "name": "zigbee - SNZB-02 - source",
    "links": [
      "24058eec92534b27"
    ],
    "x": 1095,
    "y": 900,
    "wires": [
      [
        "134fcbb851958c16"
      ]
    ]
  },
  {
    "id": "134fcbb851958c16",
    "type": "switch",
    "z": "0cd436e03cba5cb6",
    "g": "4139f126d180c24e",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "SNZB-02",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1230,
    "y": 900,
    "wires": [
      [
        "43cac53e0a0d9eee"
      ]
    ]
  },
  {
    "id": "43cac53e0a0d9eee",
    "type": "switch",
    "z": "0cd436e03cba5cb6",
    "g": "4139f126d180c24e",
    "name": "topic",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "prefix",
        "vt": "msg"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1390,
    "y": 900,
    "wires": [
      [
        "eba7097bf16acf67",
        "b5e907f3ee711b07",
        "372f04c4a067844d"
      ]
    ]
  },
  {
    "id": "f11a044ad0e20908",
    "type": "link out",
    "z": "0cd436e03cba5cb6",
    "g": "4139f126d180c24e",
    "name": "zigbee - SNZB-02 - source",
    "mode": "link",
    "links": [
      "14a0a0839924964f"
    ],
    "x": 1875,
    "y": 900,
    "wires": []
  },
  {
    "id": "14186618daa0777a",
    "type": "switch",
    "z": "0cd436e03cba5cb6",
    "g": "697a44ba65900e43",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "SNZB-02",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 270,
    "y": 900,
    "wires": [
      [
        "3ecc82d3284673db",
        "dc1da9165183247d",
        "db246d9296a823b2",
        "42d5c8c10cedb468"
      ]
    ]
  },
  {
    "id": "3ecc82d3284673db",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "697a44ba65900e43",
    "name": "temperature / probe / number / 20",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "temperature",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "probe",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "20",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 960,
    "wires": [
      [
        "40de05671513ae04"
      ]
    ]
  },
  {
    "id": "dc1da9165183247d",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "697a44ba65900e43",
    "name": "humidity / probe / number / 50",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "humidity",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "probe",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "percent",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "50",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 1020,
    "wires": [
      [
        "40de05671513ae04"
      ]
    ]
  },
  {
    "id": "db246d9296a823b2",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "697a44ba65900e43",
    "name": "battery / probe / percent / 99",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "battery",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "probe",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "percent",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "99",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 1080,
    "wires": [
      [
        "40de05671513ae04"
      ]
    ]
  },
  {
    "id": "d29d128c44cded92",
    "type": "link in",
    "z": "0cd436e03cba5cb6",
    "g": "697a44ba65900e43",
    "name": "zigbee - SNZB-02 - device",
    "links": [
      "546f190f3ec0c90d"
    ],
    "x": 135,
    "y": 900,
    "wires": [
      [
        "14186618daa0777a"
      ]
    ]
  },
  {
    "id": "5ea3980a5d978b17",
    "type": "link out",
    "z": "0cd436e03cba5cb6",
    "g": "697a44ba65900e43",
    "name": "zigbee - SNZB-02 - device",
    "mode": "link",
    "links": [
      "3e1b4213132404be"
    ],
    "x": 915,
    "y": 900,
    "wires": []
  },
  {
    "id": "40de05671513ae04",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "697a44ba65900e43",
    "name": "protocol",
    "rules": [
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "zigbee",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 780,
    "y": 900,
    "wires": [
      [
        "5ea3980a5d978b17"
      ]
    ]
  },
  {
    "id": "42d5c8c10cedb468",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "697a44ba65900e43",
    "name": "brand: sonoff / temperature / probe",
    "rules": [
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "sonoff",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "temperature",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "probe",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 900,
    "wires": [
      [
        "40de05671513ae04"
      ]
    ]
  },
  {
    "id": "b1443ec31cf4651d",
    "type": "comment",
    "z": "0cd436e03cba5cb6",
    "g": "697a44ba65900e43",
    "name": "temperature / probe",
    "info": "",
    "x": 210,
    "y": 960,
    "wires": []
  },
  {
    "id": "8cac6d3317d16d9b",
    "type": "switch",
    "z": "0cd436e03cba5cb6",
    "g": "b8071baa204e8be9",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "412171",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "412170",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 270,
    "y": 1260,
    "wires": [
      [
        "de7e38615805f3a5",
        "14cb219896489fb7",
        "93766a4847594832",
        "3a8223f94768eb4c"
      ],
      [
        "3a8223f94768eb4c",
        "de7e38615805f3a5",
        "14cb219896489fb7",
        "93766a4847594832"
      ]
    ]
  },
  {
    "id": "de7e38615805f3a5",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "b8071baa204e8be9",
    "name": "cible / relay* / boolean / false",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "cible",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'relay'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 1320,
    "wires": [
      [
        "d982fc8e308c3260"
      ]
    ]
  },
  {
    "id": "14cb219896489fb7",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "b8071baa204e8be9",
    "name": "light* / relay*  / boolean / false*",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "msg.measurement?msg.measurement:'light'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'relay'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "msg.default?msg.default:false",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 1380,
    "wires": [
      [
        "d982fc8e308c3260"
      ]
    ]
  },
  {
    "id": "93766a4847594832",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "b8071baa204e8be9",
    "name": "power / relay* / number / 0",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "power",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'relay'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 1440,
    "wires": [
      [
        "d982fc8e308c3260"
      ]
    ]
  },
  {
    "id": "c2e44a76c98cd7ae",
    "type": "link in",
    "z": "0cd436e03cba5cb6",
    "g": "b8071baa204e8be9",
    "name": "zigbee - 412171 - device",
    "links": [
      "546f190f3ec0c90d"
    ],
    "x": 135,
    "y": 1260,
    "wires": [
      [
        "8cac6d3317d16d9b"
      ]
    ]
  },
  {
    "id": "3a8223f94768eb4c",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "b8071baa204e8be9",
    "name": "brand: legrand / light* / relay*",
    "rules": [
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "legrand",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "msg.measurement?msg.measurement:'light'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'relay'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 1260,
    "wires": [
      [
        "d982fc8e308c3260"
      ]
    ]
  },
  {
    "id": "d982fc8e308c3260",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "b8071baa204e8be9",
    "name": "protocol",
    "rules": [
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "zigbee",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 760,
    "y": 1260,
    "wires": [
      [
        "8237bbc2fead9706"
      ]
    ]
  },
  {
    "id": "8237bbc2fead9706",
    "type": "link out",
    "z": "0cd436e03cba5cb6",
    "g": "b8071baa204e8be9",
    "name": "zigbee - 412171 - device",
    "mode": "link",
    "links": [
      "3e1b4213132404be"
    ],
    "x": 895,
    "y": 1260,
    "wires": []
  },
  {
    "id": "a96ce0d1796adb63",
    "type": "comment",
    "z": "0cd436e03cba5cb6",
    "g": "b8071baa204e8be9",
    "name": "light / relay",
    "info": "",
    "x": 180,
    "y": 1320,
    "wires": []
  },
  {
    "id": "93febb4421f30d87",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "2e0d545ca1f1f751",
    "name": "xxx / xxx / boolean",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.state",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "msg.payload='ON'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1570,
    "y": 1260,
    "wires": [
      [
        "4385665e61ddeef1"
      ]
    ]
  },
  {
    "id": "f21af5e954aec1df",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "2e0d545ca1f1f751",
    "name": "power / xxx / number",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "power",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.power",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1580,
    "y": 1320,
    "wires": [
      [
        "4385665e61ddeef1"
      ]
    ]
  },
  {
    "id": "3b6e494f3b2508cf",
    "type": "link in",
    "z": "0cd436e03cba5cb6",
    "g": "2e0d545ca1f1f751",
    "name": "zigbee -  412171 - source",
    "links": [
      "24058eec92534b27"
    ],
    "x": 1075,
    "y": 1260,
    "wires": [
      [
        "1163d4337dbcccf6"
      ]
    ]
  },
  {
    "id": "1163d4337dbcccf6",
    "type": "switch",
    "z": "0cd436e03cba5cb6",
    "g": "2e0d545ca1f1f751",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "412171",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "412170",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 1210,
    "y": 1260,
    "wires": [
      [
        "2ec8ca0d27d00fed"
      ],
      [
        "2ec8ca0d27d00fed"
      ]
    ]
  },
  {
    "id": "2ec8ca0d27d00fed",
    "type": "switch",
    "z": "0cd436e03cba5cb6",
    "g": "2e0d545ca1f1f751",
    "name": "topic",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "prefix",
        "vt": "msg"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1370,
    "y": 1260,
    "wires": [
      [
        "93febb4421f30d87",
        "f21af5e954aec1df"
      ]
    ]
  },
  {
    "id": "4385665e61ddeef1",
    "type": "link out",
    "z": "0cd436e03cba5cb6",
    "g": "2e0d545ca1f1f751",
    "name": "zigbee - 412171 - source",
    "mode": "link",
    "links": [
      "14a0a0839924964f"
    ],
    "x": 1775,
    "y": 1260,
    "wires": []
  },
  {
    "id": "de48ab70a838d67e",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "bbbe67eb0c6352bc",
    "name": "topic",
    "rules": [
      {
        "t": "set",
        "p": "tmp",
        "pt": "msg",
        "to": "msg.payload?'ON':'OFF'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    'state':msg.tmp\t}",
        "tot": "jsonata"
      },
      {
        "t": "delete",
        "p": "tmp",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "set",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2470,
    "y": 1260,
    "wires": [
      [
        "dc8432cb11ffb0d6"
      ]
    ]
  },
  {
    "id": "c7ca4f7a643b3a2c",
    "type": "link in",
    "z": "0cd436e03cba5cb6",
    "g": "bbbe67eb0c6352bc",
    "name": "zigbee - 412171 - metric",
    "links": [
      "637b84024e725f38"
    ],
    "x": 1955,
    "y": 1260,
    "wires": [
      [
        "c7da23fa87be228d"
      ]
    ]
  },
  {
    "id": "c7da23fa87be228d",
    "type": "switch",
    "z": "0cd436e03cba5cb6",
    "g": "bbbe67eb0c6352bc",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "412171",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "412170",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 2090,
    "y": 1260,
    "wires": [
      [
        "f2fda89b10cab1fe"
      ],
      [
        "f2fda89b10cab1fe"
      ]
    ]
  },
  {
    "id": "f2fda89b10cab1fe",
    "type": "switch",
    "z": "0cd436e03cba5cb6",
    "g": "bbbe67eb0c6352bc",
    "name": "measurement",
    "property": "measurement",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "cible",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2280,
    "y": 1260,
    "wires": [
      [
        "de48ab70a838d67e"
      ]
    ]
  },
  {
    "id": "dc8432cb11ffb0d6",
    "type": "link out",
    "z": "0cd436e03cba5cb6",
    "g": "bbbe67eb0c6352bc",
    "name": "zigbee - 412171 - metric",
    "mode": "link",
    "links": [
      "e93e8daa30075ae6"
    ],
    "x": 2595,
    "y": 1260,
    "wires": []
  },
  {
    "id": "99a4e5dc5644cb4f",
    "type": "switch",
    "z": "0cd436e03cba5cb6",
    "g": "5a940d986fd98e4f",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ZBMINIL2",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 270,
    "y": 1620,
    "wires": [
      [
        "f75e69724e356e1c",
        "5e07eabb2b7d8ce2",
        "1d31e1f4842e9321"
      ]
    ]
  },
  {
    "id": "f75e69724e356e1c",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "5a940d986fd98e4f",
    "name": "cible / ceiling* / boolean / false",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "cible",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'ceiling'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 1680,
    "wires": [
      [
        "00384275810d4079"
      ]
    ]
  },
  {
    "id": "5e07eabb2b7d8ce2",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "5a940d986fd98e4f",
    "name": "light* / ceiling* / boolean / false*",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "msg.measurement?msg.measurement:'light'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'ceiling'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "msg.default?msg.default:false",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 1740,
    "wires": [
      [
        "00384275810d4079"
      ]
    ]
  },
  {
    "id": "c491dadde798f841",
    "type": "link in",
    "z": "0cd436e03cba5cb6",
    "g": "5a940d986fd98e4f",
    "name": "zigbee - ZBMINIL2 - device",
    "links": [
      "546f190f3ec0c90d"
    ],
    "x": 135,
    "y": 1620,
    "wires": [
      [
        "99a4e5dc5644cb4f"
      ]
    ]
  },
  {
    "id": "1d31e1f4842e9321",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "5a940d986fd98e4f",
    "name": "brand: sonoff / light* / ceiling*",
    "rules": [
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "sonoff",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "msg.measurement?msg.measurement:'light'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'ceiling'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 1620,
    "wires": [
      [
        "00384275810d4079"
      ]
    ]
  },
  {
    "id": "00384275810d4079",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "5a940d986fd98e4f",
    "name": "protocol",
    "rules": [
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "zigbee",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 760,
    "y": 1620,
    "wires": [
      [
        "97bc7bfd63052866"
      ]
    ]
  },
  {
    "id": "97bc7bfd63052866",
    "type": "link out",
    "z": "0cd436e03cba5cb6",
    "g": "5a940d986fd98e4f",
    "name": "zigbee - ZBMINIL2 - device",
    "mode": "link",
    "links": [
      "3e1b4213132404be"
    ],
    "x": 895,
    "y": 1620,
    "wires": []
  },
  {
    "id": "72d58a85b9a4aa52",
    "type": "comment",
    "z": "0cd436e03cba5cb6",
    "g": "5a940d986fd98e4f",
    "name": "light / ceiling",
    "info": "",
    "x": 190,
    "y": 1680,
    "wires": []
  },
  {
    "id": "39ac0b2fb3f505c0",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "7ec205f137c6c32f",
    "name": "xxx / xxx / boolean",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.state",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "msg.payload='ON'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1570,
    "y": 1620,
    "wires": [
      [
        "162055ff0b298da7"
      ]
    ]
  },
  {
    "id": "e93a07a5851a14f2",
    "type": "link in",
    "z": "0cd436e03cba5cb6",
    "g": "7ec205f137c6c32f",
    "name": "zigbee - ZBMINIL2 - source",
    "links": [
      "24058eec92534b27"
    ],
    "x": 1075,
    "y": 1620,
    "wires": [
      [
        "7b6cf0c3453cf17b"
      ]
    ]
  },
  {
    "id": "7b6cf0c3453cf17b",
    "type": "switch",
    "z": "0cd436e03cba5cb6",
    "g": "7ec205f137c6c32f",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ZBMINIL2",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1210,
    "y": 1620,
    "wires": [
      [
        "a6ae8f35d17b3622"
      ]
    ]
  },
  {
    "id": "a6ae8f35d17b3622",
    "type": "switch",
    "z": "0cd436e03cba5cb6",
    "g": "7ec205f137c6c32f",
    "name": "topic",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "prefix",
        "vt": "msg"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1370,
    "y": 1620,
    "wires": [
      [
        "39ac0b2fb3f505c0"
      ]
    ]
  },
  {
    "id": "162055ff0b298da7",
    "type": "link out",
    "z": "0cd436e03cba5cb6",
    "g": "7ec205f137c6c32f",
    "name": "zigbee - ZBMINIL2 - source",
    "mode": "link",
    "links": [
      "14a0a0839924964f"
    ],
    "x": 1735,
    "y": 1620,
    "wires": []
  },
  {
    "id": "d051e2ecad8a4c91",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "432680d564c1569e",
    "name": "topic",
    "rules": [
      {
        "t": "set",
        "p": "tmp",
        "pt": "msg",
        "to": "msg.payload?'ON':'OFF'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    'state':msg.tmp\t}",
        "tot": "jsonata"
      },
      {
        "t": "delete",
        "p": "tmp",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "set",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2430,
    "y": 1620,
    "wires": [
      [
        "7906a1e6360e1d26"
      ]
    ]
  },
  {
    "id": "25b1ac0e4bf27db0",
    "type": "link in",
    "z": "0cd436e03cba5cb6",
    "g": "432680d564c1569e",
    "name": "zigbee - ZBMINIL2 - metric",
    "links": [
      "637b84024e725f38"
    ],
    "x": 1915,
    "y": 1620,
    "wires": [
      [
        "0be54ddf68a672a5"
      ]
    ]
  },
  {
    "id": "0be54ddf68a672a5",
    "type": "switch",
    "z": "0cd436e03cba5cb6",
    "g": "432680d564c1569e",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ZBMINIL2",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 2050,
    "y": 1620,
    "wires": [
      [
        "bbeb040050524c9a"
      ]
    ]
  },
  {
    "id": "bbeb040050524c9a",
    "type": "switch",
    "z": "0cd436e03cba5cb6",
    "g": "432680d564c1569e",
    "name": "measurement",
    "property": "measurement",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "cible",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 2240,
    "y": 1620,
    "wires": [
      [
        "d051e2ecad8a4c91"
      ]
    ]
  },
  {
    "id": "7906a1e6360e1d26",
    "type": "link out",
    "z": "0cd436e03cba5cb6",
    "g": "432680d564c1569e",
    "name": "zigbee - ZBMINIL2 - metric",
    "mode": "link",
    "links": [
      "e93e8daa30075ae6"
    ],
    "x": 2555,
    "y": 1620,
    "wires": []
  },
  {
    "id": "670e7395d0752414",
    "type": "gate",
    "z": "0cd436e03cba5cb6",
    "g": "19df7e1ced610978",
    "name": "",
    "controlTopic": "gate",
    "defaultState": "closed",
    "openCmd": "open",
    "closeCmd": "close",
    "toggleCmd": "toggle",
    "defaultCmd": "default",
    "statusCmd": "status",
    "persist": false,
    "storeName": "default",
    "x": 1450,
    "y": 1980,
    "wires": [
      [
        "6a4924e86bc8630f"
      ]
    ]
  },
  {
    "id": "0552a0e8ad4f3621",
    "type": "link in",
    "z": "0cd436e03cba5cb6",
    "g": "19df7e1ced610978",
    "name": "zigbee - SNZB-01P - source gate",
    "links": [],
    "x": 1095,
    "y": 1920,
    "wires": [
      [
        "0454a289f1920bdf"
      ]
    ]
  },
  {
    "id": "0454a289f1920bdf",
    "type": "trigger",
    "z": "0cd436e03cba5cb6",
    "g": "19df7e1ced610978",
    "name": "",
    "op1": "",
    "op2": "open",
    "op1type": "nul",
    "op2type": "str",
    "duration": "10",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 1260,
    "y": 1920,
    "wires": [
      [
        "670e7395d0752414"
      ]
    ]
  },
  {
    "id": "9d5b5ecf823f3e06",
    "type": "comment",
    "z": "0cd436e03cba5cb6",
    "g": "19df7e1ced610978",
    "name": "Do not replay command from mqtt on startup",
    "info": "",
    "x": 1570,
    "y": 1920,
    "wires": []
  },
  {
    "id": "42c7380d496e1a14",
    "type": "link in",
    "z": "0cd436e03cba5cb6",
    "g": "19df7e1ced610978",
    "name": "zigbee - SNZB-01P - source",
    "links": [
      "24058eec92534b27"
    ],
    "x": 1095,
    "y": 1980,
    "wires": [
      [
        "d6691e769350c0ac"
      ]
    ]
  },
  {
    "id": "d6691e769350c0ac",
    "type": "switch",
    "z": "0cd436e03cba5cb6",
    "g": "19df7e1ced610978",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "SNZB-01P",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1230,
    "y": 1980,
    "wires": [
      [
        "670e7395d0752414"
      ]
    ]
  },
  {
    "id": "1e1a6a213e5bed71",
    "type": "link out",
    "z": "0cd436e03cba5cb6",
    "g": "19df7e1ced610978",
    "name": "zigbee - SNZB-01P - source",
    "mode": "link",
    "links": [
      "14a0a0839924964f"
    ],
    "x": 2675,
    "y": 1980,
    "wires": []
  },
  {
    "id": "6a4924e86bc8630f",
    "type": "switch",
    "z": "0cd436e03cba5cb6",
    "g": "19df7e1ced610978",
    "name": "topic",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "prefix",
        "vt": "msg"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1610,
    "y": 1980,
    "wires": [
      [
        "c892e02505855e89"
      ]
    ]
  },
  {
    "id": "19b7b50be9592a5c",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "19df7e1ced610978",
    "name": "xxx / xxx / number",
    "rules": [],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2130,
    "y": 1980,
    "wires": [
      [
        "1e1a6a213e5bed71",
        "19732dc56de56ff4"
      ]
    ]
  },
  {
    "id": "c892e02505855e89",
    "type": "switch",
    "z": "0cd436e03cba5cb6",
    "g": "19df7e1ced610978",
    "name": "action",
    "property": "payload.action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "single",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "double",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "long",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 4,
    "x": 1770,
    "y": 1980,
    "wires": [
      [
        "1e457934d5466768"
      ],
      [
        "589c37cd53161a2b"
      ],
      [
        "f2a3784904b9112d"
      ],
      [
        "6b6b43283b748b66"
      ]
    ]
  },
  {
    "id": "1e457934d5466768",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "19df7e1ced610978",
    "name": "1",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1930,
    "y": 1920,
    "wires": [
      [
        "19b7b50be9592a5c"
      ]
    ]
  },
  {
    "id": "589c37cd53161a2b",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "19df7e1ced610978",
    "name": "2",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "2",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1930,
    "y": 1980,
    "wires": [
      [
        "19b7b50be9592a5c"
      ]
    ]
  },
  {
    "id": "f2a3784904b9112d",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "19df7e1ced610978",
    "name": "3",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "3",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1930,
    "y": 2040,
    "wires": [
      [
        "19b7b50be9592a5c"
      ]
    ]
  },
  {
    "id": "6b6b43283b748b66",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "19df7e1ced610978",
    "name": "0",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1930,
    "y": 2100,
    "wires": [
      [
        "19b7b50be9592a5c"
      ]
    ]
  },
  {
    "id": "19732dc56de56ff4",
    "type": "trigger",
    "z": "0cd436e03cba5cb6",
    "g": "19df7e1ced610978",
    "name": "wait 1 s => off",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "payl",
    "duration": "1",
    "extend": true,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "topic",
    "topic": "topic",
    "outputs": 1,
    "x": 2360,
    "y": 2060,
    "wires": [
      [
        "2f670c5c2a24ce20"
      ]
    ]
  },
  {
    "id": "2f670c5c2a24ce20",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "19df7e1ced610978",
    "name": "0",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2550,
    "y": 2060,
    "wires": [
      [
        "1e1a6a213e5bed71"
      ]
    ]
  },
  {
    "id": "64168fa4c56dcecc",
    "type": "comment",
    "z": "0cd436e03cba5cb6",
    "g": "19df7e1ced610978",
    "name": "payload = 1 for single, 2 for double, 3 for long, then 0 to reset to default value",
    "info": "",
    "x": 1350,
    "y": 2040,
    "wires": []
  },
  {
    "id": "341f5047f4a4fe5d",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "46f335e4a5e2f58f",
    "name": "command / button* / number / 0",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "command",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'button'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 1980,
    "wires": [
      [
        "cb01f17b4f6d897a"
      ]
    ]
  },
  {
    "id": "65f6a02b5d2c092d",
    "type": "link in",
    "z": "0cd436e03cba5cb6",
    "g": "46f335e4a5e2f58f",
    "name": "zigbee - SNZB-01P - device",
    "links": [
      "546f190f3ec0c90d"
    ],
    "x": 135,
    "y": 1920,
    "wires": [
      [
        "fe5cbe149f478b8f"
      ]
    ]
  },
  {
    "id": "fe5cbe149f478b8f",
    "type": "switch",
    "z": "0cd436e03cba5cb6",
    "g": "46f335e4a5e2f58f",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "SNZB-01P",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 270,
    "y": 1920,
    "wires": [
      [
        "341f5047f4a4fe5d",
        "29f7aa56b6e32d61"
      ]
    ]
  },
  {
    "id": "cb01f17b4f6d897a",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "46f335e4a5e2f58f",
    "name": "protocol",
    "rules": [
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "zigbee",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 780,
    "y": 1920,
    "wires": [
      [
        "74b35458f02dda86"
      ]
    ]
  },
  {
    "id": "74b35458f02dda86",
    "type": "link out",
    "z": "0cd436e03cba5cb6",
    "g": "46f335e4a5e2f58f",
    "name": "zigbee - SNZB-01P - device",
    "mode": "link",
    "links": [
      "3e1b4213132404be"
    ],
    "x": 915,
    "y": 1920,
    "wires": []
  },
  {
    "id": "6e2340865ef4c2ba",
    "type": "comment",
    "z": "0cd436e03cba5cb6",
    "g": "46f335e4a5e2f58f",
    "name": "command / button",
    "info": "",
    "x": 210,
    "y": 1980,
    "wires": []
  },
  {
    "id": "29f7aa56b6e32d61",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "46f335e4a5e2f58f",
    "name": "brand: sonoff / command / button*",
    "rules": [
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "sonoff",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "command",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.filed?msg.field:'button'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 1920,
    "wires": [
      [
        "cb01f17b4f6d897a"
      ]
    ]
  },
  {
    "id": "746e7afab8f321b5",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "19780ef67d75fab4",
    "name": "battery / xxx / percent",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "battery",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'sensor'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.battery",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1600,
    "y": 2340,
    "wires": [
      [
        "b2f041d50556adbe"
      ]
    ]
  },
  {
    "id": "8fb070b26cad8e8c",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "19780ef67d75fab4",
    "name": "motion / xxx / boolean",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "motion",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'sensor'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.occupancy",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1600,
    "y": 2280,
    "wires": [
      [
        "b2f041d50556adbe"
      ]
    ]
  },
  {
    "id": "3a92525692be8c0a",
    "type": "link in",
    "z": "0cd436e03cba5cb6",
    "g": "19780ef67d75fab4",
    "name": "zigbee - SNZB-03 - source",
    "links": [
      "24058eec92534b27"
    ],
    "x": 1095,
    "y": 2280,
    "wires": [
      [
        "40746311949be945"
      ]
    ]
  },
  {
    "id": "40746311949be945",
    "type": "switch",
    "z": "0cd436e03cba5cb6",
    "g": "19780ef67d75fab4",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "SNZB-03",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1230,
    "y": 2280,
    "wires": [
      [
        "eec5f8a1287b092c"
      ]
    ]
  },
  {
    "id": "b2f041d50556adbe",
    "type": "link out",
    "z": "0cd436e03cba5cb6",
    "g": "19780ef67d75fab4",
    "name": "zigbee - SNZB-03 - source",
    "mode": "link",
    "links": [
      "14a0a0839924964f"
    ],
    "x": 1795,
    "y": 2280,
    "wires": []
  },
  {
    "id": "eec5f8a1287b092c",
    "type": "switch",
    "z": "0cd436e03cba5cb6",
    "g": "19780ef67d75fab4",
    "name": "topic",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "prefix",
        "vt": "msg"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1390,
    "y": 2280,
    "wires": [
      [
        "8fb070b26cad8e8c",
        "746e7afab8f321b5"
      ]
    ]
  },
  {
    "id": "dcb1d3c98c1c8c60",
    "type": "switch",
    "z": "0cd436e03cba5cb6",
    "g": "95639b2299991877",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "SNZB-03",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 270,
    "y": 2280,
    "wires": [
      [
        "9bce06553cc1164f",
        "b4da65c019049b2e",
        "bc2f27d32087dd9a"
      ]
    ]
  },
  {
    "id": "9bce06553cc1164f",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "95639b2299991877",
    "name": "motion / sensor* / boolean / false",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "motion",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'sensor'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 2340,
    "wires": [
      [
        "dab0ca52a89d269d"
      ]
    ]
  },
  {
    "id": "b4da65c019049b2e",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "95639b2299991877",
    "name": "battery / sensor* / percent / 99",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "battery",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'sensor'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "percent",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "99",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 2400,
    "wires": [
      [
        "dab0ca52a89d269d"
      ]
    ]
  },
  {
    "id": "c0e646f0c8352181",
    "type": "link in",
    "z": "0cd436e03cba5cb6",
    "g": "95639b2299991877",
    "name": "zigbee - SNZB-03 - device",
    "links": [
      "546f190f3ec0c90d"
    ],
    "x": 135,
    "y": 2280,
    "wires": [
      [
        "dcb1d3c98c1c8c60"
      ]
    ]
  },
  {
    "id": "8480858c89a6eed5",
    "type": "link out",
    "z": "0cd436e03cba5cb6",
    "g": "95639b2299991877",
    "name": "zigbee - SNZB-03 - device",
    "mode": "link",
    "links": [
      "3e1b4213132404be"
    ],
    "x": 915,
    "y": 2280,
    "wires": []
  },
  {
    "id": "dab0ca52a89d269d",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "95639b2299991877",
    "name": "protocol",
    "rules": [
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "zigbee",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 780,
    "y": 2280,
    "wires": [
      [
        "8480858c89a6eed5"
      ]
    ]
  },
  {
    "id": "bc2f27d32087dd9a",
    "type": "change",
    "z": "0cd436e03cba5cb6",
    "g": "95639b2299991877",
    "name": "brand: sonoff / motion / sensor*",
    "rules": [
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "sonoff",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "motion",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'sensor'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 2280,
    "wires": [
      [
        "dab0ca52a89d269d"
      ]
    ]
  },
  {
    "id": "5cb5d81fb0a8ee1e",
    "type": "comment",
    "z": "0cd436e03cba5cb6",
    "g": "95639b2299991877",
    "name": "motion / sensor",
    "info": "",
    "x": 200,
    "y": 2340,
    "wires": []
  }
]