flows/P.Zwave.json
[
  {
    "id": "03220402a282530b",
    "type": "tab",
    "label": "P.Zwave",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "a80fd3f576f680d2",
    "type": "group",
    "z": "03220402a282530b",
    "name": "QUBINO - ZMNHSD",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "7df4891fb0f54c6a",
      "a92f07dc2780d8bc",
      "8903de87d27776de"
    ],
    "x": 68,
    "y": 413,
    "w": 2774,
    "h": 314
  },
  {
    "id": "10c9d50559ed7215",
    "type": "group",
    "z": "03220402a282530b",
    "name": "Fibaro - ZW100",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "68b5dafb14052979",
      "d621563355a4fe91"
    ],
    "x": 3328,
    "y": 413,
    "w": 1734,
    "h": 434
  },
  {
    "id": "380884ff4c222733",
    "type": "group",
    "z": "03220402a282530b",
    "name": "Fibaro - FGD212",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "2da7158c8343266e",
      "016aea5aee729a42",
      "c267a41dc3eea79e"
    ],
    "x": 3328,
    "y": 893,
    "w": 2454,
    "h": 314
  },
  {
    "id": "052f9d828fb52a35",
    "type": "group",
    "z": "03220402a282530b",
    "name": "Fibaro - FGMS001",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "be104700c7271732",
      "0a50b28d4026a61d"
    ],
    "x": 3328,
    "y": 1253,
    "w": 1734,
    "h": 374
  },
  {
    "id": "d4d6d96350b622f2",
    "type": "group",
    "z": "03220402a282530b",
    "name": "QUBINO - ZMNHAD, ZMNHDD",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "f6435fdfdf88d839",
      "c140123c0a2df7d3",
      "dbe90b9341f05711"
    ],
    "x": 68,
    "y": 773,
    "w": 3174,
    "h": 494
  },
  {
    "id": "64ae107fab0120ff",
    "type": "group",
    "z": "03220402a282530b",
    "name": "QUBINO - ZMNHJD, ZMNHUD",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "579d035d7902f85b",
      "a63f48bf2ad99007",
      "465fbb68bc8819d9"
    ],
    "x": 68,
    "y": 1313,
    "w": 2534,
    "h": 254
  },
  {
    "id": "db501caf0bb9ee92",
    "type": "group",
    "z": "03220402a282530b",
    "name": "QUBINO - ZMNHBD",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "e8ec9cb7ed810eb1",
      "913b1d1497543ac9",
      "ea83926edf12f8f9"
    ],
    "x": 68,
    "y": 1613,
    "w": 2674,
    "h": 314
  },
  {
    "id": "e8171983c5a482d5",
    "type": "group",
    "z": "03220402a282530b",
    "name": "QUBINO - ZMNHDA",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "04e46863c1e5b152",
      "9a2930d4a5225064",
      "782b3f453d398052"
    ],
    "x": 68,
    "y": 1973,
    "w": 2514,
    "h": 374
  },
  {
    "id": "3dfc4f4ef8899345",
    "type": "group",
    "z": "03220402a282530b",
    "name": "Fibaro - FGS223",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "04604742f88c50dc",
      "c0b002df0f286108",
      "9306ccb4b4f39b0f"
    ],
    "x": 3328,
    "y": 1673,
    "w": 2654,
    "h": 314
  },
  {
    "id": "5e146180b8f60933",
    "type": "group",
    "z": "03220402a282530b",
    "name": "Fibaro - FGR223",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "4a380e4e6f98695d",
      "7ba5b63508a29d7b",
      "5b6ef9828f2cbf8a"
    ],
    "x": 3328,
    "y": 2033,
    "w": 2674,
    "h": 314
  },
  {
    "id": "ad3ffab1b67d0abb",
    "type": "group",
    "z": "03220402a282530b",
    "name": "Fibaro - FGDW002",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "5550170f30d4e17c",
      "a20475bea97e7d94"
    ],
    "x": 3328,
    "y": 2393,
    "w": 1714,
    "h": 314
  },
  {
    "id": "6595b51ed6ecedbf",
    "type": "group",
    "z": "03220402a282530b",
    "name": "QUBINO - ZMNHCD",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "7da83da639a48fc6",
      "62705fcec5af5085",
      "7e93a24c134aa8e3"
    ],
    "x": 68,
    "y": 2393,
    "w": 2514,
    "h": 314
  },
  {
    "id": "52d62e3ff58d5f74",
    "type": "group",
    "z": "03220402a282530b",
    "name": "Fibaro - FGSD002",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "29237f8ee2660ed5",
      "0911ef2f51d2874d"
    ],
    "x": 3328,
    "y": 2753,
    "w": 1634,
    "h": 314
  },
  {
    "id": "7df4891fb0f54c6a",
    "type": "group",
    "z": "03220402a282530b",
    "g": "a80fd3f576f680d2",
    "name": "zwave - ZMNHSD - device",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "35e090f8c7faf406",
      "f067f99223702cbd",
      "6ecfab261b01f9c3",
      "8d39935a442a5f68",
      "33801fcadc63dce7",
      "f668ac218120f382",
      "9ac0d9e950466cdf",
      "b87c542ba9b27bb5",
      "61811e3af05e7627",
      "7fcb14cf0abcfdc7",
      "0a5cddbc797bd399",
      "ef4f8454f3ec4dbe",
      "c3ac6ed333078e5e",
      "8d0c275c95303653"
    ],
    "x": 94,
    "y": 439,
    "w": 1142,
    "h": 262
  },
  {
    "id": "a92f07dc2780d8bc",
    "type": "group",
    "z": "03220402a282530b",
    "g": "a80fd3f576f680d2",
    "name": "zwave - ZMNHSD - source",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "3b891fba4dfecf92",
      "357802005b57cd25",
      "7327ac2371d2c61e",
      "7f3849dc4dede295",
      "4175579ef516b417",
      "9c2e6f0785e3d15e"
    ],
    "x": 1334,
    "y": 439,
    "w": 662,
    "h": 142
  },
  {
    "id": "8903de87d27776de",
    "type": "group",
    "z": "03220402a282530b",
    "g": "a80fd3f576f680d2",
    "name": "zwave - ZMNHSD - metric",
    "style": {
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "a6e7cb7d734ff576",
      "45b3204fc96f986e",
      "6129043e9e44e401",
      "ddcfded754ff2589",
      "c72252e63ad47e9c"
    ],
    "x": 2094,
    "y": 439,
    "w": 722,
    "h": 82
  },
  {
    "id": "68b5dafb14052979",
    "type": "group",
    "z": "03220402a282530b",
    "g": "10c9d50559ed7215",
    "name": "zwave - ZW100 - source",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "df73a0138e5eb1a2",
      "678ee1ecfd2bd7b4",
      "8da01c4e7e02c944",
      "12a77bd93e3178cc",
      "cb4e39396408f83a",
      "e0704ac6164d8080",
      "b8a506ad585dedf8",
      "348b03cd790fc39d",
      "7eff7f2e1f0574d0"
    ],
    "x": 4334,
    "y": 439,
    "w": 702,
    "h": 322
  },
  {
    "id": "d621563355a4fe91",
    "type": "group",
    "z": "03220402a282530b",
    "g": "10c9d50559ed7215",
    "name": "zwave - ZW100 - device",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "fe8287ee6989a4af",
      "07aa53e3f9ed5c5e",
      "35473aebb652019e",
      "36b0b5383d7ea0d9",
      "9f1d0534b76da1e7",
      "1f98f11f070b0415",
      "230aac809f1b2cdf",
      "069ed6873270c4ef",
      "b49245576c4f4bc9",
      "372240222a775d4f",
      "59fe73b9b188de07"
    ],
    "x": 3354,
    "y": 439,
    "w": 882,
    "h": 382
  },
  {
    "id": "2da7158c8343266e",
    "type": "group",
    "z": "03220402a282530b",
    "g": "380884ff4c222733",
    "name": "zwave - FGD212 - device",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "dfec8109ff57764a",
      "ca4a8a1799332754",
      "66550e9de816eb03",
      "ea77f48c1d222cc2",
      "c0886037ccb4c42f",
      "ab023aa415991c4f",
      "3f6c850249b7b7a4",
      "445a5124b1d3b6ba",
      "f0f9f0281acad3c4"
    ],
    "x": 3354,
    "y": 919,
    "w": 822,
    "h": 262
  },
  {
    "id": "016aea5aee729a42",
    "type": "group",
    "z": "03220402a282530b",
    "g": "380884ff4c222733",
    "name": "zwave - FGD212 - source",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "f3c1fc23bc17ce5a",
      "01d014a468d55ce0",
      "d6f83986f164d9d1",
      "2ab7993499d31bbd",
      "b2ead3db76c4ae15",
      "43cbbc293f2e38d6"
    ],
    "x": 4274,
    "y": 919,
    "w": 662,
    "h": 142
  },
  {
    "id": "c267a41dc3eea79e",
    "type": "group",
    "z": "03220402a282530b",
    "g": "380884ff4c222733",
    "name": "zwave - FGD212 - metric",
    "style": {
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "d1420178d53a10af",
      "d381cd4b08e2f495",
      "4949856273c96f31",
      "ffb38b5da98a825a",
      "6df92a3791727361"
    ],
    "x": 5034,
    "y": 919,
    "w": 722,
    "h": 82
  },
  {
    "id": "be104700c7271732",
    "type": "group",
    "z": "03220402a282530b",
    "g": "052f9d828fb52a35",
    "name": "zwave - FGMS001 - device",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "61aa3b52edd2cf60",
      "97c80fb2c749b970",
      "da86ee3c4a435b50",
      "24371de5255c7936",
      "c288ba888d38a74d",
      "e8d75052d713d6b0",
      "ed3c5c95136138e9",
      "0ecd4f80d94c7372",
      "cfae06c36dd8db78",
      "3eade78d0878580f"
    ],
    "x": 3354,
    "y": 1279,
    "w": 882,
    "h": 322
  },
  {
    "id": "0a50b28d4026a61d",
    "type": "group",
    "z": "03220402a282530b",
    "g": "052f9d828fb52a35",
    "name": "zwave - FGMS001 - source",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "03f6a62f4708e206",
      "97d3eebe58bb5985",
      "a09a4a753b9fc72d",
      "e5cbab5e28c8de7b",
      "b618882d7f713f12",
      "9983a70a0578c4f9",
      "a1919db957b380fa",
      "8ab95bcfe737b310"
    ],
    "x": 4334,
    "y": 1279,
    "w": 702,
    "h": 262
  },
  {
    "id": "f6435fdfdf88d839",
    "type": "group",
    "z": "03220402a282530b",
    "g": "d4d6d96350b622f2",
    "name": "zwave - ZMNHAD, ZMNHDD - metric",
    "style": {
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "40e5f9f0e69cbf0c",
      "c1256035b49c2bb1",
      "7f1a014f3a67626b",
      "70caec029fe23f10",
      "787259a3f73535a8",
      "c7da2bc733b697cb"
    ],
    "x": 2334,
    "y": 799,
    "w": 882,
    "h": 82
  },
  {
    "id": "c140123c0a2df7d3",
    "type": "group",
    "z": "03220402a282530b",
    "g": "d4d6d96350b622f2",
    "name": "zwave - ZMNHAD, ZMNHDD - source",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "68c3860c9fae5517",
      "758a3d5a8018121f",
      "f5939fa235e4cf9d",
      "b206a6826946f259",
      "9bdd13282dd84b6c",
      "4582084ea33f3138",
      "3104f63ffa2f71d1",
      "8ad2befe24b148fa",
      "266813c772c7eb42",
      "facec84c0d632bcb",
      "299b1f31bde3e4d4",
      "cc33383330ef7115"
    ],
    "x": 1214,
    "y": 799,
    "w": 1022,
    "h": 262
  },
  {
    "id": "dbe90b9341f05711",
    "type": "group",
    "z": "03220402a282530b",
    "g": "d4d6d96350b622f2",
    "name": "zwave - ZMNHAD, ZMNHDD - device",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "04cb6aaa8eea0664",
      "d846c551ea80153d",
      "2b40c2df7323e8af",
      "adbb1e631cfad35c",
      "b329ce160f5f733a",
      "a49224cb278e6662",
      "c6eb92860bb829f8",
      "d0fc50917dc16651",
      "1347f6afde2719d6",
      "1c7f22c9875595ea",
      "501e6d96a73a9088",
      "b47fbc4a28ea339b"
    ],
    "x": 94,
    "y": 799,
    "w": 1022,
    "h": 442
  },
  {
    "id": "579d035d7902f85b",
    "type": "group",
    "z": "03220402a282530b",
    "g": "64ae107fab0120ff",
    "name": "zwave - ZMNHJD, ZMNHUD - metric",
    "style": {
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "8affc5ca98fa4897",
      "2818a7a29e3d6043",
      "6d9584c64548ce93",
      "ca7f3971c86b027d",
      "04c8ea40e1416dd8"
    ],
    "x": 1854,
    "y": 1339,
    "w": 722,
    "h": 82
  },
  {
    "id": "a63f48bf2ad99007",
    "type": "group",
    "z": "03220402a282530b",
    "g": "64ae107fab0120ff",
    "name": "zwave - ZMNHJD, ZMNHUD - source",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "91ef50a86cf538aa",
      "9565abec6d5582d4",
      "c1f7db9cb66dc783",
      "6a91ccda006a7b1e",
      "a14747cc11f09dca"
    ],
    "x": 1054,
    "y": 1339,
    "w": 702,
    "h": 82
  },
  {
    "id": "465fbb68bc8819d9",
    "type": "group",
    "z": "03220402a282530b",
    "g": "64ae107fab0120ff",
    "name": "zwave - ZMNHJD, ZMNHUD - device",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "46aaf1264fcb5bf8",
      "54eb8ae585b6cd20",
      "d817a6ca738c2860",
      "f023a02d1b870d05",
      "91619bc892c2f367",
      "6ef165716dcf6229",
      "bf6076f2668efe23",
      "137c61fc6cd3b296"
    ],
    "x": 94,
    "y": 1339,
    "w": 862,
    "h": 202
  },
  {
    "id": "e8ec9cb7ed810eb1",
    "type": "group",
    "z": "03220402a282530b",
    "g": "db501caf0bb9ee92",
    "name": "zwave - ZMNHBD - device",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "1bc0dec0b9dddbe2",
      "78e8c4b7b4f9e582",
      "b7b3c2c518c1c818",
      "7157ad0d44c06b58",
      "7fa52a5adb54be1a",
      "d3f8302e1b74a106",
      "85ee94aae40a4436",
      "70520299b0fb1e7e",
      "3320ef3f3756aa11",
      "d203f9e048583564",
      "cc33862cc2bcb9d1"
    ],
    "x": 94,
    "y": 1639,
    "w": 1022,
    "h": 262
  },
  {
    "id": "913b1d1497543ac9",
    "type": "group",
    "z": "03220402a282530b",
    "g": "db501caf0bb9ee92",
    "name": "zwave - ZMNHSD - source",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "888060d0043ce808",
      "91a4c95f63913e23",
      "c54c02a1bb45d163",
      "bd77a65fc80868ea",
      "02c82f93fc78e071",
      "a5e2d099050bf1a9"
    ],
    "x": 1214,
    "y": 1639,
    "w": 682,
    "h": 142
  },
  {
    "id": "ea83926edf12f8f9",
    "type": "group",
    "z": "03220402a282530b",
    "g": "db501caf0bb9ee92",
    "name": "zwave - ZMNHBD - metric",
    "style": {
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "18181d0455cede05",
      "26c8f66f641451ac",
      "b851d81e54e34734",
      "ca7bb35596db70a1",
      "4330bd30b21a41d3"
    ],
    "x": 1994,
    "y": 1639,
    "w": 722,
    "h": 82
  },
  {
    "id": "04e46863c1e5b152",
    "type": "group",
    "z": "03220402a282530b",
    "g": "e8171983c5a482d5",
    "name": "zwave - ZMNHDA - device",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "54959d8ebb7a6a94",
      "daf5f2bb0df1a76a",
      "748946dc040568fd",
      "439c47602f7560b5",
      "961e963c5556fcc6",
      "a39e9118de882577",
      "e8191cdd969d017a",
      "b9b3c6ff10434440",
      "8381482825528158",
      "4a2c2e932c76f64d",
      "633a1e4957cf12d5",
      "2cf054260d385cc3"
    ],
    "x": 94,
    "y": 1999,
    "w": 842,
    "h": 322
  },
  {
    "id": "9a2930d4a5225064",
    "type": "group",
    "z": "03220402a282530b",
    "g": "e8171983c5a482d5",
    "name": "zwave - ZMNHDA - source",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "c9778546fb264453",
      "de8002c9432cac28",
      "f0366fead862ee6e",
      "9b579ed6e0d51eb9",
      "c857889090f3e22b",
      "18c9f623b0f8f8ba",
      "7e81f275faa02d6b"
    ],
    "x": 1034,
    "y": 1999,
    "w": 702,
    "h": 202
  },
  {
    "id": "782b3f453d398052",
    "type": "group",
    "z": "03220402a282530b",
    "g": "e8171983c5a482d5",
    "name": "zwave - ZMNHDA - metric",
    "style": {
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "a0e054509672e997",
      "07cfbb3cf7a1c47a",
      "9141d766151544f5",
      "df19118b2c5130ce",
      "52c2592695ee91c5"
    ],
    "x": 1834,
    "y": 1999,
    "w": 722,
    "h": 82
  },
  {
    "id": "04604742f88c50dc",
    "type": "group",
    "z": "03220402a282530b",
    "g": "3dfc4f4ef8899345",
    "name": "zwave - FGS223 - device",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "8f14ef8b0dec90ca",
      "8b671de83e82e3c7",
      "9ffbd2a425d3da08",
      "2dd3539dc0c9fedf",
      "f6760519bfacb95c",
      "3b8f7825e86ca38f",
      "d5ee121954c3165a",
      "c76838030c694a7c",
      "595a0330e482cd83",
      "716d0d31801c55a2",
      "0c7538718c2f2176"
    ],
    "x": 3354,
    "y": 1699,
    "w": 1022,
    "h": 262
  },
  {
    "id": "c0b002df0f286108",
    "type": "group",
    "z": "03220402a282530b",
    "g": "3dfc4f4ef8899345",
    "name": "zwave - FGS223 - source",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "da52d77e97c46855",
      "6614feac3aab5d48",
      "0c68f6b037bb2c3f",
      "94c509df2eefb756",
      "4eec716927c54696",
      "f5c2ab1d8a9d4f05"
    ],
    "x": 4474,
    "y": 1699,
    "w": 662,
    "h": 142
  },
  {
    "id": "9306ccb4b4f39b0f",
    "type": "group",
    "z": "03220402a282530b",
    "g": "3dfc4f4ef8899345",
    "name": "zwave - FGS223 - metric",
    "style": {
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "b4ab5729d8b915e3",
      "b776ddbdb4b51028",
      "a0599f25333072be",
      "edfa688e83ba01ec",
      "5e7190592d427d58"
    ],
    "x": 5234,
    "y": 1699,
    "w": 722,
    "h": 82
  },
  {
    "id": "4a380e4e6f98695d",
    "type": "group",
    "z": "03220402a282530b",
    "g": "5e146180b8f60933",
    "name": "zwave - FGR223 - device",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "17d862b7c87a0c81",
      "395101accdb746b0",
      "49c51b54dbc8de4b",
      "115d9ecf61c636e1",
      "313791fb98411c32",
      "6b94df736e3aae95",
      "995fad47e619c553",
      "ca10c66c7eb38d3a",
      "de6adbd1a6a76e71"
    ],
    "x": 3354,
    "y": 2059,
    "w": 862,
    "h": 262
  },
  {
    "id": "7ba5b63508a29d7b",
    "type": "group",
    "z": "03220402a282530b",
    "g": "5e146180b8f60933",
    "name": "zwave - FGR223 - source",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "587efc609fd34f60",
      "d0b465b95bb896ba",
      "a12c8ea8c9ebce6e",
      "465fd39cc57093ae",
      "57c40fb9509f24f8",
      "235c64c84c410ada"
    ],
    "x": 4314,
    "y": 2059,
    "w": 682,
    "h": 142
  },
  {
    "id": "5b6ef9828f2cbf8a",
    "type": "group",
    "z": "03220402a282530b",
    "g": "5e146180b8f60933",
    "name": "zwave - FGR223 - metric",
    "style": {
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "4eeff21a82a74216",
      "cd0939042b525b67",
      "a405297eaa582a12",
      "27df9eeb4c4be0d9",
      "4dfeb1671f086cf5",
      "60e5aff00573dfee"
    ],
    "x": 5094,
    "y": 2059,
    "w": 882,
    "h": 82
  },
  {
    "id": "5550170f30d4e17c",
    "type": "group",
    "z": "03220402a282530b",
    "g": "ad3ffab1b67d0abb",
    "name": "zwave - FGDW002 - source",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "4934e4e9bbbcf276",
      "bd61789259c6755d",
      "ab198f30438066cf",
      "6167d3ab75e9020c",
      "63ccb5cc65d41db0",
      "b690e7b1952e6dbd",
      "4a66fcf836959d2c"
    ],
    "x": 4314,
    "y": 2419,
    "w": 702,
    "h": 202
  },
  {
    "id": "a20475bea97e7d94",
    "type": "group",
    "z": "03220402a282530b",
    "g": "ad3ffab1b67d0abb",
    "name": "zwave - FGDW002 - device",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "17477da0ab771aec",
      "5184a5c010f3a471",
      "a9fa8c0a0f9cc6c5",
      "8a0b4fb72d78f2f6",
      "595aaa04ece20f2b",
      "72e91a01a0069d6d",
      "dcad275631537041",
      "e43044b50e8b545e",
      "8200e47f3ac4a54c"
    ],
    "x": 3354,
    "y": 2419,
    "w": 862,
    "h": 262
  },
  {
    "id": "7da83da639a48fc6",
    "type": "group",
    "z": "03220402a282530b",
    "g": "6595b51ed6ecedbf",
    "name": "zwave - ZMNHCD - device",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "bb470048978f0a5f",
      "b89d73b977e671ac",
      "5e96b8f5b93353a1",
      "388c30abbe7958c4",
      "f2e1359ef2aba23d",
      "5f1b59b7430d9182",
      "bb978f84aed3c56e",
      "3d511a9b258bcb98",
      "5b532049057ce244"
    ],
    "x": 94,
    "y": 2419,
    "w": 862,
    "h": 262
  },
  {
    "id": "62705fcec5af5085",
    "type": "group",
    "z": "03220402a282530b",
    "g": "6595b51ed6ecedbf",
    "name": "zwave - ZMNHCD - source",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "40ab635d1b1ec345",
      "6dbebb8a91c9165b",
      "9c89f8ad918445b3",
      "13a43ea0c63dc053",
      "3dc23c43051c7f58",
      "6ec6e8722ecb1ea8"
    ],
    "x": 1054,
    "y": 2419,
    "w": 682,
    "h": 142
  },
  {
    "id": "7e93a24c134aa8e3",
    "type": "group",
    "z": "03220402a282530b",
    "g": "6595b51ed6ecedbf",
    "name": "zwave - ZMNHCD - metric",
    "style": {
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "8707ef443b2b75e6",
      "366f7377fd513760",
      "8e7510f792d7e993",
      "c779c6dbb176753a",
      "352a3a95ae907bb2"
    ],
    "x": 1834,
    "y": 2419,
    "w": 722,
    "h": 82
  },
  {
    "id": "29237f8ee2660ed5",
    "type": "group",
    "z": "03220402a282530b",
    "g": "52d62e3ff58d5f74",
    "name": "zwave - FGSD002 - source",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "5cdbb02a7e351e0f",
      "33f69aa26f1e209a",
      "db79ea3229eaecba",
      "e1728c824c18c918",
      "2095d2a63909780c",
      "46c8e45a70c3cba8",
      "5d76905ae805599d",
      "743adc10689eacac"
    ],
    "x": 4274,
    "y": 2779,
    "w": 662,
    "h": 262
  },
  {
    "id": "0911ef2f51d2874d",
    "type": "group",
    "z": "03220402a282530b",
    "g": "52d62e3ff58d5f74",
    "name": "zwave - FGSD002 - device",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "1d68f0724b54ae79",
      "4d69e994afd7044f",
      "b9b9b74030d6b940",
      "c50944ca0208faa9",
      "59a05142f5ec6a47",
      "d3bb44844809bc3a",
      "cbbeb017488b22b2",
      "6824a9460e4d8c9f",
      "cde37a984b02d94f"
    ],
    "x": 3354,
    "y": 2779,
    "w": 822,
    "h": 262
  },
  {
    "id": "835c4830d89d6f6a",
    "type": "group",
    "z": "03220402a282530b",
    "name": "catch error",
    "style": {
      "fill": "#ff0000",
      "fill-opacity": "0.05",
      "label": true,
      "stroke": "#ff0000"
    },
    "nodes": [
      "27d5cfe560a97c94",
      "0bd4017b28560194",
      "1ee8ceb3125ebd76"
    ],
    "x": 534,
    "y": 19,
    "w": 422,
    "h": 82
  },
  {
    "id": "a3c29b70c82234cc",
    "type": "group",
    "z": "03220402a282530b",
    "name": "mqtt server for zwave",
    "style": {
      "fill": "#ffffff",
      "fill-opacity": "0.5",
      "label": true,
      "stroke": "#0070c0"
    },
    "nodes": [
      "1e687cd4c0cc0ece",
      "b5e2408a7d09537d"
    ],
    "x": 68,
    "y": 173,
    "w": 1744,
    "h": 194
  },
  {
    "id": "1e687cd4c0cc0ece",
    "type": "group",
    "z": "03220402a282530b",
    "g": "a3c29b70c82234cc",
    "name": "",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "3eb59215b6fb19e2",
      "ebdbee7baef678a6",
      "3738b065c50a0cac",
      "1d8f71c67df6cec9",
      "341bc94dee8e9f96",
      "247945a0f503ac90"
    ],
    "x": 94,
    "y": 199,
    "w": 1162,
    "h": 142
  },
  {
    "id": "b5e2408a7d09537d",
    "type": "group",
    "z": "03220402a282530b",
    "g": "a3c29b70c82234cc",
    "name": "",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "92d0d0a5798c06cf",
      "62dd3e8d6c87a0f9",
      "82908fcfdf7f599a",
      "a6b8c9c223ea5942"
    ],
    "x": 1294,
    "y": 199,
    "w": 492,
    "h": 142
  },
  {
    "id": "a2ec354825243259",
    "type": "group",
    "z": "03220402a282530b",
    "name": "zwave - bucket",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true,
      "stroke": "#ffC000"
    },
    "nodes": [
      "af1f37a02c4c1955",
      "d129c40c48c09bac",
      "3226e1c699eaca3d"
    ],
    "x": 94,
    "y": 19,
    "w": 342,
    "h": 82
  },
  {
    "id": "35e090f8c7faf406",
    "type": "change",
    "z": "03220402a282530b",
    "g": "7df4891fb0f54c6a",
    "name": "cible / relay* / ...",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "cible",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'relay'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 460,
    "y": 600,
    "wires": [
      [
        "ef4f8454f3ec4dbe"
      ]
    ]
  },
  {
    "id": "f067f99223702cbd",
    "type": "change",
    "z": "03220402a282530b",
    "g": "7df4891fb0f54c6a",
    "name": "light* / relay* / ...",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "msg.measurement?msg.measurement:'light'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'relay'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 460,
    "y": 660,
    "wires": [
      [
        "ef4f8454f3ec4dbe"
      ]
    ]
  },
  {
    "id": "6ecfab261b01f9c3",
    "type": "change",
    "z": "03220402a282530b",
    "g": "7df4891fb0f54c6a",
    "name": "power / relay* / number / 0",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "power",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'relay'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 540,
    "wires": [
      [
        "9ac0d9e950466cdf"
      ]
    ]
  },
  {
    "id": "8d39935a442a5f68",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "7df4891fb0f54c6a",
    "name": "zwave - ZMNHSD - device",
    "links": [
      "546f190f3ec0c90d"
    ],
    "x": 135,
    "y": 480,
    "wires": [
      [
        "33801fcadc63dce7"
      ]
    ]
  },
  {
    "id": "33801fcadc63dce7",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "7df4891fb0f54c6a",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ZMNHSD",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 270,
    "y": 480,
    "wires": [
      [
        "f668ac218120f382",
        "35e090f8c7faf406",
        "f067f99223702cbd",
        "6ecfab261b01f9c3"
      ]
    ]
  },
  {
    "id": "f668ac218120f382",
    "type": "change",
    "z": "03220402a282530b",
    "g": "7df4891fb0f54c6a",
    "name": "brand: qubino / light* / relay*",
    "rules": [
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "qubino",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "msg.measurement?msg.measurement:'light'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'relay'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 480,
    "wires": [
      [
        "9ac0d9e950466cdf"
      ]
    ]
  },
  {
    "id": "9ac0d9e950466cdf",
    "type": "change",
    "z": "03220402a282530b",
    "g": "7df4891fb0f54c6a",
    "name": "protocol",
    "rules": [
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "zwave",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1060,
    "y": 480,
    "wires": [
      [
        "b87c542ba9b27bb5"
      ]
    ]
  },
  {
    "id": "b87c542ba9b27bb5",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "7df4891fb0f54c6a",
    "name": "zwave - ZMNHSD - device",
    "mode": "link",
    "links": [
      "3e1b4213132404be"
    ],
    "x": 1195,
    "y": 480,
    "wires": []
  },
  {
    "id": "61811e3af05e7627",
    "type": "comment",
    "z": "03220402a282530b",
    "g": "7df4891fb0f54c6a",
    "name": "light / relay",
    "info": "",
    "x": 180,
    "y": 540,
    "wires": []
  },
  {
    "id": "7fcb14cf0abcfdc7",
    "type": "comment",
    "z": "03220402a282530b",
    "g": "7df4891fb0f54c6a",
    "name": "option 1 : boolean",
    "info": "",
    "x": 210,
    "y": 600,
    "wires": []
  },
  {
    "id": "0a5cddbc797bd399",
    "type": "comment",
    "z": "03220402a282530b",
    "g": "7df4891fb0f54c6a",
    "name": "option 2 : dimmer",
    "info": "",
    "x": 200,
    "y": 660,
    "wires": []
  },
  {
    "id": "ef4f8454f3ec4dbe",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "7df4891fb0f54c6a",
    "name": "option",
    "property": "option",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "2",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 650,
    "y": 600,
    "wires": [
      [
        "c3ac6ed333078e5e"
      ],
      [
        "8d0c275c95303653"
      ]
    ]
  },
  {
    "id": "c3ac6ed333078e5e",
    "type": "change",
    "z": "03220402a282530b",
    "g": "7df4891fb0f54c6a",
    "name": "... / boolean / false*",
    "rules": [
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "msg.default?msg.default:false",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 850,
    "y": 600,
    "wires": [
      [
        "9ac0d9e950466cdf"
      ]
    ]
  },
  {
    "id": "8d0c275c95303653",
    "type": "change",
    "z": "03220402a282530b",
    "g": "7df4891fb0f54c6a",
    "name": "... / dimmer / 0*",
    "rules": [
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "dimmer",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "msg.default?msg.default:0",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 840,
    "y": 660,
    "wires": [
      [
        "9ac0d9e950466cdf"
      ]
    ]
  },
  {
    "id": "3b891fba4dfecf92",
    "type": "change",
    "z": "03220402a282530b",
    "g": "a92f07dc2780d8bc",
    "name": "light",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "msg.measurement?msg.measurement:'light'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'relay'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1830,
    "y": 480,
    "wires": [
      [
        "9c2e6f0785e3d15e"
      ]
    ]
  },
  {
    "id": "357802005b57cd25",
    "type": "change",
    "z": "03220402a282530b",
    "g": "a92f07dc2780d8bc",
    "name": "power",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "power",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'relay'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1830,
    "y": 540,
    "wires": [
      [
        "9c2e6f0785e3d15e"
      ]
    ]
  },
  {
    "id": "7327ac2371d2c61e",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "a92f07dc2780d8bc",
    "name": "zwave - ZMNHSD - source",
    "links": [
      "24058eec92534b27"
    ],
    "x": 1375,
    "y": 480,
    "wires": [
      [
        "7f3849dc4dede295"
      ]
    ]
  },
  {
    "id": "7f3849dc4dede295",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "a92f07dc2780d8bc",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ZMNHSD",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1510,
    "y": 480,
    "wires": [
      [
        "4175579ef516b417"
      ]
    ]
  },
  {
    "id": "4175579ef516b417",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "a92f07dc2780d8bc",
    "name": "topic",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "msg.prefix&'/'&(msg.option=1?37:38)&'/0/currentValue'",
        "vt": "jsonata"
      },
      {
        "t": "eq",
        "v": "msg.prefix&'/50/0/value/66049'",
        "vt": "jsonata"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 1670,
    "y": 480,
    "wires": [
      [
        "3b891fba4dfecf92"
      ],
      [
        "357802005b57cd25"
      ]
    ]
  },
  {
    "id": "9c2e6f0785e3d15e",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "a92f07dc2780d8bc",
    "name": "zwave - ZMNHSD - source",
    "mode": "link",
    "links": [
      "14a0a0839924964f"
    ],
    "x": 1955,
    "y": 480,
    "wires": []
  },
  {
    "id": "a6e7cb7d734ff576",
    "type": "change",
    "z": "03220402a282530b",
    "g": "8903de87d27776de",
    "name": "topic",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "(msg.option=1?37:38)&'/0/targetValue/set'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2650,
    "y": 480,
    "wires": [
      [
        "6129043e9e44e401"
      ]
    ]
  },
  {
    "id": "45b3204fc96f986e",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "8903de87d27776de",
    "name": "zwave - ZMNHSD - metric",
    "links": [
      "637b84024e725f38"
    ],
    "x": 2135,
    "y": 480,
    "wires": [
      [
        "ddcfded754ff2589"
      ]
    ]
  },
  {
    "id": "6129043e9e44e401",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "8903de87d27776de",
    "name": "zwave - ZMNHSD - metric",
    "mode": "link",
    "links": [
      "e93e8daa30075ae6"
    ],
    "x": 2775,
    "y": 480,
    "wires": []
  },
  {
    "id": "ddcfded754ff2589",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "8903de87d27776de",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ZMNHSD",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 2270,
    "y": 480,
    "wires": [
      [
        "c72252e63ad47e9c"
      ]
    ]
  },
  {
    "id": "c72252e63ad47e9c",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "8903de87d27776de",
    "name": "measurement",
    "property": "measurement",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "cible",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2460,
    "y": 480,
    "wires": [
      [
        "a6e7cb7d734ff576"
      ]
    ]
  },
  {
    "id": "df73a0138e5eb1a2",
    "type": "change",
    "z": "03220402a282530b",
    "g": "68b5dafb14052979",
    "name": "humidite",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "humidity",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "detector",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4840,
    "y": 660,
    "wires": [
      [
        "7eff7f2e1f0574d0"
      ]
    ]
  },
  {
    "id": "678ee1ecfd2bd7b4",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "68b5dafb14052979",
    "name": "topic",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "msg.prefix&'/32/0/currentValue'",
        "vt": "jsonata"
      },
      {
        "t": "eq",
        "v": "msg.prefix&'/49/0/Air_temperature'",
        "vt": "jsonata"
      },
      {
        "t": "eq",
        "v": "msg.prefix&'/49/0/Illuminance'",
        "vt": "jsonata"
      },
      {
        "t": "eq",
        "v": "msg.prefix&'/49/0/Humidity'",
        "vt": "jsonata"
      },
      {
        "t": "eq",
        "v": "msg.prefix&'/128/0/level'",
        "vt": "jsonata"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 5,
    "x": 4670,
    "y": 540,
    "wires": [
      [
        "8da01c4e7e02c944"
      ],
      [
        "12a77bd93e3178cc"
      ],
      [
        "cb4e39396408f83a"
      ],
      [
        "df73a0138e5eb1a2"
      ],
      [
        "e0704ac6164d8080"
      ]
    ]
  },
  {
    "id": "8da01c4e7e02c944",
    "type": "change",
    "z": "03220402a282530b",
    "g": "68b5dafb14052979",
    "name": "motion",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "motion",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "detector",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$boolean($number(msg.payload))",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4830,
    "y": 480,
    "wires": [
      [
        "7eff7f2e1f0574d0"
      ]
    ]
  },
  {
    "id": "12a77bd93e3178cc",
    "type": "change",
    "z": "03220402a282530b",
    "g": "68b5dafb14052979",
    "name": "temperature",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "temperature",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "detector",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4850,
    "y": 540,
    "wires": [
      [
        "7eff7f2e1f0574d0"
      ]
    ]
  },
  {
    "id": "cb4e39396408f83a",
    "type": "change",
    "z": "03220402a282530b",
    "g": "68b5dafb14052979",
    "name": "luminosity",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "luminosity",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "detector",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4840,
    "y": 600,
    "wires": [
      [
        "7eff7f2e1f0574d0"
      ]
    ]
  },
  {
    "id": "e0704ac6164d8080",
    "type": "change",
    "z": "03220402a282530b",
    "g": "68b5dafb14052979",
    "name": "battery",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "battery",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "detector",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4830,
    "y": 720,
    "wires": [
      [
        "7eff7f2e1f0574d0"
      ]
    ]
  },
  {
    "id": "b8a506ad585dedf8",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "68b5dafb14052979",
    "name": "zwave - ZW100 - source",
    "links": [
      "24058eec92534b27"
    ],
    "x": 4375,
    "y": 540,
    "wires": [
      [
        "348b03cd790fc39d"
      ]
    ]
  },
  {
    "id": "348b03cd790fc39d",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "68b5dafb14052979",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ZW100",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 4510,
    "y": 540,
    "wires": [
      [
        "678ee1ecfd2bd7b4"
      ]
    ]
  },
  {
    "id": "7eff7f2e1f0574d0",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "68b5dafb14052979",
    "name": "zwave - ZW100 - source",
    "mode": "link",
    "links": [
      "14a0a0839924964f"
    ],
    "x": 4995,
    "y": 540,
    "wires": []
  },
  {
    "id": "fe8287ee6989a4af",
    "type": "change",
    "z": "03220402a282530b",
    "g": "d621563355a4fe91",
    "name": "luminosity / detector / number / 0",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "luminosity",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "detector",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3770,
    "y": 540,
    "wires": [
      [
        "b49245576c4f4bc9"
      ]
    ]
  },
  {
    "id": "07aa53e3f9ed5c5e",
    "type": "change",
    "z": "03220402a282530b",
    "g": "d621563355a4fe91",
    "name": "temperature / detector / number / 20",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "temperature",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "detector",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "20",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3790,
    "y": 600,
    "wires": [
      [
        "b49245576c4f4bc9"
      ]
    ]
  },
  {
    "id": "35473aebb652019e",
    "type": "change",
    "z": "03220402a282530b",
    "g": "d621563355a4fe91",
    "name": "humidity / detector / number / 50",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "humidity",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "detector",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "50",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3770,
    "y": 660,
    "wires": [
      [
        "b49245576c4f4bc9"
      ]
    ]
  },
  {
    "id": "36b0b5383d7ea0d9",
    "type": "change",
    "z": "03220402a282530b",
    "g": "d621563355a4fe91",
    "name": "motion / detector / boolean / false",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "motion",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "detector",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3780,
    "y": 720,
    "wires": [
      [
        "b49245576c4f4bc9"
      ]
    ]
  },
  {
    "id": "9f1d0534b76da1e7",
    "type": "change",
    "z": "03220402a282530b",
    "g": "d621563355a4fe91",
    "name": "battery / detector / percent / 99",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "battery",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "detector",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "percent",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "99",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3770,
    "y": 780,
    "wires": [
      [
        "b49245576c4f4bc9"
      ]
    ]
  },
  {
    "id": "1f98f11f070b0415",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "d621563355a4fe91",
    "name": "zwave - ZW100 - device",
    "links": [
      "546f190f3ec0c90d"
    ],
    "x": 3395,
    "y": 480,
    "wires": [
      [
        "230aac809f1b2cdf"
      ]
    ]
  },
  {
    "id": "230aac809f1b2cdf",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "d621563355a4fe91",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ZW100",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 3530,
    "y": 480,
    "wires": [
      [
        "069ed6873270c4ef",
        "fe8287ee6989a4af",
        "07aa53e3f9ed5c5e",
        "35473aebb652019e",
        "36b0b5383d7ea0d9",
        "9f1d0534b76da1e7"
      ]
    ]
  },
  {
    "id": "069ed6873270c4ef",
    "type": "change",
    "z": "03220402a282530b",
    "g": "d621563355a4fe91",
    "name": "brand: fibaro / motion / detector",
    "rules": [
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "fibaro",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "motion",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "detector",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3770,
    "y": 480,
    "wires": [
      [
        "b49245576c4f4bc9"
      ]
    ]
  },
  {
    "id": "b49245576c4f4bc9",
    "type": "change",
    "z": "03220402a282530b",
    "g": "d621563355a4fe91",
    "name": "protocol",
    "rules": [
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "zwave",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4060,
    "y": 480,
    "wires": [
      [
        "372240222a775d4f"
      ]
    ]
  },
  {
    "id": "372240222a775d4f",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "d621563355a4fe91",
    "name": "zwave - ZW100 - device",
    "mode": "link",
    "links": [
      "3e1b4213132404be"
    ],
    "x": 4195,
    "y": 480,
    "wires": []
  },
  {
    "id": "59fe73b9b188de07",
    "type": "comment",
    "z": "03220402a282530b",
    "g": "d621563355a4fe91",
    "name": "motion / detector",
    "info": "",
    "x": 3460,
    "y": 540,
    "wires": []
  },
  {
    "id": "dfec8109ff57764a",
    "type": "change",
    "z": "03220402a282530b",
    "g": "2da7158c8343266e",
    "name": "cible / ceiling* / dimmer / 0*",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "cible",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'ceiling'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "dimmer",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "msg.default?msg.default:0",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3760,
    "y": 1020,
    "wires": [
      [
        "445a5124b1d3b6ba"
      ]
    ]
  },
  {
    "id": "ca4a8a1799332754",
    "type": "change",
    "z": "03220402a282530b",
    "g": "2da7158c8343266e",
    "name": "light* / ceiling* / dimmer / 0*",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "msg.measurement?msg.measurement:'light'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'ceiling'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "dimmer",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "msg.default?msg.default:0",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3760,
    "y": 1080,
    "wires": [
      [
        "445a5124b1d3b6ba"
      ]
    ]
  },
  {
    "id": "66550e9de816eb03",
    "type": "change",
    "z": "03220402a282530b",
    "g": "2da7158c8343266e",
    "name": "power / ceiling* / number / 0",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "power",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'ceiling'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3760,
    "y": 1140,
    "wires": [
      [
        "445a5124b1d3b6ba"
      ]
    ]
  },
  {
    "id": "ea77f48c1d222cc2",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "2da7158c8343266e",
    "name": "zwave - FGD212 - device",
    "links": [
      "546f190f3ec0c90d"
    ],
    "x": 3395,
    "y": 960,
    "wires": [
      [
        "c0886037ccb4c42f"
      ]
    ]
  },
  {
    "id": "c0886037ccb4c42f",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "2da7158c8343266e",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "FGD212",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 3530,
    "y": 960,
    "wires": [
      [
        "dfec8109ff57764a",
        "ca4a8a1799332754",
        "66550e9de816eb03",
        "3f6c850249b7b7a4"
      ]
    ]
  },
  {
    "id": "ab023aa415991c4f",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "2da7158c8343266e",
    "name": "zwave - FGD212 - device",
    "mode": "link",
    "links": [
      "3e1b4213132404be"
    ],
    "x": 4135,
    "y": 960,
    "wires": []
  },
  {
    "id": "3f6c850249b7b7a4",
    "type": "change",
    "z": "03220402a282530b",
    "g": "2da7158c8343266e",
    "name": "brand: fibaro / light* / ceiling*",
    "rules": [
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "fibaro",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "msg.measurement?msg.measurement:'light'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'ceiling'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3760,
    "y": 960,
    "wires": [
      [
        "445a5124b1d3b6ba"
      ]
    ]
  },
  {
    "id": "445a5124b1d3b6ba",
    "type": "change",
    "z": "03220402a282530b",
    "g": "2da7158c8343266e",
    "name": "protocol",
    "rules": [
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "zwave",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4000,
    "y": 960,
    "wires": [
      [
        "ab023aa415991c4f"
      ]
    ]
  },
  {
    "id": "f0f9f0281acad3c4",
    "type": "comment",
    "z": "03220402a282530b",
    "g": "2da7158c8343266e",
    "name": "light / ceiling",
    "info": "",
    "x": 3450,
    "y": 1020,
    "wires": []
  },
  {
    "id": "f3c1fc23bc17ce5a",
    "type": "change",
    "z": "03220402a282530b",
    "g": "016aea5aee729a42",
    "name": "power",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "power",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4770,
    "y": 1020,
    "wires": [
      [
        "2ab7993499d31bbd"
      ]
    ]
  },
  {
    "id": "01d014a468d55ce0",
    "type": "change",
    "z": "03220402a282530b",
    "g": "016aea5aee729a42",
    "name": "light*",
    "rules": [],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4770,
    "y": 960,
    "wires": [
      [
        "2ab7993499d31bbd"
      ]
    ]
  },
  {
    "id": "d6f83986f164d9d1",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "016aea5aee729a42",
    "name": "zwave - FGD212 - source",
    "links": [
      "24058eec92534b27"
    ],
    "x": 4315,
    "y": 960,
    "wires": [
      [
        "43cbbc293f2e38d6"
      ]
    ]
  },
  {
    "id": "2ab7993499d31bbd",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "016aea5aee729a42",
    "name": "zwave - FGD212 - source",
    "mode": "link",
    "links": [
      "14a0a0839924964f"
    ],
    "x": 4895,
    "y": 960,
    "wires": []
  },
  {
    "id": "b2ead3db76c4ae15",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "016aea5aee729a42",
    "name": "topic",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "msg.prefix&'/38/1/currentValue'",
        "vt": "jsonata"
      },
      {
        "t": "eq",
        "v": "msg.prefix&'/49/1/Power'",
        "vt": "jsonata"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 4610,
    "y": 960,
    "wires": [
      [
        "01d014a468d55ce0"
      ],
      [
        "f3c1fc23bc17ce5a"
      ]
    ]
  },
  {
    "id": "43cbbc293f2e38d6",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "016aea5aee729a42",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "FGD212",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 4450,
    "y": 960,
    "wires": [
      [
        "b2ead3db76c4ae15"
      ]
    ]
  },
  {
    "id": "d1420178d53a10af",
    "type": "change",
    "z": "03220402a282530b",
    "g": "c267a41dc3eea79e",
    "name": "topic",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "38/1/targetValue/set",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 5590,
    "y": 960,
    "wires": [
      [
        "4949856273c96f31"
      ]
    ]
  },
  {
    "id": "d381cd4b08e2f495",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "c267a41dc3eea79e",
    "name": "zwave - FGD212 - metric",
    "links": [
      "637b84024e725f38"
    ],
    "x": 5075,
    "y": 960,
    "wires": [
      [
        "ffb38b5da98a825a"
      ]
    ]
  },
  {
    "id": "4949856273c96f31",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "c267a41dc3eea79e",
    "name": "zwave - FGD212 - metric",
    "mode": "link",
    "links": [
      "e93e8daa30075ae6"
    ],
    "x": 5715,
    "y": 960,
    "wires": []
  },
  {
    "id": "ffb38b5da98a825a",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "c267a41dc3eea79e",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "FGD212",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 5210,
    "y": 960,
    "wires": [
      [
        "6df92a3791727361"
      ]
    ]
  },
  {
    "id": "6df92a3791727361",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "c267a41dc3eea79e",
    "name": "measurement",
    "property": "measurement",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "cible",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 5400,
    "y": 960,
    "wires": [
      [
        "d1420178d53a10af"
      ]
    ]
  },
  {
    "id": "61aa3b52edd2cf60",
    "type": "change",
    "z": "03220402a282530b",
    "g": "be104700c7271732",
    "name": "luminosity / detector / number / 0",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "luminosity",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "detector",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3770,
    "y": 1380,
    "wires": [
      [
        "cfae06c36dd8db78"
      ]
    ]
  },
  {
    "id": "97c80fb2c749b970",
    "type": "change",
    "z": "03220402a282530b",
    "g": "be104700c7271732",
    "name": "temperature / detector / number / 20",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "temperature",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "detector",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "20",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3790,
    "y": 1440,
    "wires": [
      [
        "cfae06c36dd8db78"
      ]
    ]
  },
  {
    "id": "da86ee3c4a435b50",
    "type": "change",
    "z": "03220402a282530b",
    "g": "be104700c7271732",
    "name": "battery / detector / percent / 99",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "battery",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "detector",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "percent",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "99",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3770,
    "y": 1500,
    "wires": [
      [
        "cfae06c36dd8db78"
      ]
    ]
  },
  {
    "id": "24371de5255c7936",
    "type": "change",
    "z": "03220402a282530b",
    "g": "be104700c7271732",
    "name": "motion / detector / boolean / false",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "motion",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "detector",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3780,
    "y": 1560,
    "wires": [
      [
        "cfae06c36dd8db78"
      ]
    ]
  },
  {
    "id": "c288ba888d38a74d",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "be104700c7271732",
    "name": "zwave - FGMS001 - device",
    "mode": "link",
    "links": [
      "3e1b4213132404be"
    ],
    "x": 4195,
    "y": 1320,
    "wires": []
  },
  {
    "id": "e8d75052d713d6b0",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "be104700c7271732",
    "name": "mdoel",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "FGMS001",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 3530,
    "y": 1320,
    "wires": [
      [
        "61aa3b52edd2cf60",
        "97c80fb2c749b970",
        "da86ee3c4a435b50",
        "24371de5255c7936",
        "0ecd4f80d94c7372"
      ]
    ]
  },
  {
    "id": "ed3c5c95136138e9",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "be104700c7271732",
    "name": "zwave - FGMS001 - device",
    "links": [
      "546f190f3ec0c90d"
    ],
    "x": 3395,
    "y": 1320,
    "wires": [
      [
        "e8d75052d713d6b0"
      ]
    ]
  },
  {
    "id": "0ecd4f80d94c7372",
    "type": "change",
    "z": "03220402a282530b",
    "g": "be104700c7271732",
    "name": "brand: fibaro / motion / detector",
    "rules": [
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "fibaro",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "motion",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "detector",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3770,
    "y": 1320,
    "wires": [
      [
        "cfae06c36dd8db78"
      ]
    ]
  },
  {
    "id": "cfae06c36dd8db78",
    "type": "change",
    "z": "03220402a282530b",
    "g": "be104700c7271732",
    "name": "protocol",
    "rules": [
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "zwave",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4060,
    "y": 1320,
    "wires": [
      [
        "c288ba888d38a74d"
      ]
    ]
  },
  {
    "id": "3eade78d0878580f",
    "type": "comment",
    "z": "03220402a282530b",
    "g": "be104700c7271732",
    "name": "motion / detector",
    "info": "",
    "x": 3460,
    "y": 1380,
    "wires": []
  },
  {
    "id": "03f6a62f4708e206",
    "type": "change",
    "z": "03220402a282530b",
    "g": "0a50b28d4026a61d",
    "name": "luminosity",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "luminosity",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "detector",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4840,
    "y": 1320,
    "wires": [
      [
        "8ab95bcfe737b310"
      ]
    ]
  },
  {
    "id": "97d3eebe58bb5985",
    "type": "change",
    "z": "03220402a282530b",
    "g": "0a50b28d4026a61d",
    "name": "temperature",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "temperature",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "detector",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4850,
    "y": 1380,
    "wires": [
      [
        "8ab95bcfe737b310"
      ]
    ]
  },
  {
    "id": "a09a4a753b9fc72d",
    "type": "change",
    "z": "03220402a282530b",
    "g": "0a50b28d4026a61d",
    "name": "battery",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "battery",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "detector",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4830,
    "y": 1440,
    "wires": [
      [
        "8ab95bcfe737b310"
      ]
    ]
  },
  {
    "id": "e5cbab5e28c8de7b",
    "type": "change",
    "z": "03220402a282530b",
    "g": "0a50b28d4026a61d",
    "name": "motion",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "motion",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "detector",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4830,
    "y": 1500,
    "wires": [
      [
        "8ab95bcfe737b310"
      ]
    ]
  },
  {
    "id": "b618882d7f713f12",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "0a50b28d4026a61d",
    "name": "zwave - FGMS001 - source",
    "links": [
      "24058eec92534b27"
    ],
    "x": 4375,
    "y": 1380,
    "wires": [
      [
        "9983a70a0578c4f9"
      ]
    ]
  },
  {
    "id": "9983a70a0578c4f9",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "0a50b28d4026a61d",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "FGMS001",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 4510,
    "y": 1380,
    "wires": [
      [
        "a1919db957b380fa"
      ]
    ]
  },
  {
    "id": "a1919db957b380fa",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "0a50b28d4026a61d",
    "name": "topic",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "msg.prefix&'/49/0/Illuminance'",
        "vt": "jsonata"
      },
      {
        "t": "eq",
        "v": "msg.prefix&'/49/0/Air_temperature'",
        "vt": "jsonata"
      },
      {
        "t": "eq",
        "v": "msg.prefix&'/128/0/level'",
        "vt": "jsonata"
      },
      {
        "t": "eq",
        "v": "msg.prefix&'/32/0/currentValue'",
        "vt": "jsonata"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 4,
    "x": 4670,
    "y": 1380,
    "wires": [
      [
        "03f6a62f4708e206"
      ],
      [
        "97d3eebe58bb5985"
      ],
      [
        "a09a4a753b9fc72d"
      ],
      [
        "e5cbab5e28c8de7b"
      ]
    ]
  },
  {
    "id": "8ab95bcfe737b310",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "0a50b28d4026a61d",
    "name": "zwave - FGMS001 - source",
    "mode": "link",
    "links": [
      "14a0a0839924964f"
    ],
    "x": 4995,
    "y": 1380,
    "wires": []
  },
  {
    "id": "40e5f9f0e69cbf0c",
    "type": "change",
    "z": "03220402a282530b",
    "g": "f6435fdfdf88d839",
    "name": "topic",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "'37/'&msg.subid&'/targetValue/set'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3050,
    "y": 840,
    "wires": [
      [
        "787259a3f73535a8"
      ]
    ]
  },
  {
    "id": "c1256035b49c2bb1",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "f6435fdfdf88d839",
    "name": "zwave - ZMNHAD ZMNHDD - metric",
    "links": [
      "637b84024e725f38"
    ],
    "x": 2375,
    "y": 840,
    "wires": [
      [
        "7f1a014f3a67626b"
      ]
    ]
  },
  {
    "id": "7f1a014f3a67626b",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "f6435fdfdf88d839",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ZMNHAD",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "ZMNHDD",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 2510,
    "y": 840,
    "wires": [
      [
        "70caec029fe23f10"
      ],
      [
        "70caec029fe23f10"
      ]
    ]
  },
  {
    "id": "70caec029fe23f10",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "f6435fdfdf88d839",
    "name": "measurement",
    "property": "measurement",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "cible",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2700,
    "y": 840,
    "wires": [
      [
        "c7da2bc733b697cb"
      ]
    ]
  },
  {
    "id": "787259a3f73535a8",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "f6435fdfdf88d839",
    "name": "zwave - ZMNHAD, ZMNHDD - metric",
    "mode": "link",
    "links": [
      "e93e8daa30075ae6"
    ],
    "x": 3175,
    "y": 840,
    "wires": []
  },
  {
    "id": "c7da2bc733b697cb",
    "type": "change",
    "z": "03220402a282530b",
    "g": "f6435fdfdf88d839",
    "name": "subid",
    "rules": [
      {
        "t": "set",
        "p": "subid",
        "pt": "msg",
        "to": "msg.option>1?1:0",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2890,
    "y": 840,
    "wires": [
      [
        "40e5f9f0e69cbf0c"
      ]
    ]
  },
  {
    "id": "68c3860c9fae5517",
    "type": "change",
    "z": "03220402a282530b",
    "g": "c140123c0a2df7d3",
    "name": "outlet*",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "msg.measurement?msg.measurement:'outlet'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'socket'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2030,
    "y": 960,
    "wires": [
      [
        "8ad2befe24b148fa"
      ]
    ]
  },
  {
    "id": "758a3d5a8018121f",
    "type": "change",
    "z": "03220402a282530b",
    "g": "c140123c0a2df7d3",
    "name": "power",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "power",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'socket'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2030,
    "y": 1020,
    "wires": [
      [
        "8ad2befe24b148fa"
      ]
    ]
  },
  {
    "id": "f5939fa235e4cf9d",
    "type": "change",
    "z": "03220402a282530b",
    "g": "c140123c0a2df7d3",
    "name": "apeture",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "aperture",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'socket'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$boolean(msg.payload)=false",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2040,
    "y": 840,
    "wires": [
      [
        "8ad2befe24b148fa"
      ]
    ]
  },
  {
    "id": "b206a6826946f259",
    "type": "change",
    "z": "03220402a282530b",
    "g": "c140123c0a2df7d3",
    "name": "temperature",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "temperature",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'socket'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2050,
    "y": 900,
    "wires": [
      [
        "8ad2befe24b148fa"
      ]
    ]
  },
  {
    "id": "9bdd13282dd84b6c",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "c140123c0a2df7d3",
    "name": "zwave - ZMNHAD ZMNHDD - source",
    "links": [
      "24058eec92534b27"
    ],
    "x": 1255,
    "y": 900,
    "wires": [
      [
        "4582084ea33f3138"
      ]
    ]
  },
  {
    "id": "4582084ea33f3138",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "c140123c0a2df7d3",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ZMNHAD",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "ZMNHDD",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 1390,
    "y": 900,
    "wires": [
      [
        "266813c772c7eb42"
      ],
      [
        "266813c772c7eb42"
      ]
    ]
  },
  {
    "id": "3104f63ffa2f71d1",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "c140123c0a2df7d3",
    "name": "topic",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "msg.prefix&'/37/'&msg.subid&'/currentValue'",
        "vt": "jsonata"
      },
      {
        "t": "eq",
        "v": "msg.prefix&'/50/'&msg.subid&'/value/66049'",
        "vt": "jsonata"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 1870,
    "y": 960,
    "wires": [
      [
        "68c3860c9fae5517"
      ],
      [
        "758a3d5a8018121f"
      ]
    ]
  },
  {
    "id": "8ad2befe24b148fa",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "c140123c0a2df7d3",
    "name": "zwave - ZMNHAD ZMNHDD - source",
    "mode": "link",
    "links": [
      "14a0a0839924964f"
    ],
    "x": 2195,
    "y": 840,
    "wires": []
  },
  {
    "id": "266813c772c7eb42",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "c140123c0a2df7d3",
    "name": "option",
    "property": "option",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "2",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "3",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 3,
    "x": 1550,
    "y": 900,
    "wires": [
      [
        "facec84c0d632bcb"
      ],
      [
        "facec84c0d632bcb"
      ],
      [
        "299b1f31bde3e4d4"
      ]
    ]
  },
  {
    "id": "facec84c0d632bcb",
    "type": "change",
    "z": "03220402a282530b",
    "g": "c140123c0a2df7d3",
    "name": "sub id",
    "rules": [
      {
        "t": "set",
        "p": "subid",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1710,
    "y": 900,
    "wires": [
      [
        "3104f63ffa2f71d1",
        "cc33383330ef7115"
      ]
    ]
  },
  {
    "id": "299b1f31bde3e4d4",
    "type": "change",
    "z": "03220402a282530b",
    "g": "c140123c0a2df7d3",
    "name": "sub id",
    "rules": [
      {
        "t": "set",
        "p": "subid",
        "pt": "msg",
        "to": "0",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1710,
    "y": 960,
    "wires": [
      [
        "3104f63ffa2f71d1"
      ]
    ]
  },
  {
    "id": "cc33383330ef7115",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "c140123c0a2df7d3",
    "name": "topic",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "msg.prefix&'/48/'&msg.option&'/Any'",
        "vt": "jsonata"
      },
      {
        "t": "eq",
        "v": "msg.prefix&'/49/4/Air_temperature'",
        "vt": "jsonata"
      },
      {
        "t": "eq",
        "v": "msg.prefix&'/49/0/Air_temperature'",
        "vt": "jsonata"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 3,
    "x": 1870,
    "y": 900,
    "wires": [
      [
        "f5939fa235e4cf9d"
      ],
      [
        "b206a6826946f259"
      ],
      [
        "b206a6826946f259"
      ]
    ]
  },
  {
    "id": "04cb6aaa8eea0664",
    "type": "change",
    "z": "03220402a282530b",
    "g": "dbe90b9341f05711",
    "name": "cible / socket* / boolean / true",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "cible",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'socket'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 670,
    "y": 960,
    "wires": [
      [
        "1c7f22c9875595ea"
      ]
    ]
  },
  {
    "id": "d846c551ea80153d",
    "type": "change",
    "z": "03220402a282530b",
    "g": "dbe90b9341f05711",
    "name": "outlet* / socket* / boolean / false*",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "msg.measurement?msg.measurement:'outlet'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'socket'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "msg.default?msg.default:false",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 680,
    "y": 1020,
    "wires": [
      [
        "1c7f22c9875595ea"
      ]
    ]
  },
  {
    "id": "2b40c2df7323e8af",
    "type": "change",
    "z": "03220402a282530b",
    "g": "dbe90b9341f05711",
    "name": "power  / socket* / number / 0",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "power",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'socket'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 660,
    "y": 1080,
    "wires": [
      [
        "1c7f22c9875595ea"
      ]
    ]
  },
  {
    "id": "adbb1e631cfad35c",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "dbe90b9341f05711",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ZMNHAD",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "ZMNHDD",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 270,
    "y": 840,
    "wires": [
      [
        "b329ce160f5f733a",
        "b47fbc4a28ea339b"
      ],
      [
        "b47fbc4a28ea339b",
        "b329ce160f5f733a"
      ]
    ]
  },
  {
    "id": "b329ce160f5f733a",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "dbe90b9341f05711",
    "name": "option",
    "property": "option",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "2",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "3",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 3,
    "x": 430,
    "y": 960,
    "wires": [
      [
        "04cb6aaa8eea0664",
        "d846c551ea80153d",
        "2b40c2df7323e8af",
        "a49224cb278e6662",
        "c6eb92860bb829f8"
      ],
      [
        "c6eb92860bb829f8",
        "a49224cb278e6662",
        "2b40c2df7323e8af",
        "d846c551ea80153d",
        "04cb6aaa8eea0664"
      ],
      [
        "04cb6aaa8eea0664",
        "d846c551ea80153d",
        "2b40c2df7323e8af"
      ]
    ]
  },
  {
    "id": "a49224cb278e6662",
    "type": "change",
    "z": "03220402a282530b",
    "g": "dbe90b9341f05711",
    "name": "aperture / socket* / boolean / false",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "aperture",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'socket'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 680,
    "y": 1140,
    "wires": [
      [
        "1c7f22c9875595ea"
      ]
    ]
  },
  {
    "id": "c6eb92860bb829f8",
    "type": "change",
    "z": "03220402a282530b",
    "g": "dbe90b9341f05711",
    "name": "temperature / socket* / number / 20",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "temperature",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'socket'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "20",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 680,
    "y": 1200,
    "wires": [
      [
        "1c7f22c9875595ea"
      ]
    ]
  },
  {
    "id": "d0fc50917dc16651",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "dbe90b9341f05711",
    "name": "zwave - ZMNHAD ZMNHDD - device",
    "mode": "link",
    "links": [
      "3e1b4213132404be"
    ],
    "x": 1075,
    "y": 840,
    "wires": []
  },
  {
    "id": "1347f6afde2719d6",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "dbe90b9341f05711",
    "name": "zwave - ZMNHAD ZMNHDD - device",
    "links": [
      "546f190f3ec0c90d"
    ],
    "x": 135,
    "y": 840,
    "wires": [
      [
        "adbb1e631cfad35c"
      ]
    ]
  },
  {
    "id": "1c7f22c9875595ea",
    "type": "change",
    "z": "03220402a282530b",
    "g": "dbe90b9341f05711",
    "name": "protocol",
    "rules": [
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "zwave",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 940,
    "y": 840,
    "wires": [
      [
        "d0fc50917dc16651"
      ]
    ]
  },
  {
    "id": "501e6d96a73a9088",
    "type": "comment",
    "z": "03220402a282530b",
    "g": "dbe90b9341f05711",
    "name": "outlet / socket",
    "info": "",
    "x": 190,
    "y": 900,
    "wires": []
  },
  {
    "id": "b47fbc4a28ea339b",
    "type": "change",
    "z": "03220402a282530b",
    "g": "dbe90b9341f05711",
    "name": "brand: qubino / outlet* / socket*",
    "rules": [
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "qubino",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "msg.measurement?msg.measurement:'outlet'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'socket'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 840,
    "wires": [
      [
        "1c7f22c9875595ea"
      ]
    ]
  },
  {
    "id": "8affc5ca98fa4897",
    "type": "change",
    "z": "03220402a282530b",
    "g": "579d035d7902f85b",
    "name": "topic",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "37/0/targetValue/set",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2410,
    "y": 1380,
    "wires": [
      [
        "04c8ea40e1416dd8"
      ]
    ]
  },
  {
    "id": "2818a7a29e3d6043",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "579d035d7902f85b",
    "name": "zwave - ZMNHJD, ZMNHUD - metric",
    "links": [
      "637b84024e725f38"
    ],
    "x": 1895,
    "y": 1380,
    "wires": [
      [
        "6d9584c64548ce93"
      ]
    ]
  },
  {
    "id": "6d9584c64548ce93",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "579d035d7902f85b",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ZMNHJD",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "ZMNHUD",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 2030,
    "y": 1380,
    "wires": [
      [
        "ca7f3971c86b027d"
      ],
      [
        "ca7f3971c86b027d"
      ]
    ]
  },
  {
    "id": "ca7f3971c86b027d",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "579d035d7902f85b",
    "name": "measurement",
    "property": "measurement",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "cible",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2220,
    "y": 1380,
    "wires": [
      [
        "8affc5ca98fa4897"
      ]
    ]
  },
  {
    "id": "04c8ea40e1416dd8",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "579d035d7902f85b",
    "name": "zwave - ZMNHJD, ZMNHUD - metric",
    "mode": "link",
    "links": [
      "e93e8daa30075ae6"
    ],
    "x": 2535,
    "y": 1380,
    "wires": []
  },
  {
    "id": "91ef50a86cf538aa",
    "type": "change",
    "z": "03220402a282530b",
    "g": "a63f48bf2ad99007",
    "name": "thermostat",
    "rules": [],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1570,
    "y": 1380,
    "wires": [
      [
        "a14747cc11f09dca"
      ]
    ]
  },
  {
    "id": "9565abec6d5582d4",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "a63f48bf2ad99007",
    "name": "zwave - ZMNHJD, ZMNHUD - source",
    "links": [
      "24058eec92534b27"
    ],
    "x": 1095,
    "y": 1380,
    "wires": [
      [
        "c1f7db9cb66dc783"
      ]
    ]
  },
  {
    "id": "c1f7db9cb66dc783",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "a63f48bf2ad99007",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ZMNHJD",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "ZMNHUD",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 1230,
    "y": 1380,
    "wires": [
      [
        "6a91ccda006a7b1e"
      ],
      [
        "6a91ccda006a7b1e"
      ]
    ]
  },
  {
    "id": "6a91ccda006a7b1e",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "a63f48bf2ad99007",
    "name": "topic",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "msg.prefix&'/37/0/currentValue'",
        "vt": "jsonata"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1390,
    "y": 1380,
    "wires": [
      [
        "91ef50a86cf538aa"
      ]
    ]
  },
  {
    "id": "a14747cc11f09dca",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "a63f48bf2ad99007",
    "name": "zwave - ZMNHJD, ZMNHUD - source",
    "mode": "link",
    "links": [
      "14a0a0839924964f"
    ],
    "x": 1715,
    "y": 1380,
    "wires": []
  },
  {
    "id": "46aaf1264fcb5bf8",
    "type": "change",
    "z": "03220402a282530b",
    "g": "465fbb68bc8819d9",
    "name": "thermostat / pilot / boolean / false",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "thermostat",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "pilot",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 1500,
    "wires": [
      [
        "91619bc892c2f367"
      ]
    ]
  },
  {
    "id": "54eb8ae585b6cd20",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "465fbb68bc8819d9",
    "name": "zwave - ZMNHJD, ZMNHUD - device",
    "links": [
      "546f190f3ec0c90d"
    ],
    "x": 135,
    "y": 1380,
    "wires": [
      [
        "d817a6ca738c2860"
      ]
    ]
  },
  {
    "id": "d817a6ca738c2860",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "465fbb68bc8819d9",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ZMNHJD",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "ZMNHUD",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 270,
    "y": 1380,
    "wires": [
      [
        "f023a02d1b870d05",
        "46aaf1264fcb5bf8",
        "bf6076f2668efe23"
      ],
      [
        "f023a02d1b870d05",
        "46aaf1264fcb5bf8",
        "bf6076f2668efe23"
      ]
    ]
  },
  {
    "id": "f023a02d1b870d05",
    "type": "change",
    "z": "03220402a282530b",
    "g": "465fbb68bc8819d9",
    "name": "brand: qubino / thermostat / pilot",
    "rules": [
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "qubino",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "thermostat",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "pilot",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 1380,
    "wires": [
      [
        "91619bc892c2f367"
      ]
    ]
  },
  {
    "id": "91619bc892c2f367",
    "type": "change",
    "z": "03220402a282530b",
    "g": "465fbb68bc8819d9",
    "name": "protocol",
    "rules": [
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "zwave",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 780,
    "y": 1380,
    "wires": [
      [
        "6ef165716dcf6229"
      ]
    ]
  },
  {
    "id": "6ef165716dcf6229",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "465fbb68bc8819d9",
    "name": "zwave - ZMNHJD, ZMNHUD - device",
    "mode": "link",
    "links": [
      "3e1b4213132404be"
    ],
    "x": 915,
    "y": 1380,
    "wires": []
  },
  {
    "id": "bf6076f2668efe23",
    "type": "change",
    "z": "03220402a282530b",
    "g": "465fbb68bc8819d9",
    "name": "cible / pilot / boolean / false",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "cible",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "pilot",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 1440,
    "wires": [
      [
        "91619bc892c2f367"
      ]
    ]
  },
  {
    "id": "137c61fc6cd3b296",
    "type": "comment",
    "z": "03220402a282530b",
    "g": "465fbb68bc8819d9",
    "name": "thermostat / pilot",
    "info": "",
    "x": 200,
    "y": 1440,
    "wires": []
  },
  {
    "id": "1bc0dec0b9dddbe2",
    "type": "change",
    "z": "03220402a282530b",
    "g": "e8ec9cb7ed810eb1",
    "name": "cible / socket x* / boolean / false",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "cible",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:('socket '&msg.option)",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 670,
    "y": 1740,
    "wires": [
      [
        "85ee94aae40a4436"
      ]
    ]
  },
  {
    "id": "78e8c4b7b4f9e582",
    "type": "change",
    "z": "03220402a282530b",
    "g": "e8ec9cb7ed810eb1",
    "name": "outlet* / socket x* / boolean / false*",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "msg.measurement?msg.measurement:'outlet'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:('socket '&msg.option)",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "msg.default?msg.default:false",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 680,
    "y": 1800,
    "wires": [
      [
        "85ee94aae40a4436"
      ]
    ]
  },
  {
    "id": "b7b3c2c518c1c818",
    "type": "change",
    "z": "03220402a282530b",
    "g": "e8ec9cb7ed810eb1",
    "name": "power / socket x* / number / 0",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "power",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:('socket '&msg.option)",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 670,
    "y": 1860,
    "wires": [
      [
        "85ee94aae40a4436"
      ]
    ]
  },
  {
    "id": "7157ad0d44c06b58",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "e8ec9cb7ed810eb1",
    "name": "zwave - ZMNHBD - device",
    "links": [
      "546f190f3ec0c90d"
    ],
    "x": 135,
    "y": 1680,
    "wires": [
      [
        "7fa52a5adb54be1a"
      ]
    ]
  },
  {
    "id": "7fa52a5adb54be1a",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "e8ec9cb7ed810eb1",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ZMNHBD",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 270,
    "y": 1680,
    "wires": [
      [
        "cc33862cc2bcb9d1"
      ]
    ]
  },
  {
    "id": "d3f8302e1b74a106",
    "type": "change",
    "z": "03220402a282530b",
    "g": "e8ec9cb7ed810eb1",
    "name": "brand: qubino / outlet* / socket x*",
    "rules": [
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "qubino",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "msg.measurement?msg.measurement:'outlet'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:('socket '&msg.option)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 680,
    "y": 1680,
    "wires": [
      [
        "85ee94aae40a4436"
      ]
    ]
  },
  {
    "id": "85ee94aae40a4436",
    "type": "change",
    "z": "03220402a282530b",
    "g": "e8ec9cb7ed810eb1",
    "name": "protocol",
    "rules": [
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "zwave",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "subid",
        "pt": "msg",
        "to": "$string(msg.option)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 940,
    "y": 1680,
    "wires": [
      [
        "70520299b0fb1e7e"
      ]
    ]
  },
  {
    "id": "70520299b0fb1e7e",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "e8ec9cb7ed810eb1",
    "name": "zwave - ZMNHBD - device",
    "mode": "link",
    "links": [
      "3e1b4213132404be"
    ],
    "x": 1075,
    "y": 1680,
    "wires": []
  },
  {
    "id": "3320ef3f3756aa11",
    "type": "comment",
    "z": "03220402a282530b",
    "g": "e8ec9cb7ed810eb1",
    "name": "outlet / socket x",
    "info": "",
    "x": 200,
    "y": 1740,
    "wires": []
  },
  {
    "id": "d203f9e048583564",
    "type": "comment",
    "z": "03220402a282530b",
    "g": "e8ec9cb7ed810eb1",
    "name": "option 1 or 2",
    "info": "",
    "x": 190,
    "y": 1800,
    "wires": []
  },
  {
    "id": "cc33862cc2bcb9d1",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "e8ec9cb7ed810eb1",
    "name": "option",
    "property": "option",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gte",
        "v": "1",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 430,
    "y": 1680,
    "wires": [
      [
        "d3f8302e1b74a106",
        "1bc0dec0b9dddbe2",
        "78e8c4b7b4f9e582",
        "b7b3c2c518c1c818"
      ]
    ]
  },
  {
    "id": "888060d0043ce808",
    "type": "change",
    "z": "03220402a282530b",
    "g": "913b1d1497543ac9",
    "name": "outlet",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "msg.measurement?msg.measurement:'outlet'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'socket '&msg.option",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1710,
    "y": 1680,
    "wires": [
      [
        "a5e2d099050bf1a9"
      ]
    ]
  },
  {
    "id": "91a4c95f63913e23",
    "type": "change",
    "z": "03220402a282530b",
    "g": "913b1d1497543ac9",
    "name": "power",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "power",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'socket '&msg.option",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1710,
    "y": 1740,
    "wires": [
      [
        "a5e2d099050bf1a9"
      ]
    ]
  },
  {
    "id": "c54c02a1bb45d163",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "913b1d1497543ac9",
    "name": "zwave - ZMNHBD - source",
    "links": [
      "24058eec92534b27"
    ],
    "x": 1255,
    "y": 1680,
    "wires": [
      [
        "bd77a65fc80868ea"
      ]
    ]
  },
  {
    "id": "bd77a65fc80868ea",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "913b1d1497543ac9",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ZMNHBD",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1390,
    "y": 1680,
    "wires": [
      [
        "02c82f93fc78e071"
      ]
    ]
  },
  {
    "id": "02c82f93fc78e071",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "913b1d1497543ac9",
    "name": "topic",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "msg.prefix&'/37/'&msg.option&'/currentValue'",
        "vt": "jsonata"
      },
      {
        "t": "eq",
        "v": "msg.prefix&'/50/'&msg.option&'/value/66049'",
        "vt": "jsonata"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 1550,
    "y": 1680,
    "wires": [
      [
        "888060d0043ce808"
      ],
      [
        "91a4c95f63913e23"
      ]
    ]
  },
  {
    "id": "a5e2d099050bf1a9",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "913b1d1497543ac9",
    "name": "zwave - ZMNHBD - source",
    "mode": "link",
    "links": [
      "14a0a0839924964f"
    ],
    "x": 1855,
    "y": 1680,
    "wires": []
  },
  {
    "id": "18181d0455cede05",
    "type": "change",
    "z": "03220402a282530b",
    "g": "ea83926edf12f8f9",
    "name": "topic",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "'37/'&msg.option&'/targetValue/set'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2550,
    "y": 1680,
    "wires": [
      [
        "b851d81e54e34734"
      ]
    ]
  },
  {
    "id": "26c8f66f641451ac",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "ea83926edf12f8f9",
    "name": "zwave - ZMNHSD - metric",
    "links": [
      "637b84024e725f38"
    ],
    "x": 2035,
    "y": 1680,
    "wires": [
      [
        "ca7bb35596db70a1"
      ]
    ]
  },
  {
    "id": "b851d81e54e34734",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "ea83926edf12f8f9",
    "name": "zwave - ZMNHBD - metric",
    "mode": "link",
    "links": [
      "e93e8daa30075ae6"
    ],
    "x": 2675,
    "y": 1680,
    "wires": []
  },
  {
    "id": "ca7bb35596db70a1",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "ea83926edf12f8f9",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ZMNHBD",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 2170,
    "y": 1680,
    "wires": [
      [
        "4330bd30b21a41d3"
      ]
    ]
  },
  {
    "id": "4330bd30b21a41d3",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "ea83926edf12f8f9",
    "name": "measurement",
    "property": "measurement",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "cible",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2360,
    "y": 1680,
    "wires": [
      [
        "18181d0455cede05"
      ]
    ]
  },
  {
    "id": "54959d8ebb7a6a94",
    "type": "change",
    "z": "03220402a282530b",
    "g": "04e46863c1e5b152",
    "name": "cible / cmv* / boolean / false",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "cible",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'cmv'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 2100,
    "wires": [
      [
        "e8191cdd969d017a"
      ]
    ]
  },
  {
    "id": "daf5f2bb0df1a76a",
    "type": "change",
    "z": "03220402a282530b",
    "g": "04e46863c1e5b152",
    "name": "airflow* / cmv* / boolean / false*",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "msg.measurement?msg.measurement:'airflow'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'cmv'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "msg.default?msg.default:false",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 2160,
    "wires": [
      [
        "e8191cdd969d017a"
      ]
    ]
  },
  {
    "id": "748946dc040568fd",
    "type": "change",
    "z": "03220402a282530b",
    "g": "04e46863c1e5b152",
    "name": "power / cmv* / number / 0",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "power",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'cmv'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 490,
    "y": 2220,
    "wires": [
      [
        "e8191cdd969d017a"
      ]
    ]
  },
  {
    "id": "439c47602f7560b5",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "04e46863c1e5b152",
    "name": "zwave - ZMNHDA - device",
    "links": [
      "546f190f3ec0c90d"
    ],
    "x": 135,
    "y": 2040,
    "wires": [
      [
        "961e963c5556fcc6"
      ]
    ]
  },
  {
    "id": "961e963c5556fcc6",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "04e46863c1e5b152",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ZMNHDA",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 270,
    "y": 2040,
    "wires": [
      [
        "a39e9118de882577",
        "54959d8ebb7a6a94",
        "daf5f2bb0df1a76a",
        "748946dc040568fd",
        "2cf054260d385cc3"
      ]
    ]
  },
  {
    "id": "a39e9118de882577",
    "type": "change",
    "z": "03220402a282530b",
    "g": "04e46863c1e5b152",
    "name": "brand: qubino / airflow* / cmv*",
    "rules": [
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "qubino",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "msg.measurement?msg.measurement:'airflow'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'cmv'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 2040,
    "wires": [
      [
        "e8191cdd969d017a"
      ]
    ]
  },
  {
    "id": "e8191cdd969d017a",
    "type": "change",
    "z": "03220402a282530b",
    "g": "04e46863c1e5b152",
    "name": "protocol",
    "rules": [
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "zwave",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 760,
    "y": 2040,
    "wires": [
      [
        "b9b3c6ff10434440"
      ]
    ]
  },
  {
    "id": "b9b3c6ff10434440",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "04e46863c1e5b152",
    "name": "zwave - ZMNHDA - device",
    "mode": "link",
    "links": [
      "3e1b4213132404be"
    ],
    "x": 895,
    "y": 2040,
    "wires": []
  },
  {
    "id": "8381482825528158",
    "type": "comment",
    "z": "03220402a282530b",
    "g": "04e46863c1e5b152",
    "name": "airflow / cmv",
    "info": "",
    "x": 190,
    "y": 2100,
    "wires": []
  },
  {
    "id": "4a2c2e932c76f64d",
    "type": "comment",
    "z": "03220402a282530b",
    "g": "04e46863c1e5b152",
    "name": "only boolean",
    "info": "",
    "x": 190,
    "y": 2160,
    "wires": []
  },
  {
    "id": "633a1e4957cf12d5",
    "type": "comment",
    "z": "03220402a282530b",
    "g": "04e46863c1e5b152",
    "name": "with temp only",
    "info": "",
    "x": 190,
    "y": 2220,
    "wires": []
  },
  {
    "id": "2cf054260d385cc3",
    "type": "change",
    "z": "03220402a282530b",
    "g": "04e46863c1e5b152",
    "name": "temperature / cmv* / number / 20",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "temperature",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'cmv'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "20",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 2280,
    "wires": [
      [
        "e8191cdd969d017a"
      ]
    ]
  },
  {
    "id": "c9778546fb264453",
    "type": "change",
    "z": "03220402a282530b",
    "g": "9a2930d4a5225064",
    "name": "airflow",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "msg.measurement?msg.measurement:'airflow'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'cmv'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 2040,
    "wires": [
      [
        "18c9f623b0f8f8ba"
      ]
    ]
  },
  {
    "id": "de8002c9432cac28",
    "type": "change",
    "z": "03220402a282530b",
    "g": "9a2930d4a5225064",
    "name": "power",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "power",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'cmv'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 2100,
    "wires": [
      [
        "18c9f623b0f8f8ba"
      ]
    ]
  },
  {
    "id": "f0366fead862ee6e",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "9a2930d4a5225064",
    "name": "zwave - ZMNHDA - source",
    "links": [
      "24058eec92534b27"
    ],
    "x": 1075,
    "y": 2100,
    "wires": [
      [
        "9b579ed6e0d51eb9"
      ]
    ]
  },
  {
    "id": "9b579ed6e0d51eb9",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "9a2930d4a5225064",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ZMNHDA",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1210,
    "y": 2100,
    "wires": [
      [
        "c857889090f3e22b"
      ]
    ]
  },
  {
    "id": "c857889090f3e22b",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "9a2930d4a5225064",
    "name": "topic",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "msg.prefix&'/37/0/currentValue'",
        "vt": "jsonata"
      },
      {
        "t": "eq",
        "v": "msg.prefix&'/50/0/value/66049'",
        "vt": "jsonata"
      },
      {
        "t": "eq",
        "v": "msg.prefix&'/49/0/Air_temperature'",
        "vt": "jsonata"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 3,
    "x": 1370,
    "y": 2100,
    "wires": [
      [
        "c9778546fb264453"
      ],
      [
        "de8002c9432cac28"
      ],
      [
        "7e81f275faa02d6b"
      ]
    ]
  },
  {
    "id": "18c9f623b0f8f8ba",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "9a2930d4a5225064",
    "name": "zwave - ZMNHDA - source",
    "mode": "link",
    "links": [
      "14a0a0839924964f"
    ],
    "x": 1695,
    "y": 2100,
    "wires": []
  },
  {
    "id": "7e81f275faa02d6b",
    "type": "change",
    "z": "03220402a282530b",
    "g": "9a2930d4a5225064",
    "name": "temperature",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "temperature",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'cmv'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1550,
    "y": 2160,
    "wires": [
      [
        "18c9f623b0f8f8ba"
      ]
    ]
  },
  {
    "id": "a0e054509672e997",
    "type": "change",
    "z": "03220402a282530b",
    "g": "782b3f453d398052",
    "name": "topic",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "37/0/targetValue/set",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2390,
    "y": 2040,
    "wires": [
      [
        "9141d766151544f5"
      ]
    ]
  },
  {
    "id": "07cfbb3cf7a1c47a",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "782b3f453d398052",
    "name": "zwave -  ZMNHDA - metric",
    "links": [
      "637b84024e725f38"
    ],
    "x": 1875,
    "y": 2040,
    "wires": [
      [
        "df19118b2c5130ce"
      ]
    ]
  },
  {
    "id": "9141d766151544f5",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "782b3f453d398052",
    "name": "zwave - ZMNHDA - metric",
    "mode": "link",
    "links": [
      "e93e8daa30075ae6"
    ],
    "x": 2515,
    "y": 2040,
    "wires": []
  },
  {
    "id": "df19118b2c5130ce",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "782b3f453d398052",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ZMNHDA",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 2010,
    "y": 2040,
    "wires": [
      [
        "52c2592695ee91c5"
      ]
    ]
  },
  {
    "id": "52c2592695ee91c5",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "782b3f453d398052",
    "name": "measurement",
    "property": "measurement",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "cible",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2200,
    "y": 2040,
    "wires": [
      [
        "a0e054509672e997"
      ]
    ]
  },
  {
    "id": "8f14ef8b0dec90ca",
    "type": "change",
    "z": "03220402a282530b",
    "g": "04604742f88c50dc",
    "name": "cible / socket x* / boolean / false",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "cible",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:('socket '&msg.option)",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3930,
    "y": 1800,
    "wires": [
      [
        "d5ee121954c3165a"
      ]
    ]
  },
  {
    "id": "8b671de83e82e3c7",
    "type": "change",
    "z": "03220402a282530b",
    "g": "04604742f88c50dc",
    "name": "outlet* / socket x* / boolean / false*",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "msg.measurement?msg.measurement:'outlet'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:('socket '&msg.option)",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "msg.default?msg.default:false",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3940,
    "y": 1860,
    "wires": [
      [
        "d5ee121954c3165a"
      ]
    ]
  },
  {
    "id": "9ffbd2a425d3da08",
    "type": "change",
    "z": "03220402a282530b",
    "g": "04604742f88c50dc",
    "name": "power / socket x* / number / 0",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "power",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:('socket '&msg.option)",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3930,
    "y": 1920,
    "wires": [
      [
        "d5ee121954c3165a"
      ]
    ]
  },
  {
    "id": "2dd3539dc0c9fedf",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "04604742f88c50dc",
    "name": "zwave - FGS223 - device",
    "links": [
      "546f190f3ec0c90d"
    ],
    "x": 3395,
    "y": 1740,
    "wires": [
      [
        "f6760519bfacb95c"
      ]
    ]
  },
  {
    "id": "f6760519bfacb95c",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "04604742f88c50dc",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "FGS223",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 3530,
    "y": 1740,
    "wires": [
      [
        "0c7538718c2f2176"
      ]
    ]
  },
  {
    "id": "3b8f7825e86ca38f",
    "type": "change",
    "z": "03220402a282530b",
    "g": "04604742f88c50dc",
    "name": "brand: fibaro / outlet* / soket x*",
    "rules": [
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "fibaro",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "msg.measurement?msg.measurement:'outlet'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:('socket '&msg.option)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3930,
    "y": 1740,
    "wires": [
      [
        "d5ee121954c3165a"
      ]
    ]
  },
  {
    "id": "d5ee121954c3165a",
    "type": "change",
    "z": "03220402a282530b",
    "g": "04604742f88c50dc",
    "name": "protocol",
    "rules": [
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "zwave",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "subid",
        "pt": "msg",
        "to": "$string(msg.option)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4200,
    "y": 1740,
    "wires": [
      [
        "c76838030c694a7c"
      ]
    ]
  },
  {
    "id": "c76838030c694a7c",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "04604742f88c50dc",
    "name": "zwave - FGS223 - device",
    "mode": "link",
    "links": [
      "3e1b4213132404be"
    ],
    "x": 4335,
    "y": 1740,
    "wires": []
  },
  {
    "id": "595a0330e482cd83",
    "type": "comment",
    "z": "03220402a282530b",
    "g": "04604742f88c50dc",
    "name": "outlet / socket x",
    "info": "",
    "x": 3460,
    "y": 1800,
    "wires": []
  },
  {
    "id": "716d0d31801c55a2",
    "type": "comment",
    "z": "03220402a282530b",
    "g": "04604742f88c50dc",
    "name": "option 1 or 2",
    "info": "",
    "x": 3450,
    "y": 1860,
    "wires": []
  },
  {
    "id": "0c7538718c2f2176",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "04604742f88c50dc",
    "name": "option",
    "property": "option",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gte",
        "v": "1",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 3690,
    "y": 1740,
    "wires": [
      [
        "3b8f7825e86ca38f",
        "8f14ef8b0dec90ca",
        "8b671de83e82e3c7",
        "9ffbd2a425d3da08"
      ]
    ]
  },
  {
    "id": "da52d77e97c46855",
    "type": "change",
    "z": "03220402a282530b",
    "g": "c0b002df0f286108",
    "name": "outlet",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "msg.measurement?msg.measurement:'outlet'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'socket '&msg.option",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4970,
    "y": 1740,
    "wires": [
      [
        "f5c2ab1d8a9d4f05"
      ]
    ]
  },
  {
    "id": "6614feac3aab5d48",
    "type": "change",
    "z": "03220402a282530b",
    "g": "c0b002df0f286108",
    "name": "power",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "power",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'socket '&msg.option",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4970,
    "y": 1800,
    "wires": [
      [
        "f5c2ab1d8a9d4f05"
      ]
    ]
  },
  {
    "id": "0c68f6b037bb2c3f",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "c0b002df0f286108",
    "name": "zwave - FGS223 - source",
    "links": [
      "24058eec92534b27"
    ],
    "x": 4515,
    "y": 1740,
    "wires": [
      [
        "94c509df2eefb756"
      ]
    ]
  },
  {
    "id": "94c509df2eefb756",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "c0b002df0f286108",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "FGS223",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 4650,
    "y": 1740,
    "wires": [
      [
        "4eec716927c54696"
      ]
    ]
  },
  {
    "id": "4eec716927c54696",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "c0b002df0f286108",
    "name": "topic",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "msg.prefix&'/37/'&msg.option&'/currentValue'",
        "vt": "jsonata"
      },
      {
        "t": "eq",
        "v": "msg.prefix&'/50/'&msg.option&'/value/66049'",
        "vt": "jsonata"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 4810,
    "y": 1740,
    "wires": [
      [
        "da52d77e97c46855"
      ],
      [
        "6614feac3aab5d48"
      ]
    ]
  },
  {
    "id": "f5c2ab1d8a9d4f05",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "c0b002df0f286108",
    "name": "zwave - FGS223 - source",
    "mode": "link",
    "links": [
      "14a0a0839924964f"
    ],
    "x": 5095,
    "y": 1740,
    "wires": []
  },
  {
    "id": "b4ab5729d8b915e3",
    "type": "change",
    "z": "03220402a282530b",
    "g": "9306ccb4b4f39b0f",
    "name": "topic",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "'37/'&msg.option&'/targetValue/set'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 5790,
    "y": 1740,
    "wires": [
      [
        "a0599f25333072be"
      ]
    ]
  },
  {
    "id": "b776ddbdb4b51028",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "9306ccb4b4f39b0f",
    "name": "zwave - FGS223 - metric",
    "links": [
      "637b84024e725f38"
    ],
    "x": 5275,
    "y": 1740,
    "wires": [
      [
        "edfa688e83ba01ec"
      ]
    ]
  },
  {
    "id": "a0599f25333072be",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "9306ccb4b4f39b0f",
    "name": "zwave - FGS223 - metric",
    "mode": "link",
    "links": [
      "e93e8daa30075ae6"
    ],
    "x": 5915,
    "y": 1740,
    "wires": []
  },
  {
    "id": "edfa688e83ba01ec",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "9306ccb4b4f39b0f",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ZMNHBD",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 5410,
    "y": 1740,
    "wires": [
      [
        "5e7190592d427d58"
      ]
    ]
  },
  {
    "id": "5e7190592d427d58",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "9306ccb4b4f39b0f",
    "name": "measurement",
    "property": "measurement",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "cible",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 5600,
    "y": 1740,
    "wires": [
      [
        "b4ab5729d8b915e3"
      ]
    ]
  },
  {
    "id": "17d862b7c87a0c81",
    "type": "change",
    "z": "03220402a282530b",
    "g": "4a380e4e6f98695d",
    "name": "cible / shutter* / dimmer / 0*",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "cible",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'shutter'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "dimmer",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "msg.default?msg.default:0",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3760,
    "y": 2160,
    "wires": [
      [
        "ca10c66c7eb38d3a"
      ]
    ]
  },
  {
    "id": "395101accdb746b0",
    "type": "change",
    "z": "03220402a282530b",
    "g": "4a380e4e6f98695d",
    "name": "aperture* / shutter* / dimmer / 0*",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "msg.measurement?msg.measurement:'aperture'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'shutter'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "dimmer",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "msg.default?msg.default:0",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3770,
    "y": 2220,
    "wires": [
      [
        "ca10c66c7eb38d3a"
      ]
    ]
  },
  {
    "id": "49c51b54dbc8de4b",
    "type": "change",
    "z": "03220402a282530b",
    "g": "4a380e4e6f98695d",
    "name": "power / shutter*  / number / 0",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "power",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'shutter'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3760,
    "y": 2280,
    "wires": [
      [
        "ca10c66c7eb38d3a"
      ]
    ]
  },
  {
    "id": "115d9ecf61c636e1",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "4a380e4e6f98695d",
    "name": "zwave - FGR223 - device",
    "links": [
      "546f190f3ec0c90d"
    ],
    "x": 3395,
    "y": 2100,
    "wires": [
      [
        "313791fb98411c32"
      ]
    ]
  },
  {
    "id": "313791fb98411c32",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "4a380e4e6f98695d",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "FGR223",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 3530,
    "y": 2100,
    "wires": [
      [
        "17d862b7c87a0c81",
        "395101accdb746b0",
        "49c51b54dbc8de4b",
        "995fad47e619c553"
      ]
    ]
  },
  {
    "id": "6b94df736e3aae95",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "4a380e4e6f98695d",
    "name": "zwave - FGR223 - device",
    "mode": "link",
    "links": [
      "3e1b4213132404be"
    ],
    "x": 4175,
    "y": 2100,
    "wires": []
  },
  {
    "id": "995fad47e619c553",
    "type": "change",
    "z": "03220402a282530b",
    "g": "4a380e4e6f98695d",
    "name": "brand: fibaro / aperture* / shutter*",
    "rules": [
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "fibaro",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "msg.measurement?msg.measurement:'aperture'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'shutter'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3780,
    "y": 2100,
    "wires": [
      [
        "ca10c66c7eb38d3a"
      ]
    ]
  },
  {
    "id": "ca10c66c7eb38d3a",
    "type": "change",
    "z": "03220402a282530b",
    "g": "4a380e4e6f98695d",
    "name": "protocol",
    "rules": [
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "zwave",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4040,
    "y": 2100,
    "wires": [
      [
        "6b94df736e3aae95"
      ]
    ]
  },
  {
    "id": "de6adbd1a6a76e71",
    "type": "comment",
    "z": "03220402a282530b",
    "g": "4a380e4e6f98695d",
    "name": "aperture / shutter",
    "info": "",
    "x": 3460,
    "y": 2160,
    "wires": []
  },
  {
    "id": "587efc609fd34f60",
    "type": "change",
    "z": "03220402a282530b",
    "g": "7ba5b63508a29d7b",
    "name": "power",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "power",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4810,
    "y": 2160,
    "wires": [
      [
        "465fd39cc57093ae"
      ]
    ]
  },
  {
    "id": "d0b465b95bb896ba",
    "type": "change",
    "z": "03220402a282530b",
    "g": "7ba5b63508a29d7b",
    "name": "aperture",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "aperture",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4820,
    "y": 2100,
    "wires": [
      [
        "465fd39cc57093ae"
      ]
    ]
  },
  {
    "id": "a12c8ea8c9ebce6e",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "7ba5b63508a29d7b",
    "name": "zwave - FGR223 - source",
    "links": [
      "24058eec92534b27"
    ],
    "x": 4355,
    "y": 2100,
    "wires": [
      [
        "235c64c84c410ada"
      ]
    ]
  },
  {
    "id": "465fd39cc57093ae",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "7ba5b63508a29d7b",
    "name": "zwave - FGR223 - source",
    "mode": "link",
    "links": [
      "14a0a0839924964f"
    ],
    "x": 4955,
    "y": 2100,
    "wires": []
  },
  {
    "id": "57c40fb9509f24f8",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "7ba5b63508a29d7b",
    "name": "topic",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "msg.prefix&'/38/1/currentValue'",
        "vt": "jsonata"
      },
      {
        "t": "eq",
        "v": "msg.prefix&'/50/1/value/66049'",
        "vt": "jsonata"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 4650,
    "y": 2100,
    "wires": [
      [
        "d0b465b95bb896ba"
      ],
      [
        "587efc609fd34f60"
      ]
    ]
  },
  {
    "id": "235c64c84c410ada",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "7ba5b63508a29d7b",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "FGR223",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 4490,
    "y": 2100,
    "wires": [
      [
        "57c40fb9509f24f8"
      ]
    ]
  },
  {
    "id": "4eeff21a82a74216",
    "type": "change",
    "z": "03220402a282530b",
    "g": "5b6ef9828f2cbf8a",
    "name": "topic",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "38/1/targetValue/set",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 5650,
    "y": 2100,
    "wires": [
      [
        "60e5aff00573dfee"
      ]
    ]
  },
  {
    "id": "cd0939042b525b67",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "5b6ef9828f2cbf8a",
    "name": "zwave - FGR223 - metric",
    "links": [
      "637b84024e725f38"
    ],
    "x": 5135,
    "y": 2100,
    "wires": [
      [
        "27df9eeb4c4be0d9"
      ]
    ]
  },
  {
    "id": "a405297eaa582a12",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "5b6ef9828f2cbf8a",
    "name": "zwave - FGR223 - metric",
    "mode": "link",
    "links": [
      "e93e8daa30075ae6"
    ],
    "x": 5935,
    "y": 2100,
    "wires": []
  },
  {
    "id": "27df9eeb4c4be0d9",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "5b6ef9828f2cbf8a",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "FGR223",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 5270,
    "y": 2100,
    "wires": [
      [
        "4dfeb1671f086cf5"
      ]
    ]
  },
  {
    "id": "4dfeb1671f086cf5",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "5b6ef9828f2cbf8a",
    "name": "measurement",
    "property": "measurement",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "cible",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 5460,
    "y": 2100,
    "wires": [
      [
        "4eeff21a82a74216"
      ]
    ]
  },
  {
    "id": "60e5aff00573dfee",
    "type": "trigger",
    "z": "03220402a282530b",
    "g": "5b6ef9828f2cbf8a",
    "name": "replay",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "payl",
    "duration": "30",
    "extend": true,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "topic",
    "topic": "id",
    "outputs": 1,
    "x": 5810,
    "y": 2100,
    "wires": [
      [
        "a405297eaa582a12"
      ]
    ]
  },
  {
    "id": "4934e4e9bbbcf276",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "5550170f30d4e17c",
    "name": "topic",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "msg.prefix&'/113/0/Access_Control/Door_state'",
        "vt": "jsonata"
      },
      {
        "t": "eq",
        "v": "msg.prefix&'/49/0/Air_temperature'",
        "vt": "jsonata"
      },
      {
        "t": "eq",
        "v": "msg.prefix&'/128/0/level'",
        "vt": "jsonata"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 3,
    "x": 4650,
    "y": 2520,
    "wires": [
      [
        "bd61789259c6755d"
      ],
      [
        "ab198f30438066cf"
      ],
      [
        "6167d3ab75e9020c"
      ]
    ]
  },
  {
    "id": "bd61789259c6755d",
    "type": "change",
    "z": "03220402a282530b",
    "g": "5550170f30d4e17c",
    "name": "aperture",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "aperture",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$boolean($abs($number(msg.payload)-23))",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4820,
    "y": 2460,
    "wires": [
      [
        "4a66fcf836959d2c"
      ]
    ]
  },
  {
    "id": "ab198f30438066cf",
    "type": "change",
    "z": "03220402a282530b",
    "g": "5550170f30d4e17c",
    "name": "temperature",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "temperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4830,
    "y": 2520,
    "wires": [
      [
        "4a66fcf836959d2c"
      ]
    ]
  },
  {
    "id": "6167d3ab75e9020c",
    "type": "change",
    "z": "03220402a282530b",
    "g": "5550170f30d4e17c",
    "name": "battery",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "battery",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4810,
    "y": 2580,
    "wires": [
      [
        "4a66fcf836959d2c"
      ]
    ]
  },
  {
    "id": "63ccb5cc65d41db0",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "5550170f30d4e17c",
    "name": "zwave - FGDW002 - source",
    "links": [
      "24058eec92534b27"
    ],
    "x": 4355,
    "y": 2520,
    "wires": [
      [
        "b690e7b1952e6dbd"
      ]
    ]
  },
  {
    "id": "b690e7b1952e6dbd",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "5550170f30d4e17c",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "FGDW002",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 4490,
    "y": 2520,
    "wires": [
      [
        "4934e4e9bbbcf276"
      ]
    ]
  },
  {
    "id": "4a66fcf836959d2c",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "5550170f30d4e17c",
    "name": "zwave - FGDW002 - source",
    "mode": "link",
    "links": [
      "14a0a0839924964f"
    ],
    "x": 4975,
    "y": 2520,
    "wires": []
  },
  {
    "id": "17477da0ab771aec",
    "type": "change",
    "z": "03220402a282530b",
    "g": "a20475bea97e7d94",
    "name": "temperature / door* / number / 20",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "temperature",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'door'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "20",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3780,
    "y": 2520,
    "wires": [
      [
        "dcad275631537041"
      ]
    ]
  },
  {
    "id": "5184a5c010f3a471",
    "type": "change",
    "z": "03220402a282530b",
    "g": "a20475bea97e7d94",
    "name": "aperture / door* / boolean / false",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "aperture",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'door'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3770,
    "y": 2580,
    "wires": [
      [
        "dcad275631537041"
      ]
    ]
  },
  {
    "id": "a9fa8c0a0f9cc6c5",
    "type": "change",
    "z": "03220402a282530b",
    "g": "a20475bea97e7d94",
    "name": "battery / door* / percent / 99",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "battery",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'door'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "percent",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "99",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3760,
    "y": 2640,
    "wires": [
      [
        "dcad275631537041"
      ]
    ]
  },
  {
    "id": "8a0b4fb72d78f2f6",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "a20475bea97e7d94",
    "name": "zwave - FGDW002 - device",
    "links": [
      "546f190f3ec0c90d"
    ],
    "x": 3395,
    "y": 2460,
    "wires": [
      [
        "595aaa04ece20f2b"
      ]
    ]
  },
  {
    "id": "595aaa04ece20f2b",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "a20475bea97e7d94",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "FGDW002",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 3530,
    "y": 2460,
    "wires": [
      [
        "72e91a01a0069d6d",
        "17477da0ab771aec",
        "5184a5c010f3a471",
        "a9fa8c0a0f9cc6c5"
      ]
    ]
  },
  {
    "id": "72e91a01a0069d6d",
    "type": "change",
    "z": "03220402a282530b",
    "g": "a20475bea97e7d94",
    "name": "brand: fibaro / aperture / door*",
    "rules": [
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "fibaro",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "aperture",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'door'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3770,
    "y": 2460,
    "wires": [
      [
        "dcad275631537041"
      ]
    ]
  },
  {
    "id": "dcad275631537041",
    "type": "change",
    "z": "03220402a282530b",
    "g": "a20475bea97e7d94",
    "name": "protocol",
    "rules": [
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "zwave",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4040,
    "y": 2460,
    "wires": [
      [
        "e43044b50e8b545e"
      ]
    ]
  },
  {
    "id": "e43044b50e8b545e",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "a20475bea97e7d94",
    "name": "zwave - FGDW002 - device",
    "mode": "link",
    "links": [
      "3e1b4213132404be"
    ],
    "x": 4175,
    "y": 2460,
    "wires": []
  },
  {
    "id": "8200e47f3ac4a54c",
    "type": "comment",
    "z": "03220402a282530b",
    "g": "a20475bea97e7d94",
    "name": "aperture / door",
    "info": "",
    "x": 3460,
    "y": 2520,
    "wires": []
  },
  {
    "id": "bb470048978f0a5f",
    "type": "change",
    "z": "03220402a282530b",
    "g": "7da83da639a48fc6",
    "name": "cible / shutter* / dimmer / 0*",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "cible",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'shutter'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "dimmer",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "msg.default?msg.default:0",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 2520,
    "wires": [
      [
        "3d511a9b258bcb98"
      ]
    ]
  },
  {
    "id": "b89d73b977e671ac",
    "type": "change",
    "z": "03220402a282530b",
    "g": "7da83da639a48fc6",
    "name": "aperture* / shutter* / dimmer / 0*",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "msg.measurement?msg.measurement:'aperture'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'shutter'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "dimmer",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "msg.default?msg.default:0",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 2580,
    "wires": [
      [
        "3d511a9b258bcb98"
      ]
    ]
  },
  {
    "id": "5e96b8f5b93353a1",
    "type": "change",
    "z": "03220402a282530b",
    "g": "7da83da639a48fc6",
    "name": "power / shutter*  / number / 0",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "power",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'shutter'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 2640,
    "wires": [
      [
        "3d511a9b258bcb98"
      ]
    ]
  },
  {
    "id": "388c30abbe7958c4",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "7da83da639a48fc6",
    "name": "zwave - ZMNHCD - device",
    "links": [
      "546f190f3ec0c90d"
    ],
    "x": 135,
    "y": 2460,
    "wires": [
      [
        "f2e1359ef2aba23d"
      ]
    ]
  },
  {
    "id": "f2e1359ef2aba23d",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "7da83da639a48fc6",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ZMNHCD",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 270,
    "y": 2460,
    "wires": [
      [
        "bb470048978f0a5f",
        "b89d73b977e671ac",
        "5e96b8f5b93353a1",
        "bb978f84aed3c56e"
      ]
    ]
  },
  {
    "id": "5f1b59b7430d9182",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "7da83da639a48fc6",
    "name": "zwave - ZMNHCD - device",
    "mode": "link",
    "links": [
      "3e1b4213132404be"
    ],
    "x": 915,
    "y": 2460,
    "wires": []
  },
  {
    "id": "bb978f84aed3c56e",
    "type": "change",
    "z": "03220402a282530b",
    "g": "7da83da639a48fc6",
    "name": "brand: qubino / aperture* / shutter*",
    "rules": [
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "qubino",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "msg.measurement?msg.measurement:'aperture'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "msg.field?msg.field:'shutter'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 2460,
    "wires": [
      [
        "3d511a9b258bcb98"
      ]
    ]
  },
  {
    "id": "3d511a9b258bcb98",
    "type": "change",
    "z": "03220402a282530b",
    "g": "7da83da639a48fc6",
    "name": "protocol",
    "rules": [
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "zwave",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 780,
    "y": 2460,
    "wires": [
      [
        "5f1b59b7430d9182"
      ]
    ]
  },
  {
    "id": "5b532049057ce244",
    "type": "comment",
    "z": "03220402a282530b",
    "g": "7da83da639a48fc6",
    "name": "aperture / shutter",
    "info": "",
    "x": 200,
    "y": 2520,
    "wires": []
  },
  {
    "id": "40ab635d1b1ec345",
    "type": "change",
    "z": "03220402a282530b",
    "g": "62705fcec5af5085",
    "name": "power",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "power",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1550,
    "y": 2520,
    "wires": [
      [
        "13a43ea0c63dc053"
      ]
    ]
  },
  {
    "id": "6dbebb8a91c9165b",
    "type": "change",
    "z": "03220402a282530b",
    "g": "62705fcec5af5085",
    "name": "aperture*",
    "rules": [],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1560,
    "y": 2460,
    "wires": [
      [
        "13a43ea0c63dc053"
      ]
    ]
  },
  {
    "id": "9c89f8ad918445b3",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "62705fcec5af5085",
    "name": "zwave - ZMNHCD - source",
    "links": [
      "24058eec92534b27"
    ],
    "x": 1095,
    "y": 2460,
    "wires": [
      [
        "6ec6e8722ecb1ea8"
      ]
    ]
  },
  {
    "id": "13a43ea0c63dc053",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "62705fcec5af5085",
    "name": "zwave - ZMNHCD - source",
    "mode": "link",
    "links": [
      "14a0a0839924964f"
    ],
    "x": 1695,
    "y": 2460,
    "wires": []
  },
  {
    "id": "3dc23c43051c7f58",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "62705fcec5af5085",
    "name": "topic",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "msg.prefix&'/38/0/currentValue'",
        "vt": "jsonata"
      },
      {
        "t": "eq",
        "v": "msg.prefix&'/50/0/value/66049'",
        "vt": "jsonata"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 1390,
    "y": 2460,
    "wires": [
      [
        "6dbebb8a91c9165b"
      ],
      [
        "40ab635d1b1ec345"
      ]
    ]
  },
  {
    "id": "6ec6e8722ecb1ea8",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "62705fcec5af5085",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ZMNHCD",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1230,
    "y": 2460,
    "wires": [
      [
        "3dc23c43051c7f58"
      ]
    ]
  },
  {
    "id": "8707ef443b2b75e6",
    "type": "change",
    "z": "03220402a282530b",
    "g": "7e93a24c134aa8e3",
    "name": "topic",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "38/0/targetValue/set",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2390,
    "y": 2460,
    "wires": [
      [
        "8e7510f792d7e993"
      ]
    ]
  },
  {
    "id": "366f7377fd513760",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "7e93a24c134aa8e3",
    "name": "zwave - ZMNHCD - metric",
    "links": [
      "637b84024e725f38"
    ],
    "x": 1875,
    "y": 2460,
    "wires": [
      [
        "c779c6dbb176753a"
      ]
    ]
  },
  {
    "id": "8e7510f792d7e993",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "7e93a24c134aa8e3",
    "name": "zwave - ZMNHCD - metric",
    "mode": "link",
    "links": [
      "e93e8daa30075ae6"
    ],
    "x": 2515,
    "y": 2460,
    "wires": []
  },
  {
    "id": "c779c6dbb176753a",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "7e93a24c134aa8e3",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ZMNHCD",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 2010,
    "y": 2460,
    "wires": [
      [
        "352a3a95ae907bb2"
      ]
    ]
  },
  {
    "id": "352a3a95ae907bb2",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "7e93a24c134aa8e3",
    "name": "measurement",
    "property": "measurement",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "cible",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2200,
    "y": 2460,
    "wires": [
      [
        "8707ef443b2b75e6"
      ]
    ]
  },
  {
    "id": "5cdbb02a7e351e0f",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "29237f8ee2660ed5",
    "name": "topic",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "msg.prefix&'/113/0/Smoke_Alarm/Sensor_status'",
        "vt": "jsonata"
      },
      {
        "t": "eq",
        "v": "msg.prefix&'/113/0/Heat_Alarm/Heat_sensor_status'",
        "vt": "jsonata"
      },
      {
        "t": "eq",
        "v": "msg.prefix&'/128/0/level'",
        "vt": "jsonata"
      },
      {
        "t": "eq",
        "v": "msg.prefix&'/status'",
        "vt": "jsonata"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 4,
    "x": 4610,
    "y": 2880,
    "wires": [
      [
        "33f69aa26f1e209a"
      ],
      [
        "db79ea3229eaecba"
      ],
      [
        "e1728c824c18c918"
      ],
      [
        "743adc10689eacac"
      ]
    ]
  },
  {
    "id": "33f69aa26f1e209a",
    "type": "change",
    "z": "03220402a282530b",
    "g": "29237f8ee2660ed5",
    "name": "smoke",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "smoke",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$number(msg.payload)!=0",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4770,
    "y": 2820,
    "wires": [
      [
        "5d76905ae805599d"
      ]
    ]
  },
  {
    "id": "db79ea3229eaecba",
    "type": "change",
    "z": "03220402a282530b",
    "g": "29237f8ee2660ed5",
    "name": "heat",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "heat",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$number(msg.payload)!=0",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4770,
    "y": 2880,
    "wires": [
      [
        "5d76905ae805599d"
      ]
    ]
  },
  {
    "id": "e1728c824c18c918",
    "type": "change",
    "z": "03220402a282530b",
    "g": "29237f8ee2660ed5",
    "name": "battery",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "battery",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4770,
    "y": 2940,
    "wires": [
      [
        "5d76905ae805599d"
      ]
    ]
  },
  {
    "id": "2095d2a63909780c",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "29237f8ee2660ed5",
    "name": "zwave - FGSD002 - source",
    "links": [
      "24058eec92534b27"
    ],
    "x": 4315,
    "y": 2880,
    "wires": [
      [
        "46c8e45a70c3cba8"
      ]
    ]
  },
  {
    "id": "46c8e45a70c3cba8",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "29237f8ee2660ed5",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "FGSD002",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 4450,
    "y": 2880,
    "wires": [
      [
        "5cdbb02a7e351e0f"
      ]
    ]
  },
  {
    "id": "5d76905ae805599d",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "29237f8ee2660ed5",
    "name": "zwave - FGSD002 - source",
    "mode": "link",
    "links": [
      "14a0a0839924964f"
    ],
    "x": 4895,
    "y": 2880,
    "wires": []
  },
  {
    "id": "743adc10689eacac",
    "type": "change",
    "z": "03220402a282530b",
    "g": "29237f8ee2660ed5",
    "name": "seen",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "seen",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "date"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4770,
    "y": 3000,
    "wires": [
      [
        "5d76905ae805599d"
      ]
    ]
  },
  {
    "id": "1d68f0724b54ae79",
    "type": "change",
    "z": "03220402a282530b",
    "g": "0911ef2f51d2874d",
    "name": "smoke / fire / boolean / false",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "smoke",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "fire",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3760,
    "y": 2880,
    "wires": [
      [
        "cbbeb017488b22b2"
      ]
    ]
  },
  {
    "id": "4d69e994afd7044f",
    "type": "change",
    "z": "03220402a282530b",
    "g": "0911ef2f51d2874d",
    "name": "heat / fire / boolean / false",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "heat",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "fire",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3750,
    "y": 2940,
    "wires": [
      [
        "cbbeb017488b22b2"
      ]
    ]
  },
  {
    "id": "b9b9b74030d6b940",
    "type": "change",
    "z": "03220402a282530b",
    "g": "0911ef2f51d2874d",
    "name": "battery / fire / percent / 99",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "battery",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "fire",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "percent",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "99",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3750,
    "y": 3000,
    "wires": [
      [
        "cbbeb017488b22b2"
      ]
    ]
  },
  {
    "id": "c50944ca0208faa9",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "0911ef2f51d2874d",
    "name": "zwave - FGSD002 - device",
    "links": [
      "546f190f3ec0c90d"
    ],
    "x": 3395,
    "y": 2820,
    "wires": [
      [
        "59a05142f5ec6a47"
      ]
    ]
  },
  {
    "id": "59a05142f5ec6a47",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "0911ef2f51d2874d",
    "name": "model",
    "property": "model",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "FGSD002",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 3530,
    "y": 2820,
    "wires": [
      [
        "d3bb44844809bc3a",
        "1d68f0724b54ae79",
        "4d69e994afd7044f",
        "b9b9b74030d6b940"
      ]
    ]
  },
  {
    "id": "d3bb44844809bc3a",
    "type": "change",
    "z": "03220402a282530b",
    "g": "0911ef2f51d2874d",
    "name": "brand: fibaro / smoke / fire",
    "rules": [
      {
        "t": "set",
        "p": "brand",
        "pt": "msg",
        "to": "fibaro",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "smoke",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "fire",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3750,
    "y": 2820,
    "wires": [
      [
        "cbbeb017488b22b2"
      ]
    ]
  },
  {
    "id": "cbbeb017488b22b2",
    "type": "change",
    "z": "03220402a282530b",
    "g": "0911ef2f51d2874d",
    "name": "protocol",
    "rules": [
      {
        "t": "set",
        "p": "protocol",
        "pt": "msg",
        "to": "zwave",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 4000,
    "y": 2820,
    "wires": [
      [
        "6824a9460e4d8c9f"
      ]
    ]
  },
  {
    "id": "6824a9460e4d8c9f",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "0911ef2f51d2874d",
    "name": "zwave - FGSD002 - device",
    "mode": "link",
    "links": [
      "3e1b4213132404be"
    ],
    "x": 4135,
    "y": 2820,
    "wires": []
  },
  {
    "id": "cde37a984b02d94f",
    "type": "comment",
    "z": "03220402a282530b",
    "g": "0911ef2f51d2874d",
    "name": "smoke / fire",
    "info": "",
    "x": 3450,
    "y": 2880,
    "wires": []
  },
  {
    "id": "27d5cfe560a97c94",
    "type": "catch",
    "z": "03220402a282530b",
    "g": "835c4830d89d6f6a",
    "name": "catch error",
    "scope": null,
    "uncaught": false,
    "x": 620,
    "y": 60,
    "wires": [
      [
        "0bd4017b28560194"
      ]
    ]
  },
  {
    "id": "0bd4017b28560194",
    "type": "change",
    "z": "03220402a282530b",
    "g": "835c4830d89d6f6a",
    "name": "topic",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "zwave",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 790,
    "y": 60,
    "wires": [
      [
        "1ee8ceb3125ebd76"
      ]
    ]
  },
  {
    "id": "1ee8ceb3125ebd76",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "835c4830d89d6f6a",
    "name": "catch error",
    "mode": "link",
    "links": [
      "a52f0e788cd4dca3"
    ],
    "x": 915,
    "y": 60,
    "wires": []
  },
  {
    "id": "3eb59215b6fb19e2",
    "type": "mqtt in",
    "z": "03220402a282530b",
    "g": "1e687cd4c0cc0ece",
    "name": "MQTT zwave",
    "topic": "zwave/#",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "0bd651126b27aac6",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 190,
    "y": 240,
    "wires": [
      [
        "341bc94dee8e9f96"
      ]
    ]
  },
  {
    "id": "ebdbee7baef678a6",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "1e687cd4c0cc0ece",
    "name": "mqtt zwave",
    "mode": "link",
    "links": [
      "0c42605d4e17f7c0",
      "13d4b6546b6078c4",
      "1674f27502adab2b",
      "28bd5077f8af7155",
      "3fa1505cc54c0a4a",
      "6004623d39fd780d",
      "60cdba59b6867a2c",
      "882213638ae51376",
      "8f1673c23cf67a9b",
      "ae31619e220a07e2",
      "b51e54b87cd8c281",
      "db5ad7caf20f44e5",
      "dbfdf715d2b6b0d5",
      "f3685659add53893",
      "21aa9d233920d3db",
      "dcdb87d31c193475",
      "dc42210872f30fd1",
      "e21569bf7b9d08f6",
      "51b478fd1f7bbfe9",
      "da24d3cb7f933d8e",
      "8a735409075bf432",
      "9379fef014648636",
      "4c78ee51560912b7",
      "c634be35fddbb9e8",
      "7a413720d3c10ba8",
      "e2cf426558bd0b60",
      "46f5b6984edcc88f",
      "b4c41faf6220fb5d",
      "dd07962707cadbc4",
      "3be6b8c3d6485c46",
      "ba77500cd9f7f6da",
      "b7b008f170dcc07f"
    ],
    "x": 1215,
    "y": 240,
    "wires": []
  },
  {
    "id": "3738b065c50a0cac",
    "type": "q-gate",
    "z": "03220402a282530b",
    "g": "1e687cd4c0cc0ece",
    "name": "",
    "controlTopic": "gate",
    "defaultState": "queueing",
    "openCmd": "open",
    "closeCmd": "close",
    "toggleCmd": "toggle",
    "queueCmd": "close",
    "defaultCmd": "default",
    "triggerCmd": "trigger",
    "flushCmd": "open",
    "resetCmd": "reset",
    "peekCmd": "peek",
    "dropCmd": "drop",
    "statusCmd": "status",
    "maxQueueLength": "0",
    "keepNewest": false,
    "qToggle": false,
    "persist": false,
    "storeName": "default",
    "x": 590,
    "y": 240,
    "wires": [
      [
        "247945a0f503ac90"
      ]
    ]
  },
  {
    "id": "1d8f71c67df6cec9",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "1e687cd4c0cc0ece",
    "name": "mqtt zwave gate",
    "links": [
      "d68d686bbf684c95",
      "8fdb5986494986cc"
    ],
    "x": 455,
    "y": 300,
    "wires": [
      [
        "3738b065c50a0cac"
      ]
    ]
  },
  {
    "id": "341bc94dee8e9f96",
    "type": "delay",
    "z": "03220402a282530b",
    "g": "1e687cd4c0cc0ece",
    "name": "50 msg / s",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "50",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 390,
    "y": 240,
    "wires": [
      [
        "3738b065c50a0cac"
      ]
    ]
  },
  {
    "id": "247945a0f503ac90",
    "type": "change",
    "z": "03220402a282530b",
    "g": "1e687cd4c0cc0ece",
    "name": "raz MQTT properties",
    "rules": [
      {
        "t": "delete",
        "p": "qos",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "retain",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1040,
    "y": 240,
    "wires": [
      [
        "ebdbee7baef678a6"
      ]
    ]
  },
  {
    "id": "92d0d0a5798c06cf",
    "type": "mqtt out",
    "z": "03220402a282530b",
    "g": "b5e2408a7d09537d",
    "name": "MQTT zwave",
    "topic": "",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "0bd651126b27aac6",
    "x": 1690,
    "y": 240,
    "wires": []
  },
  {
    "id": "62dd3e8d6c87a0f9",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "b5e2408a7d09537d",
    "name": "mqtt zwave",
    "links": [
      "a28b7b24c0ae9f8c",
      "a02f78ffaedc9739",
      "bccc33b4c0db9760",
      "1c422d2c16125ca4",
      "a06f150e72b873f2",
      "eb69b7f3d6f894e3",
      "f887adfd6fa075c2",
      "2be05ddfe63b7313",
      "648fbe7936a6e771",
      "db4fcb97194bacd4",
      "5ff9bf33eef6edea",
      "4af3a6003798549f",
      "a4f551d4cf84d1fe",
      "9155daed44745330",
      "9678ea31a895d9f4",
      "433ea1c0deda2243",
      "e96ba8b040e58218",
      "41eb5aee9b16405c",
      "2dfc7db2679a7eca",
      "4f46e6e1244003c5",
      "87b36faadc498428",
      "b8e5f320e0d5e119",
      "8a93f83ac805403e",
      "f531075e0ccd5d1d",
      "89d2eebcaafb5013",
      "5f9d0ad90e63e256"
    ],
    "x": 1335,
    "y": 240,
    "wires": [
      [
        "a6b8c9c223ea5942"
      ]
    ]
  },
  {
    "id": "82908fcfdf7f599a",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "b5e2408a7d09537d",
    "name": "mqtt zwave output",
    "mode": "link",
    "links": [
      "ca89a4baa1806e71",
      "ab63acc660e32a18",
      "0ed67256bb147e2b"
    ],
    "x": 1635,
    "y": 300,
    "wires": []
  },
  {
    "id": "a6b8c9c223ea5942",
    "type": "switch",
    "z": "03220402a282530b",
    "g": "b5e2408a7d09537d",
    "name": "check topic",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "^zwave",
        "vt": "str",
        "case": false
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1490,
    "y": 240,
    "wires": [
      [
        "92d0d0a5798c06cf",
        "82908fcfdf7f599a"
      ]
    ]
  },
  {
    "id": "af1f37a02c4c1955",
    "type": "change",
    "z": "03220402a282530b",
    "g": "a2ec354825243259",
    "name": "bucket",
    "rules": [
      {
        "t": "set",
        "p": "bucket",
        "pt": "msg",
        "to": "zwave",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "bucket",
        "pt": "flow",
        "to": "bucket",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 270,
    "y": 60,
    "wires": [
      [
        "3226e1c699eaca3d"
      ]
    ]
  },
  {
    "id": "d129c40c48c09bac",
    "type": "link in",
    "z": "03220402a282530b",
    "g": "a2ec354825243259",
    "name": "zwave - bucket",
    "links": [
      "25445f5a9b787a0a"
    ],
    "x": 135,
    "y": 60,
    "wires": [
      [
        "af1f37a02c4c1955"
      ]
    ]
  },
  {
    "id": "3226e1c699eaca3d",
    "type": "link out",
    "z": "03220402a282530b",
    "g": "a2ec354825243259",
    "name": "zwave - bucket",
    "mode": "link",
    "links": [],
    "x": 395,
    "y": 60,
    "wires": []
  }
]