flows/R.Cave.json
[
  {
    "id": "2b225e03b149417d",
    "type": "tab",
    "label": "R.Cave",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "364b9761d8088f04",
    "type": "group",
    "z": "2b225e03b149417d",
    "name": "cave - bucket",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true,
      "stroke": "#ffC000"
    },
    "nodes": [
      "47b0bec6b79462ee",
      "65725013d8d62c50",
      "e035e232e2747fed"
    ],
    "x": 94,
    "y": 19,
    "w": 342,
    "h": 82
  },
  {
    "id": "8ca43dfd53418157",
    "type": "group",
    "z": "2b225e03b149417d",
    "name": "cave - ui select room",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true,
      "stroke": "#6f2fa0"
    },
    "nodes": [
      "ddd7a64191f066e2",
      "1ce42313fa49e65c",
      "5dd35feb703da51b",
      "1ccf084222189e6f"
    ],
    "x": 1054,
    "y": 19,
    "w": 562,
    "h": 82
  },
  {
    "id": "5b893e80c4d5d4dc",
    "type": "group",
    "z": "2b225e03b149417d",
    "name": "",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "e8fbf877572c810c"
    ],
    "x": 68,
    "y": 1553,
    "w": 814,
    "h": 494
  },
  {
    "id": "0f0c98325e8cb3d1",
    "type": "group",
    "z": "2b225e03b149417d",
    "name": "",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "7a18a0b29c2d248d",
      "5a0952c60ca71a4d"
    ],
    "x": 68,
    "y": 233,
    "w": 1694,
    "h": 314
  },
  {
    "id": "37624cd98b8ee2a4",
    "type": "group",
    "z": "2b225e03b149417d",
    "name": "",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "729d745d2f78ab73",
      "297b2d3fd56440f9"
    ],
    "x": 68,
    "y": 593,
    "w": 1494,
    "h": 374
  },
  {
    "id": "f8d0942e587ff2f0",
    "type": "group",
    "z": "2b225e03b149417d",
    "name": "cave - alexa",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "0fd00a5d28108c93",
      "bf0c9db59b2649d8",
      "5058bbe07bedfb71",
      "1be2396c5ede7eef"
    ],
    "x": 68,
    "y": 1013,
    "w": 1394,
    "h": 494
  },
  {
    "id": "49832240a78ee7ed",
    "type": "group",
    "z": "2b225e03b149417d",
    "name": "catch error",
    "style": {
      "fill": "#ff0000",
      "fill-opacity": "0.05",
      "label": true,
      "stroke": "#ff0000"
    },
    "nodes": [
      "12407f33e3e39829",
      "f0f6469a83e81a42",
      "4a57670feb22dd22"
    ],
    "x": 534,
    "y": 19,
    "w": 422,
    "h": 82
  },
  {
    "id": "e8fbf877572c810c",
    "type": "group",
    "z": "2b225e03b149417d",
    "g": "5b893e80c4d5d4dc",
    "name": "cave - device - auto",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "251128455c53d96c",
      "bceefffb42f84f2d",
      "d8d03fc024720f90",
      "6c6aeae0d1cd2dec",
      "3266e87bcd98deec",
      "d063a776bac586a6",
      "4c67090f1c608d32",
      "1bea0b5deabc652b",
      "d56ce72fe8ca303e",
      "665497a5770702cc",
      "7fe1a6c98410eb18",
      "afd8f3a9262a6b2b",
      "bd692339d274cb6d",
      "aac903fa89536260",
      "8c6a49f6bfc1489c",
      "1abdcd583acf98b3"
    ],
    "x": 94,
    "y": 1579,
    "w": 762,
    "h": 442
  },
  {
    "id": "7a18a0b29c2d248d",
    "type": "group",
    "z": "2b225e03b149417d",
    "g": "0f0c98325e8cb3d1",
    "name": "cave - device - lighting",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "9f6e59d6bff54b3f",
      "56833e1ff5565e6b",
      "ba6b54792ca46359",
      "6df1e17773517b72",
      "aa7b6ce7671e2eec",
      "3f6cb72502b1116f"
    ],
    "x": 94,
    "y": 259,
    "w": 522,
    "h": 262
  },
  {
    "id": "5a0952c60ca71a4d",
    "type": "group",
    "z": "2b225e03b149417d",
    "g": "0f0c98325e8cb3d1",
    "name": "cave - scene - lighting door",
    "style": {
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "4335202ca878a5da",
      "02c43596227a787d",
      "588385f03a20298b",
      "52b59fc8ef0553fe",
      "dd44ff42bcd1e053",
      "4891cf30f176c576"
    ],
    "x": 714,
    "y": 296.5,
    "w": 1022,
    "h": 164.5
  },
  {
    "id": "729d745d2f78ab73",
    "type": "group",
    "z": "2b225e03b149417d",
    "g": "37624cd98b8ee2a4",
    "name": "cave - scene - cumulus balloon",
    "style": {
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "1dee4c1bfd86f78c",
      "c11de5fcb0565144",
      "d60df3cdcb5355ed",
      "a5610da475c5e78e",
      "f4d397304d1643d4"
    ],
    "x": 694,
    "y": 724,
    "w": 842,
    "h": 112
  },
  {
    "id": "297b2d3fd56440f9",
    "type": "group",
    "z": "2b225e03b149417d",
    "g": "37624cd98b8ee2a4",
    "name": "cave - device - cumulus",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "ab0e0267be067354",
      "6d8b9ac84c8dc897",
      "cf6474d8d06d0270",
      "b986d701532491f9",
      "d8f18951a98cd40c",
      "216fcd9d7b66d1b0",
      "8c211879313393ab"
    ],
    "x": 94,
    "y": 619,
    "w": 502,
    "h": 322
  },
  {
    "id": "0fd00a5d28108c93",
    "type": "group",
    "z": "2b225e03b149417d",
    "g": "f8d0942e587ff2f0",
    "name": "cave - alexa - light",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "a72c1a80a1c23c90",
      "fc33f164d4208460",
      "3bb670b7c782d0fe",
      "90c2212a5870ab4d",
      "40a1233e15703902",
      "7a48d3b28afb9335",
      "89735cb301bdea99"
    ],
    "x": 94,
    "y": 1039,
    "w": 1342,
    "h": 82
  },
  {
    "id": "bf0c9db59b2649d8",
    "type": "group",
    "z": "2b225e03b149417d",
    "g": "f8d0942e587ff2f0",
    "name": "cave - alexa - temperature",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "e1f047b857bb87e9",
      "0ff0fadc83ac38d1",
      "cf514e4790cf30b2",
      "c86c464bb9aa4ec7",
      "3762437c4d4b168c"
    ],
    "x": 94,
    "y": 1159,
    "w": 952,
    "h": 82
  },
  {
    "id": "5058bbe07bedfb71",
    "type": "group",
    "z": "2b225e03b149417d",
    "g": "f8d0942e587ff2f0",
    "name": "cave - alexa - motion",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "76fff1f1e6767cb1",
      "f078c245986b329c",
      "c952edfa67754b49",
      "5bdae1b3b0632ad1",
      "ac6b4421c7675b8f"
    ],
    "x": 94,
    "y": 1279,
    "w": 952,
    "h": 82
  },
  {
    "id": "1be2396c5ede7eef",
    "type": "group",
    "z": "2b225e03b149417d",
    "g": "f8d0942e587ff2f0",
    "name": "cave - alexa - aperture",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "079402876ffb0af4",
      "151c6168bcca45e8",
      "ce088fb02cc8d95e",
      "b178cd11693d5684",
      "938259965bdd9849"
    ],
    "x": 94,
    "y": 1399,
    "w": 892,
    "h": 82
  },
  {
    "id": "47b0bec6b79462ee",
    "type": "change",
    "z": "2b225e03b149417d",
    "g": "364b9761d8088f04",
    "name": "bucket",
    "rules": [
      {
        "t": "set",
        "p": "bucket",
        "pt": "msg",
        "to": "cave",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "bucket",
        "pt": "flow",
        "to": "bucket",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 270,
    "y": 60,
    "wires": [
      [
        "e035e232e2747fed"
      ]
    ]
  },
  {
    "id": "65725013d8d62c50",
    "type": "link in",
    "z": "2b225e03b149417d",
    "g": "364b9761d8088f04",
    "name": "cave - bucket",
    "links": [
      "25445f5a9b787a0a"
    ],
    "x": 135,
    "y": 60,
    "wires": [
      [
        "47b0bec6b79462ee"
      ]
    ]
  },
  {
    "id": "e035e232e2747fed",
    "type": "link out",
    "z": "2b225e03b149417d",
    "g": "364b9761d8088f04",
    "name": "cave - bucket",
    "mode": "link",
    "links": [
      "2e7bb0e6e6079d56",
      "aa7b6ce7671e2eec",
      "cf6474d8d06d0270",
      "d063a776bac586a6",
      "668589ced855b77f"
    ],
    "x": 395,
    "y": 60,
    "wires": []
  },
  {
    "id": "ddd7a64191f066e2",
    "type": "link out",
    "z": "2b225e03b149417d",
    "g": "8ca43dfd53418157",
    "name": "cave - ui select room",
    "mode": "link",
    "links": [
      "1be6ca3c2b8615a2"
    ],
    "x": 1575,
    "y": 60,
    "wires": []
  },
  {
    "id": "1ce42313fa49e65c",
    "type": "link in",
    "z": "2b225e03b149417d",
    "g": "8ca43dfd53418157",
    "name": "cave - ui select room",
    "links": [
      "74172837e07ab80d"
    ],
    "x": 1095,
    "y": 60,
    "wires": [
      [
        "5dd35feb703da51b"
      ]
    ]
  },
  {
    "id": "5dd35feb703da51b",
    "type": "change",
    "z": "2b225e03b149417d",
    "g": "8ca43dfd53418157",
    "name": "enabled button",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "bucket",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "msg.payload != msg.room",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1260,
    "y": 60,
    "wires": [
      [
        "1ccf084222189e6f"
      ]
    ]
  },
  {
    "id": "1ccf084222189e6f",
    "type": "ui-button",
    "z": "2b225e03b149417d",
    "g": "8ca43dfd53418157",
    "group": "36396f5285df476c",
    "name": "",
    "label": "Cave",
    "order": 6,
    "width": "2",
    "height": "1",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "bucket",
    "payloadType": "flow",
    "topic": "topic",
    "topicType": "msg",
    "x": 1450,
    "y": 60,
    "wires": [
      [
        "ddd7a64191f066e2"
      ]
    ]
  },
  {
    "id": "251128455c53d96c",
    "type": "change",
    "z": "2b225e03b149417d",
    "g": "e8fbf877572c810c",
    "name": "THG / xxx / temperature / probe",
    "rules": [
      {
        "t": "set",
        "p": "model",
        "pt": "msg",
        "to": "THG",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 1800,
    "wires": [
      [
        "4c67090f1c608d32"
      ]
    ]
  },
  {
    "id": "bceefffb42f84f2d",
    "type": "change",
    "z": "2b225e03b149417d",
    "g": "e8fbf877572c810c",
    "name": "FGMS001 / xxx / motion / detector",
    "rules": [
      {
        "t": "set",
        "p": "model",
        "pt": "msg",
        "to": "FGMS001",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 1620,
    "wires": [
      [
        "4c67090f1c608d32"
      ]
    ]
  },
  {
    "id": "d8d03fc024720f90",
    "type": "change",
    "z": "2b225e03b149417d",
    "g": "e8fbf877572c810c",
    "name": "ZMNHAD / xxx / light / door",
    "rules": [
      {
        "t": "set",
        "p": "model",
        "pt": "msg",
        "to": "ZMNHAD",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "option",
        "pt": "msg",
        "to": "2",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "light",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "door",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 1680,
    "wires": [
      [
        "4c67090f1c608d32"
      ]
    ]
  },
  {
    "id": "6c6aeae0d1cd2dec",
    "type": "change",
    "z": "2b225e03b149417d",
    "g": "e8fbf877572c810c",
    "name": "REOLINK / xxx / camera / url",
    "rules": [
      {
        "t": "set",
        "p": "model",
        "pt": "msg",
        "to": "REOLINK",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 1740,
    "wires": [
      [
        "4c67090f1c608d32"
      ]
    ]
  },
  {
    "id": "3266e87bcd98deec",
    "type": "change",
    "z": "2b225e03b149417d",
    "g": "e8fbf877572c810c",
    "name": "412171 / xxx / cumulus / balloon",
    "rules": [
      {
        "t": "set",
        "p": "model",
        "pt": "msg",
        "to": "412171",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "cumulus",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "balloon",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 1860,
    "wires": [
      [
        "4c67090f1c608d32"
      ]
    ]
  },
  {
    "id": "d063a776bac586a6",
    "type": "link in",
    "z": "2b225e03b149417d",
    "g": "e8fbf877572c810c",
    "name": "cave - device - auto",
    "links": [
      "e035e232e2747fed"
    ],
    "x": 135,
    "y": 1620,
    "wires": [
      [
        "665497a5770702cc",
        "7fe1a6c98410eb18",
        "afd8f3a9262a6b2b",
        "bd692339d274cb6d",
        "aac903fa89536260",
        "8c6a49f6bfc1489c",
        "1abdcd583acf98b3"
      ]
    ]
  },
  {
    "id": "4c67090f1c608d32",
    "type": "link out",
    "z": "2b225e03b149417d",
    "g": "e8fbf877572c810c",
    "name": "cave - device - auto",
    "mode": "link",
    "links": [
      "d85fe6335a6eae7b"
    ],
    "x": 815,
    "y": 1620,
    "wires": []
  },
  {
    "id": "1bea0b5deabc652b",
    "type": "change",
    "z": "2b225e03b149417d",
    "g": "e8fbf877572c810c",
    "name": "412170 / xxx / outlet / rack / true",
    "rules": [
      {
        "t": "set",
        "p": "model",
        "pt": "msg",
        "to": "412170",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "outlet",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "rack",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 1920,
    "wires": [
      [
        "4c67090f1c608d32"
      ]
    ]
  },
  {
    "id": "d56ce72fe8ca303e",
    "type": "change",
    "z": "2b225e03b149417d",
    "g": "e8fbf877572c810c",
    "name": "FGSD002 / xxx / smoke / fire",
    "rules": [
      {
        "t": "set",
        "p": "model",
        "pt": "msg",
        "to": "FGSD002",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 1980,
    "wires": [
      [
        "4c67090f1c608d32"
      ]
    ]
  },
  {
    "id": "9f6e59d6bff54b3f",
    "type": "change",
    "z": "2b225e03b149417d",
    "g": "7a18a0b29c2d248d",
    "name": "lighting / actif / boolean / true",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "lighting",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "actif",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 340,
    "y": 300,
    "wires": [
      [
        "56833e1ff5565e6b"
      ]
    ]
  },
  {
    "id": "56833e1ff5565e6b",
    "type": "link out",
    "z": "2b225e03b149417d",
    "g": "7a18a0b29c2d248d",
    "name": "cave - device - lighting",
    "mode": "link",
    "links": [
      "bfa594bf1f876c92"
    ],
    "x": 575,
    "y": 300,
    "wires": []
  },
  {
    "id": "ba6b54792ca46359",
    "type": "change",
    "z": "2b225e03b149417d",
    "g": "7a18a0b29c2d248d",
    "name": "lighting / timer / number / 10",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "lighting",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "timer",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "10",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 340,
    "y": 360,
    "wires": [
      [
        "56833e1ff5565e6b"
      ]
    ]
  },
  {
    "id": "6df1e17773517b72",
    "type": "change",
    "z": "2b225e03b149417d",
    "g": "7a18a0b29c2d248d",
    "name": "lighting / motion / boolean / true",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "lighting",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "motion",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 350,
    "y": 420,
    "wires": [
      [
        "56833e1ff5565e6b"
      ]
    ]
  },
  {
    "id": "aa7b6ce7671e2eec",
    "type": "link in",
    "z": "2b225e03b149417d",
    "g": "7a18a0b29c2d248d",
    "name": "cave - device - lighting",
    "links": [
      "e035e232e2747fed"
    ],
    "x": 135,
    "y": 300,
    "wires": [
      [
        "9f6e59d6bff54b3f",
        "ba6b54792ca46359",
        "6df1e17773517b72",
        "3f6cb72502b1116f"
      ]
    ]
  },
  {
    "id": "3f6cb72502b1116f",
    "type": "change",
    "z": "2b225e03b149417d",
    "g": "7a18a0b29c2d248d",
    "name": "lighting / retention / boolean / true",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "lighting",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "retention",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 360,
    "y": 480,
    "wires": [
      [
        "56833e1ff5565e6b"
      ]
    ]
  },
  {
    "id": "4335202ca878a5da",
    "type": "link in",
    "z": "2b225e03b149417d",
    "g": "5a0952c60ca71a4d",
    "name": "cave - scene - lighting door",
    "links": [
      "031a6afd8300356a"
    ],
    "x": 755,
    "y": 360,
    "wires": [
      [
        "588385f03a20298b"
      ]
    ]
  },
  {
    "id": "02c43596227a787d",
    "type": "change",
    "z": "2b225e03b149417d",
    "g": "5a0952c60ca71a4d",
    "name": "scene lighting / door / boolean",
    "rules": [
      {
        "t": "set",
        "p": "scene.bucket",
        "pt": "msg",
        "to": "bucket",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "scene.measurement",
        "pt": "msg",
        "to": "light",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.field",
        "pt": "msg",
        "to": "door",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.type",
        "pt": "msg",
        "to": "lighting",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.on",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "scene.off",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1490,
    "y": 360,
    "wires": [
      [
        "52b59fc8ef0553fe"
      ]
    ]
  },
  {
    "id": "588385f03a20298b",
    "type": "switch",
    "z": "2b225e03b149417d",
    "g": "5a0952c60ca71a4d",
    "name": "trigger",
    "property": "path",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "cave/motion",
        "vt": "str",
        "case": false
      },
      {
        "t": "eq",
        "v": "cave/aperture/door",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "cave/light/door",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "system/mode/lighting",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "bureau/command/remote",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 5,
    "x": 890,
    "y": 360,
    "wires": [
      [
        "02c43596227a787d"
      ],
      [
        "02c43596227a787d"
      ],
      [
        "02c43596227a787d"
      ],
      [
        "02c43596227a787d"
      ],
      [
        "dd44ff42bcd1e053"
      ]
    ]
  },
  {
    "id": "52b59fc8ef0553fe",
    "type": "link out",
    "z": "2b225e03b149417d",
    "g": "5a0952c60ca71a4d",
    "name": "cave - scene - lighting door",
    "mode": "link",
    "links": [
      "abdf34b12a5dd88d"
    ],
    "x": 1695,
    "y": 360,
    "wires": []
  },
  {
    "id": "dd44ff42bcd1e053",
    "type": "switch",
    "z": "2b225e03b149417d",
    "g": "5a0952c60ca71a4d",
    "name": "remote",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "btwn",
        "v": "30",
        "vt": "num",
        "v2": "31",
        "v2t": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1060,
    "y": 420,
    "wires": [
      [
        "4891cf30f176c576"
      ]
    ]
  },
  {
    "id": "4891cf30f176c576",
    "type": "change",
    "z": "2b225e03b149417d",
    "g": "5a0952c60ca71a4d",
    "name": "payload",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "msg.payload=31",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1240,
    "y": 420,
    "wires": [
      [
        "02c43596227a787d"
      ]
    ]
  },
  {
    "id": "1dee4c1bfd86f78c",
    "type": "switch",
    "z": "2b225e03b149417d",
    "g": "729d745d2f78ab73",
    "name": "trigger",
    "property": "path",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "metrics[msg.scene.bucket]cumulus['electric meter']",
        "vt": "global"
      },
      {
        "t": "eq",
        "v": "system/mode/nycthemer",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "system/mode/cumulus",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "msg.scene.bucket&'/power/balloon'",
        "vt": "jsonata"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 4,
    "x": 1030,
    "y": 780,
    "wires": [
      [
        "c11de5fcb0565144"
      ],
      [
        "c11de5fcb0565144"
      ],
      [
        "c11de5fcb0565144"
      ],
      [
        "c11de5fcb0565144"
      ]
    ]
  },
  {
    "id": "c11de5fcb0565144",
    "type": "change",
    "z": "2b225e03b149417d",
    "g": "729d745d2f78ab73",
    "name": "scene cumulus / balloon / boolean",
    "rules": [
      {
        "t": "set",
        "p": "scene.measurement",
        "pt": "msg",
        "to": "cumulus",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.field",
        "pt": "msg",
        "to": "balloon",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.type",
        "pt": "msg",
        "to": "cumulus",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.on",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "scene.off",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1280,
    "y": 780,
    "wires": [
      [
        "a5610da475c5e78e"
      ]
    ]
  },
  {
    "id": "d60df3cdcb5355ed",
    "type": "link in",
    "z": "2b225e03b149417d",
    "g": "729d745d2f78ab73",
    "name": "cave - scene - cumulus balloon",
    "links": [
      "031a6afd8300356a"
    ],
    "x": 735,
    "y": 780,
    "wires": [
      [
        "f4d397304d1643d4"
      ]
    ]
  },
  {
    "id": "ab0e0267be067354",
    "type": "change",
    "z": "2b225e03b149417d",
    "g": "297b2d3fd56440f9",
    "name": "cumulus / actif / boolean / true",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "cumulus",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "actif",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 350,
    "y": 660,
    "wires": [
      [
        "6d8b9ac84c8dc897"
      ]
    ]
  },
  {
    "id": "6d8b9ac84c8dc897",
    "type": "link out",
    "z": "2b225e03b149417d",
    "g": "297b2d3fd56440f9",
    "name": "device cumulus",
    "mode": "link",
    "links": [
      "bfa594bf1f876c92"
    ],
    "x": 555,
    "y": 660,
    "wires": []
  },
  {
    "id": "cf6474d8d06d0270",
    "type": "link in",
    "z": "2b225e03b149417d",
    "g": "297b2d3fd56440f9",
    "name": "cave - device - cumulus",
    "links": [
      "e035e232e2747fed"
    ],
    "x": 135,
    "y": 660,
    "wires": [
      [
        "ab0e0267be067354",
        "b986d701532491f9",
        "d8f18951a98cd40c",
        "216fcd9d7b66d1b0",
        "8c211879313393ab"
      ]
    ]
  },
  {
    "id": "b986d701532491f9",
    "type": "change",
    "z": "2b225e03b149417d",
    "g": "297b2d3fd56440f9",
    "name": "cumulus / timer / number / 180",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "cumulus",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "timer",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "180",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 350,
    "y": 780,
    "wires": [
      [
        "6d8b9ac84c8dc897"
      ]
    ]
  },
  {
    "id": "d8f18951a98cd40c",
    "type": "change",
    "z": "2b225e03b149417d",
    "g": "297b2d3fd56440f9",
    "name": "cumulus / daily / boolean / false",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "cumulus",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "daily",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 350,
    "y": 840,
    "wires": [
      [
        "6d8b9ac84c8dc897"
      ]
    ]
  },
  {
    "id": "216fcd9d7b66d1b0",
    "type": "change",
    "z": "2b225e03b149417d",
    "g": "297b2d3fd56440f9",
    "name": "cumulus / night / boolean / true",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "cumulus",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "night",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 350,
    "y": 900,
    "wires": [
      [
        "6d8b9ac84c8dc897"
      ]
    ]
  },
  {
    "id": "a72c1a80a1c23c90",
    "type": "link out",
    "z": "2b225e03b149417d",
    "g": "0fd00a5d28108c93",
    "name": "cave - alexa - light",
    "mode": "link",
    "links": [
      "df6a69e3a774eebc"
    ],
    "x": 1395,
    "y": 1080,
    "wires": []
  },
  {
    "id": "fc33f164d4208460",
    "type": "link in",
    "z": "2b225e03b149417d",
    "g": "0fd00a5d28108c93",
    "name": "cave - alexa - light",
    "links": [
      "abd3bb3b24dd961a"
    ],
    "x": 135,
    "y": 1080,
    "wires": [
      [
        "90c2212a5870ab4d"
      ]
    ]
  },
  {
    "id": "3bb670b7c782d0fe",
    "type": "switch",
    "z": "2b225e03b149417d",
    "g": "0fd00a5d28108c93",
    "name": "field",
    "property": "field",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "door",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 430,
    "y": 1080,
    "wires": [
      [
        "7a48d3b28afb9335"
      ]
    ]
  },
  {
    "id": "90c2212a5870ab4d",
    "type": "switch",
    "z": "2b225e03b149417d",
    "g": "0fd00a5d28108c93",
    "name": "bucket",
    "property": "bucket",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "bucket",
        "vt": "flow"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 270,
    "y": 1080,
    "wires": [
      [
        "3bb670b7c782d0fe"
      ]
    ]
  },
  {
    "id": "40a1233e15703902",
    "type": "vsh-virtual-device",
    "z": "2b225e03b149417d",
    "g": "0fd00a5d28108c93",
    "name": "lumière de la cave",
    "topic": "cave/cible/door",
    "metadata": "{}",
    "connection": "b156e6eff1bfadd1",
    "template": "SWITCH",
    "retrievable": true,
    "passthrough": false,
    "diff": false,
    "filter": false,
    "filterTopic": false,
    "plan": "free",
    "x": 930,
    "y": 1080,
    "wires": [
      [
        "89735cb301bdea99"
      ]
    ]
  },
  {
    "id": "7a48d3b28afb9335",
    "type": "link call",
    "z": "2b225e03b149417d",
    "g": "0fd00a5d28108c93",
    "name": "",
    "links": [
      "bac2afafe6b36787"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 660,
    "y": 1080,
    "wires": [
      [
        "40a1233e15703902"
      ]
    ]
  },
  {
    "id": "89735cb301bdea99",
    "type": "link call",
    "z": "2b225e03b149417d",
    "g": "0fd00a5d28108c93",
    "name": "",
    "links": [
      "d71667633c63d82c"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 1200,
    "y": 1080,
    "wires": [
      [
        "a72c1a80a1c23c90"
      ]
    ]
  },
  {
    "id": "e1f047b857bb87e9",
    "type": "link in",
    "z": "2b225e03b149417d",
    "g": "bf0c9db59b2649d8",
    "name": "cave - alexa - temperature",
    "links": [
      "a66c6d1f8e271921"
    ],
    "x": 135,
    "y": 1200,
    "wires": [
      [
        "0ff0fadc83ac38d1"
      ]
    ]
  },
  {
    "id": "0ff0fadc83ac38d1",
    "type": "switch",
    "z": "2b225e03b149417d",
    "g": "bf0c9db59b2649d8",
    "name": "bucket",
    "property": "bucket",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "bucket",
        "vt": "flow"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 270,
    "y": 1200,
    "wires": [
      [
        "c86c464bb9aa4ec7"
      ]
    ]
  },
  {
    "id": "cf514e4790cf30b2",
    "type": "link call",
    "z": "2b225e03b149417d",
    "g": "bf0c9db59b2649d8",
    "name": "",
    "links": [
      "50c950cddc1506ed"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 650,
    "y": 1200,
    "wires": [
      [
        "3762437c4d4b168c"
      ]
    ]
  },
  {
    "id": "c86c464bb9aa4ec7",
    "type": "change",
    "z": "2b225e03b149417d",
    "g": "bf0c9db59b2649d8",
    "name": "scene",
    "rules": [
      {
        "t": "set",
        "p": "scene.bucket",
        "pt": "msg",
        "to": "bucket",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 1200,
    "wires": [
      [
        "cf514e4790cf30b2"
      ]
    ]
  },
  {
    "id": "3762437c4d4b168c",
    "type": "vsh-virtual-device",
    "z": "2b225e03b149417d",
    "g": "bf0c9db59b2649d8",
    "name": "température de la cave",
    "topic": "",
    "metadata": "{}",
    "connection": "b156e6eff1bfadd1",
    "template": "TEMPERATURE_SENSOR",
    "retrievable": true,
    "passthrough": false,
    "diff": false,
    "filter": false,
    "filterTopic": false,
    "plan": "free",
    "x": 920,
    "y": 1200,
    "wires": [
      []
    ]
  },
  {
    "id": "76fff1f1e6767cb1",
    "type": "switch",
    "z": "2b225e03b149417d",
    "g": "5058bbe07bedfb71",
    "name": "bucket",
    "property": "bucket",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "bucket",
        "vt": "flow"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 270,
    "y": 1320,
    "wires": [
      [
        "c952edfa67754b49"
      ]
    ]
  },
  {
    "id": "f078c245986b329c",
    "type": "link in",
    "z": "2b225e03b149417d",
    "g": "5058bbe07bedfb71",
    "name": "cave - alexa - motion",
    "links": [
      "8f6b9cabcee961b9"
    ],
    "x": 135,
    "y": 1320,
    "wires": [
      [
        "76fff1f1e6767cb1"
      ]
    ]
  },
  {
    "id": "c952edfa67754b49",
    "type": "change",
    "z": "2b225e03b149417d",
    "g": "5058bbe07bedfb71",
    "name": "scene",
    "rules": [
      {
        "t": "set",
        "p": "scene.bucket",
        "pt": "msg",
        "to": "bucket",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 1320,
    "wires": [
      [
        "5bdae1b3b0632ad1"
      ]
    ]
  },
  {
    "id": "5bdae1b3b0632ad1",
    "type": "link call",
    "z": "2b225e03b149417d",
    "g": "5058bbe07bedfb71",
    "name": "",
    "links": [
      "4f63773f3c770aa4"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 650,
    "y": 1320,
    "wires": [
      [
        "ac6b4421c7675b8f"
      ]
    ]
  },
  {
    "id": "ac6b4421c7675b8f",
    "type": "vsh-virtual-device",
    "z": "2b225e03b149417d",
    "g": "5058bbe07bedfb71",
    "name": "mouvement de la cave",
    "topic": "",
    "metadata": "{}",
    "connection": "b156e6eff1bfadd1",
    "template": "MOTION_SENSOR",
    "retrievable": true,
    "passthrough": false,
    "diff": false,
    "filter": false,
    "filterTopic": false,
    "plan": "free",
    "x": 920,
    "y": 1320,
    "wires": [
      []
    ]
  },
  {
    "id": "079402876ffb0af4",
    "type": "link in",
    "z": "2b225e03b149417d",
    "g": "1be2396c5ede7eef",
    "name": "cave - alexa - aperture",
    "links": [
      "c961c347fd2d14b5"
    ],
    "x": 135,
    "y": 1440,
    "wires": [
      [
        "151c6168bcca45e8"
      ]
    ]
  },
  {
    "id": "151c6168bcca45e8",
    "type": "switch",
    "z": "2b225e03b149417d",
    "g": "1be2396c5ede7eef",
    "name": "bucket",
    "property": "bucket",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "bucket",
        "vt": "flow"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 270,
    "y": 1440,
    "wires": [
      [
        "ce088fb02cc8d95e"
      ]
    ]
  },
  {
    "id": "ce088fb02cc8d95e",
    "type": "switch",
    "z": "2b225e03b149417d",
    "g": "1be2396c5ede7eef",
    "name": "field",
    "property": "field",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "door",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 430,
    "y": 1440,
    "wires": [
      [
        "938259965bdd9849"
      ]
    ]
  },
  {
    "id": "b178cd11693d5684",
    "type": "vsh-virtual-device",
    "z": "2b225e03b149417d",
    "g": "1be2396c5ede7eef",
    "name": "porte de la cave",
    "topic": "",
    "metadata": "{}",
    "connection": "b156e6eff1bfadd1",
    "template": "CONTACT_SENSOR",
    "retrievable": true,
    "passthrough": false,
    "diff": false,
    "filter": false,
    "filterTopic": false,
    "plan": "free",
    "x": 880,
    "y": 1440,
    "wires": [
      []
    ]
  },
  {
    "id": "938259965bdd9849",
    "type": "link call",
    "z": "2b225e03b149417d",
    "g": "1be2396c5ede7eef",
    "name": "",
    "links": [
      "73c07a0bc5e5429b"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 640,
    "y": 1440,
    "wires": [
      [
        "b178cd11693d5684"
      ]
    ]
  },
  {
    "id": "665497a5770702cc",
    "type": "credentials",
    "z": "2b225e03b149417d",
    "g": "e8fbf877572c810c",
    "name": "id",
    "props": [
      {
        "value": "id",
        "type": "msg"
      }
    ],
    "x": 270,
    "y": 1980,
    "wires": [
      []
    ]
  },
  {
    "id": "7fe1a6c98410eb18",
    "type": "credentials",
    "z": "2b225e03b149417d",
    "g": "e8fbf877572c810c",
    "name": "id",
    "props": [
      {
        "value": "id",
        "type": "msg"
      }
    ],
    "x": 270,
    "y": 1920,
    "wires": [
      []
    ]
  },
  {
    "id": "afd8f3a9262a6b2b",
    "type": "credentials",
    "z": "2b225e03b149417d",
    "g": "e8fbf877572c810c",
    "name": "id",
    "props": [
      {
        "value": "id",
        "type": "msg"
      }
    ],
    "x": 270,
    "y": 1860,
    "wires": [
      []
    ]
  },
  {
    "id": "bd692339d274cb6d",
    "type": "credentials",
    "z": "2b225e03b149417d",
    "g": "e8fbf877572c810c",
    "name": "id",
    "props": [
      {
        "value": "id",
        "type": "msg"
      }
    ],
    "x": 270,
    "y": 1800,
    "wires": [
      []
    ]
  },
  {
    "id": "aac903fa89536260",
    "type": "credentials",
    "z": "2b225e03b149417d",
    "g": "e8fbf877572c810c",
    "name": "id",
    "props": [
      {
        "value": "id",
        "type": "msg"
      }
    ],
    "x": 270,
    "y": 1740,
    "wires": [
      []
    ]
  },
  {
    "id": "8c6a49f6bfc1489c",
    "type": "credentials",
    "z": "2b225e03b149417d",
    "g": "e8fbf877572c810c",
    "name": "id",
    "props": [
      {
        "value": "id",
        "type": "msg"
      }
    ],
    "x": 270,
    "y": 1680,
    "wires": [
      []
    ]
  },
  {
    "id": "1abdcd583acf98b3",
    "type": "credentials",
    "z": "2b225e03b149417d",
    "g": "e8fbf877572c810c",
    "name": "id",
    "props": [
      {
        "value": "id",
        "type": "msg"
      }
    ],
    "x": 270,
    "y": 1620,
    "wires": [
      []
    ]
  },
  {
    "id": "12407f33e3e39829",
    "type": "catch",
    "z": "2b225e03b149417d",
    "g": "49832240a78ee7ed",
    "name": "catch error",
    "scope": null,
    "uncaught": false,
    "x": 620,
    "y": 60,
    "wires": [
      [
        "f0f6469a83e81a42"
      ]
    ]
  },
  {
    "id": "f0f6469a83e81a42",
    "type": "change",
    "z": "2b225e03b149417d",
    "g": "49832240a78ee7ed",
    "name": "topic",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "cave",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 790,
    "y": 60,
    "wires": [
      [
        "4a57670feb22dd22"
      ]
    ]
  },
  {
    "id": "4a57670feb22dd22",
    "type": "link out",
    "z": "2b225e03b149417d",
    "g": "49832240a78ee7ed",
    "name": "catch error",
    "mode": "link",
    "links": [
      "a52f0e788cd4dca3"
    ],
    "x": 915,
    "y": 60,
    "wires": []
  },
  {
    "id": "a5610da475c5e78e",
    "type": "link out",
    "z": "2b225e03b149417d",
    "g": "729d745d2f78ab73",
    "name": "cave - scene - cumulus balloon",
    "mode": "link",
    "links": [
      "97c76b46acec597a"
    ],
    "x": 1495,
    "y": 780,
    "wires": []
  },
  {
    "id": "8c211879313393ab",
    "type": "change",
    "z": "2b225e03b149417d",
    "g": "297b2d3fd56440f9",
    "name": "cumulus / electric meter / text / ",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "cumulus",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "electric meter",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "text",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 350,
    "y": 720,
    "wires": [
      [
        "6d8b9ac84c8dc897"
      ]
    ]
  },
  {
    "id": "f4d397304d1643d4",
    "type": "change",
    "z": "2b225e03b149417d",
    "g": "729d745d2f78ab73",
    "name": "bucket",
    "rules": [
      {
        "t": "set",
        "p": "scene.bucket",
        "pt": "msg",
        "to": "bucket",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 870,
    "y": 780,
    "wires": [
      [
        "1dee4c1bfd86f78c"
      ]
    ]
  }
]