flows/R.Combles.json
[
  {
    "id": "5771bd732671238b",
    "type": "tab",
    "label": "R.Combles",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "193537e1be29b7bc",
    "type": "group",
    "z": "5771bd732671238b",
    "name": "combles - bucket",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true,
      "stroke": "#ffC000"
    },
    "nodes": [
      "18401f448b0bd35f",
      "1961ac6e5cc5b6de",
      "95b38fc6b2a4af14"
    ],
    "x": 94,
    "y": 19,
    "w": 342,
    "h": 82
  },
  {
    "id": "3531a5b2fe7f7472",
    "type": "group",
    "z": "5771bd732671238b",
    "name": "combles - ui select room",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true,
      "stroke": "#6f2fa0"
    },
    "nodes": [
      "4526a823900a3869",
      "337f1fd20587c947",
      "f3292a2299ec19e0",
      "e23aea66f45514ec"
    ],
    "x": 1054,
    "y": 19,
    "w": 582,
    "h": 82
  },
  {
    "id": "3ccaa4a7f8feaec3",
    "type": "group",
    "z": "5771bd732671238b",
    "name": "catch error",
    "style": {
      "fill": "#ff0000",
      "fill-opacity": "0.05",
      "label": true,
      "stroke": "#ff0000"
    },
    "nodes": [
      "df117909ca6f83c1",
      "5dbdc36616507f47",
      "73cb90b1dfb06aa9"
    ],
    "x": 534,
    "y": 19,
    "w": 422,
    "h": 82
  },
  {
    "id": "18401f448b0bd35f",
    "type": "change",
    "z": "5771bd732671238b",
    "g": "193537e1be29b7bc",
    "name": "bucket",
    "rules": [
      {
        "t": "set",
        "p": "bucket",
        "pt": "msg",
        "to": "combles",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "bucket",
        "pt": "flow",
        "to": "bucket",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 270,
    "y": 60,
    "wires": [
      [
        "95b38fc6b2a4af14"
      ]
    ]
  },
  {
    "id": "1961ac6e5cc5b6de",
    "type": "link in",
    "z": "5771bd732671238b",
    "g": "193537e1be29b7bc",
    "name": "combles - bucket",
    "links": [
      "25445f5a9b787a0a"
    ],
    "x": 135,
    "y": 60,
    "wires": [
      [
        "18401f448b0bd35f"
      ]
    ]
  },
  {
    "id": "95b38fc6b2a4af14",
    "type": "link out",
    "z": "5771bd732671238b",
    "g": "193537e1be29b7bc",
    "name": "combles - bucket",
    "mode": "link",
    "links": [
      "18bf3df549328c13",
      "2e7bb0e6e6079d56",
      "96ad68746204ca2f",
      "668589ced855b77f",
      "4985a59bb6bea902"
    ],
    "x": 395,
    "y": 60,
    "wires": []
  },
  {
    "id": "4526a823900a3869",
    "type": "link out",
    "z": "5771bd732671238b",
    "g": "3531a5b2fe7f7472",
    "name": "combles - ui select room",
    "mode": "link",
    "links": [
      "1be6ca3c2b8615a2"
    ],
    "x": 1595,
    "y": 60,
    "wires": []
  },
  {
    "id": "337f1fd20587c947",
    "type": "link in",
    "z": "5771bd732671238b",
    "g": "3531a5b2fe7f7472",
    "name": "combles - ui select room",
    "links": [
      "74172837e07ab80d"
    ],
    "x": 1095,
    "y": 60,
    "wires": [
      [
        "f3292a2299ec19e0"
      ]
    ]
  },
  {
    "id": "f3292a2299ec19e0",
    "type": "change",
    "z": "5771bd732671238b",
    "g": "3531a5b2fe7f7472",
    "name": "enabled button",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "bucket",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "msg.payload != msg.room",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1260,
    "y": 60,
    "wires": [
      [
        "e23aea66f45514ec"
      ]
    ]
  },
  {
    "id": "e23aea66f45514ec",
    "type": "ui-button",
    "z": "5771bd732671238b",
    "g": "3531a5b2fe7f7472",
    "group": "36396f5285df476c",
    "name": "",
    "label": "Combles",
    "order": 7,
    "width": "2",
    "height": "1",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "bucket",
    "payloadType": "flow",
    "topic": "topic",
    "topicType": "msg",
    "x": 1460,
    "y": 60,
    "wires": [
      [
        "4526a823900a3869"
      ]
    ]
  },
  {
    "id": "df117909ca6f83c1",
    "type": "catch",
    "z": "5771bd732671238b",
    "g": "3ccaa4a7f8feaec3",
    "name": "catch error",
    "scope": null,
    "uncaught": false,
    "x": 620,
    "y": 60,
    "wires": [
      [
        "5dbdc36616507f47"
      ]
    ]
  },
  {
    "id": "5dbdc36616507f47",
    "type": "change",
    "z": "5771bd732671238b",
    "g": "3ccaa4a7f8feaec3",
    "name": "topic",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "combles",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 790,
    "y": 60,
    "wires": [
      [
        "73cb90b1dfb06aa9"
      ]
    ]
  },
  {
    "id": "73cb90b1dfb06aa9",
    "type": "link out",
    "z": "5771bd732671238b",
    "g": "3ccaa4a7f8feaec3",
    "name": "catch error",
    "mode": "link",
    "links": [
      "a52f0e788cd4dca3"
    ],
    "x": 915,
    "y": 60,
    "wires": []
  }
]