flows/R.Cuisine.json
[
  {
    "id": "83779166f14173f8",
    "type": "tab",
    "label": "R.Cuisine",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "9bab850d16a3435d",
    "type": "group",
    "z": "83779166f14173f8",
    "name": "cuisine - bucket",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true,
      "stroke": "#ffC000"
    },
    "nodes": [
      "5ef3cfc4ecb15968",
      "12524f8ba90c6cdc",
      "35e382c59a86017f"
    ],
    "x": 94,
    "y": 19,
    "w": 342,
    "h": 82
  },
  {
    "id": "fe89a08f23620c96",
    "type": "group",
    "z": "83779166f14173f8",
    "name": "cuisine - ui select room",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true,
      "stroke": "#6f2fa0"
    },
    "nodes": [
      "2a9d3ecd8577a6f1",
      "2c612fdffe67f6a1",
      "612e867d7b172634",
      "08a14eabf5f21905"
    ],
    "x": 1054,
    "y": 19,
    "w": 582,
    "h": 82
  },
  {
    "id": "863ac35de01d6543",
    "type": "group",
    "z": "83779166f14173f8",
    "name": "",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "e7a2800f3ce83a11",
      "7aa57835f17b84c0",
      "192e8f224ae18f09",
      "fe5a163a6b387bd1",
      "062924d415d00ec7"
    ],
    "x": 68,
    "y": 1913,
    "w": 1378,
    "h": 434
  },
  {
    "id": "1dff1743cac3569e",
    "type": "group",
    "z": "83779166f14173f8",
    "name": "",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "ff6f186606d23a8e",
      "68795225cdaa1056"
    ],
    "x": 68,
    "y": 233,
    "w": 1314,
    "h": 374
  },
  {
    "id": "9e0ecda168e420f6",
    "type": "group",
    "z": "83779166f14173f8",
    "name": "",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "bc2f5f0fdf3a95b1",
      "1aae9b0388d3b77d",
      "56f91a15dd1455d7"
    ],
    "x": 68,
    "y": 653,
    "w": 1774,
    "h": 374
  },
  {
    "id": "1e26da4be4f8adc8",
    "type": "group",
    "z": "83779166f14173f8",
    "name": "cuisine - alexa",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "4e85de651f8c65da",
      "749ecc064675afd3",
      "0c4b2ec7a86c7aa4",
      "e4db17dafa209b9a"
    ],
    "x": 68,
    "y": 1373,
    "w": 1434,
    "h": 494
  },
  {
    "id": "8468b8d824c08276",
    "type": "group",
    "z": "83779166f14173f8",
    "name": "",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "b4cb12ca795ea8b2"
    ],
    "x": 68,
    "y": 1073,
    "w": 534,
    "h": 254
  },
  {
    "id": "f43720911c7d606b",
    "type": "group",
    "z": "83779166f14173f8",
    "name": "catch error",
    "style": {
      "fill": "#ff0000",
      "fill-opacity": "0.05",
      "label": true,
      "stroke": "#ff0000"
    },
    "nodes": [
      "483a5fade5592d4c",
      "d14cd6b52b330cdf",
      "4b285e7f94d3b8eb"
    ],
    "x": 534,
    "y": 19,
    "w": 422,
    "h": 82
  },
  {
    "id": "062924d415d00ec7",
    "type": "group",
    "z": "83779166f14173f8",
    "g": "863ac35de01d6543",
    "name": "cuisine - device - auto",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "18a18ef9ed11ad89",
      "85f46b3605d814c5",
      "fe78f8b441d511fa",
      "9a065d1c01359039",
      "e0fe5671f8061def",
      "bf730ed10a3c0f1d",
      "00b6e5c70f38f1d0",
      "a6ffe5aaf5f33dc4",
      "82b1766e7f8e0df2",
      "7e2da2acb43d4d1b",
      "c7bd909bde4eead7",
      "0b89339eaace90d7",
      "b01d2b8600a9b1df",
      "bb7e4f28c0d803ec"
    ],
    "x": 94,
    "y": 1939,
    "w": 722,
    "h": 382
  },
  {
    "id": "ff6f186606d23a8e",
    "type": "group",
    "z": "83779166f14173f8",
    "g": "1dff1743cac3569e",
    "name": "cuisine - scene - lighting ceiling",
    "style": {
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "494718f442ad9e57",
      "143cc975ef19f3d9",
      "f4bc99ae10349c67",
      "82f016c6bec5fe59"
    ],
    "x": 694,
    "y": 311.5,
    "w": 662,
    "h": 97
  },
  {
    "id": "68795225cdaa1056",
    "type": "group",
    "z": "83779166f14173f8",
    "g": "1dff1743cac3569e",
    "name": "cuisine - device - lighting",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "c7ef0929493297a5",
      "4820c8ccc02ce067",
      "029a4bde088b95c6",
      "b9fc8e23199f0b8b",
      "a41d16fbb1fe6529",
      "decc21690ddd08c0",
      "49aa561e7f267942"
    ],
    "x": 94,
    "y": 259,
    "w": 502,
    "h": 322
  },
  {
    "id": "bc2f5f0fdf3a95b1",
    "type": "group",
    "z": "83779166f14173f8",
    "g": "9e0ecda168e420f6",
    "name": "cuisine - scene - thermostat operating mode",
    "style": {
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "afd97549392e0e45",
      "887c96a79a17ae77",
      "8c4f101eaabd11ac",
      "eee1367b24f15bfe",
      "229c7cd129b5b39e",
      "0857f7c3fc012063",
      "e6615272da1c215c"
    ],
    "x": 774,
    "y": 711.5,
    "w": 1042,
    "h": 97
  },
  {
    "id": "1aae9b0388d3b77d",
    "type": "group",
    "z": "83779166f14173f8",
    "g": "9e0ecda168e420f6",
    "name": "cuisine - source - thermostat aperture",
    "style": {
      "fill": "#0070c0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "0628e9848bdd1852",
      "bd8ce1c1b118deca",
      "3303b4e8e608541b",
      "41c360fc4fbb160a",
      "c40ff844dd2331be",
      "f7dcd2b0b67ae95c"
    ],
    "x": 774,
    "y": 836.5,
    "w": 882,
    "h": 127
  },
  {
    "id": "56f91a15dd1455d7",
    "type": "group",
    "z": "83779166f14173f8",
    "g": "9e0ecda168e420f6",
    "name": "cuisine - device - thermostat partial (see flow Thermostat)",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "b6797740ddbfdc31",
      "9e172dccc52202e9",
      "ce356d0dbca4f157",
      "ad06c3265ca316c5",
      "ecdb89989bc6cfda",
      "3f8eedb7511f6d4b",
      "402b3bacddd7969e"
    ],
    "x": 94,
    "y": 679,
    "w": 582,
    "h": 322
  },
  {
    "id": "4e85de651f8c65da",
    "type": "group",
    "z": "83779166f14173f8",
    "g": "1e26da4be4f8adc8",
    "name": "cuisine - alexa - light",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "408a51c88533e506",
      "3f54da8de46b11fd",
      "44602db9953f8773",
      "199a605adc3d5f37",
      "865379b6b8d74d10",
      "df80bf9d6d6154e8",
      "462f2494744e496f"
    ],
    "x": 94,
    "y": 1399,
    "w": 1382,
    "h": 82
  },
  {
    "id": "749ecc064675afd3",
    "type": "group",
    "z": "83779166f14173f8",
    "g": "1e26da4be4f8adc8",
    "name": "cuisine - alexa - temperature",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "302510abb50cfea2",
      "3786b8bbfc974f98",
      "0722a161ba65e3ee",
      "d69ab28cf343b28a",
      "791047f44f1cf255"
    ],
    "x": 94,
    "y": 1519,
    "w": 972,
    "h": 82
  },
  {
    "id": "0c4b2ec7a86c7aa4",
    "type": "group",
    "z": "83779166f14173f8",
    "g": "1e26da4be4f8adc8",
    "name": "cuisine - alexa - motion",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "f8906d76f5343b41",
      "b6a2940bd526bdc5",
      "1d4248d9b171f328",
      "8c0c2cd9c2c43953",
      "261a84504ea5b4e6"
    ],
    "x": 94,
    "y": 1639,
    "w": 972,
    "h": 82
  },
  {
    "id": "e4db17dafa209b9a",
    "type": "group",
    "z": "83779166f14173f8",
    "g": "1e26da4be4f8adc8",
    "name": "cuisine - alexa - aperture",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "27a69d45ec54d88e",
      "d5c079ecca4bd388",
      "ccf9d9303cfe8587",
      "4e36cd77592dabca",
      "f2750547782fb50f"
    ],
    "x": 94,
    "y": 1759,
    "w": 932,
    "h": 82
  },
  {
    "id": "b4cb12ca795ea8b2",
    "type": "group",
    "z": "83779166f14173f8",
    "g": "8468b8d824c08276",
    "name": "cuisine - device - rhasspy (satelite)",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "e36d20f0d844b5fc",
      "14a8e3b1a1dbf959",
      "8544c2374ddcf80d",
      "d0f591f1b7afa3d8",
      "f410fe38cd8f7bac"
    ],
    "x": 94,
    "y": 1099,
    "w": 482,
    "h": 202
  },
  {
    "id": "5ef3cfc4ecb15968",
    "type": "change",
    "z": "83779166f14173f8",
    "g": "9bab850d16a3435d",
    "name": "bucket",
    "rules": [
      {
        "t": "set",
        "p": "bucket",
        "pt": "msg",
        "to": "cuisine",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "bucket",
        "pt": "flow",
        "to": "bucket",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 270,
    "y": 60,
    "wires": [
      [
        "35e382c59a86017f"
      ]
    ]
  },
  {
    "id": "12524f8ba90c6cdc",
    "type": "link in",
    "z": "83779166f14173f8",
    "g": "9bab850d16a3435d",
    "name": "cuisine - bucket",
    "links": [
      "25445f5a9b787a0a"
    ],
    "x": 135,
    "y": 60,
    "wires": [
      [
        "5ef3cfc4ecb15968"
      ]
    ]
  },
  {
    "id": "35e382c59a86017f",
    "type": "link out",
    "z": "83779166f14173f8",
    "g": "9bab850d16a3435d",
    "name": "cuisine - bucket",
    "mode": "link",
    "links": [
      "029a4bde088b95c6",
      "14a8e3b1a1dbf959",
      "18a18ef9ed11ad89",
      "2e7bb0e6e6079d56",
      "afd97549392e0e45",
      "ecdb89989bc6cfda",
      "668589ced855b77f"
    ],
    "x": 395,
    "y": 60,
    "wires": []
  },
  {
    "id": "2a9d3ecd8577a6f1",
    "type": "link out",
    "z": "83779166f14173f8",
    "g": "fe89a08f23620c96",
    "name": "cuisine - ui select room",
    "mode": "link",
    "links": [
      "1be6ca3c2b8615a2"
    ],
    "x": 1595,
    "y": 60,
    "wires": []
  },
  {
    "id": "2c612fdffe67f6a1",
    "type": "link in",
    "z": "83779166f14173f8",
    "g": "fe89a08f23620c96",
    "name": "cuisine - ui select room",
    "links": [
      "74172837e07ab80d"
    ],
    "x": 1095,
    "y": 60,
    "wires": [
      [
        "612e867d7b172634"
      ]
    ]
  },
  {
    "id": "612e867d7b172634",
    "type": "change",
    "z": "83779166f14173f8",
    "g": "fe89a08f23620c96",
    "name": "enabled button",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "bucket",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "msg.payload != msg.room",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1260,
    "y": 60,
    "wires": [
      [
        "08a14eabf5f21905"
      ]
    ]
  },
  {
    "id": "08a14eabf5f21905",
    "type": "ui-button",
    "z": "83779166f14173f8",
    "g": "fe89a08f23620c96",
    "group": "36396f5285df476c",
    "name": "",
    "label": "Cuisine",
    "order": 9,
    "width": "2",
    "height": "1",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "bucket",
    "payloadType": "flow",
    "topic": "topic",
    "topicType": "msg",
    "x": 1460,
    "y": 60,
    "wires": [
      [
        "2a9d3ecd8577a6f1"
      ]
    ]
  },
  {
    "id": "e7a2800f3ce83a11",
    "type": "comment",
    "z": "83779166f14173f8",
    "g": "863ac35de01d6543",
    "name": "cuisine / command / remote 2 : scene lighting / jardin / light / spots",
    "info": "",
    "x": 1150,
    "y": 2020,
    "wires": []
  },
  {
    "id": "7aa57835f17b84c0",
    "type": "comment",
    "z": "83779166f14173f8",
    "g": "863ac35de01d6543",
    "name": "cuisine / command / remote 3 : scene lighting / jardin / light / lamp",
    "info": "",
    "x": 1150,
    "y": 2060,
    "wires": []
  },
  {
    "id": "192e8f224ae18f09",
    "type": "comment",
    "z": "83779166f14173f8",
    "g": "863ac35de01d6543",
    "name": "cuisine / command / remote 1 : scene lighting / parking / light / spots",
    "info": "",
    "x": 1160,
    "y": 1980,
    "wires": []
  },
  {
    "id": "fe5a163a6b387bd1",
    "type": "comment",
    "z": "83779166f14173f8",
    "g": "863ac35de01d6543",
    "name": "cuisine / command / remote 4 : scene shading / salon / aperture / shutter",
    "info": "",
    "x": 1170,
    "y": 2100,
    "wires": []
  },
  {
    "id": "18a18ef9ed11ad89",
    "type": "link in",
    "z": "83779166f14173f8",
    "g": "062924d415d00ec7",
    "name": "cuisine - device - auto",
    "links": [
      "35e382c59a86017f"
    ],
    "x": 135,
    "y": 1980,
    "wires": [
      [
        "82b1766e7f8e0df2",
        "7e2da2acb43d4d1b",
        "c7bd909bde4eead7",
        "0b89339eaace90d7",
        "b01d2b8600a9b1df",
        "bb7e4f28c0d803ec"
      ]
    ]
  },
  {
    "id": "85f46b3605d814c5",
    "type": "change",
    "z": "83779166f14173f8",
    "g": "062924d415d00ec7",
    "name": "MCCGQ11LM / xxx / aperture / window",
    "rules": [
      {
        "t": "set",
        "p": "model",
        "pt": "msg",
        "to": "MCCGQ11LM",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "window",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 530,
    "y": 2160,
    "wires": [
      [
        "fe78f8b441d511fa"
      ]
    ]
  },
  {
    "id": "fe78f8b441d511fa",
    "type": "link out",
    "z": "83779166f14173f8",
    "g": "062924d415d00ec7",
    "name": "cuisine - device - auto",
    "mode": "link",
    "links": [
      "d85fe6335a6eae7b"
    ],
    "x": 775,
    "y": 1980,
    "wires": []
  },
  {
    "id": "9a065d1c01359039",
    "type": "change",
    "z": "83779166f14173f8",
    "g": "062924d415d00ec7",
    "name": "ZW100 / xxx / motion / detector",
    "rules": [
      {
        "t": "set",
        "p": "model",
        "pt": "msg",
        "to": "ZW100",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 2040,
    "wires": [
      [
        "fe78f8b441d511fa"
      ]
    ]
  },
  {
    "id": "e0fe5671f8061def",
    "type": "change",
    "z": "83779166f14173f8",
    "g": "062924d415d00ec7",
    "name": "DIO-54760 / xxx / command / remote",
    "rules": [
      {
        "t": "set",
        "p": "model",
        "pt": "msg",
        "to": "DIO-54760",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 530,
    "y": 2220,
    "wires": [
      [
        "fe78f8b441d511fa"
      ]
    ]
  },
  {
    "id": "bf730ed10a3c0f1d",
    "type": "change",
    "z": "83779166f14173f8",
    "g": "062924d415d00ec7",
    "name": "FGD212 / xxx / light / ceiling",
    "rules": [
      {
        "t": "set",
        "p": "model",
        "pt": "msg",
        "to": "FGD212",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "option",
        "pt": "msg",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 2100,
    "wires": [
      [
        "fe78f8b441d511fa"
      ]
    ]
  },
  {
    "id": "00b6e5c70f38f1d0",
    "type": "change",
    "z": "83779166f14173f8",
    "g": "062924d415d00ec7",
    "name": "ZMNHUD / xxx / thermostat / pilot",
    "rules": [
      {
        "t": "set",
        "p": "model",
        "pt": "msg",
        "to": "ZMNHUD",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 2280,
    "wires": [
      [
        "fe78f8b441d511fa"
      ]
    ]
  },
  {
    "id": "a6ffe5aaf5f33dc4",
    "type": "change",
    "z": "83779166f14173f8",
    "g": "062924d415d00ec7",
    "name": "A4ZP7ZC4PI6TO / xxx / alexa / actif",
    "rules": [
      {
        "t": "set",
        "p": "model",
        "pt": "msg",
        "to": "A4ZP7ZC4PI6TO",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 530,
    "y": 1980,
    "wires": [
      [
        "fe78f8b441d511fa"
      ]
    ]
  },
  {
    "id": "494718f442ad9e57",
    "type": "link in",
    "z": "83779166f14173f8",
    "g": "ff6f186606d23a8e",
    "name": "cuisine - scene - lighting ceiling",
    "links": [
      "031a6afd8300356a"
    ],
    "x": 735,
    "y": 360,
    "wires": [
      [
        "f4bc99ae10349c67"
      ]
    ]
  },
  {
    "id": "143cc975ef19f3d9",
    "type": "change",
    "z": "83779166f14173f8",
    "g": "ff6f186606d23a8e",
    "name": "scene lighting / ceiling / dimmer",
    "rules": [
      {
        "t": "set",
        "p": "scene.bucket",
        "pt": "msg",
        "to": "bucket",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "scene.measurement",
        "pt": "msg",
        "to": "light",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.field",
        "pt": "msg",
        "to": "ceiling",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.format",
        "pt": "msg",
        "to": "dimmer",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.type",
        "pt": "msg",
        "to": "lighting",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.on",
        "pt": "msg",
        "to": "4",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "scene.off",
        "pt": "msg",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1110,
    "y": 360,
    "wires": [
      [
        "82f016c6bec5fe59"
      ]
    ]
  },
  {
    "id": "f4bc99ae10349c67",
    "type": "switch",
    "z": "83779166f14173f8",
    "g": "ff6f186606d23a8e",
    "name": "trigger",
    "property": "path",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "cuisine/motion",
        "vt": "str",
        "case": false
      },
      {
        "t": "eq",
        "v": "cuisine/light/ceiling",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "system/mode/lighting",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 3,
    "x": 870,
    "y": 360,
    "wires": [
      [
        "143cc975ef19f3d9"
      ],
      [
        "143cc975ef19f3d9"
      ],
      [
        "143cc975ef19f3d9"
      ]
    ]
  },
  {
    "id": "82f016c6bec5fe59",
    "type": "link out",
    "z": "83779166f14173f8",
    "g": "ff6f186606d23a8e",
    "name": "cuisine - scene - lighting ceiling",
    "mode": "link",
    "links": [
      "abdf34b12a5dd88d"
    ],
    "x": 1315,
    "y": 360,
    "wires": []
  },
  {
    "id": "c7ef0929493297a5",
    "type": "change",
    "z": "83779166f14173f8",
    "g": "68795225cdaa1056",
    "name": "lighting / actif / boolean / true",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "lighting",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "actif",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 340,
    "y": 300,
    "wires": [
      [
        "4820c8ccc02ce067"
      ]
    ]
  },
  {
    "id": "4820c8ccc02ce067",
    "type": "link out",
    "z": "83779166f14173f8",
    "g": "68795225cdaa1056",
    "name": "cuisine - device - lighting",
    "mode": "link",
    "links": [
      "bfa594bf1f876c92"
    ],
    "x": 555,
    "y": 300,
    "wires": []
  },
  {
    "id": "029a4bde088b95c6",
    "type": "link in",
    "z": "83779166f14173f8",
    "g": "68795225cdaa1056",
    "name": "cuisine - device - lighting",
    "links": [
      "35e382c59a86017f"
    ],
    "x": 135,
    "y": 300,
    "wires": [
      [
        "c7ef0929493297a5",
        "b9fc8e23199f0b8b",
        "a41d16fbb1fe6529",
        "decc21690ddd08c0",
        "49aa561e7f267942"
      ]
    ]
  },
  {
    "id": "b9fc8e23199f0b8b",
    "type": "change",
    "z": "83779166f14173f8",
    "g": "68795225cdaa1056",
    "name": "lighting / high / dimmer / 40",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "lighting",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "high",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "dimmer",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "40",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 340,
    "y": 360,
    "wires": [
      [
        "4820c8ccc02ce067"
      ]
    ]
  },
  {
    "id": "a41d16fbb1fe6529",
    "type": "change",
    "z": "83779166f14173f8",
    "g": "68795225cdaa1056",
    "name": "lighting / low / dimmer",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "lighting",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "low",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "dimmer",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "4",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 320,
    "y": 420,
    "wires": [
      [
        "4820c8ccc02ce067"
      ]
    ]
  },
  {
    "id": "decc21690ddd08c0",
    "type": "change",
    "z": "83779166f14173f8",
    "g": "68795225cdaa1056",
    "name": "lighting / timer / number / 60",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "lighting",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "timer",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "60",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 340,
    "y": 480,
    "wires": [
      [
        "4820c8ccc02ce067"
      ]
    ]
  },
  {
    "id": "49aa561e7f267942",
    "type": "change",
    "z": "83779166f14173f8",
    "g": "68795225cdaa1056",
    "name": "lighting / retention / boolean / true",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "lighting",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "retention",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 360,
    "y": 540,
    "wires": [
      [
        "4820c8ccc02ce067"
      ]
    ]
  },
  {
    "id": "afd97549392e0e45",
    "type": "link in",
    "z": "83779166f14173f8",
    "g": "bc2f5f0fdf3a95b1",
    "name": "cuisine - scene - thermostat operating mode",
    "links": [
      "35e382c59a86017f"
    ],
    "x": 815,
    "y": 760,
    "wires": [
      [
        "229c7cd129b5b39e"
      ]
    ]
  },
  {
    "id": "887c96a79a17ae77",
    "type": "change",
    "z": "83779166f14173f8",
    "g": "bc2f5f0fdf3a95b1",
    "name": "sync",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "sync",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1110,
    "y": 760,
    "wires": [
      [
        "eee1367b24f15bfe"
      ]
    ]
  },
  {
    "id": "8c4f101eaabd11ac",
    "type": "change",
    "z": "83779166f14173f8",
    "g": "bc2f5f0fdf3a95b1",
    "name": "bucket",
    "rules": [
      {
        "t": "set",
        "p": "scene.bucket",
        "pt": "msg",
        "to": "bucket",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1650,
    "y": 760,
    "wires": [
      [
        "0857f7c3fc012063"
      ]
    ]
  },
  {
    "id": "eee1367b24f15bfe",
    "type": "bigtimer",
    "z": "83779166f14173f8",
    "g": "bc2f5f0fdf3a95b1",
    "outtopic": "",
    "outpayload1": "",
    "outpayload2": "",
    "name": "confort schedule",
    "comment": "",
    "lat": 0,
    "lon": 0,
    "starttime": "270",
    "endtime": "1140",
    "starttime2": "0",
    "endtime2": "0",
    "startoff": 0,
    "endoff": 0,
    "startoff2": 0,
    "endoff2": 0,
    "offs": 0,
    "outtext1": "",
    "outtext2": "",
    "timeout": 1440,
    "sun": true,
    "mon": true,
    "tue": true,
    "wed": true,
    "thu": true,
    "fri": true,
    "sat": true,
    "jan": true,
    "feb": true,
    "mar": true,
    "apr": true,
    "may": true,
    "jun": true,
    "jul": true,
    "aug": true,
    "sep": true,
    "oct": true,
    "nov": true,
    "dec": true,
    "day1": 0,
    "month1": 0,
    "day2": 0,
    "month2": 0,
    "day3": 0,
    "month3": 0,
    "day4": 0,
    "month4": 0,
    "day5": 0,
    "month5": 0,
    "day6": 0,
    "month6": 0,
    "day7": 0,
    "month7": 0,
    "day8": 0,
    "month8": 0,
    "day9": 0,
    "month9": 0,
    "day10": 0,
    "month10": 0,
    "day11": 0,
    "month11": 0,
    "day12": 0,
    "month12": 0,
    "d1": 0,
    "w1": 0,
    "d2": 0,
    "w2": 0,
    "d3": 0,
    "w3": 0,
    "d4": 0,
    "w4": 0,
    "d5": 0,
    "w5": 0,
    "d6": 0,
    "w6": 0,
    "xday1": 0,
    "xmonth1": 0,
    "xday2": 0,
    "xmonth2": 0,
    "xday3": 0,
    "xmonth3": 0,
    "xday4": 0,
    "xmonth4": 0,
    "xday5": 0,
    "xmonth5": 0,
    "xday6": 0,
    "xmonth6": 0,
    "xday7": 0,
    "xmonth7": 0,
    "xday8": 0,
    "xmonth8": 0,
    "xday9": 0,
    "xmonth9": 0,
    "xday10": 0,
    "xmonth10": 0,
    "xday11": 0,
    "xmonth11": 0,
    "xday12": 0,
    "xmonth12": 0,
    "xd1": 0,
    "xw1": 0,
    "xd2": 0,
    "xw2": 0,
    "xd3": 0,
    "xw3": 0,
    "xd4": 0,
    "xw4": 0,
    "xd5": 0,
    "xw5": 0,
    "xd6": 0,
    "xw6": 0,
    "suspend": false,
    "random": false,
    "randon1": false,
    "randoff1": false,
    "randon2": false,
    "randoff2": false,
    "repeat": true,
    "atstart": false,
    "odd": false,
    "even": false,
    "x": 1300,
    "y": 760,
    "wires": [
      [],
      [
        "e6615272da1c215c"
      ],
      []
    ]
  },
  {
    "id": "229c7cd129b5b39e",
    "type": "delay",
    "z": "83779166f14173f8",
    "g": "bc2f5f0fdf3a95b1",
    "name": "5 s",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 950,
    "y": 760,
    "wires": [
      [
        "887c96a79a17ae77"
      ]
    ]
  },
  {
    "id": "0857f7c3fc012063",
    "type": "link out",
    "z": "83779166f14173f8",
    "g": "bc2f5f0fdf3a95b1",
    "name": "scene thermostat operating mode",
    "mode": "link",
    "links": [
      "d1c7f4810b12afe2"
    ],
    "x": 1775,
    "y": 760,
    "wires": []
  },
  {
    "id": "e6615272da1c215c",
    "type": "delay",
    "z": "83779166f14173f8",
    "g": "bc2f5f0fdf3a95b1",
    "name": "1 s",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1490,
    "y": 760,
    "wires": [
      [
        "8c4f101eaabd11ac"
      ]
    ]
  },
  {
    "id": "0628e9848bdd1852",
    "type": "switch",
    "z": "83779166f14173f8",
    "g": "1aae9b0388d3b77d",
    "name": "trigger",
    "property": "path",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "cuisine/aperture/window",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "diner/aperture/door",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "salon/aperture/right bay",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "salon/aperture/left bay",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "salon/aperture/window",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 5,
    "x": 950,
    "y": 900,
    "wires": [
      [
        "bd8ce1c1b118deca"
      ],
      [
        "bd8ce1c1b118deca"
      ],
      [
        "bd8ce1c1b118deca"
      ],
      [
        "bd8ce1c1b118deca"
      ],
      [
        "bd8ce1c1b118deca"
      ]
    ]
  },
  {
    "id": "bd8ce1c1b118deca",
    "type": "trigger",
    "z": "83779166f14173f8",
    "g": "1aae9b0388d3b77d",
    "name": "wait 5 s",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "payl",
    "duration": "5",
    "extend": true,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 1120,
    "y": 900,
    "wires": [
      [
        "3303b4e8e608541b"
      ]
    ]
  },
  {
    "id": "3303b4e8e608541b",
    "type": "change",
    "z": "83779166f14173f8",
    "g": "1aae9b0388d3b77d",
    "name": "payload",
    "rules": [
      {
        "t": "set",
        "p": "door",
        "pt": "msg",
        "to": "metrics.diner.aperture.door",
        "tot": "global"
      },
      {
        "t": "set",
        "p": "window",
        "pt": "msg",
        "to": "metrics.salon.aperture.window",
        "tot": "global"
      },
      {
        "t": "set",
        "p": "cuisine",
        "pt": "msg",
        "to": "metrics.cuisine.aperture.window",
        "tot": "global"
      },
      {
        "t": "set",
        "p": "right",
        "pt": "msg",
        "to": "metrics.salon.aperture['right bay']",
        "tot": "global"
      },
      {
        "t": "set",
        "p": "left",
        "pt": "msg",
        "to": "metrics.salon.aperture['left bay']",
        "tot": "global"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$boolean(msg.door) or $boolean(msg.window) or $boolean(msg.cuisine) or $boolean(msg.right) or $boolean(msg.left)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1300,
    "y": 900,
    "wires": [
      [
        "c40ff844dd2331be"
      ]
    ]
  },
  {
    "id": "41c360fc4fbb160a",
    "type": "link in",
    "z": "83779166f14173f8",
    "g": "1aae9b0388d3b77d",
    "name": "cuisine - source - thermostat aperture",
    "links": [
      "031a6afd8300356a"
    ],
    "x": 815,
    "y": 900,
    "wires": [
      [
        "0628e9848bdd1852"
      ]
    ]
  },
  {
    "id": "c40ff844dd2331be",
    "type": "change",
    "z": "83779166f14173f8",
    "g": "1aae9b0388d3b77d",
    "name": "set metric",
    "rules": [
      {
        "t": "set",
        "p": "bucket",
        "pt": "msg",
        "to": "bucket",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "thermostat",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "aperture opened",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1480,
    "y": 900,
    "wires": [
      [
        "f7dcd2b0b67ae95c"
      ]
    ]
  },
  {
    "id": "f7dcd2b0b67ae95c",
    "type": "link out",
    "z": "83779166f14173f8",
    "g": "1aae9b0388d3b77d",
    "name": "cuisine - source - thermostat aperture",
    "mode": "link",
    "links": [
      "206c1fb4a48067df"
    ],
    "x": 1615,
    "y": 900,
    "wires": []
  },
  {
    "id": "b6797740ddbfdc31",
    "type": "change",
    "z": "83779166f14173f8",
    "g": "56f91a15dd1455d7",
    "name": "thermostat / cycle time / number / 60",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "thermostat",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "cycle time",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "60",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 840,
    "wires": [
      [
        "3f8eedb7511f6d4b"
      ]
    ]
  },
  {
    "id": "9e172dccc52202e9",
    "type": "change",
    "z": "83779166f14173f8",
    "g": "56f91a15dd1455d7",
    "name": "thermostat / outdoor coefficient / number / 5.5",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "thermostat",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "outdoor coefficient",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "5.5",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 390,
    "y": 780,
    "wires": [
      [
        "3f8eedb7511f6d4b"
      ]
    ]
  },
  {
    "id": "ce356d0dbca4f157",
    "type": "change",
    "z": "83779166f14173f8",
    "g": "56f91a15dd1455d7",
    "name": "thermostat / indoor coefficient / number / 115",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "thermostat",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "indoor coefficient",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "115",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 390,
    "y": 720,
    "wires": [
      [
        "3f8eedb7511f6d4b"
      ]
    ]
  },
  {
    "id": "ad06c3265ca316c5",
    "type": "change",
    "z": "83779166f14173f8",
    "g": "56f91a15dd1455d7",
    "name": "chauffage / preheat time / number / 30",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "thermostat",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "preheat time",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "30",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 900,
    "wires": [
      [
        "3f8eedb7511f6d4b"
      ]
    ]
  },
  {
    "id": "ecdb89989bc6cfda",
    "type": "link in",
    "z": "83779166f14173f8",
    "g": "56f91a15dd1455d7",
    "name": "cuisine - device - thermostat",
    "links": [
      "35e382c59a86017f"
    ],
    "x": 135,
    "y": 720,
    "wires": [
      [
        "ce356d0dbca4f157",
        "9e172dccc52202e9",
        "b6797740ddbfdc31",
        "ad06c3265ca316c5",
        "402b3bacddd7969e"
      ]
    ]
  },
  {
    "id": "3f8eedb7511f6d4b",
    "type": "link out",
    "z": "83779166f14173f8",
    "g": "56f91a15dd1455d7",
    "name": "cuisine - device - thermostat",
    "mode": "link",
    "links": [
      "d8585174fdd6097c"
    ],
    "x": 635,
    "y": 720,
    "wires": []
  },
  {
    "id": "402b3bacddd7969e",
    "type": "change",
    "z": "83779166f14173f8",
    "g": "56f91a15dd1455d7",
    "name": "thermostat / offloading power / number / 1500",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "thermostat",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "offloading power",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "1500",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 390,
    "y": 960,
    "wires": [
      [
        "3f8eedb7511f6d4b"
      ]
    ]
  },
  {
    "id": "408a51c88533e506",
    "type": "link out",
    "z": "83779166f14173f8",
    "g": "4e85de651f8c65da",
    "name": "cuisine - alexa - light",
    "mode": "link",
    "links": [
      "df6a69e3a774eebc"
    ],
    "x": 1435,
    "y": 1440,
    "wires": []
  },
  {
    "id": "3f54da8de46b11fd",
    "type": "link in",
    "z": "83779166f14173f8",
    "g": "4e85de651f8c65da",
    "name": "cuisine - alexa - light",
    "links": [
      "abd3bb3b24dd961a"
    ],
    "x": 135,
    "y": 1440,
    "wires": [
      [
        "199a605adc3d5f37"
      ]
    ]
  },
  {
    "id": "44602db9953f8773",
    "type": "switch",
    "z": "83779166f14173f8",
    "g": "4e85de651f8c65da",
    "name": "field",
    "property": "field",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ceiling",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 430,
    "y": 1440,
    "wires": [
      [
        "df80bf9d6d6154e8"
      ]
    ]
  },
  {
    "id": "199a605adc3d5f37",
    "type": "switch",
    "z": "83779166f14173f8",
    "g": "4e85de651f8c65da",
    "name": "bucket",
    "property": "bucket",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "bucket",
        "vt": "flow"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 270,
    "y": 1440,
    "wires": [
      [
        "44602db9953f8773"
      ]
    ]
  },
  {
    "id": "865379b6b8d74d10",
    "type": "vsh-virtual-device",
    "z": "83779166f14173f8",
    "g": "4e85de651f8c65da",
    "name": "lumière de la cuisine",
    "topic": "cuisine/cible/ceiling",
    "metadata": "{}",
    "connection": "b156e6eff1bfadd1",
    "template": "SWITCH",
    "retrievable": true,
    "passthrough": false,
    "diff": false,
    "filter": false,
    "filterTopic": false,
    "plan": "free",
    "x": 940,
    "y": 1440,
    "wires": [
      [
        "462f2494744e496f"
      ]
    ]
  },
  {
    "id": "df80bf9d6d6154e8",
    "type": "link call",
    "z": "83779166f14173f8",
    "g": "4e85de651f8c65da",
    "name": "",
    "links": [
      "75754d6ac1aaec7b"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 660,
    "y": 1440,
    "wires": [
      [
        "865379b6b8d74d10"
      ]
    ]
  },
  {
    "id": "462f2494744e496f",
    "type": "link call",
    "z": "83779166f14173f8",
    "g": "4e85de651f8c65da",
    "name": "",
    "links": [
      "71c9fb8b232fe499"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 1230,
    "y": 1440,
    "wires": [
      [
        "408a51c88533e506"
      ]
    ]
  },
  {
    "id": "302510abb50cfea2",
    "type": "link in",
    "z": "83779166f14173f8",
    "g": "749ecc064675afd3",
    "name": "cuisine - alexa - temperature",
    "links": [
      "a66c6d1f8e271921"
    ],
    "x": 135,
    "y": 1560,
    "wires": [
      [
        "3786b8bbfc974f98"
      ]
    ]
  },
  {
    "id": "3786b8bbfc974f98",
    "type": "switch",
    "z": "83779166f14173f8",
    "g": "749ecc064675afd3",
    "name": "bucket",
    "property": "bucket",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "bucket",
        "vt": "flow"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 270,
    "y": 1560,
    "wires": [
      [
        "d69ab28cf343b28a"
      ]
    ]
  },
  {
    "id": "0722a161ba65e3ee",
    "type": "link call",
    "z": "83779166f14173f8",
    "g": "749ecc064675afd3",
    "name": "",
    "links": [
      "50c950cddc1506ed"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 650,
    "y": 1560,
    "wires": [
      [
        "791047f44f1cf255"
      ]
    ]
  },
  {
    "id": "d69ab28cf343b28a",
    "type": "change",
    "z": "83779166f14173f8",
    "g": "749ecc064675afd3",
    "name": "scene",
    "rules": [
      {
        "t": "set",
        "p": "scene.bucket",
        "pt": "msg",
        "to": "bucket",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 1560,
    "wires": [
      [
        "0722a161ba65e3ee"
      ]
    ]
  },
  {
    "id": "791047f44f1cf255",
    "type": "vsh-virtual-device",
    "z": "83779166f14173f8",
    "g": "749ecc064675afd3",
    "name": "température de la cuisine",
    "topic": "",
    "metadata": "{}",
    "connection": "b156e6eff1bfadd1",
    "template": "TEMPERATURE_SENSOR",
    "retrievable": true,
    "passthrough": false,
    "diff": false,
    "filter": false,
    "filterTopic": false,
    "plan": "free",
    "x": 930,
    "y": 1560,
    "wires": [
      []
    ]
  },
  {
    "id": "f8906d76f5343b41",
    "type": "switch",
    "z": "83779166f14173f8",
    "g": "0c4b2ec7a86c7aa4",
    "name": "bucket",
    "property": "bucket",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "bucket",
        "vt": "flow"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 270,
    "y": 1680,
    "wires": [
      [
        "1d4248d9b171f328"
      ]
    ]
  },
  {
    "id": "b6a2940bd526bdc5",
    "type": "link in",
    "z": "83779166f14173f8",
    "g": "0c4b2ec7a86c7aa4",
    "name": "cuisine - alexa - motion",
    "links": [
      "8f6b9cabcee961b9"
    ],
    "x": 135,
    "y": 1680,
    "wires": [
      [
        "f8906d76f5343b41"
      ]
    ]
  },
  {
    "id": "1d4248d9b171f328",
    "type": "change",
    "z": "83779166f14173f8",
    "g": "0c4b2ec7a86c7aa4",
    "name": "scene",
    "rules": [
      {
        "t": "set",
        "p": "scene.bucket",
        "pt": "msg",
        "to": "bucket",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 1680,
    "wires": [
      [
        "8c0c2cd9c2c43953"
      ]
    ]
  },
  {
    "id": "8c0c2cd9c2c43953",
    "type": "link call",
    "z": "83779166f14173f8",
    "g": "0c4b2ec7a86c7aa4",
    "name": "",
    "links": [
      "4f63773f3c770aa4"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 650,
    "y": 1680,
    "wires": [
      [
        "261a84504ea5b4e6"
      ]
    ]
  },
  {
    "id": "261a84504ea5b4e6",
    "type": "vsh-virtual-device",
    "z": "83779166f14173f8",
    "g": "0c4b2ec7a86c7aa4",
    "name": "mouvement de la cuisine",
    "topic": "",
    "metadata": "{}",
    "connection": "b156e6eff1bfadd1",
    "template": "MOTION_SENSOR",
    "retrievable": true,
    "passthrough": false,
    "diff": false,
    "filter": false,
    "filterTopic": false,
    "plan": "free",
    "x": 930,
    "y": 1680,
    "wires": [
      []
    ]
  },
  {
    "id": "27a69d45ec54d88e",
    "type": "link in",
    "z": "83779166f14173f8",
    "g": "e4db17dafa209b9a",
    "name": "cuisine - alexa - aperture",
    "links": [
      "c961c347fd2d14b5"
    ],
    "x": 135,
    "y": 1800,
    "wires": [
      [
        "d5c079ecca4bd388"
      ]
    ]
  },
  {
    "id": "d5c079ecca4bd388",
    "type": "switch",
    "z": "83779166f14173f8",
    "g": "e4db17dafa209b9a",
    "name": "bucket",
    "property": "bucket",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "bucket",
        "vt": "flow"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 270,
    "y": 1800,
    "wires": [
      [
        "ccf9d9303cfe8587"
      ]
    ]
  },
  {
    "id": "ccf9d9303cfe8587",
    "type": "switch",
    "z": "83779166f14173f8",
    "g": "e4db17dafa209b9a",
    "name": "field",
    "property": "field",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "window",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 430,
    "y": 1800,
    "wires": [
      [
        "f2750547782fb50f"
      ]
    ]
  },
  {
    "id": "4e36cd77592dabca",
    "type": "vsh-virtual-device",
    "z": "83779166f14173f8",
    "g": "e4db17dafa209b9a",
    "name": "fenêtre de la cuisine",
    "topic": "",
    "metadata": "{}",
    "connection": "b156e6eff1bfadd1",
    "template": "CONTACT_SENSOR",
    "retrievable": true,
    "passthrough": false,
    "diff": false,
    "filter": false,
    "filterTopic": false,
    "plan": "free",
    "x": 900,
    "y": 1800,
    "wires": [
      []
    ]
  },
  {
    "id": "f2750547782fb50f",
    "type": "link call",
    "z": "83779166f14173f8",
    "g": "e4db17dafa209b9a",
    "name": "",
    "links": [
      "73c07a0bc5e5429b"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 640,
    "y": 1800,
    "wires": [
      [
        "4e36cd77592dabca"
      ]
    ]
  },
  {
    "id": "e36d20f0d844b5fc",
    "type": "change",
    "z": "83779166f14173f8",
    "g": "b4cb12ca795ea8b2",
    "name": "jarvis / actif / boolean / true",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "jarvis",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "actif",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 340,
    "y": 1140,
    "wires": [
      [
        "f410fe38cd8f7bac"
      ]
    ]
  },
  {
    "id": "14a8e3b1a1dbf959",
    "type": "link in",
    "z": "83779166f14173f8",
    "g": "b4cb12ca795ea8b2",
    "name": "cuisine - device - rhasspy",
    "links": [
      "35e382c59a86017f"
    ],
    "x": 135,
    "y": 1140,
    "wires": [
      [
        "e36d20f0d844b5fc",
        "8544c2374ddcf80d",
        "d0f591f1b7afa3d8"
      ]
    ]
  },
  {
    "id": "8544c2374ddcf80d",
    "type": "change",
    "z": "83779166f14173f8",
    "g": "b4cb12ca795ea8b2",
    "name": "jarvis / high / dimmer / 45",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "jarvis",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "high",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "dimmer",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "45",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 330,
    "y": 1200,
    "wires": [
      [
        "f410fe38cd8f7bac"
      ]
    ]
  },
  {
    "id": "d0f591f1b7afa3d8",
    "type": "change",
    "z": "83779166f14173f8",
    "g": "b4cb12ca795ea8b2",
    "name": "jarvis / low / dimmer / 15",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "jarvis",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "low",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "dimmer",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "15",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 330,
    "y": 1260,
    "wires": [
      [
        "f410fe38cd8f7bac"
      ]
    ]
  },
  {
    "id": "f410fe38cd8f7bac",
    "type": "link out",
    "z": "83779166f14173f8",
    "g": "b4cb12ca795ea8b2",
    "name": "cuisine - device - rhasspy",
    "mode": "link",
    "links": [
      "bfa594bf1f876c92"
    ],
    "x": 535,
    "y": 1140,
    "wires": []
  },
  {
    "id": "82b1766e7f8e0df2",
    "type": "credentials",
    "z": "83779166f14173f8",
    "g": "062924d415d00ec7",
    "name": "id",
    "props": [
      {
        "value": "id",
        "type": "msg"
      }
    ],
    "x": 270,
    "y": 2040,
    "wires": [
      []
    ]
  },
  {
    "id": "7e2da2acb43d4d1b",
    "type": "credentials",
    "z": "83779166f14173f8",
    "g": "062924d415d00ec7",
    "name": "id",
    "props": [
      {
        "value": "id",
        "type": "msg"
      }
    ],
    "x": 270,
    "y": 1980,
    "wires": [
      []
    ]
  },
  {
    "id": "c7bd909bde4eead7",
    "type": "credentials",
    "z": "83779166f14173f8",
    "g": "062924d415d00ec7",
    "name": "id",
    "props": [
      {
        "value": "id",
        "type": "msg"
      }
    ],
    "x": 270,
    "y": 2280,
    "wires": [
      []
    ]
  },
  {
    "id": "0b89339eaace90d7",
    "type": "credentials",
    "z": "83779166f14173f8",
    "g": "062924d415d00ec7",
    "name": "id",
    "props": [
      {
        "value": "id",
        "type": "msg"
      }
    ],
    "x": 270,
    "y": 2220,
    "wires": [
      []
    ]
  },
  {
    "id": "b01d2b8600a9b1df",
    "type": "credentials",
    "z": "83779166f14173f8",
    "g": "062924d415d00ec7",
    "name": "id",
    "props": [
      {
        "value": "id",
        "type": "msg"
      }
    ],
    "x": 270,
    "y": 2160,
    "wires": [
      []
    ]
  },
  {
    "id": "bb7e4f28c0d803ec",
    "type": "credentials",
    "z": "83779166f14173f8",
    "g": "062924d415d00ec7",
    "name": "id",
    "props": [
      {
        "value": "id",
        "type": "msg"
      }
    ],
    "x": 270,
    "y": 2100,
    "wires": [
      []
    ]
  },
  {
    "id": "483a5fade5592d4c",
    "type": "catch",
    "z": "83779166f14173f8",
    "g": "f43720911c7d606b",
    "name": "catch error",
    "scope": null,
    "uncaught": false,
    "x": 620,
    "y": 60,
    "wires": [
      [
        "d14cd6b52b330cdf"
      ]
    ]
  },
  {
    "id": "d14cd6b52b330cdf",
    "type": "change",
    "z": "83779166f14173f8",
    "g": "f43720911c7d606b",
    "name": "topic",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "cuisine",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 790,
    "y": 60,
    "wires": [
      [
        "4b285e7f94d3b8eb"
      ]
    ]
  },
  {
    "id": "4b285e7f94d3b8eb",
    "type": "link out",
    "z": "83779166f14173f8",
    "g": "f43720911c7d606b",
    "name": "catch error",
    "mode": "link",
    "links": [
      "a52f0e788cd4dca3"
    ],
    "x": 915,
    "y": 60,
    "wires": []
  }
]