flows/R.Jardin.json
[
  {
    "id": "daa0be2fa53aaf46",
    "type": "tab",
    "label": "R.Jardin",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "86cde0c02708119b",
    "type": "group",
    "z": "daa0be2fa53aaf46",
    "name": "jardin - bucket",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true,
      "stroke": "#ffC000"
    },
    "nodes": [
      "b7d1a1b7abd8efad",
      "d7c09b7acb97a3f4",
      "668a343981badf28"
    ],
    "x": 94,
    "y": 19,
    "w": 342,
    "h": 82
  },
  {
    "id": "a5e0401540764eef",
    "type": "group",
    "z": "daa0be2fa53aaf46",
    "name": "jardin - ui select room",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true,
      "stroke": "#6f2fa0"
    },
    "nodes": [
      "d9435658511d2531",
      "9e08854ef865d0d7",
      "30fec57efcc31787",
      "3ebb767dd60fa7e9"
    ],
    "x": 1054,
    "y": 19,
    "w": 562,
    "h": 82
  },
  {
    "id": "e99823b45f28f9b0",
    "type": "group",
    "z": "daa0be2fa53aaf46",
    "name": "",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "f55346abaea26094",
      "e8e5a0caead5ab73",
      "bdd7df89f79ee5b0"
    ],
    "x": 68,
    "y": 653,
    "w": 1674,
    "h": 494
  },
  {
    "id": "fc3b0a1ba5438c76",
    "type": "group",
    "z": "daa0be2fa53aaf46",
    "name": "",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "98821f81dd5b1d8f"
    ],
    "x": 68,
    "y": 293,
    "w": 714,
    "h": 314
  },
  {
    "id": "44ab986c6e66fcf9",
    "type": "group",
    "z": "daa0be2fa53aaf46",
    "name": "jardin - alexa",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "66132351e9273fcd",
      "f3ae18fb49047b12",
      "5cd3a909ce1f413c"
    ],
    "x": 68,
    "y": 1213,
    "w": 1374,
    "h": 374
  },
  {
    "id": "0cbf03566bba035b",
    "type": "group",
    "z": "daa0be2fa53aaf46",
    "name": "catch error",
    "style": {
      "fill": "#ff0000",
      "fill-opacity": "0.05",
      "label": true,
      "stroke": "#ff0000"
    },
    "nodes": [
      "2010a9b4e058170d",
      "86744397a30aaac2",
      "56ddaec6b46fba54"
    ],
    "x": 534,
    "y": 19,
    "w": 422,
    "h": 82
  },
  {
    "id": "f55346abaea26094",
    "type": "group",
    "z": "daa0be2fa53aaf46",
    "g": "e99823b45f28f9b0",
    "name": "jardin - device - lighting",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "78e99b7f5010b616",
      "89f3d6996d451326",
      "91a4d952fb3ed03f",
      "0ba4943daf9bfaa9"
    ],
    "x": 94,
    "y": 679,
    "w": 502,
    "h": 142
  },
  {
    "id": "e8e5a0caead5ab73",
    "type": "group",
    "z": "daa0be2fa53aaf46",
    "g": "e99823b45f28f9b0",
    "name": "jardin - scene - lighting lamp",
    "style": {
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "2e1d939d984571fe",
      "4531745035773d3e",
      "32570cbbb91d3d5f",
      "9a200e88cdab07fa",
      "0fa2ffecb9982cf5",
      "9de139c6a0bb109f",
      "2095bb5437e6bba0"
    ],
    "x": 694,
    "y": 679,
    "w": 1022,
    "h": 202
  },
  {
    "id": "bdd7df89f79ee5b0",
    "type": "group",
    "z": "daa0be2fa53aaf46",
    "g": "e99823b45f28f9b0",
    "name": "jardin - scene - lighting spots",
    "style": {
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "1e101e88455caf6a",
      "55b1d876c3f25d5e",
      "b8b95fbb0c46875e",
      "920498c87637d301",
      "f08fe7b4b871821b",
      "08f0460698d0c815",
      "3e25c616be545e45"
    ],
    "x": 694,
    "y": 919,
    "w": 1022,
    "h": 202
  },
  {
    "id": "98821f81dd5b1d8f",
    "type": "group",
    "z": "daa0be2fa53aaf46",
    "g": "fc3b0a1ba5438c76",
    "name": "jardin - device - auto",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "60475260b49e8979",
      "2134c68038f2f74e",
      "4d2e3d8689320f62",
      "cfe1fbed31fd6f5c",
      "b5ef929b8fbf5e96",
      "6cf803a0904c42f4",
      "aa511b07336bc955",
      "67fa985f43e3907e",
      "3c2a4fa97ee2c9cb",
      "e162aa2ab40c7d67"
    ],
    "x": 94,
    "y": 319,
    "w": 662,
    "h": 262
  },
  {
    "id": "66132351e9273fcd",
    "type": "group",
    "z": "daa0be2fa53aaf46",
    "g": "44ab986c6e66fcf9",
    "name": "jardin - alexa - light lamp",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "339b74120cebdaf7",
      "dd483df0d2980560",
      "bba86e872f5e2e77",
      "520adefc1310c5fb",
      "690dd048f1082d82",
      "ab7f0faa07bb10c5",
      "825b1d36c119ef53"
    ],
    "x": 94,
    "y": 1239,
    "w": 1322,
    "h": 82
  },
  {
    "id": "f3ae18fb49047b12",
    "type": "group",
    "z": "daa0be2fa53aaf46",
    "g": "44ab986c6e66fcf9",
    "name": "jardin - alexa - light spots",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "64e0af5ac57be506",
      "ca190028075a02c4",
      "53b0704ceac188a8",
      "a635791973ebfcde",
      "1e12dbe6025675cd",
      "d0fb887b17f71649",
      "e62259066f5cdb88"
    ],
    "x": 94,
    "y": 1359,
    "w": 1322,
    "h": 82
  },
  {
    "id": "5cd3a909ce1f413c",
    "type": "group",
    "z": "daa0be2fa53aaf46",
    "g": "44ab986c6e66fcf9",
    "name": "jardin - alexa - temperature",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "7d119b2f7b8ce528",
      "2311f2404970f228",
      "df2a43bb66b9583c",
      "3d309e5ca950760b",
      "eb6013e0ba671951"
    ],
    "x": 94,
    "y": 1479,
    "w": 952,
    "h": 82
  },
  {
    "id": "b7d1a1b7abd8efad",
    "type": "change",
    "z": "daa0be2fa53aaf46",
    "g": "86cde0c02708119b",
    "name": "bucket",
    "rules": [
      {
        "t": "set",
        "p": "bucket",
        "pt": "msg",
        "to": "jardin",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "bucket",
        "pt": "flow",
        "to": "bucket",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 270,
    "y": 60,
    "wires": [
      [
        "668a343981badf28"
      ]
    ]
  },
  {
    "id": "d7c09b7acb97a3f4",
    "type": "link in",
    "z": "daa0be2fa53aaf46",
    "g": "86cde0c02708119b",
    "name": "jardin - bucket",
    "links": [
      "25445f5a9b787a0a"
    ],
    "x": 135,
    "y": 60,
    "wires": [
      [
        "b7d1a1b7abd8efad"
      ]
    ]
  },
  {
    "id": "668a343981badf28",
    "type": "link out",
    "z": "daa0be2fa53aaf46",
    "g": "86cde0c02708119b",
    "name": "jardin - bucket",
    "mode": "link",
    "links": [
      "60475260b49e8979",
      "91a4d952fb3ed03f"
    ],
    "x": 395,
    "y": 60,
    "wires": []
  },
  {
    "id": "d9435658511d2531",
    "type": "link out",
    "z": "daa0be2fa53aaf46",
    "g": "a5e0401540764eef",
    "name": "jardin - ui select room",
    "mode": "link",
    "links": [
      "1be6ca3c2b8615a2"
    ],
    "x": 1575,
    "y": 60,
    "wires": []
  },
  {
    "id": "9e08854ef865d0d7",
    "type": "link in",
    "z": "daa0be2fa53aaf46",
    "g": "a5e0401540764eef",
    "name": "jardin - ui select room",
    "links": [
      "74172837e07ab80d"
    ],
    "x": 1095,
    "y": 60,
    "wires": [
      [
        "30fec57efcc31787"
      ]
    ]
  },
  {
    "id": "30fec57efcc31787",
    "type": "change",
    "z": "daa0be2fa53aaf46",
    "g": "a5e0401540764eef",
    "name": "enabled button",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "bucket",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "msg.payload != msg.room",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1260,
    "y": 60,
    "wires": [
      [
        "3ebb767dd60fa7e9"
      ]
    ]
  },
  {
    "id": "3ebb767dd60fa7e9",
    "type": "ui-button",
    "z": "daa0be2fa53aaf46",
    "g": "a5e0401540764eef",
    "group": "36396f5285df476c",
    "name": "",
    "label": "Jardin",
    "order": 13,
    "width": "2",
    "height": "1",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "bucket",
    "payloadType": "flow",
    "topic": "topic",
    "topicType": "msg",
    "x": 1450,
    "y": 60,
    "wires": [
      [
        "d9435658511d2531"
      ]
    ]
  },
  {
    "id": "78e99b7f5010b616",
    "type": "change",
    "z": "daa0be2fa53aaf46",
    "g": "f55346abaea26094",
    "name": "lighting / actif / boolean / true",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "lighting",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "actif",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 340,
    "y": 720,
    "wires": [
      [
        "89f3d6996d451326"
      ]
    ]
  },
  {
    "id": "89f3d6996d451326",
    "type": "link out",
    "z": "daa0be2fa53aaf46",
    "g": "f55346abaea26094",
    "name": "jardin - device - lighting",
    "mode": "link",
    "links": [
      "bfa594bf1f876c92"
    ],
    "x": 555,
    "y": 720,
    "wires": []
  },
  {
    "id": "91a4d952fb3ed03f",
    "type": "link in",
    "z": "daa0be2fa53aaf46",
    "g": "f55346abaea26094",
    "name": "jardin - device - lighting",
    "links": [
      "668a343981badf28"
    ],
    "x": 135,
    "y": 720,
    "wires": [
      [
        "78e99b7f5010b616",
        "0ba4943daf9bfaa9"
      ]
    ]
  },
  {
    "id": "0ba4943daf9bfaa9",
    "type": "change",
    "z": "daa0be2fa53aaf46",
    "g": "f55346abaea26094",
    "name": "lighting / timer / number / 120",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "lighting",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "timer",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "120",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 340,
    "y": 780,
    "wires": [
      [
        "89f3d6996d451326"
      ]
    ]
  },
  {
    "id": "2e1d939d984571fe",
    "type": "link in",
    "z": "daa0be2fa53aaf46",
    "g": "e8e5a0caead5ab73",
    "name": "jardin - scene - lighting lamp",
    "links": [
      "031a6afd8300356a"
    ],
    "x": 735,
    "y": 780,
    "wires": [
      [
        "32570cbbb91d3d5f"
      ]
    ]
  },
  {
    "id": "4531745035773d3e",
    "type": "change",
    "z": "daa0be2fa53aaf46",
    "g": "e8e5a0caead5ab73",
    "name": "scene lighting / lamp  / dimmer",
    "rules": [
      {
        "t": "set",
        "p": "scene.bucket",
        "pt": "msg",
        "to": "bucket",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "scene.measurement",
        "pt": "msg",
        "to": "light",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.field",
        "pt": "msg",
        "to": "lamp",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.format",
        "pt": "msg",
        "to": "dimmer",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.type",
        "pt": "msg",
        "to": "lighting",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.on",
        "pt": "msg",
        "to": "99",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "scene.off",
        "pt": "msg",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1470,
    "y": 780,
    "wires": [
      [
        "0fa2ffecb9982cf5"
      ]
    ]
  },
  {
    "id": "32570cbbb91d3d5f",
    "type": "switch",
    "z": "daa0be2fa53aaf46",
    "g": "e8e5a0caead5ab73",
    "name": "trigger",
    "property": "path",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "salon/aperture/shutter",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "jardin/light/lamp",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "cuisine/command/remote",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 3,
    "x": 870,
    "y": 780,
    "wires": [
      [
        "9a200e88cdab07fa"
      ],
      [
        "4531745035773d3e"
      ],
      [
        "9de139c6a0bb109f"
      ]
    ]
  },
  {
    "id": "9a200e88cdab07fa",
    "type": "switch",
    "z": "daa0be2fa53aaf46",
    "g": "e8e5a0caead5ab73",
    "name": "closed",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1030,
    "y": 720,
    "wires": [
      [
        "4531745035773d3e"
      ]
    ]
  },
  {
    "id": "0fa2ffecb9982cf5",
    "type": "link out",
    "z": "daa0be2fa53aaf46",
    "g": "e8e5a0caead5ab73",
    "name": "jardin - scene - lighting lamp",
    "mode": "link",
    "links": [
      "abdf34b12a5dd88d"
    ],
    "x": 1675,
    "y": 780,
    "wires": []
  },
  {
    "id": "9de139c6a0bb109f",
    "type": "switch",
    "z": "daa0be2fa53aaf46",
    "g": "e8e5a0caead5ab73",
    "name": "remote",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "btwn",
        "v": "30",
        "vt": "num",
        "v2": "31",
        "v2t": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1040,
    "y": 840,
    "wires": [
      [
        "2095bb5437e6bba0"
      ]
    ]
  },
  {
    "id": "2095bb5437e6bba0",
    "type": "change",
    "z": "daa0be2fa53aaf46",
    "g": "e8e5a0caead5ab73",
    "name": "payload",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "msg.payload=31",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1220,
    "y": 840,
    "wires": [
      [
        "4531745035773d3e"
      ]
    ]
  },
  {
    "id": "1e101e88455caf6a",
    "type": "link in",
    "z": "daa0be2fa53aaf46",
    "g": "bdd7df89f79ee5b0",
    "name": "jardin - scene - lighting spots",
    "links": [
      "031a6afd8300356a"
    ],
    "x": 735,
    "y": 1020,
    "wires": [
      [
        "b8b95fbb0c46875e"
      ]
    ]
  },
  {
    "id": "55b1d876c3f25d5e",
    "type": "change",
    "z": "daa0be2fa53aaf46",
    "g": "bdd7df89f79ee5b0",
    "name": "scene lighting / spots / boolean",
    "rules": [
      {
        "t": "set",
        "p": "scene.bucket",
        "pt": "msg",
        "to": "bucket",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "scene.measurement",
        "pt": "msg",
        "to": "light",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.field",
        "pt": "msg",
        "to": "spots",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.type",
        "pt": "msg",
        "to": "lighting",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.on",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "scene.off",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1470,
    "y": 1020,
    "wires": [
      [
        "f08fe7b4b871821b"
      ]
    ]
  },
  {
    "id": "b8b95fbb0c46875e",
    "type": "switch",
    "z": "daa0be2fa53aaf46",
    "g": "bdd7df89f79ee5b0",
    "name": "trigger",
    "property": "path",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "salon/aperture/shutter",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "jardin/light/spots",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "cuisine/command/remote",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 3,
    "x": 870,
    "y": 1020,
    "wires": [
      [
        "920498c87637d301"
      ],
      [
        "55b1d876c3f25d5e"
      ],
      [
        "08f0460698d0c815"
      ]
    ]
  },
  {
    "id": "920498c87637d301",
    "type": "switch",
    "z": "daa0be2fa53aaf46",
    "g": "bdd7df89f79ee5b0",
    "name": "closed",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1030,
    "y": 960,
    "wires": [
      [
        "55b1d876c3f25d5e"
      ]
    ]
  },
  {
    "id": "f08fe7b4b871821b",
    "type": "link out",
    "z": "daa0be2fa53aaf46",
    "g": "bdd7df89f79ee5b0",
    "name": "jardin - scene - lighting spots",
    "mode": "link",
    "links": [
      "abdf34b12a5dd88d"
    ],
    "x": 1675,
    "y": 1020,
    "wires": []
  },
  {
    "id": "08f0460698d0c815",
    "type": "switch",
    "z": "daa0be2fa53aaf46",
    "g": "bdd7df89f79ee5b0",
    "name": "remote",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "btwn",
        "v": "20",
        "vt": "num",
        "v2": "21",
        "v2t": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1040,
    "y": 1080,
    "wires": [
      [
        "3e25c616be545e45"
      ]
    ]
  },
  {
    "id": "3e25c616be545e45",
    "type": "change",
    "z": "daa0be2fa53aaf46",
    "g": "bdd7df89f79ee5b0",
    "name": "payload",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "msg.payload=21",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1220,
    "y": 1080,
    "wires": [
      [
        "55b1d876c3f25d5e"
      ]
    ]
  },
  {
    "id": "60475260b49e8979",
    "type": "link in",
    "z": "daa0be2fa53aaf46",
    "g": "98821f81dd5b1d8f",
    "name": "jardin - device - auto",
    "links": [
      "668a343981badf28"
    ],
    "x": 135,
    "y": 360,
    "wires": [
      [
        "aa511b07336bc955",
        "67fa985f43e3907e",
        "3c2a4fa97ee2c9cb",
        "e162aa2ab40c7d67"
      ]
    ]
  },
  {
    "id": "2134c68038f2f74e",
    "type": "change",
    "z": "daa0be2fa53aaf46",
    "g": "98821f81dd5b1d8f",
    "name": "THG / xxx / temperature / probe",
    "rules": [
      {
        "t": "set",
        "p": "model",
        "pt": "msg",
        "to": "THG",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 360,
    "wires": [
      [
        "4d2e3d8689320f62"
      ]
    ]
  },
  {
    "id": "4d2e3d8689320f62",
    "type": "link out",
    "z": "daa0be2fa53aaf46",
    "g": "98821f81dd5b1d8f",
    "name": "jardin - device - auto",
    "mode": "link",
    "links": [
      "d85fe6335a6eae7b"
    ],
    "x": 715,
    "y": 360,
    "wires": []
  },
  {
    "id": "cfe1fbed31fd6f5c",
    "type": "change",
    "z": "daa0be2fa53aaf46",
    "g": "98821f81dd5b1d8f",
    "name": "REOLINK / xxx / camera / url",
    "rules": [
      {
        "t": "set",
        "p": "model",
        "pt": "msg",
        "to": "REOLINK",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 420,
    "wires": [
      [
        "4d2e3d8689320f62"
      ]
    ]
  },
  {
    "id": "b5ef929b8fbf5e96",
    "type": "change",
    "z": "daa0be2fa53aaf46",
    "g": "98821f81dd5b1d8f",
    "name": "FGD212 / xxx / light / lamp",
    "rules": [
      {
        "t": "set",
        "p": "model",
        "pt": "msg",
        "to": "FGD212",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "lamp",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 480,
    "wires": [
      [
        "4d2e3d8689320f62"
      ]
    ]
  },
  {
    "id": "6cf803a0904c42f4",
    "type": "change",
    "z": "daa0be2fa53aaf46",
    "g": "98821f81dd5b1d8f",
    "name": "412170 / xxx / light / spots",
    "rules": [
      {
        "t": "set",
        "p": "model",
        "pt": "msg",
        "to": "412170",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "spots",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 490,
    "y": 540,
    "wires": [
      [
        "4d2e3d8689320f62"
      ]
    ]
  },
  {
    "id": "339b74120cebdaf7",
    "type": "link out",
    "z": "daa0be2fa53aaf46",
    "g": "66132351e9273fcd",
    "name": "jardin - alexa - light lamp",
    "mode": "link",
    "links": [
      "df6a69e3a774eebc"
    ],
    "x": 1375,
    "y": 1280,
    "wires": []
  },
  {
    "id": "dd483df0d2980560",
    "type": "link in",
    "z": "daa0be2fa53aaf46",
    "g": "66132351e9273fcd",
    "name": "jardin - alexa - light lamp",
    "links": [
      "abd3bb3b24dd961a"
    ],
    "x": 135,
    "y": 1280,
    "wires": [
      [
        "520adefc1310c5fb"
      ]
    ]
  },
  {
    "id": "bba86e872f5e2e77",
    "type": "switch",
    "z": "daa0be2fa53aaf46",
    "g": "66132351e9273fcd",
    "name": "field",
    "property": "field",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "lamp",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 430,
    "y": 1280,
    "wires": [
      [
        "ab7f0faa07bb10c5"
      ]
    ]
  },
  {
    "id": "520adefc1310c5fb",
    "type": "switch",
    "z": "daa0be2fa53aaf46",
    "g": "66132351e9273fcd",
    "name": "bucket",
    "property": "bucket",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "bucket",
        "vt": "flow"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 270,
    "y": 1280,
    "wires": [
      [
        "bba86e872f5e2e77"
      ]
    ]
  },
  {
    "id": "690dd048f1082d82",
    "type": "vsh-virtual-device",
    "z": "daa0be2fa53aaf46",
    "g": "66132351e9273fcd",
    "name": "lampe du jardin",
    "topic": "jardin/cible/lamp",
    "metadata": "{}",
    "connection": "b156e6eff1bfadd1",
    "template": "SWITCH",
    "retrievable": true,
    "passthrough": false,
    "diff": false,
    "filter": false,
    "filterTopic": false,
    "plan": "free",
    "x": 920,
    "y": 1280,
    "wires": [
      [
        "825b1d36c119ef53"
      ]
    ]
  },
  {
    "id": "ab7f0faa07bb10c5",
    "type": "link call",
    "z": "daa0be2fa53aaf46",
    "g": "66132351e9273fcd",
    "name": "",
    "links": [
      "75754d6ac1aaec7b"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 660,
    "y": 1280,
    "wires": [
      [
        "690dd048f1082d82"
      ]
    ]
  },
  {
    "id": "825b1d36c119ef53",
    "type": "link call",
    "z": "daa0be2fa53aaf46",
    "g": "66132351e9273fcd",
    "name": "",
    "links": [
      "75754d6ac1aaec7b"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 1180,
    "y": 1280,
    "wires": [
      [
        "339b74120cebdaf7"
      ]
    ]
  },
  {
    "id": "64e0af5ac57be506",
    "type": "link out",
    "z": "daa0be2fa53aaf46",
    "g": "f3ae18fb49047b12",
    "name": "jardin - alexa - light spots",
    "mode": "link",
    "links": [
      "df6a69e3a774eebc"
    ],
    "x": 1375,
    "y": 1400,
    "wires": []
  },
  {
    "id": "ca190028075a02c4",
    "type": "switch",
    "z": "daa0be2fa53aaf46",
    "g": "f3ae18fb49047b12",
    "name": "field",
    "property": "field",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "spots",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 430,
    "y": 1400,
    "wires": [
      [
        "d0fb887b17f71649"
      ]
    ]
  },
  {
    "id": "53b0704ceac188a8",
    "type": "link in",
    "z": "daa0be2fa53aaf46",
    "g": "f3ae18fb49047b12",
    "name": "jardin - alexa - light spots",
    "links": [
      "abd3bb3b24dd961a"
    ],
    "x": 135,
    "y": 1400,
    "wires": [
      [
        "a635791973ebfcde"
      ]
    ]
  },
  {
    "id": "a635791973ebfcde",
    "type": "switch",
    "z": "daa0be2fa53aaf46",
    "g": "f3ae18fb49047b12",
    "name": "bucket",
    "property": "bucket",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "bucket",
        "vt": "flow"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 270,
    "y": 1400,
    "wires": [
      [
        "ca190028075a02c4"
      ]
    ]
  },
  {
    "id": "1e12dbe6025675cd",
    "type": "vsh-virtual-device",
    "z": "daa0be2fa53aaf46",
    "g": "f3ae18fb49047b12",
    "name": "spots du jardin",
    "topic": "jardin/cible/spots",
    "metadata": "{}",
    "connection": "b156e6eff1bfadd1",
    "template": "SWITCH",
    "retrievable": true,
    "passthrough": false,
    "diff": false,
    "filter": false,
    "filterTopic": false,
    "plan": "free",
    "x": 920,
    "y": 1400,
    "wires": [
      [
        "e62259066f5cdb88"
      ]
    ]
  },
  {
    "id": "d0fb887b17f71649",
    "type": "link call",
    "z": "daa0be2fa53aaf46",
    "g": "f3ae18fb49047b12",
    "name": "",
    "links": [
      "bac2afafe6b36787"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 660,
    "y": 1400,
    "wires": [
      [
        "1e12dbe6025675cd"
      ]
    ]
  },
  {
    "id": "e62259066f5cdb88",
    "type": "link call",
    "z": "daa0be2fa53aaf46",
    "g": "f3ae18fb49047b12",
    "name": "",
    "links": [
      "d71667633c63d82c"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 1180,
    "y": 1400,
    "wires": [
      [
        "64e0af5ac57be506"
      ]
    ]
  },
  {
    "id": "7d119b2f7b8ce528",
    "type": "link in",
    "z": "daa0be2fa53aaf46",
    "g": "5cd3a909ce1f413c",
    "name": "jardin - alexa - temperature",
    "links": [
      "a66c6d1f8e271921"
    ],
    "x": 135,
    "y": 1520,
    "wires": [
      [
        "2311f2404970f228"
      ]
    ]
  },
  {
    "id": "2311f2404970f228",
    "type": "switch",
    "z": "daa0be2fa53aaf46",
    "g": "5cd3a909ce1f413c",
    "name": "bucket",
    "property": "bucket",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "bucket",
        "vt": "flow"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 270,
    "y": 1520,
    "wires": [
      [
        "3d309e5ca950760b"
      ]
    ]
  },
  {
    "id": "df2a43bb66b9583c",
    "type": "link call",
    "z": "daa0be2fa53aaf46",
    "g": "5cd3a909ce1f413c",
    "name": "",
    "links": [
      "50c950cddc1506ed"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 650,
    "y": 1520,
    "wires": [
      [
        "eb6013e0ba671951"
      ]
    ]
  },
  {
    "id": "3d309e5ca950760b",
    "type": "change",
    "z": "daa0be2fa53aaf46",
    "g": "5cd3a909ce1f413c",
    "name": "scene",
    "rules": [
      {
        "t": "set",
        "p": "scene.bucket",
        "pt": "msg",
        "to": "bucket",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 1520,
    "wires": [
      [
        "df2a43bb66b9583c"
      ]
    ]
  },
  {
    "id": "eb6013e0ba671951",
    "type": "vsh-virtual-device",
    "z": "daa0be2fa53aaf46",
    "g": "5cd3a909ce1f413c",
    "name": "température du jardin",
    "topic": "",
    "metadata": "{}",
    "connection": "b156e6eff1bfadd1",
    "template": "TEMPERATURE_SENSOR",
    "retrievable": true,
    "passthrough": false,
    "diff": false,
    "filter": false,
    "filterTopic": false,
    "plan": "free",
    "x": 920,
    "y": 1520,
    "wires": [
      []
    ]
  },
  {
    "id": "aa511b07336bc955",
    "type": "credentials",
    "z": "daa0be2fa53aaf46",
    "g": "98821f81dd5b1d8f",
    "name": "id",
    "props": [
      {
        "value": "id",
        "type": "msg"
      }
    ],
    "x": 270,
    "y": 540,
    "wires": [
      [
        "6cf803a0904c42f4"
      ]
    ]
  },
  {
    "id": "67fa985f43e3907e",
    "type": "credentials",
    "z": "daa0be2fa53aaf46",
    "g": "98821f81dd5b1d8f",
    "name": "id",
    "props": [
      {
        "value": "id",
        "type": "msg"
      }
    ],
    "x": 270,
    "y": 480,
    "wires": [
      [
        "b5ef929b8fbf5e96"
      ]
    ]
  },
  {
    "id": "3c2a4fa97ee2c9cb",
    "type": "credentials",
    "z": "daa0be2fa53aaf46",
    "g": "98821f81dd5b1d8f",
    "name": "id",
    "props": [
      {
        "value": "id",
        "type": "msg"
      }
    ],
    "x": 270,
    "y": 420,
    "wires": [
      [
        "cfe1fbed31fd6f5c"
      ]
    ]
  },
  {
    "id": "e162aa2ab40c7d67",
    "type": "credentials",
    "z": "daa0be2fa53aaf46",
    "g": "98821f81dd5b1d8f",
    "name": "id",
    "props": [
      {
        "value": "id",
        "type": "msg"
      }
    ],
    "x": 270,
    "y": 360,
    "wires": [
      [
        "2134c68038f2f74e"
      ]
    ]
  },
  {
    "id": "2010a9b4e058170d",
    "type": "catch",
    "z": "daa0be2fa53aaf46",
    "g": "0cbf03566bba035b",
    "name": "catch error",
    "scope": null,
    "uncaught": false,
    "x": 620,
    "y": 60,
    "wires": [
      [
        "86744397a30aaac2"
      ]
    ]
  },
  {
    "id": "86744397a30aaac2",
    "type": "change",
    "z": "daa0be2fa53aaf46",
    "g": "0cbf03566bba035b",
    "name": "topic",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "jardin",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 790,
    "y": 60,
    "wires": [
      [
        "56ddaec6b46fba54"
      ]
    ]
  },
  {
    "id": "56ddaec6b46fba54",
    "type": "link out",
    "z": "daa0be2fa53aaf46",
    "g": "0cbf03566bba035b",
    "name": "catch error",
    "mode": "link",
    "links": [
      "a52f0e788cd4dca3"
    ],
    "x": 915,
    "y": 60,
    "wires": []
  }
]