flows/R.Parents.json
[
  {
    "id": "4ae92a5d07f513ee",
    "type": "tab",
    "label": "R.Parents",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "ce9aeb65ad4bb6eb",
    "type": "group",
    "z": "4ae92a5d07f513ee",
    "name": "parents - bucket",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true,
      "stroke": "#ffC000"
    },
    "nodes": [
      "9c97074ceef682a8",
      "cf9ef266c6a8ce02",
      "cc68069930b2479b"
    ],
    "x": 94,
    "y": 19,
    "w": 342,
    "h": 82
  },
  {
    "id": "acdddf3c8798ed8f",
    "type": "group",
    "z": "4ae92a5d07f513ee",
    "name": "parents - ui select room",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true,
      "stroke": "#6f2fa0"
    },
    "nodes": [
      "0ffed8fdad553396",
      "b5fb778a5f959426",
      "fc6933940b9b258e",
      "2a59a755a1e84e12"
    ],
    "x": 1054,
    "y": 19,
    "w": 582,
    "h": 82
  },
  {
    "id": "76531242ed6d1af4",
    "type": "group",
    "z": "4ae92a5d07f513ee",
    "name": "",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "7675dd03f941bc9a"
    ],
    "x": 68,
    "y": 1365.5,
    "w": 934,
    "h": 149
  },
  {
    "id": "28edba1c5e66d39d",
    "type": "group",
    "z": "4ae92a5d07f513ee",
    "name": "",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "0b5e3bfbf0fb13c7",
      "e3da4219d2723996",
      "bf5fb6e0ee73d142",
      "6c31c5a2c83b0cc9",
      "8f721526b1bd8e11"
    ],
    "x": 68,
    "y": 233,
    "w": 1714,
    "h": 1094
  },
  {
    "id": "b2aabcf1a98113d2",
    "type": "group",
    "z": "4ae92a5d07f513ee",
    "name": "parents - alexa",
    "style": {
      "fill": "#777777",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "a0fb7feea30116c9",
      "4ff63042b674da2f",
      "a78e3e12e55836b6",
      "64f47d1c52b68079",
      "7f58393ab187f86a",
      "b674665f8dd964b7"
    ],
    "x": 68,
    "y": 1553,
    "w": 1494,
    "h": 734
  },
  {
    "id": "39dd71f6e8eb75c6",
    "type": "group",
    "z": "4ae92a5d07f513ee",
    "name": "catch error",
    "style": {
      "fill": "#ff0000",
      "fill-opacity": "0.05",
      "label": true,
      "stroke": "#ff0000"
    },
    "nodes": [
      "cf11131afc297ceb",
      "3dcf7d94822b69ce",
      "3859758a7fa85959"
    ],
    "x": 534,
    "y": 19,
    "w": 422,
    "h": 82
  },
  {
    "id": "7675dd03f941bc9a",
    "type": "group",
    "z": "4ae92a5d07f513ee",
    "g": "76531242ed6d1af4",
    "name": "parents - scene - thermostat operating mode",
    "style": {
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "30a4c71f8d02384d",
      "663171ca016f7dc9",
      "377374bc3cc49bc5",
      "476feb575075a915",
      "ab8f732932d99b17",
      "10dddc528a72d52c"
    ],
    "x": 94,
    "y": 1391.5,
    "w": 882,
    "h": 97
  },
  {
    "id": "0b5e3bfbf0fb13c7",
    "type": "group",
    "z": "4ae92a5d07f513ee",
    "g": "28edba1c5e66d39d",
    "name": "parents - device - lighting",
    "style": {
      "fill": "#ffC000",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "7e8d0f8ce92a7afe",
      "ebe2f8029bf3db01",
      "46bbf85405ae20a9",
      "3576d6844b1470a6",
      "954d9b806b8227a8",
      "2945f64fc88ab06d"
    ],
    "x": 94,
    "y": 259,
    "w": 502,
    "h": 262
  },
  {
    "id": "e3da4219d2723996",
    "type": "group",
    "z": "4ae92a5d07f513ee",
    "g": "28edba1c5e66d39d",
    "name": "parents - scene - lighting ceiling",
    "style": {
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "2b971632d5bc1ff9",
      "859ec44e839237d7",
      "94ae75b4ddf5cc3a",
      "3330543761d78e58",
      "2de6256021c37086",
      "b1e863424ff2705e",
      "331b6dc245510fd9",
      "a7519d9f19c4c34d"
    ],
    "x": 694,
    "y": 739,
    "w": 1022,
    "h": 202
  },
  {
    "id": "bf5fb6e0ee73d142",
    "type": "group",
    "z": "4ae92a5d07f513ee",
    "g": "28edba1c5e66d39d",
    "name": "parents - scene - lighting left bedside",
    "style": {
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "dc8f25b6384a7675",
      "e019588e48011a10",
      "2c27e193b70e02a1",
      "15367243a010781c",
      "6c3ccae58cdb8180",
      "124b22b5f5e84b4a",
      "0a21f1c3c8c31ff9",
      "70a7e504ff1a46bb"
    ],
    "x": 694,
    "y": 499,
    "w": 1062,
    "h": 202
  },
  {
    "id": "6c31c5a2c83b0cc9",
    "type": "group",
    "z": "4ae92a5d07f513ee",
    "g": "28edba1c5e66d39d",
    "name": "parents - scene - lighting right bedside",
    "style": {
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "0f92a16252f1df75",
      "c873fafacd9c4dee",
      "0f438cecf3747714",
      "feef715d3f66ac99",
      "f418d5018c521e07",
      "feb01b6b528eca0b",
      "5dbc953c7bf31694",
      "f4f3e9824b0a85b8"
    ],
    "x": 694,
    "y": 259,
    "w": 1062,
    "h": 202
  },
  {
    "id": "a0fb7feea30116c9",
    "type": "group",
    "z": "4ae92a5d07f513ee",
    "g": "b2aabcf1a98113d2",
    "name": "parents - alexa - light ceiling",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "03f7513bc15a7970",
      "0a42f841db6eeb29",
      "153d6c79ddb6a61b",
      "5588600e048bb7ec",
      "cb2c15acf0d304bf",
      "c10f9df1d2567205",
      "4a9c3f3e6824d0f3"
    ],
    "x": 94,
    "y": 1579,
    "w": 1442,
    "h": 82
  },
  {
    "id": "4ff63042b674da2f",
    "type": "group",
    "z": "4ae92a5d07f513ee",
    "g": "b2aabcf1a98113d2",
    "name": "parents - alexa - light left bedside",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "2d23c818628833ec",
      "791a8850301eb5ab",
      "059867e6b2a77ca8",
      "582b6a7ea3b56bca",
      "6c48c7a61c0d093a",
      "768e9d23bb8da222",
      "3c3c58dfa896a7a9"
    ],
    "x": 94,
    "y": 1699,
    "w": 1422,
    "h": 82
  },
  {
    "id": "a78e3e12e55836b6",
    "type": "group",
    "z": "4ae92a5d07f513ee",
    "g": "b2aabcf1a98113d2",
    "name": "parents - alexa - light right bedside",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "9f90b3631947d4a8",
      "c34f068176628307",
      "c10bfa259d445594",
      "41ba9594faf12ef2",
      "ad3fd833430ad4f8",
      "29c94887623c7f17",
      "17fa49462f1cd0d0"
    ],
    "x": 94,
    "y": 1819,
    "w": 1402,
    "h": 82
  },
  {
    "id": "64f47d1c52b68079",
    "type": "group",
    "z": "4ae92a5d07f513ee",
    "g": "b2aabcf1a98113d2",
    "name": "parents - alexa - temperature",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "ed696ccf025c9ea6",
      "fc0429db9ca2e788",
      "fe0b88b5a3708f00",
      "2d3c55726a3b4596",
      "c979677403c2fc22"
    ],
    "x": 94,
    "y": 1939,
    "w": 1052,
    "h": 82
  },
  {
    "id": "7f58393ab187f86a",
    "type": "group",
    "z": "4ae92a5d07f513ee",
    "g": "b2aabcf1a98113d2",
    "name": "parents - alexa - aperture door",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "a8e125a8e1315ddb",
      "75b658a5c36bf6d2",
      "0724c54c1d040bed",
      "2414f4d2a325c335",
      "abc61cd9f3d45c52"
    ],
    "x": 94,
    "y": 2059,
    "w": 992,
    "h": 82
  },
  {
    "id": "b674665f8dd964b7",
    "type": "group",
    "z": "4ae92a5d07f513ee",
    "g": "b2aabcf1a98113d2",
    "name": "parents - alexa - aperture window",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "80820f5afa4a387f",
      "48ccea69f6924811",
      "55c079be3de2c0a7",
      "fe8f81fd4f0f21c5",
      "f46d58cad61a3af9"
    ],
    "x": 94,
    "y": 2179,
    "w": 992,
    "h": 82
  },
  {
    "id": "8f721526b1bd8e11",
    "type": "group",
    "z": "4ae92a5d07f513ee",
    "g": "28edba1c5e66d39d",
    "name": "parents - scene - lighting leds",
    "style": {
      "fill": "#92d04f",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "8e100ef9757cbc9a",
      "bb050db7168b02f5",
      "33998200e1925e5e",
      "956bdcf315610791",
      "c729f7835ec2ea89",
      "33361db30f7155ac",
      "6fcd8d2982928436",
      "bab1296d2f16c5fa",
      "d7378c576ca6583b",
      "65d1aae873b7206a",
      "c57984f9ea96ac0d"
    ],
    "x": 694,
    "y": 979,
    "w": 902,
    "h": 322
  },
  {
    "id": "9c97074ceef682a8",
    "type": "change",
    "z": "4ae92a5d07f513ee",
    "g": "ce9aeb65ad4bb6eb",
    "name": "bucket",
    "rules": [
      {
        "t": "set",
        "p": "bucket",
        "pt": "msg",
        "to": "parents",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "bucket",
        "pt": "flow",
        "to": "bucket",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 270,
    "y": 60,
    "wires": [
      [
        "cc68069930b2479b"
      ]
    ]
  },
  {
    "id": "cf9ef266c6a8ce02",
    "type": "link in",
    "z": "4ae92a5d07f513ee",
    "g": "ce9aeb65ad4bb6eb",
    "name": "parents - bucket",
    "links": [
      "25445f5a9b787a0a"
    ],
    "x": 135,
    "y": 60,
    "wires": [
      [
        "9c97074ceef682a8"
      ]
    ]
  },
  {
    "id": "cc68069930b2479b",
    "type": "link out",
    "z": "4ae92a5d07f513ee",
    "g": "ce9aeb65ad4bb6eb",
    "name": "parents - bucket",
    "mode": "link",
    "links": [
      "2e7bb0e6e6079d56",
      "30a4c71f8d02384d",
      "46bbf85405ae20a9",
      "b9d7264ac08efb68",
      "daf2739ddbaea6e5",
      "668589ced855b77f"
    ],
    "x": 395,
    "y": 60,
    "wires": []
  },
  {
    "id": "0ffed8fdad553396",
    "type": "link out",
    "z": "4ae92a5d07f513ee",
    "g": "acdddf3c8798ed8f",
    "name": "parents - ui select room",
    "mode": "link",
    "links": [
      "1be6ca3c2b8615a2"
    ],
    "x": 1595,
    "y": 60,
    "wires": []
  },
  {
    "id": "b5fb778a5f959426",
    "type": "link in",
    "z": "4ae92a5d07f513ee",
    "g": "acdddf3c8798ed8f",
    "name": "parents - ui select room",
    "links": [
      "74172837e07ab80d"
    ],
    "x": 1095,
    "y": 60,
    "wires": [
      [
        "fc6933940b9b258e"
      ]
    ]
  },
  {
    "id": "fc6933940b9b258e",
    "type": "change",
    "z": "4ae92a5d07f513ee",
    "g": "acdddf3c8798ed8f",
    "name": "enabled button",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "bucket",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "msg.payload != msg.room",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1260,
    "y": 60,
    "wires": [
      [
        "2a59a755a1e84e12"
      ]
    ]
  },
  {
    "id": "2a59a755a1e84e12",
    "type": "ui-button",
    "z": "4ae92a5d07f513ee",
    "g": "acdddf3c8798ed8f",
    "group": "36396f5285df476c",
    "name": "",
    "label": "Parents",
    "order": 18,
    "width": "2",
    "height": "1",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "bucket",
    "payloadType": "flow",
    "topic": "topic",
    "topicType": "msg",
    "x": 1460,
    "y": 60,
    "wires": [
      [
        "0ffed8fdad553396"
      ]
    ]
  },
  {
    "id": "30a4c71f8d02384d",
    "type": "link in",
    "z": "4ae92a5d07f513ee",
    "g": "7675dd03f941bc9a",
    "name": "parents - scene - thermostat operating mode",
    "links": [
      "cc68069930b2479b"
    ],
    "x": 135,
    "y": 1440,
    "wires": [
      [
        "ab8f732932d99b17"
      ]
    ]
  },
  {
    "id": "663171ca016f7dc9",
    "type": "change",
    "z": "4ae92a5d07f513ee",
    "g": "7675dd03f941bc9a",
    "name": "sync",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "sync",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 1440,
    "wires": [
      [
        "10dddc528a72d52c"
      ]
    ]
  },
  {
    "id": "377374bc3cc49bc5",
    "type": "link out",
    "z": "4ae92a5d07f513ee",
    "g": "7675dd03f941bc9a",
    "name": "parents - scene - thermostat operating mode",
    "mode": "link",
    "links": [
      "d1c7f4810b12afe2"
    ],
    "x": 935,
    "y": 1440,
    "wires": []
  },
  {
    "id": "476feb575075a915",
    "type": "change",
    "z": "4ae92a5d07f513ee",
    "g": "7675dd03f941bc9a",
    "name": "bucket",
    "rules": [
      {
        "t": "set",
        "p": "scene.bucket",
        "pt": "msg",
        "to": "bucket",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 810,
    "y": 1440,
    "wires": [
      [
        "377374bc3cc49bc5"
      ]
    ]
  },
  {
    "id": "ab8f732932d99b17",
    "type": "delay",
    "z": "4ae92a5d07f513ee",
    "g": "7675dd03f941bc9a",
    "name": "5 s",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 270,
    "y": 1440,
    "wires": [
      [
        "663171ca016f7dc9"
      ]
    ]
  },
  {
    "id": "10dddc528a72d52c",
    "type": "bigtimer",
    "z": "4ae92a5d07f513ee",
    "g": "7675dd03f941bc9a",
    "outtopic": "",
    "outpayload1": "",
    "outpayload2": "",
    "name": "confort schedule",
    "comment": "",
    "lat": 0,
    "lon": 0,
    "starttime": "270",
    "endtime": "360",
    "starttime2": "1290",
    "endtime2": "1350",
    "startoff": 0,
    "endoff": 0,
    "startoff2": 0,
    "endoff2": 0,
    "offs": 0,
    "outtext1": "",
    "outtext2": "",
    "timeout": 1440,
    "sun": true,
    "mon": true,
    "tue": true,
    "wed": true,
    "thu": true,
    "fri": true,
    "sat": true,
    "jan": true,
    "feb": true,
    "mar": true,
    "apr": true,
    "may": true,
    "jun": true,
    "jul": true,
    "aug": true,
    "sep": true,
    "oct": true,
    "nov": true,
    "dec": true,
    "day1": 0,
    "month1": 0,
    "day2": 0,
    "month2": 0,
    "day3": 0,
    "month3": 0,
    "day4": 0,
    "month4": 0,
    "day5": 0,
    "month5": 0,
    "day6": 0,
    "month6": 0,
    "day7": 0,
    "month7": 0,
    "day8": 0,
    "month8": 0,
    "day9": 0,
    "month9": 0,
    "day10": 0,
    "month10": 0,
    "day11": 0,
    "month11": 0,
    "day12": 0,
    "month12": 0,
    "d1": 0,
    "w1": 0,
    "d2": 0,
    "w2": 0,
    "d3": 0,
    "w3": 0,
    "d4": 0,
    "w4": 0,
    "d5": 0,
    "w5": 0,
    "d6": 0,
    "w6": 0,
    "xday1": 0,
    "xmonth1": 0,
    "xday2": 0,
    "xmonth2": 0,
    "xday3": 0,
    "xmonth3": 0,
    "xday4": 0,
    "xmonth4": 0,
    "xday5": 0,
    "xmonth5": 0,
    "xday6": 0,
    "xmonth6": 0,
    "xday7": 0,
    "xmonth7": 0,
    "xday8": 0,
    "xmonth8": 0,
    "xday9": 0,
    "xmonth9": 0,
    "xday10": 0,
    "xmonth10": 0,
    "xday11": 0,
    "xmonth11": 0,
    "xday12": 0,
    "xmonth12": 0,
    "xd1": 0,
    "xw1": 0,
    "xd2": 0,
    "xw2": 0,
    "xd3": 0,
    "xw3": 0,
    "xd4": 0,
    "xw4": 0,
    "xd5": 0,
    "xw5": 0,
    "xd6": 0,
    "xw6": 0,
    "suspend": false,
    "random": false,
    "randon1": false,
    "randoff1": false,
    "randon2": false,
    "randoff2": false,
    "repeat": true,
    "atstart": false,
    "odd": false,
    "even": false,
    "x": 620,
    "y": 1440,
    "wires": [
      [],
      [
        "476feb575075a915"
      ],
      []
    ]
  },
  {
    "id": "7e8d0f8ce92a7afe",
    "type": "change",
    "z": "4ae92a5d07f513ee",
    "g": "0b5e3bfbf0fb13c7",
    "name": "lighting / actif / boolean / true",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "lighting",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "actif",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 340,
    "y": 300,
    "wires": [
      [
        "ebe2f8029bf3db01"
      ]
    ]
  },
  {
    "id": "ebe2f8029bf3db01",
    "type": "link out",
    "z": "4ae92a5d07f513ee",
    "g": "0b5e3bfbf0fb13c7",
    "name": "parents - device - lighting",
    "mode": "link",
    "links": [
      "bfa594bf1f876c92"
    ],
    "x": 555,
    "y": 300,
    "wires": []
  },
  {
    "id": "46bbf85405ae20a9",
    "type": "link in",
    "z": "4ae92a5d07f513ee",
    "g": "0b5e3bfbf0fb13c7",
    "name": "parents - device - lighting",
    "links": [
      "cc68069930b2479b"
    ],
    "x": 135,
    "y": 300,
    "wires": [
      [
        "7e8d0f8ce92a7afe",
        "3576d6844b1470a6",
        "954d9b806b8227a8",
        "2945f64fc88ab06d"
      ]
    ]
  },
  {
    "id": "3576d6844b1470a6",
    "type": "change",
    "z": "4ae92a5d07f513ee",
    "g": "0b5e3bfbf0fb13c7",
    "name": "lighting / high / dimmer / 40",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "lighting",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "high",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "dimmer",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "40",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 340,
    "y": 360,
    "wires": [
      [
        "ebe2f8029bf3db01"
      ]
    ]
  },
  {
    "id": "954d9b806b8227a8",
    "type": "change",
    "z": "4ae92a5d07f513ee",
    "g": "0b5e3bfbf0fb13c7",
    "name": "lighting / low / dimmer / 4",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "lighting",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "low",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "dimmer",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "4",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 330,
    "y": 420,
    "wires": [
      [
        "ebe2f8029bf3db01"
      ]
    ]
  },
  {
    "id": "2945f64fc88ab06d",
    "type": "change",
    "z": "4ae92a5d07f513ee",
    "g": "0b5e3bfbf0fb13c7",
    "name": "lighting / timer / number / 60",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "lighting",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "timer",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "number",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "default",
        "pt": "msg",
        "to": "60",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 340,
    "y": 480,
    "wires": [
      [
        "ebe2f8029bf3db01"
      ]
    ]
  },
  {
    "id": "2b971632d5bc1ff9",
    "type": "link in",
    "z": "4ae92a5d07f513ee",
    "g": "e3da4219d2723996",
    "name": "parents - scene - lighting ceiling",
    "links": [
      "031a6afd8300356a"
    ],
    "x": 735,
    "y": 840,
    "wires": [
      [
        "94ae75b4ddf5cc3a"
      ]
    ]
  },
  {
    "id": "859ec44e839237d7",
    "type": "change",
    "z": "4ae92a5d07f513ee",
    "g": "e3da4219d2723996",
    "name": "scene lighting / ceiling / dimmer",
    "rules": [
      {
        "t": "set",
        "p": "scene.bucket",
        "pt": "msg",
        "to": "bucket",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "scene.measurement",
        "pt": "msg",
        "to": "light",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.field",
        "pt": "msg",
        "to": "ceiling",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.format",
        "pt": "msg",
        "to": "dimmer",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.type",
        "pt": "msg",
        "to": "lighting",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.on",
        "pt": "msg",
        "to": "4",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "scene.off",
        "pt": "msg",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1470,
    "y": 780,
    "wires": [
      [
        "3330543761d78e58"
      ]
    ]
  },
  {
    "id": "94ae75b4ddf5cc3a",
    "type": "switch",
    "z": "4ae92a5d07f513ee",
    "g": "e3da4219d2723996",
    "name": "trigger",
    "property": "path",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "parents/light/ceiling",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "system/mode/lighting",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "parents/command/right remote",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "parents/command/left remote",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "parents/command/remote",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 5,
    "x": 870,
    "y": 840,
    "wires": [
      [
        "859ec44e839237d7"
      ],
      [
        "859ec44e839237d7"
      ],
      [
        "2de6256021c37086"
      ],
      [
        "2de6256021c37086"
      ],
      [
        "331b6dc245510fd9"
      ]
    ]
  },
  {
    "id": "3330543761d78e58",
    "type": "link out",
    "z": "4ae92a5d07f513ee",
    "g": "e3da4219d2723996",
    "name": "parents - scene - lighting ceiling",
    "mode": "link",
    "links": [
      "abdf34b12a5dd88d"
    ],
    "x": 1675,
    "y": 780,
    "wires": []
  },
  {
    "id": "2de6256021c37086",
    "type": "switch",
    "z": "4ae92a5d07f513ee",
    "g": "e3da4219d2723996",
    "name": "remote",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "btwn",
        "v": "10",
        "vt": "num",
        "v2": "11",
        "v2t": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1040,
    "y": 840,
    "wires": [
      [
        "b1e863424ff2705e"
      ]
    ]
  },
  {
    "id": "b1e863424ff2705e",
    "type": "change",
    "z": "4ae92a5d07f513ee",
    "g": "e3da4219d2723996",
    "name": "payload",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "msg.payload=11",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1220,
    "y": 840,
    "wires": [
      [
        "859ec44e839237d7"
      ]
    ]
  },
  {
    "id": "dc8f25b6384a7675",
    "type": "link in",
    "z": "4ae92a5d07f513ee",
    "g": "bf5fb6e0ee73d142",
    "name": "parents - scene - lighting left bedside",
    "links": [
      "031a6afd8300356a"
    ],
    "x": 735,
    "y": 600,
    "wires": [
      [
        "2c27e193b70e02a1"
      ]
    ]
  },
  {
    "id": "e019588e48011a10",
    "type": "change",
    "z": "4ae92a5d07f513ee",
    "g": "bf5fb6e0ee73d142",
    "name": "scene lighting / left bedside / boolean",
    "rules": [
      {
        "t": "set",
        "p": "scene.bucket",
        "pt": "msg",
        "to": "bucket",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "scene.measurement",
        "pt": "msg",
        "to": "light",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.field",
        "pt": "msg",
        "to": "left bedside",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.type",
        "pt": "msg",
        "to": "lighting",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.on",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "scene.off",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1490,
    "y": 540,
    "wires": [
      [
        "15367243a010781c"
      ]
    ]
  },
  {
    "id": "2c27e193b70e02a1",
    "type": "switch",
    "z": "4ae92a5d07f513ee",
    "g": "bf5fb6e0ee73d142",
    "name": "trigger",
    "property": "path",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "parents/light/left bedside",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "parents/command/right remote",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "parents/command/left remote",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "parents/command/remote",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 4,
    "x": 870,
    "y": 600,
    "wires": [
      [
        "e019588e48011a10"
      ],
      [
        "6c3ccae58cdb8180"
      ],
      [
        "6c3ccae58cdb8180"
      ],
      [
        "0a21f1c3c8c31ff9"
      ]
    ]
  },
  {
    "id": "15367243a010781c",
    "type": "link out",
    "z": "4ae92a5d07f513ee",
    "g": "bf5fb6e0ee73d142",
    "name": "parents - scene - lighting left bedside",
    "mode": "link",
    "links": [
      "abdf34b12a5dd88d"
    ],
    "x": 1715,
    "y": 540,
    "wires": []
  },
  {
    "id": "6c3ccae58cdb8180",
    "type": "switch",
    "z": "4ae92a5d07f513ee",
    "g": "bf5fb6e0ee73d142",
    "name": "remote",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "btwn",
        "v": "30",
        "vt": "num",
        "v2": "31",
        "v2t": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1040,
    "y": 600,
    "wires": [
      [
        "124b22b5f5e84b4a"
      ]
    ]
  },
  {
    "id": "124b22b5f5e84b4a",
    "type": "change",
    "z": "4ae92a5d07f513ee",
    "g": "bf5fb6e0ee73d142",
    "name": "payload",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "msg.payload=31",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1220,
    "y": 600,
    "wires": [
      [
        "e019588e48011a10"
      ]
    ]
  },
  {
    "id": "0f92a16252f1df75",
    "type": "link in",
    "z": "4ae92a5d07f513ee",
    "g": "6c31c5a2c83b0cc9",
    "name": "parents - scene - lighting right bedside",
    "links": [
      "031a6afd8300356a"
    ],
    "x": 735,
    "y": 360,
    "wires": [
      [
        "0f438cecf3747714"
      ]
    ]
  },
  {
    "id": "c873fafacd9c4dee",
    "type": "change",
    "z": "4ae92a5d07f513ee",
    "g": "6c31c5a2c83b0cc9",
    "name": "scene lighting / right bedside / boolean",
    "rules": [
      {
        "t": "set",
        "p": "scene.bucket",
        "pt": "msg",
        "to": "bucket",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "scene.measurement",
        "pt": "msg",
        "to": "light",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.field",
        "pt": "msg",
        "to": "right bedside",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.type",
        "pt": "msg",
        "to": "lighting",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.on",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "scene.off",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1490,
    "y": 300,
    "wires": [
      [
        "feef715d3f66ac99"
      ]
    ]
  },
  {
    "id": "0f438cecf3747714",
    "type": "switch",
    "z": "4ae92a5d07f513ee",
    "g": "6c31c5a2c83b0cc9",
    "name": "trigger",
    "property": "path",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "parents/light/right bedside",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "parents/command/right remote",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "parents/command/left remote",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "parents/command/remote",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 4,
    "x": 870,
    "y": 360,
    "wires": [
      [
        "c873fafacd9c4dee"
      ],
      [
        "f418d5018c521e07"
      ],
      [
        "f418d5018c521e07"
      ],
      [
        "5dbc953c7bf31694"
      ]
    ]
  },
  {
    "id": "feef715d3f66ac99",
    "type": "link out",
    "z": "4ae92a5d07f513ee",
    "g": "6c31c5a2c83b0cc9",
    "name": "parents - scene - lighting right bedside",
    "mode": "link",
    "links": [
      "abdf34b12a5dd88d"
    ],
    "x": 1715,
    "y": 300,
    "wires": []
  },
  {
    "id": "f418d5018c521e07",
    "type": "switch",
    "z": "4ae92a5d07f513ee",
    "g": "6c31c5a2c83b0cc9",
    "name": "remote",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "btwn",
        "v": "20",
        "vt": "num",
        "v2": "21",
        "v2t": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1040,
    "y": 360,
    "wires": [
      [
        "feb01b6b528eca0b"
      ]
    ]
  },
  {
    "id": "feb01b6b528eca0b",
    "type": "change",
    "z": "4ae92a5d07f513ee",
    "g": "6c31c5a2c83b0cc9",
    "name": "payload",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "msg.payload=21",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1220,
    "y": 360,
    "wires": [
      [
        "c873fafacd9c4dee"
      ]
    ]
  },
  {
    "id": "90395a4af2f2cd31",
    "type": "comment",
    "z": "4ae92a5d07f513ee",
    "name": "parents / command / righ remote 1 : scene lighting / parents / light / ceiling",
    "info": "",
    "x": 2100,
    "y": 40,
    "wires": []
  },
  {
    "id": "8991d1dbf96fba5f",
    "type": "comment",
    "z": "4ae92a5d07f513ee",
    "name": "parents  / command / right remote 2 : scene lighting / parents / light / right bedside",
    "info": "",
    "x": 2120,
    "y": 80,
    "wires": []
  },
  {
    "id": "6c263afeb989803a",
    "type": "comment",
    "z": "4ae92a5d07f513ee",
    "name": "parents  / command / right remote 3 : scene lighting / parents / light / left bedside",
    "info": "",
    "x": 2120,
    "y": 120,
    "wires": []
  },
  {
    "id": "74a8eb160f0453c1",
    "type": "comment",
    "z": "4ae92a5d07f513ee",
    "name": "parents  / command / right remote 4 : nothing",
    "info": "",
    "x": 2010,
    "y": 160,
    "wires": []
  },
  {
    "id": "5eecd48ff130b3f6",
    "type": "comment",
    "z": "4ae92a5d07f513ee",
    "name": "parents  / command / left remote 4 : nothing",
    "info": "",
    "x": 2000,
    "y": 320,
    "wires": []
  },
  {
    "id": "d98b05158545ccd0",
    "type": "comment",
    "z": "4ae92a5d07f513ee",
    "name": "parents  / command / left remote 1 : scene lighting / parents / light / ceiling",
    "info": "",
    "x": 2100,
    "y": 200,
    "wires": []
  },
  {
    "id": "bba90de32296b2b6",
    "type": "comment",
    "z": "4ae92a5d07f513ee",
    "name": "parents  / command / left remote 2 : scene lighting / parents / light / right bedside",
    "info": "",
    "x": 2120,
    "y": 240,
    "wires": []
  },
  {
    "id": "1cdeda1f832ad6ae",
    "type": "comment",
    "z": "4ae92a5d07f513ee",
    "name": "parents  / command / left remote 3 : scene lighting / parents / light / left bedside",
    "info": "",
    "x": 2110,
    "y": 280,
    "wires": []
  },
  {
    "id": "03f7513bc15a7970",
    "type": "link out",
    "z": "4ae92a5d07f513ee",
    "g": "a0fb7feea30116c9",
    "name": "alexa lumiere plafonnier",
    "mode": "link",
    "links": [
      "df6a69e3a774eebc"
    ],
    "x": 1495,
    "y": 1620,
    "wires": []
  },
  {
    "id": "0a42f841db6eeb29",
    "type": "link in",
    "z": "4ae92a5d07f513ee",
    "g": "a0fb7feea30116c9",
    "name": "parents - alexa - light ceiling",
    "links": [
      "abd3bb3b24dd961a"
    ],
    "x": 135,
    "y": 1620,
    "wires": [
      [
        "5588600e048bb7ec"
      ]
    ]
  },
  {
    "id": "153d6c79ddb6a61b",
    "type": "switch",
    "z": "4ae92a5d07f513ee",
    "g": "a0fb7feea30116c9",
    "name": "field",
    "property": "field",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ceiling",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 430,
    "y": 1620,
    "wires": [
      [
        "c10f9df1d2567205"
      ]
    ]
  },
  {
    "id": "5588600e048bb7ec",
    "type": "switch",
    "z": "4ae92a5d07f513ee",
    "g": "a0fb7feea30116c9",
    "name": "bucket",
    "property": "bucket",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "bucket",
        "vt": "flow"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 270,
    "y": 1620,
    "wires": [
      [
        "153d6c79ddb6a61b"
      ]
    ]
  },
  {
    "id": "cb2c15acf0d304bf",
    "type": "vsh-virtual-device",
    "z": "4ae92a5d07f513ee",
    "g": "a0fb7feea30116c9",
    "name": "lumière de la chambre parentale",
    "topic": "parents/cible/ceiling",
    "metadata": "{}",
    "connection": "b156e6eff1bfadd1",
    "template": "SWITCH",
    "retrievable": true,
    "passthrough": false,
    "diff": false,
    "filter": false,
    "filterTopic": false,
    "plan": "free",
    "x": 970,
    "y": 1620,
    "wires": [
      [
        "4a9c3f3e6824d0f3"
      ]
    ]
  },
  {
    "id": "c10f9df1d2567205",
    "type": "link call",
    "z": "4ae92a5d07f513ee",
    "g": "a0fb7feea30116c9",
    "name": "",
    "links": [
      "75754d6ac1aaec7b"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 660,
    "y": 1620,
    "wires": [
      [
        "cb2c15acf0d304bf"
      ]
    ]
  },
  {
    "id": "4a9c3f3e6824d0f3",
    "type": "link call",
    "z": "4ae92a5d07f513ee",
    "g": "a0fb7feea30116c9",
    "name": "",
    "links": [
      "71c9fb8b232fe499"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 1290,
    "y": 1620,
    "wires": [
      [
        "03f7513bc15a7970"
      ]
    ]
  },
  {
    "id": "2d23c818628833ec",
    "type": "link out",
    "z": "4ae92a5d07f513ee",
    "g": "4ff63042b674da2f",
    "name": "alexa lumiere chevet jc",
    "mode": "link",
    "links": [
      "df6a69e3a774eebc"
    ],
    "x": 1475,
    "y": 1740,
    "wires": []
  },
  {
    "id": "791a8850301eb5ab",
    "type": "link in",
    "z": "4ae92a5d07f513ee",
    "g": "4ff63042b674da2f",
    "name": "parents - alexa - light left bedside",
    "links": [
      "abd3bb3b24dd961a"
    ],
    "x": 135,
    "y": 1740,
    "wires": [
      [
        "582b6a7ea3b56bca"
      ]
    ]
  },
  {
    "id": "059867e6b2a77ca8",
    "type": "switch",
    "z": "4ae92a5d07f513ee",
    "g": "4ff63042b674da2f",
    "name": "field",
    "property": "field",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "left beside",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 430,
    "y": 1740,
    "wires": [
      [
        "768e9d23bb8da222"
      ]
    ]
  },
  {
    "id": "582b6a7ea3b56bca",
    "type": "switch",
    "z": "4ae92a5d07f513ee",
    "g": "4ff63042b674da2f",
    "name": "bucket",
    "property": "bucket",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "bucket",
        "vt": "flow"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 270,
    "y": 1740,
    "wires": [
      [
        "059867e6b2a77ca8"
      ]
    ]
  },
  {
    "id": "6c48c7a61c0d093a",
    "type": "vsh-virtual-device",
    "z": "4ae92a5d07f513ee",
    "g": "4ff63042b674da2f",
    "name": "lampe de chevet de gauche",
    "topic": "parents/cible/left bedside",
    "metadata": "{}",
    "connection": "b156e6eff1bfadd1",
    "template": "SWITCH",
    "retrievable": true,
    "passthrough": false,
    "diff": false,
    "filter": false,
    "filterTopic": false,
    "plan": "free",
    "x": 960,
    "y": 1740,
    "wires": [
      [
        "3c3c58dfa896a7a9"
      ]
    ]
  },
  {
    "id": "768e9d23bb8da222",
    "type": "link call",
    "z": "4ae92a5d07f513ee",
    "g": "4ff63042b674da2f",
    "name": "",
    "links": [
      "bac2afafe6b36787"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 660,
    "y": 1740,
    "wires": [
      [
        "6c48c7a61c0d093a"
      ]
    ]
  },
  {
    "id": "3c3c58dfa896a7a9",
    "type": "link call",
    "z": "4ae92a5d07f513ee",
    "g": "4ff63042b674da2f",
    "name": "",
    "links": [
      "d71667633c63d82c"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 1270,
    "y": 1740,
    "wires": [
      [
        "2d23c818628833ec"
      ]
    ]
  },
  {
    "id": "9f90b3631947d4a8",
    "type": "link out",
    "z": "4ae92a5d07f513ee",
    "g": "a78e3e12e55836b6",
    "name": "alexa lumiere chevet flo",
    "mode": "link",
    "links": [
      "df6a69e3a774eebc"
    ],
    "x": 1455,
    "y": 1860,
    "wires": []
  },
  {
    "id": "c34f068176628307",
    "type": "link in",
    "z": "4ae92a5d07f513ee",
    "g": "a78e3e12e55836b6",
    "name": "parents - alexa - light right bedside",
    "links": [
      "abd3bb3b24dd961a"
    ],
    "x": 135,
    "y": 1860,
    "wires": [
      [
        "41ba9594faf12ef2"
      ]
    ]
  },
  {
    "id": "c10bfa259d445594",
    "type": "switch",
    "z": "4ae92a5d07f513ee",
    "g": "a78e3e12e55836b6",
    "name": "field",
    "property": "field",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "right bedside",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 430,
    "y": 1860,
    "wires": [
      [
        "29c94887623c7f17"
      ]
    ]
  },
  {
    "id": "41ba9594faf12ef2",
    "type": "switch",
    "z": "4ae92a5d07f513ee",
    "g": "a78e3e12e55836b6",
    "name": "bucket",
    "property": "bucket",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "bucket",
        "vt": "flow"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 270,
    "y": 1860,
    "wires": [
      [
        "c10bfa259d445594"
      ]
    ]
  },
  {
    "id": "ad3fd833430ad4f8",
    "type": "vsh-virtual-device",
    "z": "4ae92a5d07f513ee",
    "g": "a78e3e12e55836b6",
    "name": "lampe de chevet de droite",
    "topic": "parents/cible/right bedside",
    "metadata": "{}",
    "connection": "b156e6eff1bfadd1",
    "template": "SWITCH",
    "retrievable": true,
    "passthrough": false,
    "diff": false,
    "filter": false,
    "filterTopic": false,
    "plan": "free",
    "x": 950,
    "y": 1860,
    "wires": [
      [
        "17fa49462f1cd0d0"
      ]
    ]
  },
  {
    "id": "29c94887623c7f17",
    "type": "link call",
    "z": "4ae92a5d07f513ee",
    "g": "a78e3e12e55836b6",
    "name": "",
    "links": [
      "bac2afafe6b36787"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 660,
    "y": 1860,
    "wires": [
      [
        "ad3fd833430ad4f8"
      ]
    ]
  },
  {
    "id": "17fa49462f1cd0d0",
    "type": "link call",
    "z": "4ae92a5d07f513ee",
    "g": "a78e3e12e55836b6",
    "name": "",
    "links": [
      "d71667633c63d82c"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 1250,
    "y": 1860,
    "wires": [
      [
        "9f90b3631947d4a8"
      ]
    ]
  },
  {
    "id": "ed696ccf025c9ea6",
    "type": "link in",
    "z": "4ae92a5d07f513ee",
    "g": "64f47d1c52b68079",
    "name": "parents - alexa - temperature",
    "links": [
      "a66c6d1f8e271921"
    ],
    "x": 135,
    "y": 1980,
    "wires": [
      [
        "fc0429db9ca2e788"
      ]
    ]
  },
  {
    "id": "fc0429db9ca2e788",
    "type": "switch",
    "z": "4ae92a5d07f513ee",
    "g": "64f47d1c52b68079",
    "name": "bucket",
    "property": "bucket",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "bucket",
        "vt": "flow"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 270,
    "y": 1980,
    "wires": [
      [
        "2d3c55726a3b4596"
      ]
    ]
  },
  {
    "id": "fe0b88b5a3708f00",
    "type": "link call",
    "z": "4ae92a5d07f513ee",
    "g": "64f47d1c52b68079",
    "name": "",
    "links": [
      "50c950cddc1506ed"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 650,
    "y": 1980,
    "wires": [
      [
        "c979677403c2fc22"
      ]
    ]
  },
  {
    "id": "2d3c55726a3b4596",
    "type": "change",
    "z": "4ae92a5d07f513ee",
    "g": "64f47d1c52b68079",
    "name": "scene",
    "rules": [
      {
        "t": "set",
        "p": "scene.bucket",
        "pt": "msg",
        "to": "bucket",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 1980,
    "wires": [
      [
        "fe0b88b5a3708f00"
      ]
    ]
  },
  {
    "id": "c979677403c2fc22",
    "type": "vsh-virtual-device",
    "z": "4ae92a5d07f513ee",
    "g": "64f47d1c52b68079",
    "name": "température de la chambre parentale",
    "topic": "",
    "metadata": "{}",
    "connection": "b156e6eff1bfadd1",
    "template": "TEMPERATURE_SENSOR",
    "retrievable": true,
    "passthrough": false,
    "diff": false,
    "filter": false,
    "filterTopic": false,
    "plan": "free",
    "x": 970,
    "y": 1980,
    "wires": [
      []
    ]
  },
  {
    "id": "a8e125a8e1315ddb",
    "type": "link in",
    "z": "4ae92a5d07f513ee",
    "g": "7f58393ab187f86a",
    "name": "parents - alexa - aperture door",
    "links": [
      "c961c347fd2d14b5"
    ],
    "x": 135,
    "y": 2100,
    "wires": [
      [
        "75b658a5c36bf6d2"
      ]
    ]
  },
  {
    "id": "75b658a5c36bf6d2",
    "type": "switch",
    "z": "4ae92a5d07f513ee",
    "g": "7f58393ab187f86a",
    "name": "bucket",
    "property": "bucket",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "bucket",
        "vt": "flow"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 270,
    "y": 2100,
    "wires": [
      [
        "0724c54c1d040bed"
      ]
    ]
  },
  {
    "id": "0724c54c1d040bed",
    "type": "switch",
    "z": "4ae92a5d07f513ee",
    "g": "7f58393ab187f86a",
    "name": "field",
    "property": "field",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "door",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 430,
    "y": 2100,
    "wires": [
      [
        "abc61cd9f3d45c52"
      ]
    ]
  },
  {
    "id": "2414f4d2a325c335",
    "type": "vsh-virtual-device",
    "z": "4ae92a5d07f513ee",
    "g": "7f58393ab187f86a",
    "name": "porte de la chambre parentale",
    "topic": "",
    "metadata": "{}",
    "connection": "b156e6eff1bfadd1",
    "template": "CONTACT_SENSOR",
    "retrievable": true,
    "passthrough": false,
    "diff": false,
    "filter": false,
    "filterTopic": false,
    "plan": "free",
    "x": 930,
    "y": 2100,
    "wires": [
      []
    ]
  },
  {
    "id": "abc61cd9f3d45c52",
    "type": "link call",
    "z": "4ae92a5d07f513ee",
    "g": "7f58393ab187f86a",
    "name": "",
    "links": [
      "73c07a0bc5e5429b"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 640,
    "y": 2100,
    "wires": [
      [
        "2414f4d2a325c335"
      ]
    ]
  },
  {
    "id": "80820f5afa4a387f",
    "type": "link in",
    "z": "4ae92a5d07f513ee",
    "g": "b674665f8dd964b7",
    "name": "parents - alexa - aperture window",
    "links": [
      "c961c347fd2d14b5"
    ],
    "x": 135,
    "y": 2220,
    "wires": [
      [
        "48ccea69f6924811"
      ]
    ]
  },
  {
    "id": "48ccea69f6924811",
    "type": "switch",
    "z": "4ae92a5d07f513ee",
    "g": "b674665f8dd964b7",
    "name": "bucket",
    "property": "bucket",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "bucket",
        "vt": "flow"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 270,
    "y": 2220,
    "wires": [
      [
        "55c079be3de2c0a7"
      ]
    ]
  },
  {
    "id": "55c079be3de2c0a7",
    "type": "switch",
    "z": "4ae92a5d07f513ee",
    "g": "b674665f8dd964b7",
    "name": "field",
    "property": "field",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "window",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 430,
    "y": 2220,
    "wires": [
      [
        "f46d58cad61a3af9"
      ]
    ]
  },
  {
    "id": "fe8f81fd4f0f21c5",
    "type": "vsh-virtual-device",
    "z": "4ae92a5d07f513ee",
    "g": "b674665f8dd964b7",
    "name": "fenêtre de la chambre parentale",
    "topic": "",
    "metadata": "{}",
    "connection": "b156e6eff1bfadd1",
    "template": "CONTACT_SENSOR",
    "retrievable": true,
    "passthrough": false,
    "diff": false,
    "filter": false,
    "filterTopic": false,
    "plan": "free",
    "x": 930,
    "y": 2220,
    "wires": [
      []
    ]
  },
  {
    "id": "f46d58cad61a3af9",
    "type": "link call",
    "z": "4ae92a5d07f513ee",
    "g": "b674665f8dd964b7",
    "name": "",
    "links": [
      "73c07a0bc5e5429b"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 640,
    "y": 2220,
    "wires": [
      [
        "fe8f81fd4f0f21c5"
      ]
    ]
  },
  {
    "id": "cf11131afc297ceb",
    "type": "catch",
    "z": "4ae92a5d07f513ee",
    "g": "39dd71f6e8eb75c6",
    "name": "catch error",
    "scope": null,
    "uncaught": false,
    "x": 620,
    "y": 60,
    "wires": [
      [
        "3dcf7d94822b69ce"
      ]
    ]
  },
  {
    "id": "3dcf7d94822b69ce",
    "type": "change",
    "z": "4ae92a5d07f513ee",
    "g": "39dd71f6e8eb75c6",
    "name": "topic",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "parents",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 790,
    "y": 60,
    "wires": [
      [
        "3859758a7fa85959"
      ]
    ]
  },
  {
    "id": "3859758a7fa85959",
    "type": "link out",
    "z": "4ae92a5d07f513ee",
    "g": "39dd71f6e8eb75c6",
    "name": "catch error",
    "mode": "link",
    "links": [
      "a52f0e788cd4dca3"
    ],
    "x": 915,
    "y": 60,
    "wires": []
  },
  {
    "id": "8e100ef9757cbc9a",
    "type": "link in",
    "z": "4ae92a5d07f513ee",
    "g": "8f721526b1bd8e11",
    "name": "parents - scene - lighting leds",
    "links": [
      "031a6afd8300356a"
    ],
    "x": 735,
    "y": 1140,
    "wires": [
      [
        "bb050db7168b02f5"
      ]
    ]
  },
  {
    "id": "bb050db7168b02f5",
    "type": "switch",
    "z": "4ae92a5d07f513ee",
    "g": "8f721526b1bd8e11",
    "name": "trigger",
    "property": "path",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "parents/cible/leds",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "parents/command/remote",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 870,
    "y": 1140,
    "wires": [
      [
        "65d1aae873b7206a"
      ],
      [
        "33998200e1925e5e"
      ]
    ]
  },
  {
    "id": "33998200e1925e5e",
    "type": "switch",
    "z": "4ae92a5d07f513ee",
    "g": "8f721526b1bd8e11",
    "name": "button",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "31",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "32",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "41",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "42",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 4,
    "x": 1030,
    "y": 1140,
    "wires": [
      [
        "956bdcf315610791"
      ],
      [
        "d7378c576ca6583b"
      ],
      [
        "6fcd8d2982928436"
      ],
      [
        "bab1296d2f16c5fa"
      ]
    ]
  },
  {
    "id": "956bdcf315610791",
    "type": "change",
    "z": "4ae92a5d07f513ee",
    "g": "8f721526b1bd8e11",
    "name": "on/off",
    "rules": [
      {
        "t": "set",
        "p": "scene.bucket",
        "pt": "msg",
        "to": "bucket",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "cible",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "state",
        "pt": "msg",
        "to": "metrics[msg.bucket]light.leds",
        "tot": "global"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "msg.state?false:true",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1200,
    "y": 1080,
    "wires": [
      [
        "c729f7835ec2ea89"
      ]
    ]
  },
  {
    "id": "c729f7835ec2ea89",
    "type": "change",
    "z": "4ae92a5d07f513ee",
    "g": "8f721526b1bd8e11",
    "name": "set metric",
    "rules": [
      {
        "t": "set",
        "p": "bucket",
        "pt": "msg",
        "to": "scene.bucket",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "leds",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1400,
    "y": 1140,
    "wires": [
      [
        "33361db30f7155ac"
      ]
    ]
  },
  {
    "id": "33361db30f7155ac",
    "type": "link out",
    "z": "4ae92a5d07f513ee",
    "g": "8f721526b1bd8e11",
    "name": "parents - scene - lighting leds",
    "mode": "link",
    "links": [
      "206c1fb4a48067df"
    ],
    "x": 1555,
    "y": 1140,
    "wires": []
  },
  {
    "id": "6fcd8d2982928436",
    "type": "change",
    "z": "4ae92a5d07f513ee",
    "g": "8f721526b1bd8e11",
    "name": "brightness +",
    "rules": [
      {
        "t": "set",
        "p": "scene.bucket",
        "pt": "msg",
        "to": "bucket",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "brightness",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "state",
        "pt": "msg",
        "to": "metrics[msg.bucket]brightness.leds",
        "tot": "global"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "msg.state>194?250:(msg.state+50)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1220,
    "y": 1200,
    "wires": [
      [
        "c729f7835ec2ea89"
      ]
    ]
  },
  {
    "id": "bab1296d2f16c5fa",
    "type": "change",
    "z": "4ae92a5d07f513ee",
    "g": "8f721526b1bd8e11",
    "name": "brightness -",
    "rules": [
      {
        "t": "set",
        "p": "scene.bucket",
        "pt": "msg",
        "to": "bucket",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "brightness",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "state",
        "pt": "msg",
        "to": "metrics[msg.bucket]brightness.leds",
        "tot": "global"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "msg.state<60?10:(msg.state-50)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1220,
    "y": 1260,
    "wires": [
      [
        "c729f7835ec2ea89"
      ]
    ]
  },
  {
    "id": "d7378c576ca6583b",
    "type": "change",
    "z": "4ae92a5d07f513ee",
    "g": "8f721526b1bd8e11",
    "name": "color",
    "rules": [
      {
        "t": "set",
        "p": "scene.bucket",
        "pt": "msg",
        "to": "bucket",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "color",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "colors",
        "pt": "msg",
        "to": "{\t    '#FFFFFF':'#FF0018',\t    '#FF0018':'#FFFF41',\t    '#FFFF41':'#008018',\t    '#008018':'#0000F9',\t    '#0000F9':'#86007D',\t    '#86007D':'#FFFFFF'\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "state",
        "pt": "msg",
        "to": "metrics[msg.scene.bucket]color.leds",
        "tot": "global"
      },
      {
        "t": "set",
        "p": "color",
        "pt": "msg",
        "to": "colors[msg.state]",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "msg.color?msg.color:'#FFFFFF'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1200,
    "y": 1140,
    "wires": [
      [
        "c729f7835ec2ea89"
      ]
    ]
  },
  {
    "id": "5dbc953c7bf31694",
    "type": "switch",
    "z": "4ae92a5d07f513ee",
    "g": "6c31c5a2c83b0cc9",
    "name": "remote",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "11",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1040,
    "y": 420,
    "wires": [
      [
        "f4f3e9824b0a85b8"
      ]
    ]
  },
  {
    "id": "f4f3e9824b0a85b8",
    "type": "change",
    "z": "4ae92a5d07f513ee",
    "g": "6c31c5a2c83b0cc9",
    "name": "toggle",
    "rules": [
      {
        "t": "set",
        "p": "scene.bucket",
        "pt": "msg",
        "to": "bucket",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "state",
        "pt": "msg",
        "to": "metrics[msg.bucket]light['right bedside']",
        "tot": "global"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "msg.state?false:true",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1210,
    "y": 420,
    "wires": [
      [
        "c873fafacd9c4dee"
      ]
    ]
  },
  {
    "id": "0a21f1c3c8c31ff9",
    "type": "switch",
    "z": "4ae92a5d07f513ee",
    "g": "bf5fb6e0ee73d142",
    "name": "remote",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "21",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1040,
    "y": 660,
    "wires": [
      [
        "70a7e504ff1a46bb"
      ]
    ]
  },
  {
    "id": "70a7e504ff1a46bb",
    "type": "change",
    "z": "4ae92a5d07f513ee",
    "g": "bf5fb6e0ee73d142",
    "name": "toggle",
    "rules": [
      {
        "t": "set",
        "p": "scene.bucket",
        "pt": "msg",
        "to": "bucket",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "state",
        "pt": "msg",
        "to": "metrics[msg.bucket]light['left bedside']",
        "tot": "global"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "msg.state?false:true",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1210,
    "y": 660,
    "wires": [
      [
        "e019588e48011a10"
      ]
    ]
  },
  {
    "id": "65d1aae873b7206a",
    "type": "change",
    "z": "4ae92a5d07f513ee",
    "g": "8f721526b1bd8e11",
    "name": "scene lighting / leds / boolean",
    "rules": [
      {
        "t": "set",
        "p": "scene.bucket",
        "pt": "msg",
        "to": "bucket",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "scene.measurement",
        "pt": "msg",
        "to": "light",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.field",
        "pt": "msg",
        "to": "leds",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.format",
        "pt": "msg",
        "to": "boolean",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.type",
        "pt": "msg",
        "to": "lighting",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "scene.on",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "scene.off",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1110,
    "y": 1020,
    "wires": [
      [
        "c57984f9ea96ac0d"
      ]
    ]
  },
  {
    "id": "c57984f9ea96ac0d",
    "type": "link out",
    "z": "4ae92a5d07f513ee",
    "g": "8f721526b1bd8e11",
    "name": "parents - scene - lighting leds",
    "mode": "link",
    "links": [
      "abdf34b12a5dd88d"
    ],
    "x": 1555,
    "y": 1020,
    "wires": []
  },
  {
    "id": "331b6dc245510fd9",
    "type": "switch",
    "z": "4ae92a5d07f513ee",
    "g": "e3da4219d2723996",
    "name": "remote",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "12",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 1040,
    "y": 900,
    "wires": [
      [
        "a7519d9f19c4c34d"
      ]
    ]
  },
  {
    "id": "a7519d9f19c4c34d",
    "type": "change",
    "z": "4ae92a5d07f513ee",
    "g": "e3da4219d2723996",
    "name": "toggle",
    "rules": [
      {
        "t": "set",
        "p": "scene.bucket",
        "pt": "msg",
        "to": "bucket",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "state",
        "pt": "msg",
        "to": "metrics[msg.bucket]light.ceiling",
        "tot": "global"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "msg.state?false:true",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1210,
    "y": 900,
    "wires": [
      [
        "859ec44e839237d7"
      ]
    ]
  },
  {
    "id": "1203dd4a94f48276",
    "type": "comment",
    "z": "4ae92a5d07f513ee",
    "name": "parents  / command / remote 1 single : right bedside toggle",
    "info": "",
    "x": 2050,
    "y": 360,
    "wires": []
  },
  {
    "id": "e2ecba6aed6b6aeb",
    "type": "comment",
    "z": "4ae92a5d07f513ee",
    "name": "parents  / command / remote 2 single : left bedside toggle",
    "info": "",
    "x": 2050,
    "y": 440,
    "wires": []
  },
  {
    "id": "715af9136699d378",
    "type": "comment",
    "z": "4ae92a5d07f513ee",
    "name": "parents  / command / remote 1 double : ceiling toggle",
    "info": "",
    "x": 2030,
    "y": 400,
    "wires": []
  },
  {
    "id": "757c3d9ab9d0959d",
    "type": "comment",
    "z": "4ae92a5d07f513ee",
    "name": "parents  / command / remote 2 double : ceiling toggle",
    "info": "",
    "x": 2030,
    "y": 480,
    "wires": []
  },
  {
    "id": "57931bd357455424",
    "type": "comment",
    "z": "4ae92a5d07f513ee",
    "name": "parents  / command / remote 3 single : leds toggle",
    "info": "",
    "x": 2020,
    "y": 520,
    "wires": []
  },
  {
    "id": "e09ed41400ba1f5b",
    "type": "comment",
    "z": "4ae92a5d07f513ee",
    "name": "parents  / command / remote 3 double : leds color",
    "info": "",
    "x": 2020,
    "y": 560,
    "wires": []
  },
  {
    "id": "17eda99bebc9ddc6",
    "type": "comment",
    "z": "4ae92a5d07f513ee",
    "name": "parents  / command / remote 4 double : leds brightness -",
    "info": "",
    "x": 2040,
    "y": 640,
    "wires": []
  },
  {
    "id": "a34eb58b749615b6",
    "type": "comment",
    "z": "4ae92a5d07f513ee",
    "name": "parents  / command / remote 4 single : leds brightness +",
    "info": "",
    "x": 2040,
    "y": 600,
    "wires": []
  }
]