flows/U.Room.List.json
[
  {
    "id": "b928bb81c1e02961",
    "type": "tab",
    "label": "U.Room.List",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "af3293313a492113",
    "type": "group",
    "z": "b928bb81c1e02961",
    "name": "room - ui - aperture",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "af81b0a41bcf99df",
      "6d6224968ba7c5d9",
      "c6f86ceb44d413ed",
      "227b59bd71d4ea5a",
      "0667b13392452757",
      "b4bde00bbca1c9c3",
      "1c698f378d20c0c8",
      "4468e5d7d722f524",
      "b2720f096a0b488e",
      "d0e8c2ef168e690c",
      "f87851f6472299ee",
      "e9d47e8d56320c0f",
      "e1468bd07f7833d2",
      "fd32c9160864393c",
      "e92aecb14578b6f2",
      "8511a4bc957115d4",
      "08e432ec0eeec199",
      "04ae900e7a8e5ac8",
      "248ab1ebea76ecae",
      "95a3aef8bfc333e1",
      "d5b35dbd65c8c2b9",
      "3cecd7c4f79dd7fe",
      "6b79b66429521305",
      "7b3f1aaec004ecfa",
      "c7e91ffdb1fe5a2e",
      "99abe6ab320bf6f1",
      "5e8e9f03c92c72bf",
      "cec940e246132dd8",
      "bc3f1c8b796e6e94",
      "55458de5ef49bb91",
      "f098e88f376a791b",
      "c3a2ed381aba6a33",
      "3fecb11ba25e2884",
      "b129a76c891d0014",
      "280b16759c50ec5d",
      "48fe1d10a3a37a85",
      "22b8700637e578f9",
      "557d6369a161cd69"
    ],
    "x": 94,
    "y": 199,
    "w": 2302,
    "h": 622
  },
  {
    "id": "e9b46670bc7283be",
    "type": "group",
    "z": "b928bb81c1e02961",
    "name": "room - ui - battery",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "cfe03bc0196989f5",
      "80c3ce3d49bd331a",
      "3bc4111acd19c69a",
      "55f064781c895892",
      "ffe2a77ad5394471",
      "44e6838e903b3566",
      "90d065528adcfb62",
      "c6dfc590e40a4878",
      "b184b34450d43367",
      "b70f40f78b57a9e9",
      "276edc393b2b8718",
      "9d9a9a166ac14a87",
      "fb5636e8659a3798",
      "f6a8e56f95d2e83f",
      "188c450232762d9f",
      "28383999950bc1ee",
      "ab5070d8e2289db3",
      "0b3ada9a154f8404",
      "2a102caad43b93f6",
      "47c0bf4047a645fd",
      "82e320bbcec01dec",
      "8ffac054b06e408a",
      "47b82a6a458a6f25",
      "3744b28f43a5bb2b",
      "65e427add3ad7d5c",
      "65d2993302d9e21b",
      "999a7018d46ffc73",
      "aa91636fd91822cd",
      "8b02b507d6467dcb",
      "510ee05b3d6497d4",
      "7cdf67aea069fe46",
      "699ec99e677c7dc7",
      "3272b2668f830af9",
      "0f1d5657502571bf",
      "3d01f404ce8e4f2e",
      "c8c8e81ef5a7a779",
      "25c121f68955e797",
      "815d0596d6b03dba",
      "3cfbbbdec94a469c",
      "12443294ea11d3c1",
      "91b94a9d896e7e78",
      "b525d95cb47e05e7",
      "bb111dd74584e31e",
      "d23964f1034cc332",
      "2bf944e313216712",
      "8ba2fb2ae10d5f8a",
      "3c125c12aed493a6"
    ],
    "x": 94,
    "y": 2059,
    "w": 1912,
    "h": 862
  },
  {
    "id": "55552ce2fcab661e",
    "type": "group",
    "z": "b928bb81c1e02961",
    "name": "room - ui - seen",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "0556201671b0285e",
      "fa99b8b44e92f9be",
      "8b94e3c61d1c7e5d",
      "eeae2c986dcc4fd5",
      "1b2fe53f9f4527dc",
      "e3241702c334a377",
      "6eac671a3b5398ca",
      "8e7e9d97a6c879c9",
      "aeac844b38d85fc6",
      "764bf2a2badb8940",
      "ff242d9ca428610e",
      "1191a4f0f73ac0a2",
      "8cfe805309e7f14b",
      "a53d417127982757",
      "f8cca546e04eb48f",
      "78919c58e908a11f",
      "1debe93af15df2b3",
      "3e0c8f89c9ad2c59",
      "190cd8656368dea1",
      "c98bc4cd21e70d26",
      "8796089a19e22fe4",
      "41178c35c209aac0",
      "9251d2904afbdbde",
      "b5e1b5781b6067d7",
      "b8af5e3061c3fd5a",
      "2c43537a0cf9e307",
      "5bc2441e8a6e0e82",
      "24163d2ac0806a9e",
      "395a54a40d57ff29",
      "6c04bba89bc4d93f",
      "ef1a0dcd39c2ebfa",
      "75b4cef66ff5b569",
      "a1fecc9bf61cbecc",
      "7a5403df0db1a125",
      "b308c52fad5e3003",
      "31e66543c855840b",
      "9fe066202aa296f9",
      "82643125d8e7bae9",
      "4155536a5f1ff708",
      "a3c2ced4e60f6aff",
      "68ac0321fc403487",
      "4c31f8c823796b9d",
      "1fde23683c7ff5d8",
      "97b05bc746ae98eb",
      "8422a13fa9dcca51",
      "80ccf2e84836c3b9",
      "2da226787a8deb51",
      "52be14f6c954aaec"
    ],
    "x": 94,
    "y": 2959,
    "w": 2132,
    "h": 862
  },
  {
    "id": "edfd321fdae55df0",
    "type": "group",
    "z": "b928bb81c1e02961",
    "name": "room - ui - light",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "2ac79808a71cacb1",
      "191e72ca8d7deecf",
      "4f140e0b7bb038a6",
      "68a06a849669ed22",
      "3add54b2949c23ec",
      "5f3f7c722ac856e1",
      "60368ba60dfa48a3",
      "6d778528ac85f061",
      "2416eed2ad7fb675",
      "cae48203992d0c58",
      "0971602e6a24e9b7",
      "44244979d1ad8528",
      "d01299e89f601944",
      "c9b6f8136ca0bd79",
      "fa4bf780a0f34822",
      "2839b9ab42bf552c",
      "428c4887aeb1b8bf",
      "2c47c873b0dfeb59",
      "eba701577392c37d",
      "f0f16786525d1859",
      "246e55d292fe0f91",
      "c863abef8c3dded1",
      "caf4791638c6f452",
      "1b1ed5db08fa516f",
      "ea7482edacd656f7",
      "4a96348eb648c97c",
      "f9014dd138d70756",
      "4ed4b78dc034a6c9",
      "a95a9af12bbd3646",
      "3ea01cdef09d498b",
      "912811332f1921eb",
      "27111821405d5644",
      "0fa65bab1ee8568a",
      "7280c7be1481cd40",
      "7de1422ef0247bba",
      "ac514b49b2018467",
      "639c01a19ae1a820",
      "283d461116d4ddad",
      "689e466df8f8c5c5"
    ],
    "x": 94,
    "y": 859,
    "w": 2802,
    "h": 562
  },
  {
    "id": "cfd2fc533d86ab94",
    "type": "group",
    "z": "b928bb81c1e02961",
    "name": "room - ui - outlet",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "197667ca4e9cdc54",
      "3bb2a286f77067a9",
      "3996f05011c215e4",
      "c81bc2696963b090",
      "24db240be39b9a2a",
      "e804fb2bad48ce0d",
      "89d8b374ec0c8d64",
      "cdf2ad725fe8ba54",
      "7e8e1ce7414fbc36",
      "38b3477f104b9d36",
      "bc14b0716cd43585",
      "9f05d32a15544b29",
      "465d409da29c386d",
      "a3a4cb31ebdbb809",
      "f31fb49f04148c64",
      "a0e5fc984e2031a8",
      "8e95a2345189876d",
      "6a476a7e62631884",
      "e163c6ad2e2227d2",
      "b7a0e4825f15e4a2",
      "d84590265fa8da9a",
      "5dd5e52ffb38148e",
      "1d70860e3f2cb386",
      "0217c5132e551168",
      "c3d1a81ac0746df1",
      "ad569b0b9d7deb89",
      "1ebdf2bf88a5d99c",
      "41ab086b1bafeb41",
      "7d41bae2b6bb3e6a",
      "0bac1457f2c3c913",
      "fbcc441952a7c9da",
      "4f0a78c09e88ac52",
      "825e71c37d3c674a",
      "b2a2d9d670500881",
      "142c5e63a5897acb",
      "17e00a50bca8a511"
    ],
    "x": 94,
    "y": 1459,
    "w": 2342,
    "h": 562
  },
  {
    "id": "3a47bd390630563b",
    "type": "group",
    "z": "b928bb81c1e02961",
    "name": "room - ui - power",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "b456712facdb8f99",
      "9eec2a58eea2f794",
      "f7f44b26d3494661",
      "60ec289316037465",
      "438956ec28a1644e",
      "e9be7bc2cece9e6b",
      "4ad7e0736cb2f3e1",
      "3dacfc613c2d6949",
      "159905f89f658c3d",
      "37342614a8bd3e6c",
      "36b6ced1758a043b",
      "55023cb2a00a038e",
      "65f301cc578576a3",
      "a0f6a91598012b9a",
      "47f442e7e5c89435",
      "962301d657a74408",
      "eb891ec4b0a07cfe",
      "3a821e7da32a3561",
      "cf55e9963f617d17",
      "0109e7088ec7040c",
      "fb14e8329c2c77c8",
      "628630966e299dce",
      "57516cd75e235df7",
      "a4d7386dea5c2987",
      "0aa9ffb8eb4cd831",
      "fc59359ff0fc3578",
      "5d01b01dda282884",
      "95dbd0806f6e50e3",
      "65ba5d4db252f373",
      "8c26987fb7503da4",
      "b4ade4e43f7f5619",
      "1c5b37e443ea3a54",
      "d66db8193ecbf5f3",
      "11459cef626d8dd5",
      "d48781c900013ee5",
      "865b1e2e30c1406e",
      "2c3c9f634bfc436b",
      "c18aac930067b2c5",
      "01d61d75b12c086d",
      "f996e39f99239f8f",
      "ef696b96885101ae",
      "48a0cc5241d2549f",
      "8360781eafaecfeb",
      "c19b6e3169ebc381",
      "1127e98653b5a27a",
      "4183c52e2b2c85f1",
      "5fbe5259545c7e84"
    ],
    "x": 94,
    "y": 3859,
    "w": 1912,
    "h": 862
  },
  {
    "id": "65f5bcaeef2cb043",
    "type": "group",
    "z": "b928bb81c1e02961",
    "name": "room - ui - color",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "d59c718c84ca0c45",
      "6974a448a0c0c431",
      "3f26e65e9e14b140",
      "165086f5eeb45889",
      "26655f3b52fd390b",
      "4f053126291b5804",
      "656edb879555e04e",
      "fd6b81a32bb8d757",
      "17650efb4c8eac6d",
      "35aed833a6fd89c9",
      "78389a0e3cf80961",
      "b5aef2391dcbcf4b",
      "9bdb14efae83866c",
      "6aa0699f4eb35c14",
      "b21e235c39afcb03",
      "bd985c8dc9609479",
      "095ea15b0b3f109a",
      "a0a1caf4e95d5a2b",
      "230b7b206cbda14f",
      "93ed91bff23ccae6",
      "c369c0df4127877c",
      "cd27de68d9e0cbc4",
      "11e8012b77840d09",
      "67c80d1f6f7f4480",
      "862bd44140894d07",
      "eb3242a9703a76df",
      "d963d406dbde22b8",
      "037325aca1c515e3",
      "7b14579668c1af3f",
      "fa5d15edbf72f647",
      "b2e76bba0862cef8",
      "46ff4d153fc9736c",
      "04052562e24f52a7",
      "b2358081175b0301",
      "b73d1209033d8724",
      "929e091f58d7e981",
      "d23265902eda3894",
      "a803317ea68e18fc",
      "fadfc3bdbc68f76f",
      "cbe25ff8706d300b",
      "159202a1e2a32023",
      "e4063f822861a8e3",
      "bc769b10e03830e1"
    ],
    "x": 94,
    "y": 4759,
    "w": 3722,
    "h": 562
  },
  {
    "id": "14365542ae0790c8",
    "type": "group",
    "z": "b928bb81c1e02961",
    "name": "room - ui - brihgtness",
    "style": {
      "fill": "#6f2fa0",
      "fill-opacity": "0.05",
      "label": true
    },
    "nodes": [
      "42acd7f9ad626301",
      "c3e90ec1d4493bb4",
      "6ab8f6f585ebee36",
      "c17daf8aa7e26a0c",
      "7379c487515b9889",
      "3a6f2959b098c17e",
      "69f1300be1c6d8ab",
      "32f30c6a0241b184",
      "1313dd5a267993d9",
      "1b38e8d77f15ac4a",
      "d9d65b36d28ee1b5",
      "af81a38fa86c6cc8",
      "dbe559c73da68763",
      "d88e0ed1a96a90b5",
      "42c1dae9372de9c6",
      "149cc130f5efb763",
      "7eacb809027a3f29",
      "992d3a4f1f2cef04",
      "7f81ef3f4f7d218f",
      "6aeea1de4587093e",
      "2155a7e805ce62e5",
      "db3dc40ea4b498e3",
      "65dca07a06ffa9c6",
      "d272a453214030a9",
      "f89a84a4111a2df9",
      "ccd498fdd2090daf",
      "6318eeea1f540ad8",
      "6e9d7cb4048d2eef",
      "ae5513076154ad8a",
      "9a9eba7461771815",
      "7f33cfc11587b83c",
      "04f0f1dcc6935c42",
      "51dd51d87769dfc4",
      "1cfe4db12a78f24a"
    ],
    "x": 94,
    "y": 5359,
    "w": 2242,
    "h": 562
  },
  {
    "id": "af81b0a41bcf99df",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "index.aperture",
        "pt": "flow",
        "to": "{}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1690,
    "y": 360,
    "wires": [
      [
        "e9d47e8d56320c0f",
        "e1468bd07f7833d2",
        "fd32c9160864393c",
        "e92aecb14578b6f2",
        "8511a4bc957115d4",
        "08e432ec0eeec199",
        "c7e91ffdb1fe5a2e",
        "280b16759c50ec5d",
        "f098e88f376a791b",
        "c3a2ed381aba6a33",
        "3fecb11ba25e2884",
        "48fe1d10a3a37a85"
      ]
    ]
  },
  {
    "id": "6d6224968ba7c5d9",
    "type": "link in",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "room - ui - aperture - metric",
    "links": [
      "b6323e1460f6f50c"
    ],
    "x": 135,
    "y": 300,
    "wires": [
      [
        "4468e5d7d722f524"
      ]
    ]
  },
  {
    "id": "c6f86ceb44d413ed",
    "type": "link in",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "room - ui - aperture - load",
    "links": [
      "9e4bfee0db3051d4"
    ],
    "x": 135,
    "y": 240,
    "wires": [
      [
        "227b59bd71d4ea5a",
        "557d6369a161cd69"
      ]
    ]
  },
  {
    "id": "227b59bd71d4ea5a",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    \"groups\": {\t        \"hide\": [\"Pièces:Ouvertures\"]\t    }\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "class",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1690,
    "y": 240,
    "wires": [
      [
        "b2720f096a0b488e",
        "f87851f6472299ee"
      ]
    ]
  },
  {
    "id": "0667b13392452757",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "set",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    \"groups\": {\t        \"show\": [\"Pièces:Ouvertures\"]\t    }\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "class",
        "pt": "msg",
        "to": "remove",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1690,
    "y": 300,
    "wires": [
      [
        "b2720f096a0b488e",
        "f87851f6472299ee"
      ]
    ]
  },
  {
    "id": "b4bde00bbca1c9c3",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "set metric",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "cible",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2220,
    "y": 480,
    "wires": [
      [
        "1c698f378d20c0c8"
      ]
    ]
  },
  {
    "id": "1c698f378d20c0c8",
    "type": "link out",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "room - ui - aperture - metric",
    "mode": "link",
    "links": [
      "2690f4e06626ebda"
    ],
    "x": 2355,
    "y": 480,
    "wires": []
  },
  {
    "id": "4468e5d7d722f524",
    "type": "switch",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "measurement",
    "property": "measurement",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "aperture",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 300,
    "y": 300,
    "wires": [
      [
        "0667b13392452757",
        "b129a76c891d0014"
      ]
    ]
  },
  {
    "id": "b2720f096a0b488e",
    "type": "ui-control",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "",
    "ui": "2d75e4809d2a6fbf",
    "events": "all",
    "x": 1860,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "d0e8c2ef168e690c",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "group": "1af30d82c94d6258",
    "order": 1,
    "width": "6",
    "height": "1",
    "name": "none",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 2030,
    "y": 240,
    "wires": []
  },
  {
    "id": "f87851f6472299ee",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "payload",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Aucune ouverture",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1860,
    "y": 240,
    "wires": [
      [
        "d0e8c2ef168e690c"
      ]
    ]
  },
  {
    "id": "e9d47e8d56320c0f",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "group": "1af30d82c94d6258",
    "order": 2,
    "width": "5",
    "height": "1",
    "name": "aperture 01 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1880,
    "y": 540,
    "wires": []
  },
  {
    "id": "e1468bd07f7833d2",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "group": "1af30d82c94d6258",
    "order": 4,
    "width": "5",
    "height": "1",
    "name": "aperture 02 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1880,
    "y": 600,
    "wires": []
  },
  {
    "id": "fd32c9160864393c",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "group": "1af30d82c94d6258",
    "order": 6,
    "width": "5",
    "height": "1",
    "name": "aperture 03 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1880,
    "y": 660,
    "wires": []
  },
  {
    "id": "e92aecb14578b6f2",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "group": "1af30d82c94d6258",
    "order": 8,
    "width": "5",
    "height": "1",
    "name": "aperture 04 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1880,
    "y": 720,
    "wires": []
  },
  {
    "id": "8511a4bc957115d4",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "group": "1af30d82c94d6258",
    "order": 10,
    "width": "5",
    "height": "1",
    "name": "aperture 05 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1880,
    "y": 780,
    "wires": []
  },
  {
    "id": "08e432ec0eeec199",
    "type": "ui-slider",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "group": "1af30d82c94d6258",
    "name": "shutter",
    "label": "",
    "tooltip": "",
    "order": 13,
    "width": "4",
    "height": "1",
    "passthru": false,
    "outs": "end",
    "topic": "shutter",
    "topicType": "str",
    "thumbLabel": true,
    "min": 0,
    "max": "99",
    "step": 1,
    "className": "",
    "x": 2050,
    "y": 480,
    "wires": [
      [
        "b4bde00bbca1c9c3"
      ]
    ]
  },
  {
    "id": "04ae900e7a8e5ac8",
    "type": "link call",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "",
    "links": [
      "df0e4ab2e1efc286"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 860,
    "y": 540,
    "wires": [
      [
        "248ab1ebea76ecae"
      ]
    ]
  },
  {
    "id": "248ab1ebea76ecae",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "text",
    "rules": [
      {
        "t": "set",
        "p": "trans",
        "pt": "msg",
        "to": "'La '&$string(msg.trans)&' est '&(msg.payload?'ouverte':'fermée')",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1050,
    "y": 540,
    "wires": [
      [
        "95a3aef8bfc333e1"
      ]
    ]
  },
  {
    "id": "95a3aef8bfc333e1",
    "type": "switch",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "exists",
    "property": "index.aperture",
    "propertyType": "flow",
    "rules": [
      {
        "t": "hask",
        "v": "field",
        "vt": "msg"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 1210,
    "y": 540,
    "wires": [
      [
        "d5b35dbd65c8c2b9"
      ],
      [
        "3cecd7c4f79dd7fe"
      ]
    ]
  },
  {
    "id": "d5b35dbd65c8c2b9",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "index",
    "rules": [
      {
        "t": "set",
        "p": "index",
        "pt": "msg",
        "to": "index.battery[msg.field]",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1370,
    "y": 540,
    "wires": [
      [
        "6b79b66429521305"
      ]
    ]
  },
  {
    "id": "3cecd7c4f79dd7fe",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "index",
    "rules": [
      {
        "t": "set",
        "p": "index",
        "pt": "msg",
        "to": "index.aperture",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "index",
        "pt": "msg",
        "to": "$count($keys(msg.index)) +1",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "index.aperture[msg.field]",
        "pt": "flow",
        "to": "index",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1370,
    "y": 600,
    "wires": [
      [
        "6b79b66429521305"
      ]
    ]
  },
  {
    "id": "6b79b66429521305",
    "type": "switch",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "index",
    "property": "index",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "2",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "3",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "4",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "5",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 5,
    "x": 1530,
    "y": 540,
    "wires": [
      [
        "99abe6ab320bf6f1",
        "c7e91ffdb1fe5a2e"
      ],
      [
        "5e8e9f03c92c72bf",
        "280b16759c50ec5d"
      ],
      [
        "cec940e246132dd8",
        "f098e88f376a791b"
      ],
      [
        "bc3f1c8b796e6e94",
        "c3a2ed381aba6a33"
      ],
      [
        "55458de5ef49bb91",
        "3fecb11ba25e2884"
      ]
    ]
  },
  {
    "id": "7b3f1aaec004ecfa",
    "type": "switch",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "shutter",
    "property": "field",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "shutter",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 670,
    "y": 480,
    "wires": [
      [
        "08e432ec0eeec199",
        "22b8700637e578f9"
      ],
      [
        "04ae900e7a8e5ac8"
      ]
    ]
  },
  {
    "id": "cfe03bc0196989f5",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "index.battery",
        "pt": "flow",
        "to": "{}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 2220,
    "wires": [
      [
        "9d9a9a166ac14a87",
        "28383999950bc1ee",
        "ab5070d8e2289db3",
        "0b3ada9a154f8404",
        "2a102caad43b93f6",
        "47c0bf4047a645fd",
        "82e320bbcec01dec",
        "47b82a6a458a6f25",
        "3744b28f43a5bb2b",
        "8ffac054b06e408a",
        "25c121f68955e797",
        "815d0596d6b03dba",
        "3cfbbbdec94a469c",
        "8ba2fb2ae10d5f8a",
        "12443294ea11d3c1",
        "91b94a9d896e7e78",
        "b525d95cb47e05e7",
        "bb111dd74584e31e",
        "d23964f1034cc332",
        "2bf944e313216712"
      ]
    ]
  },
  {
    "id": "80c3ce3d49bd331a",
    "type": "link in",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "boot battery",
    "links": [
      "9e4bfee0db3051d4"
    ],
    "x": 135,
    "y": 2100,
    "wires": [
      [
        "ffe2a77ad5394471",
        "3c125c12aed493a6"
      ]
    ]
  },
  {
    "id": "3bc4111acd19c69a",
    "type": "link in",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "room - ui - battery - metric",
    "links": [
      "b6323e1460f6f50c"
    ],
    "x": 135,
    "y": 2160,
    "wires": [
      [
        "b70f40f78b57a9e9"
      ]
    ]
  },
  {
    "id": "55f064781c895892",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "set",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t   \"groups\":{\t       \"show\":[\"Pièces:Batteries\"]\t   }\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "class",
        "pt": "msg",
        "to": "remove",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 2160,
    "wires": [
      [
        "276edc393b2b8718",
        "f6a8e56f95d2e83f"
      ]
    ]
  },
  {
    "id": "ffe2a77ad5394471",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t   \"groups\":{\t       \"hide\":[\"Pièces:Batteries\"]\t   }\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "class",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 2100,
    "wires": [
      [
        "276edc393b2b8718",
        "f6a8e56f95d2e83f"
      ]
    ]
  },
  {
    "id": "44e6838e903b3566",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "index",
    "rules": [
      {
        "t": "set",
        "p": "index",
        "pt": "msg",
        "to": "index.battery[msg.field]",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1210,
    "y": 2340,
    "wires": [
      [
        "b184b34450d43367"
      ]
    ]
  },
  {
    "id": "90d065528adcfb62",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "index",
    "rules": [
      {
        "t": "set",
        "p": "index",
        "pt": "msg",
        "to": "index.battery",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "index",
        "pt": "msg",
        "to": "$count($keys(msg.index)) +1",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "index.battery[msg.field]",
        "pt": "flow",
        "to": "index",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1210,
    "y": 2400,
    "wires": [
      [
        "b184b34450d43367"
      ]
    ]
  },
  {
    "id": "c6dfc590e40a4878",
    "type": "switch",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "exists",
    "property": "index.battery",
    "propertyType": "flow",
    "rules": [
      {
        "t": "hask",
        "v": "field",
        "vt": "msg"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 1050,
    "y": 2340,
    "wires": [
      [
        "44e6838e903b3566"
      ],
      [
        "90d065528adcfb62"
      ]
    ]
  },
  {
    "id": "b184b34450d43367",
    "type": "switch",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "index",
    "property": "index",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "2",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "3",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "4",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "5",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "6",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "7",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "8",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "9",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "10",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 10,
    "x": 1370,
    "y": 2340,
    "wires": [
      [
        "c8c8e81ef5a7a779",
        "25c121f68955e797"
      ],
      [
        "3d01f404ce8e4f2e",
        "815d0596d6b03dba"
      ],
      [
        "0f1d5657502571bf",
        "3cfbbbdec94a469c"
      ],
      [
        "3272b2668f830af9",
        "8ba2fb2ae10d5f8a"
      ],
      [
        "699ec99e677c7dc7",
        "12443294ea11d3c1"
      ],
      [
        "7cdf67aea069fe46",
        "91b94a9d896e7e78"
      ],
      [
        "510ee05b3d6497d4",
        "b525d95cb47e05e7"
      ],
      [
        "8b02b507d6467dcb",
        "bb111dd74584e31e"
      ],
      [
        "aa91636fd91822cd",
        "d23964f1034cc332"
      ],
      [
        "999a7018d46ffc73",
        "2bf944e313216712"
      ]
    ]
  },
  {
    "id": "b70f40f78b57a9e9",
    "type": "switch",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "measurement",
    "property": "measurement",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "battery",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 300,
    "y": 2160,
    "wires": [
      [
        "55f064781c895892",
        "65d2993302d9e21b"
      ]
    ]
  },
  {
    "id": "276edc393b2b8718",
    "type": "ui-control",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "",
    "ui": "2d75e4809d2a6fbf",
    "events": "all",
    "x": 1700,
    "y": 2160,
    "wires": [
      []
    ]
  },
  {
    "id": "9d9a9a166ac14a87",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "group": "a8c4088f8bac709d",
    "order": 2,
    "width": "5",
    "height": "1",
    "name": "battery 01 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1720,
    "y": 2340,
    "wires": []
  },
  {
    "id": "fb5636e8659a3798",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "text",
    "rules": [
      {
        "t": "set",
        "p": "trans",
        "pt": "msg",
        "to": "'Niveau de batterie '&$string(msg.trans)&' à '&$string(msg.payload)&'%'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "msg.payload>30",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 890,
    "y": 2340,
    "wires": [
      [
        "c6dfc590e40a4878"
      ]
    ]
  },
  {
    "id": "f6a8e56f95d2e83f",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "payload",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Aucune batterie",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1700,
    "y": 2100,
    "wires": [
      [
        "188c450232762d9f"
      ]
    ]
  },
  {
    "id": "188c450232762d9f",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "group": "a8c4088f8bac709d",
    "order": 1,
    "width": "6",
    "height": "1",
    "name": "none",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1870,
    "y": 2100,
    "wires": []
  },
  {
    "id": "28383999950bc1ee",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "group": "a8c4088f8bac709d",
    "order": 4,
    "width": "5",
    "height": "1",
    "name": "battery 02 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1720,
    "y": 2400,
    "wires": []
  },
  {
    "id": "ab5070d8e2289db3",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "group": "a8c4088f8bac709d",
    "order": 6,
    "width": "5",
    "height": "1",
    "name": "battery  03 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1720,
    "y": 2460,
    "wires": []
  },
  {
    "id": "0b3ada9a154f8404",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "group": "a8c4088f8bac709d",
    "order": 8,
    "width": "5",
    "height": "1",
    "name": "battery 04 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1720,
    "y": 2520,
    "wires": []
  },
  {
    "id": "2a102caad43b93f6",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "group": "a8c4088f8bac709d",
    "order": 10,
    "width": "5",
    "height": "1",
    "name": "battery 05 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1720,
    "y": 2580,
    "wires": []
  },
  {
    "id": "47c0bf4047a645fd",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "group": "a8c4088f8bac709d",
    "order": 12,
    "width": "5",
    "height": "1",
    "name": "battery 06 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1720,
    "y": 2640,
    "wires": []
  },
  {
    "id": "82e320bbcec01dec",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "group": "a8c4088f8bac709d",
    "order": 14,
    "width": "5",
    "height": "1",
    "name": "battery 07 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1720,
    "y": 2700,
    "wires": []
  },
  {
    "id": "8ffac054b06e408a",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "group": "a8c4088f8bac709d",
    "order": 16,
    "width": "5",
    "height": "1",
    "name": "battery 08 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1720,
    "y": 2760,
    "wires": []
  },
  {
    "id": "47b82a6a458a6f25",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "group": "a8c4088f8bac709d",
    "order": 18,
    "width": "5",
    "height": "1",
    "name": "battery 09 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1720,
    "y": 2820,
    "wires": []
  },
  {
    "id": "3744b28f43a5bb2b",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "group": "a8c4088f8bac709d",
    "order": 20,
    "width": "5",
    "height": "1",
    "name": "battery 10 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1720,
    "y": 2880,
    "wires": []
  },
  {
    "id": "65e427add3ad7d5c",
    "type": "link call",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "",
    "links": [
      "df0e4ab2e1efc286"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 700,
    "y": 2340,
    "wires": [
      [
        "fb5636e8659a3798"
      ]
    ]
  },
  {
    "id": "0556201671b0285e",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "index.seen",
        "pt": "flow",
        "to": "{}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1770,
    "y": 3120,
    "wires": [
      [
        "f8cca546e04eb48f",
        "1debe93af15df2b3",
        "3e0c8f89c9ad2c59",
        "190cd8656368dea1",
        "c98bc4cd21e70d26",
        "8796089a19e22fe4",
        "41178c35c209aac0",
        "9251d2904afbdbde",
        "b5e1b5781b6067d7",
        "b8af5e3061c3fd5a",
        "82643125d8e7bae9",
        "4c31f8c823796b9d",
        "68ac0321fc403487",
        "a3c2ced4e60f6aff",
        "4155536a5f1ff708",
        "1fde23683c7ff5d8",
        "97b05bc746ae98eb",
        "8422a13fa9dcca51",
        "80ccf2e84836c3b9",
        "2da226787a8deb51"
      ]
    ]
  },
  {
    "id": "fa99b8b44e92f9be",
    "type": "link in",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "boot seen",
    "links": [
      "9e4bfee0db3051d4"
    ],
    "x": 135,
    "y": 3000,
    "wires": [
      [
        "1b2fe53f9f4527dc",
        "52be14f6c954aaec"
      ]
    ]
  },
  {
    "id": "8b94e3c61d1c7e5d",
    "type": "link in",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "room - ui - seen - metric",
    "links": [
      "b6323e1460f6f50c"
    ],
    "x": 135,
    "y": 3060,
    "wires": [
      [
        "ff242d9ca428610e"
      ]
    ]
  },
  {
    "id": "eeae2c986dcc4fd5",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "set",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t   \"groups\":{\t       \"show\":[\"Pièces:Controles\"]\t   }\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "class",
        "pt": "msg",
        "to": "remove",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1770,
    "y": 3060,
    "wires": [
      [
        "1191a4f0f73ac0a2",
        "a53d417127982757"
      ]
    ]
  },
  {
    "id": "1b2fe53f9f4527dc",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t   \"groups\":{\t       \"hide\":[\"Pièces:Controles\"]\t   }\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "class",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1770,
    "y": 3000,
    "wires": [
      [
        "1191a4f0f73ac0a2",
        "a53d417127982757"
      ]
    ]
  },
  {
    "id": "e3241702c334a377",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "index",
    "rules": [
      {
        "t": "set",
        "p": "index",
        "pt": "msg",
        "to": "index.seen[msg.field]",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1410,
    "y": 3240,
    "wires": [
      [
        "aeac844b38d85fc6"
      ]
    ]
  },
  {
    "id": "6eac671a3b5398ca",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "index",
    "rules": [
      {
        "t": "set",
        "p": "index",
        "pt": "msg",
        "to": "index.seen",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "index",
        "pt": "msg",
        "to": "$count($keys(msg.index)) +1",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "index.seen[msg.field]",
        "pt": "flow",
        "to": "index",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1410,
    "y": 3300,
    "wires": [
      [
        "aeac844b38d85fc6"
      ]
    ]
  },
  {
    "id": "8e7e9d97a6c879c9",
    "type": "switch",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "exists",
    "property": "index.seen",
    "propertyType": "flow",
    "rules": [
      {
        "t": "hask",
        "v": "field",
        "vt": "msg"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 1250,
    "y": 3240,
    "wires": [
      [
        "e3241702c334a377"
      ],
      [
        "6eac671a3b5398ca"
      ]
    ]
  },
  {
    "id": "aeac844b38d85fc6",
    "type": "switch",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "index",
    "property": "index",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "2",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "3",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "4",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "5",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "6",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "7",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "8",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "9",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "10",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 10,
    "x": 1570,
    "y": 3240,
    "wires": [
      [
        "9fe066202aa296f9",
        "82643125d8e7bae9"
      ],
      [
        "31e66543c855840b",
        "4c31f8c823796b9d"
      ],
      [
        "b308c52fad5e3003",
        "68ac0321fc403487"
      ],
      [
        "7a5403df0db1a125",
        "a3c2ced4e60f6aff"
      ],
      [
        "a1fecc9bf61cbecc",
        "4155536a5f1ff708"
      ],
      [
        "75b4cef66ff5b569",
        "1fde23683c7ff5d8"
      ],
      [
        "ef1a0dcd39c2ebfa",
        "97b05bc746ae98eb"
      ],
      [
        "6c04bba89bc4d93f",
        "8422a13fa9dcca51"
      ],
      [
        "395a54a40d57ff29",
        "80ccf2e84836c3b9"
      ],
      [
        "24163d2ac0806a9e",
        "2da226787a8deb51"
      ]
    ]
  },
  {
    "id": "764bf2a2badb8940",
    "type": "moment",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "format date",
    "topic": "",
    "input": "payload",
    "inputType": "msg",
    "inTz": "Europe/Paris",
    "adjAmount": 0,
    "adjType": "days",
    "adjDir": "add",
    "format": "LLLL",
    "locale": "fr-FR",
    "output": "date",
    "outputType": "msg",
    "outTz": "Europe/Paris",
    "x": 910,
    "y": 3240,
    "wires": [
      [
        "78919c58e908a11f"
      ]
    ]
  },
  {
    "id": "ff242d9ca428610e",
    "type": "switch",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "measurement",
    "property": "measurement",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "seen",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 300,
    "y": 3060,
    "wires": [
      [
        "eeae2c986dcc4fd5",
        "5bc2441e8a6e0e82"
      ]
    ]
  },
  {
    "id": "1191a4f0f73ac0a2",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "payload",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Aucun élément",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1940,
    "y": 3000,
    "wires": [
      [
        "8cfe805309e7f14b"
      ]
    ]
  },
  {
    "id": "8cfe805309e7f14b",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "group": "b09caf5d92ae87c0",
    "order": 1,
    "width": "6",
    "height": "1",
    "name": "none",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 2110,
    "y": 3000,
    "wires": []
  },
  {
    "id": "a53d417127982757",
    "type": "ui-control",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "",
    "ui": "2d75e4809d2a6fbf",
    "events": "all",
    "x": 1940,
    "y": 3060,
    "wires": [
      []
    ]
  },
  {
    "id": "f8cca546e04eb48f",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "group": "b09caf5d92ae87c0",
    "order": 2,
    "width": "5",
    "height": "1",
    "name": "seen 01 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1950,
    "y": 3240,
    "wires": []
  },
  {
    "id": "78919c58e908a11f",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "text",
    "rules": [
      {
        "t": "set",
        "p": "trans",
        "pt": "msg",
        "to": "$string(msg.trans)&' vue le '&$string(msg.date)",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "(msg.payload+86400000)>$millis()",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1090,
    "y": 3240,
    "wires": [
      [
        "8e7e9d97a6c879c9"
      ]
    ]
  },
  {
    "id": "1debe93af15df2b3",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "group": "b09caf5d92ae87c0",
    "order": 4,
    "width": "5",
    "height": "1",
    "name": "seen 02 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1950,
    "y": 3300,
    "wires": []
  },
  {
    "id": "3e0c8f89c9ad2c59",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "group": "b09caf5d92ae87c0",
    "order": 6,
    "width": "5",
    "height": "1",
    "name": "seen 03 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1950,
    "y": 3360,
    "wires": []
  },
  {
    "id": "190cd8656368dea1",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "group": "b09caf5d92ae87c0",
    "order": 8,
    "width": "5",
    "height": "1",
    "name": "seen 04 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1950,
    "y": 3420,
    "wires": []
  },
  {
    "id": "c98bc4cd21e70d26",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "group": "b09caf5d92ae87c0",
    "order": 10,
    "width": "5",
    "height": "1",
    "name": "seen 05 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1950,
    "y": 3480,
    "wires": []
  },
  {
    "id": "8796089a19e22fe4",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "group": "b09caf5d92ae87c0",
    "order": 12,
    "width": "5",
    "height": "1",
    "name": "seen 06 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1950,
    "y": 3540,
    "wires": []
  },
  {
    "id": "41178c35c209aac0",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "group": "b09caf5d92ae87c0",
    "order": 14,
    "width": "5",
    "height": "1",
    "name": "seen 07 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1950,
    "y": 3600,
    "wires": []
  },
  {
    "id": "9251d2904afbdbde",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "group": "b09caf5d92ae87c0",
    "order": 16,
    "width": "5",
    "height": "1",
    "name": "seen 08 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1950,
    "y": 3660,
    "wires": []
  },
  {
    "id": "b5e1b5781b6067d7",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "group": "b09caf5d92ae87c0",
    "order": 18,
    "width": "5",
    "height": "1",
    "name": "seen 09 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1950,
    "y": 3720,
    "wires": []
  },
  {
    "id": "b8af5e3061c3fd5a",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "group": "b09caf5d92ae87c0",
    "order": 20,
    "width": "5",
    "height": "1",
    "name": "seen 10 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1950,
    "y": 3780,
    "wires": []
  },
  {
    "id": "2c43537a0cf9e307",
    "type": "link call",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "",
    "links": [
      "df0e4ab2e1efc286"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 700,
    "y": 3240,
    "wires": [
      [
        "764bf2a2badb8940"
      ]
    ]
  },
  {
    "id": "2ac79808a71cacb1",
    "type": "switch",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "value",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "false"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 3,
    "x": 1050,
    "y": 1140,
    "wires": [
      [
        "191e72ca8d7deecf"
      ],
      [
        "191e72ca8d7deecf"
      ],
      [
        "4f140e0b7bb038a6"
      ]
    ]
  },
  {
    "id": "191e72ca8d7deecf",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "false",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1210,
    "y": 1140,
    "wires": [
      [
        "fa4bf780a0f34822"
      ]
    ]
  },
  {
    "id": "4f140e0b7bb038a6",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "true",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "4",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1210,
    "y": 1200,
    "wires": [
      [
        "fa4bf780a0f34822"
      ]
    ]
  },
  {
    "id": "68a06a849669ed22",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "set metric",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "cible",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2720,
    "y": 1140,
    "wires": [
      [
        "60368ba60dfa48a3"
      ]
    ]
  },
  {
    "id": "3add54b2949c23ec",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "index.light",
        "pt": "flow",
        "to": "{}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1850,
    "y": 1020,
    "wires": [
      [
        "246e55d292fe0f91",
        "c863abef8c3dded1",
        "ea7482edacd656f7",
        "1b1ed5db08fa516f",
        "f9014dd138d70756",
        "4ed4b78dc034a6c9",
        "3ea01cdef09d498b",
        "912811332f1921eb",
        "0fa65bab1ee8568a",
        "7280c7be1481cd40"
      ]
    ]
  },
  {
    "id": "5f3f7c722ac856e1",
    "type": "link in",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "boot light",
    "links": [
      "9e4bfee0db3051d4"
    ],
    "x": 135,
    "y": 900,
    "wires": [
      [
        "cae48203992d0c58",
        "689e466df8f8c5c5"
      ]
    ]
  },
  {
    "id": "60368ba60dfa48a3",
    "type": "link out",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "room - ui - light - metric",
    "mode": "link",
    "links": [
      "2690f4e06626ebda"
    ],
    "x": 2855,
    "y": 1140,
    "wires": []
  },
  {
    "id": "6d778528ac85f061",
    "type": "link in",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "room - ui - light - metric",
    "links": [
      "b6323e1460f6f50c"
    ],
    "x": 135,
    "y": 960,
    "wires": [
      [
        "428c4887aeb1b8bf"
      ]
    ]
  },
  {
    "id": "2416eed2ad7fb675",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "set",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t   \"groups\":{\t       \"show\":[\"Pièces:Lumières\"]\t   }\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "class",
        "pt": "msg",
        "to": "remove",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1850,
    "y": 960,
    "wires": [
      [
        "2c47c873b0dfeb59",
        "eba701577392c37d"
      ]
    ]
  },
  {
    "id": "cae48203992d0c58",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t   \"groups\":{\t       \"hide\":[\"Pièces:Lumières\"]\t   }\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "class",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1850,
    "y": 900,
    "wires": [
      [
        "eba701577392c37d",
        "2c47c873b0dfeb59"
      ]
    ]
  },
  {
    "id": "0971602e6a24e9b7",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "99",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "msg.payload>0?99:0",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2550,
    "y": 1080,
    "wires": [
      [
        "68a06a849669ed22"
      ]
    ]
  },
  {
    "id": "44244979d1ad8528",
    "type": "switch",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "lamp",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "lamp",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 2390,
    "y": 1140,
    "wires": [
      [
        "0971602e6a24e9b7"
      ],
      [
        "68a06a849669ed22"
      ]
    ]
  },
  {
    "id": "d01299e89f601944",
    "type": "switch",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "index",
    "property": "index",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "2",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "3",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "4",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "5",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 5,
    "x": 1690,
    "y": 1140,
    "wires": [
      [
        "caf4791638c6f452",
        "246e55d292fe0f91"
      ],
      [
        "4a96348eb648c97c",
        "1b1ed5db08fa516f"
      ],
      [
        "a95a9af12bbd3646",
        "f9014dd138d70756"
      ],
      [
        "27111821405d5644",
        "3ea01cdef09d498b"
      ],
      [
        "7de1422ef0247bba",
        "0fa65bab1ee8568a"
      ]
    ]
  },
  {
    "id": "c9b6f8136ca0bd79",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "index",
    "rules": [
      {
        "t": "set",
        "p": "index",
        "pt": "msg",
        "to": "index.light[msg.field]",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "field",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 1140,
    "wires": [
      [
        "d01299e89f601944"
      ]
    ]
  },
  {
    "id": "fa4bf780a0f34822",
    "type": "switch",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "exists",
    "property": "index.light",
    "propertyType": "flow",
    "rules": [
      {
        "t": "hask",
        "v": "field",
        "vt": "msg"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 1370,
    "y": 1140,
    "wires": [
      [
        "c9b6f8136ca0bd79"
      ],
      [
        "2839b9ab42bf552c"
      ]
    ]
  },
  {
    "id": "2839b9ab42bf552c",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "index",
    "rules": [
      {
        "t": "set",
        "p": "index",
        "pt": "msg",
        "to": "index.light",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "index",
        "pt": "msg",
        "to": "$count($keys(msg.index)) +1",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "index.light[msg.field]",
        "pt": "flow",
        "to": "index",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "field",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 1200,
    "wires": [
      [
        "d01299e89f601944"
      ]
    ]
  },
  {
    "id": "428c4887aeb1b8bf",
    "type": "switch",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "measurement",
    "property": "measurement",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "light",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 300,
    "y": 960,
    "wires": [
      [
        "2416eed2ad7fb675",
        "283d461116d4ddad"
      ]
    ]
  },
  {
    "id": "2c47c873b0dfeb59",
    "type": "ui-control",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "",
    "ui": "2d75e4809d2a6fbf",
    "events": "all",
    "x": 2020,
    "y": 960,
    "wires": [
      []
    ]
  },
  {
    "id": "eba701577392c37d",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "payload",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Aucune lumière",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2020,
    "y": 900,
    "wires": [
      [
        "f0f16786525d1859"
      ]
    ]
  },
  {
    "id": "f0f16786525d1859",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "group": "0b218c608a39070c",
    "order": 1,
    "width": "6",
    "height": "1",
    "name": "none",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 2190,
    "y": 900,
    "wires": []
  },
  {
    "id": "246e55d292fe0f91",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "light 01",
    "label": "",
    "group": "0b218c608a39070c",
    "order": 3,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "field",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "4",
    "onvalueType": "num",
    "onicon": "lightbulb-on",
    "oncolor": "yellow",
    "offvalue": "0",
    "offvalueType": "num",
    "officon": "lightbulb-off-outline",
    "offcolor": "grey",
    "x": 2220,
    "y": 1140,
    "wires": [
      [
        "44244979d1ad8528"
      ]
    ]
  },
  {
    "id": "c863abef8c3dded1",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "group": "0b218c608a39070c",
    "order": 2,
    "width": "5",
    "height": "1",
    "name": "light 01 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 2030,
    "y": 1140,
    "wires": []
  },
  {
    "id": "caf4791638c6f452",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1850,
    "y": 1140,
    "wires": [
      [
        "c863abef8c3dded1"
      ]
    ]
  },
  {
    "id": "1b1ed5db08fa516f",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "light 02",
    "label": "",
    "group": "0b218c608a39070c",
    "order": 5,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "field",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "4",
    "onvalueType": "num",
    "onicon": "lightbulb-on",
    "oncolor": "yellow",
    "offvalue": "0",
    "offvalueType": "num",
    "officon": "lightbulb-off-outline",
    "offcolor": "grey",
    "x": 2220,
    "y": 1200,
    "wires": [
      [
        "44244979d1ad8528"
      ]
    ]
  },
  {
    "id": "ea7482edacd656f7",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "group": "0b218c608a39070c",
    "order": 4,
    "width": "5",
    "height": "1",
    "name": "light 02 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 2030,
    "y": 1200,
    "wires": []
  },
  {
    "id": "4a96348eb648c97c",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1850,
    "y": 1200,
    "wires": [
      [
        "ea7482edacd656f7"
      ]
    ]
  },
  {
    "id": "f9014dd138d70756",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "light 03",
    "label": "",
    "group": "0b218c608a39070c",
    "order": 7,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "field",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "4",
    "onvalueType": "num",
    "onicon": "lightbulb-on",
    "oncolor": "yellow",
    "offvalue": "0",
    "offvalueType": "num",
    "officon": "lightbulb-off-outline",
    "offcolor": "grey",
    "x": 2220,
    "y": 1260,
    "wires": [
      [
        "44244979d1ad8528"
      ]
    ]
  },
  {
    "id": "4ed4b78dc034a6c9",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "group": "0b218c608a39070c",
    "order": 6,
    "width": "5",
    "height": "1",
    "name": "light 03 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 2030,
    "y": 1260,
    "wires": []
  },
  {
    "id": "a95a9af12bbd3646",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1850,
    "y": 1260,
    "wires": [
      [
        "4ed4b78dc034a6c9"
      ]
    ]
  },
  {
    "id": "3ea01cdef09d498b",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "light 04",
    "label": "",
    "group": "0b218c608a39070c",
    "order": 9,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "field",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "4",
    "onvalueType": "num",
    "onicon": "lightbulb-on",
    "oncolor": "yellow",
    "offvalue": "0",
    "offvalueType": "num",
    "officon": "lightbulb-off-outline",
    "offcolor": "grey",
    "x": 2220,
    "y": 1320,
    "wires": [
      [
        "44244979d1ad8528"
      ]
    ]
  },
  {
    "id": "912811332f1921eb",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "group": "0b218c608a39070c",
    "order": 8,
    "width": "5",
    "height": "1",
    "name": "light 04 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 2030,
    "y": 1320,
    "wires": []
  },
  {
    "id": "27111821405d5644",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1850,
    "y": 1320,
    "wires": [
      [
        "912811332f1921eb"
      ]
    ]
  },
  {
    "id": "0fa65bab1ee8568a",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "light 05",
    "label": "",
    "group": "0b218c608a39070c",
    "order": 11,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "field",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "4",
    "onvalueType": "num",
    "onicon": "lightbulb-on",
    "oncolor": "yellow",
    "offvalue": "0",
    "offvalueType": "num",
    "officon": "lightbulb-off-outline",
    "offcolor": "grey",
    "x": 2220,
    "y": 1380,
    "wires": [
      [
        "44244979d1ad8528"
      ]
    ]
  },
  {
    "id": "7280c7be1481cd40",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "group": "0b218c608a39070c",
    "order": 10,
    "width": "5",
    "height": "1",
    "name": "light 05 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 2030,
    "y": 1380,
    "wires": []
  },
  {
    "id": "7de1422ef0247bba",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1850,
    "y": 1380,
    "wires": [
      [
        "7280c7be1481cd40"
      ]
    ]
  },
  {
    "id": "ac514b49b2018467",
    "type": "link call",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "",
    "links": [
      "df0e4ab2e1efc286"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 700,
    "y": 1140,
    "wires": [
      [
        "639c01a19ae1a820"
      ]
    ]
  },
  {
    "id": "197667ca4e9cdc54",
    "type": "switch",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "value",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "gt",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 3,
    "x": 890,
    "y": 1740,
    "wires": [
      [
        "3bb2a286f77067a9"
      ],
      [
        "3bb2a286f77067a9"
      ],
      [
        "3996f05011c215e4"
      ]
    ]
  },
  {
    "id": "3bb2a286f77067a9",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "true",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1050,
    "y": 1740,
    "wires": [
      [
        "9f05d32a15544b29"
      ]
    ]
  },
  {
    "id": "3996f05011c215e4",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "false",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1050,
    "y": 1800,
    "wires": [
      [
        "9f05d32a15544b29"
      ]
    ]
  },
  {
    "id": "c81bc2696963b090",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "set metric",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "cible",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2260,
    "y": 1740,
    "wires": [
      [
        "89d8b374ec0c8d64"
      ]
    ]
  },
  {
    "id": "24db240be39b9a2a",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "index.outlet",
        "pt": "flow",
        "to": "{}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1690,
    "y": 1620,
    "wires": [
      [
        "e163c6ad2e2227d2",
        "b7a0e4825f15e4a2",
        "5dd5e52ffb38148e",
        "1d70860e3f2cb386",
        "c3d1a81ac0746df1",
        "ad569b0b9d7deb89",
        "41ab086b1bafeb41",
        "7d41bae2b6bb3e6a",
        "fbcc441952a7c9da",
        "4f0a78c09e88ac52"
      ]
    ]
  },
  {
    "id": "e804fb2bad48ce0d",
    "type": "link in",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "boot outlet",
    "links": [
      "9e4bfee0db3051d4"
    ],
    "x": 135,
    "y": 1500,
    "wires": [
      [
        "f31fb49f04148c64",
        "17e00a50bca8a511"
      ]
    ]
  },
  {
    "id": "89d8b374ec0c8d64",
    "type": "link out",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "room - ui - outlet - metric",
    "mode": "link",
    "links": [
      "2690f4e06626ebda"
    ],
    "x": 2395,
    "y": 1740,
    "wires": []
  },
  {
    "id": "cdf2ad725fe8ba54",
    "type": "link in",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "room - ui - outlet - metric",
    "links": [
      "b6323e1460f6f50c"
    ],
    "x": 135,
    "y": 1560,
    "wires": [
      [
        "465d409da29c386d"
      ]
    ]
  },
  {
    "id": "7e8e1ce7414fbc36",
    "type": "switch",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "index",
    "property": "index",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "2",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "3",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "4",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "5",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 5,
    "x": 1530,
    "y": 1740,
    "wires": [
      [
        "d84590265fa8da9a",
        "e163c6ad2e2227d2"
      ],
      [
        "0217c5132e551168",
        "5dd5e52ffb38148e"
      ],
      [
        "1ebdf2bf88a5d99c",
        "c3d1a81ac0746df1"
      ],
      [
        "0bac1457f2c3c913",
        "41ab086b1bafeb41"
      ],
      [
        "825e71c37d3c674a",
        "fbcc441952a7c9da"
      ]
    ]
  },
  {
    "id": "38b3477f104b9d36",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "index",
    "rules": [
      {
        "t": "set",
        "p": "index",
        "pt": "msg",
        "to": "index.outlet",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "index",
        "pt": "msg",
        "to": "$count($keys(msg.index)) +1",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "index.outlet[msg.field]",
        "pt": "flow",
        "to": "index",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "field",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1370,
    "y": 1800,
    "wires": [
      [
        "7e8e1ce7414fbc36"
      ]
    ]
  },
  {
    "id": "bc14b0716cd43585",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "index",
    "rules": [
      {
        "t": "set",
        "p": "index",
        "pt": "msg",
        "to": "index.outlet[msg.field]",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "field",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1370,
    "y": 1740,
    "wires": [
      [
        "7e8e1ce7414fbc36"
      ]
    ]
  },
  {
    "id": "9f05d32a15544b29",
    "type": "switch",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "exists",
    "property": "index.outlet",
    "propertyType": "flow",
    "rules": [
      {
        "t": "hask",
        "v": "field",
        "vt": "msg"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 1210,
    "y": 1740,
    "wires": [
      [
        "bc14b0716cd43585"
      ],
      [
        "38b3477f104b9d36"
      ]
    ]
  },
  {
    "id": "465d409da29c386d",
    "type": "switch",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "measurement",
    "property": "measurement",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "outlet",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 300,
    "y": 1560,
    "wires": [
      [
        "a3a4cb31ebdbb809",
        "142c5e63a5897acb"
      ]
    ]
  },
  {
    "id": "a3a4cb31ebdbb809",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "set",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t   \"groups\":{\t       \"show\":[\"Pièces:Prises\"]\t   }\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "class",
        "pt": "msg",
        "to": "remove",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1690,
    "y": 1560,
    "wires": [
      [
        "a0e5fc984e2031a8",
        "8e95a2345189876d"
      ]
    ]
  },
  {
    "id": "f31fb49f04148c64",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t   \"groups\":{\t       \"hide\":[\"Pièces:Prises\"]\t   }\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "class",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1690,
    "y": 1500,
    "wires": [
      [
        "8e95a2345189876d",
        "a0e5fc984e2031a8"
      ]
    ]
  },
  {
    "id": "a0e5fc984e2031a8",
    "type": "ui-control",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "",
    "ui": "2d75e4809d2a6fbf",
    "events": "all",
    "x": 1860,
    "y": 1560,
    "wires": [
      []
    ]
  },
  {
    "id": "8e95a2345189876d",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "payload",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Aucune lumière",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1860,
    "y": 1500,
    "wires": [
      [
        "6a476a7e62631884"
      ]
    ]
  },
  {
    "id": "6a476a7e62631884",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "group": "73569c6c69828619",
    "order": 1,
    "width": "6",
    "height": "1",
    "name": "none",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 2030,
    "y": 1500,
    "wires": []
  },
  {
    "id": "e163c6ad2e2227d2",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "sw outlet 1",
    "label": "",
    "group": "73569c6c69828619",
    "order": 3,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "power-plug",
    "oncolor": "red",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "power-plug-off-outline",
    "offcolor": "grey",
    "x": 2070,
    "y": 1740,
    "wires": [
      [
        "c81bc2696963b090"
      ]
    ]
  },
  {
    "id": "b7a0e4825f15e4a2",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "group": "73569c6c69828619",
    "order": 2,
    "width": "5",
    "height": "1",
    "name": "txt outlet 1",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1870,
    "y": 1740,
    "wires": []
  },
  {
    "id": "d84590265fa8da9a",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "state",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "'Prise '&msg.trans&(msg.payload?' allumée':' éteinte')",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1690,
    "y": 1740,
    "wires": [
      [
        "b7a0e4825f15e4a2"
      ]
    ]
  },
  {
    "id": "5dd5e52ffb38148e",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "sw outlet 2",
    "label": "",
    "group": "73569c6c69828619",
    "order": 5,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "power-plug",
    "oncolor": "red",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "power-plug-off-outline",
    "offcolor": "grey",
    "x": 2070,
    "y": 1800,
    "wires": [
      [
        "c81bc2696963b090"
      ]
    ]
  },
  {
    "id": "1d70860e3f2cb386",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "group": "73569c6c69828619",
    "order": 4,
    "width": "5",
    "height": "1",
    "name": "txt outlet 2",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1870,
    "y": 1800,
    "wires": []
  },
  {
    "id": "0217c5132e551168",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "state",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "'Prise '&msg.trans&(msg.payload?' allumée':' éteinte')",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1690,
    "y": 1800,
    "wires": [
      [
        "1d70860e3f2cb386"
      ]
    ]
  },
  {
    "id": "c3d1a81ac0746df1",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "sw outlet 3",
    "label": "",
    "group": "73569c6c69828619",
    "order": 7,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "power-plug",
    "oncolor": "red",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "power-plug-off-outline",
    "offcolor": "grey",
    "x": 2070,
    "y": 1860,
    "wires": [
      [
        "c81bc2696963b090"
      ]
    ]
  },
  {
    "id": "ad569b0b9d7deb89",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "group": "73569c6c69828619",
    "order": 6,
    "width": "5",
    "height": "1",
    "name": "txt outlet  3",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1870,
    "y": 1860,
    "wires": []
  },
  {
    "id": "1ebdf2bf88a5d99c",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "state",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "'Prise '&msg.trans&(msg.payload?' allumée':' éteinte')",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1690,
    "y": 1860,
    "wires": [
      [
        "ad569b0b9d7deb89"
      ]
    ]
  },
  {
    "id": "41ab086b1bafeb41",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "sw outlet 4",
    "label": "",
    "group": "73569c6c69828619",
    "order": 9,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "power-plug",
    "oncolor": "red",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "power-plug-off-outline",
    "offcolor": "grey",
    "x": 2070,
    "y": 1920,
    "wires": [
      [
        "c81bc2696963b090"
      ]
    ]
  },
  {
    "id": "7d41bae2b6bb3e6a",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "group": "73569c6c69828619",
    "order": 8,
    "width": "5",
    "height": "1",
    "name": "txt outlet 4",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1870,
    "y": 1920,
    "wires": []
  },
  {
    "id": "0bac1457f2c3c913",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "state",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "'Prise '&msg.trans&(msg.payload?' allumée':' éteinte')",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1690,
    "y": 1920,
    "wires": [
      [
        "7d41bae2b6bb3e6a"
      ]
    ]
  },
  {
    "id": "fbcc441952a7c9da",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "sw outlet 5",
    "label": "",
    "group": "73569c6c69828619",
    "order": 11,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "power-plug",
    "oncolor": "red",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "power-plug-off-outline",
    "offcolor": "grey",
    "x": 2070,
    "y": 1980,
    "wires": [
      [
        "c81bc2696963b090"
      ]
    ]
  },
  {
    "id": "4f0a78c09e88ac52",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "group": "73569c6c69828619",
    "order": 10,
    "width": "5",
    "height": "1",
    "name": "txt outlet 5",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1870,
    "y": 1980,
    "wires": []
  },
  {
    "id": "825e71c37d3c674a",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "state",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "'Prise '&msg.trans&(msg.payload?' allumée':' éteinte')",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1690,
    "y": 1980,
    "wires": [
      [
        "4f0a78c09e88ac52"
      ]
    ]
  },
  {
    "id": "b2a2d9d670500881",
    "type": "link call",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "",
    "links": [
      "df0e4ab2e1efc286"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 700,
    "y": 1740,
    "wires": [
      [
        "197667ca4e9cdc54"
      ]
    ]
  },
  {
    "id": "b456712facdb8f99",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "index.power",
        "pt": "flow",
        "to": "{}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 4020,
    "wires": [
      [
        "55023cb2a00a038e",
        "962301d657a74408",
        "eb891ec4b0a07cfe",
        "3a821e7da32a3561",
        "cf55e9963f617d17",
        "0109e7088ec7040c",
        "fb14e8329c2c77c8",
        "57516cd75e235df7",
        "a4d7386dea5c2987",
        "628630966e299dce",
        "2c3c9f634bfc436b",
        "01d61d75b12c086d",
        "c18aac930067b2c5",
        "f996e39f99239f8f",
        "ef696b96885101ae",
        "48a0cc5241d2549f",
        "8360781eafaecfeb",
        "c19b6e3169ebc381",
        "1127e98653b5a27a",
        "4183c52e2b2c85f1"
      ]
    ]
  },
  {
    "id": "9eec2a58eea2f794",
    "type": "link in",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "boot power",
    "links": [
      "9e4bfee0db3051d4"
    ],
    "x": 135,
    "y": 3900,
    "wires": [
      [
        "438956ec28a1644e",
        "5fbe5259545c7e84"
      ]
    ]
  },
  {
    "id": "f7f44b26d3494661",
    "type": "link in",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "room - ui - power - metric",
    "links": [
      "b6323e1460f6f50c"
    ],
    "x": 135,
    "y": 3960,
    "wires": [
      [
        "37342614a8bd3e6c"
      ]
    ]
  },
  {
    "id": "60ec289316037465",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "set",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t   \"groups\":{\t       \"show\":[\"Pièces:Puissances\"]\t   }\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "class",
        "pt": "msg",
        "to": "remove",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 3960,
    "wires": [
      [
        "36b6ced1758a043b",
        "a0f6a91598012b9a"
      ]
    ]
  },
  {
    "id": "438956ec28a1644e",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t   \"groups\":{\t       \"hide\":[\"Pièces:Puissances\"]\t   }\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "class",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 3900,
    "wires": [
      [
        "36b6ced1758a043b",
        "a0f6a91598012b9a"
      ]
    ]
  },
  {
    "id": "e9be7bc2cece9e6b",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "index",
    "rules": [
      {
        "t": "set",
        "p": "index",
        "pt": "msg",
        "to": "index.power[msg.field]",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1210,
    "y": 4140,
    "wires": [
      [
        "159905f89f658c3d"
      ]
    ]
  },
  {
    "id": "4ad7e0736cb2f3e1",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "index",
    "rules": [
      {
        "t": "set",
        "p": "index",
        "pt": "msg",
        "to": "index.power",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "index",
        "pt": "msg",
        "to": "$count($keys(msg.index)) +1",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "index.power[msg.field]",
        "pt": "flow",
        "to": "index",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1210,
    "y": 4200,
    "wires": [
      [
        "159905f89f658c3d"
      ]
    ]
  },
  {
    "id": "3dacfc613c2d6949",
    "type": "switch",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "exists",
    "property": "index.power",
    "propertyType": "flow",
    "rules": [
      {
        "t": "hask",
        "v": "field",
        "vt": "msg"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 1050,
    "y": 4140,
    "wires": [
      [
        "e9be7bc2cece9e6b"
      ],
      [
        "4ad7e0736cb2f3e1"
      ]
    ]
  },
  {
    "id": "159905f89f658c3d",
    "type": "switch",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "index",
    "property": "index",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "2",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "3",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "4",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "5",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "6",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "7",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "8",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "9",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "10",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 10,
    "x": 1370,
    "y": 4140,
    "wires": [
      [
        "865b1e2e30c1406e",
        "2c3c9f634bfc436b"
      ],
      [
        "d48781c900013ee5",
        "01d61d75b12c086d"
      ],
      [
        "11459cef626d8dd5",
        "c18aac930067b2c5"
      ],
      [
        "d66db8193ecbf5f3",
        "f996e39f99239f8f"
      ],
      [
        "1c5b37e443ea3a54",
        "ef696b96885101ae"
      ],
      [
        "b4ade4e43f7f5619",
        "48a0cc5241d2549f"
      ],
      [
        "8c26987fb7503da4",
        "8360781eafaecfeb"
      ],
      [
        "65ba5d4db252f373",
        "c19b6e3169ebc381"
      ],
      [
        "95dbd0806f6e50e3",
        "1127e98653b5a27a"
      ],
      [
        "5d01b01dda282884",
        "4183c52e2b2c85f1"
      ]
    ]
  },
  {
    "id": "37342614a8bd3e6c",
    "type": "switch",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "measurement",
    "property": "measurement",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "power",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 300,
    "y": 3960,
    "wires": [
      [
        "60ec289316037465",
        "fc59359ff0fc3578"
      ]
    ]
  },
  {
    "id": "36b6ced1758a043b",
    "type": "ui-control",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "",
    "ui": "2d75e4809d2a6fbf",
    "events": "all",
    "x": 1700,
    "y": 3960,
    "wires": [
      []
    ]
  },
  {
    "id": "55023cb2a00a038e",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "group": "fb4d25e6dae3c8fd",
    "order": 2,
    "width": "5",
    "height": "1",
    "name": "power 01 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1720,
    "y": 4140,
    "wires": []
  },
  {
    "id": "65f301cc578576a3",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "text",
    "rules": [
      {
        "t": "set",
        "p": "trans",
        "pt": "msg",
        "to": "'Puissance '&$string(msg.trans)&' à '&$string(msg.payload)&'W'",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "msg.payload>0",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 890,
    "y": 4140,
    "wires": [
      [
        "3dacfc613c2d6949"
      ]
    ]
  },
  {
    "id": "a0f6a91598012b9a",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "payload",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Aucune puissance",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1700,
    "y": 3900,
    "wires": [
      [
        "47f442e7e5c89435"
      ]
    ]
  },
  {
    "id": "47f442e7e5c89435",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "group": "fb4d25e6dae3c8fd",
    "order": 1,
    "width": "6",
    "height": "1",
    "name": "none",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1870,
    "y": 3900,
    "wires": []
  },
  {
    "id": "962301d657a74408",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "group": "fb4d25e6dae3c8fd",
    "order": 4,
    "width": "5",
    "height": "1",
    "name": "power 02 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1720,
    "y": 4200,
    "wires": []
  },
  {
    "id": "eb891ec4b0a07cfe",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "group": "fb4d25e6dae3c8fd",
    "order": 6,
    "width": "5",
    "height": "1",
    "name": "power  03 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1720,
    "y": 4260,
    "wires": []
  },
  {
    "id": "3a821e7da32a3561",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "group": "fb4d25e6dae3c8fd",
    "order": 8,
    "width": "5",
    "height": "1",
    "name": "power 04 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1720,
    "y": 4320,
    "wires": []
  },
  {
    "id": "cf55e9963f617d17",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "group": "fb4d25e6dae3c8fd",
    "order": 10,
    "width": "5",
    "height": "1",
    "name": "power 05 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1720,
    "y": 4380,
    "wires": []
  },
  {
    "id": "0109e7088ec7040c",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "group": "fb4d25e6dae3c8fd",
    "order": 12,
    "width": "5",
    "height": "1",
    "name": "power 06 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1720,
    "y": 4440,
    "wires": []
  },
  {
    "id": "fb14e8329c2c77c8",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "group": "fb4d25e6dae3c8fd",
    "order": 14,
    "width": "5",
    "height": "1",
    "name": "power 07 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1720,
    "y": 4500,
    "wires": []
  },
  {
    "id": "628630966e299dce",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "group": "fb4d25e6dae3c8fd",
    "order": 16,
    "width": "5",
    "height": "1",
    "name": "power 08 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1720,
    "y": 4560,
    "wires": []
  },
  {
    "id": "57516cd75e235df7",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "group": "fb4d25e6dae3c8fd",
    "order": 18,
    "width": "5",
    "height": "1",
    "name": "power 09 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1720,
    "y": 4620,
    "wires": []
  },
  {
    "id": "a4d7386dea5c2987",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "group": "fb4d25e6dae3c8fd",
    "order": 20,
    "width": "5",
    "height": "1",
    "name": "power 10 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1720,
    "y": 4680,
    "wires": []
  },
  {
    "id": "0aa9ffb8eb4cd831",
    "type": "link call",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "",
    "links": [
      "df0e4ab2e1efc286"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 700,
    "y": 4140,
    "wires": [
      [
        "65f301cc578576a3"
      ]
    ]
  },
  {
    "id": "d59c718c84ca0c45",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "set metric",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "color",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3640,
    "y": 5040,
    "wires": [
      [
        "165086f5eeb45889"
      ]
    ]
  },
  {
    "id": "6974a448a0c0c431",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "index.color",
        "pt": "flow",
        "to": "{}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3090,
    "y": 4920,
    "wires": [
      [
        "230b7b206cbda14f",
        "93ed91bff23ccae6",
        "c369c0df4127877c",
        "11e8012b77840d09",
        "862bd44140894d07",
        "095ea15b0b3f109a",
        "a0a1caf4e95d5a2b",
        "cd27de68d9e0cbc4",
        "67c80d1f6f7f4480",
        "eb3242a9703a76df"
      ]
    ]
  },
  {
    "id": "3f26e65e9e14b140",
    "type": "link in",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "boot color",
    "links": [
      "9e4bfee0db3051d4"
    ],
    "x": 135,
    "y": 4800,
    "wires": [
      [
        "b5aef2391dcbcf4b",
        "bc769b10e03830e1"
      ]
    ]
  },
  {
    "id": "165086f5eeb45889",
    "type": "link out",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "room - ui - color - metric",
    "mode": "link",
    "links": [
      "2690f4e06626ebda"
    ],
    "x": 3775,
    "y": 5040,
    "wires": []
  },
  {
    "id": "26655f3b52fd390b",
    "type": "link in",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "room - ui - color - metric",
    "links": [
      "b6323e1460f6f50c"
    ],
    "x": 135,
    "y": 4860,
    "wires": [
      [
        "35aed833a6fd89c9"
      ]
    ]
  },
  {
    "id": "4f053126291b5804",
    "type": "switch",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "index",
    "property": "index",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "2",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "3",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "4",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "5",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 5,
    "x": 2930,
    "y": 5040,
    "wires": [
      [
        "d963d406dbde22b8",
        "095ea15b0b3f109a"
      ],
      [
        "037325aca1c515e3",
        "a0a1caf4e95d5a2b"
      ],
      [
        "7b14579668c1af3f",
        "cd27de68d9e0cbc4"
      ],
      [
        "fa5d15edbf72f647",
        "67c80d1f6f7f4480"
      ],
      [
        "b2e76bba0862cef8",
        "eb3242a9703a76df"
      ]
    ]
  },
  {
    "id": "656edb879555e04e",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "index",
    "rules": [
      {
        "t": "set",
        "p": "index",
        "pt": "msg",
        "to": "index.color",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "index",
        "pt": "msg",
        "to": "$count($keys(msg.index)) +1",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "index.color[msg.field]",
        "pt": "flow",
        "to": "index",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "field",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2770,
    "y": 5100,
    "wires": [
      [
        "4f053126291b5804"
      ]
    ]
  },
  {
    "id": "fd6b81a32bb8d757",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "index",
    "rules": [
      {
        "t": "set",
        "p": "index",
        "pt": "msg",
        "to": "index.color[msg.field]",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "field",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2770,
    "y": 5040,
    "wires": [
      [
        "4f053126291b5804"
      ]
    ]
  },
  {
    "id": "17650efb4c8eac6d",
    "type": "switch",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "exists",
    "property": "index.color",
    "propertyType": "flow",
    "rules": [
      {
        "t": "hask",
        "v": "field",
        "vt": "msg"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 2610,
    "y": 5040,
    "wires": [
      [
        "fd6b81a32bb8d757"
      ],
      [
        "656edb879555e04e"
      ]
    ]
  },
  {
    "id": "35aed833a6fd89c9",
    "type": "switch",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "measurement",
    "property": "measurement",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "color",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 300,
    "y": 4860,
    "wires": [
      [
        "78389a0e3cf80961",
        "e4063f822861a8e3"
      ]
    ]
  },
  {
    "id": "78389a0e3cf80961",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "set",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t   \"groups\":{\t       \"show\":[\"Pièces:Couleurs\"]\t   }\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "class",
        "pt": "msg",
        "to": "remove",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3090,
    "y": 4860,
    "wires": [
      [
        "9bdb14efae83866c",
        "6aa0699f4eb35c14"
      ]
    ]
  },
  {
    "id": "b5aef2391dcbcf4b",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t   \"groups\":{\t       \"hide\":[\"Pièces:Couleurs\"]\t   }\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "class",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3090,
    "y": 4800,
    "wires": [
      [
        "6aa0699f4eb35c14",
        "9bdb14efae83866c"
      ]
    ]
  },
  {
    "id": "9bdb14efae83866c",
    "type": "ui-control",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "",
    "ui": "2d75e4809d2a6fbf",
    "events": "all",
    "x": 3260,
    "y": 4860,
    "wires": [
      []
    ]
  },
  {
    "id": "6aa0699f4eb35c14",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "payload",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Aucune gestion de couleurs",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3260,
    "y": 4800,
    "wires": [
      [
        "b21e235c39afcb03"
      ]
    ]
  },
  {
    "id": "b21e235c39afcb03",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "group": "377461f11e162f6d",
    "order": 1,
    "width": "6",
    "height": "1",
    "name": "none",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 3430,
    "y": 4800,
    "wires": []
  },
  {
    "id": "bd985c8dc9609479",
    "type": "link call",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "",
    "links": [
      "df0e4ab2e1efc286"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 700,
    "y": 5040,
    "wires": [
      [
        "b2358081175b0301"
      ]
    ]
  },
  {
    "id": "095ea15b0b3f109a",
    "type": "ui-dropdown",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "group": "377461f11e162f6d",
    "name": "color 01",
    "label": "Couleur :",
    "tooltip": "",
    "order": 3,
    "width": "2",
    "height": "1",
    "passthru": false,
    "multiple": false,
    "options": [],
    "payload": "",
    "topic": "topic",
    "topicType": "msg",
    "className": "",
    "x": 3460,
    "y": 5040,
    "wires": [
      [
        "d59c718c84ca0c45"
      ]
    ]
  },
  {
    "id": "a0a1caf4e95d5a2b",
    "type": "ui-dropdown",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "group": "377461f11e162f6d",
    "name": "color 02",
    "label": "Couleur :",
    "tooltip": "",
    "order": 5,
    "width": "2",
    "height": "1",
    "passthru": false,
    "multiple": false,
    "options": [],
    "payload": "",
    "topic": "topic",
    "topicType": "msg",
    "className": "",
    "x": 3460,
    "y": 5100,
    "wires": [
      [
        "d59c718c84ca0c45"
      ]
    ]
  },
  {
    "id": "230b7b206cbda14f",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "group": "377461f11e162f6d",
    "order": 2,
    "width": "4",
    "height": "1",
    "name": "color 01 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 3270,
    "y": 5040,
    "wires": []
  },
  {
    "id": "93ed91bff23ccae6",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "group": "377461f11e162f6d",
    "order": 4,
    "width": "4",
    "height": "1",
    "name": "color 02 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 3270,
    "y": 5100,
    "wires": []
  },
  {
    "id": "c369c0df4127877c",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "group": "377461f11e162f6d",
    "order": 6,
    "width": "4",
    "height": "1",
    "name": "color 03 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 3270,
    "y": 5160,
    "wires": []
  },
  {
    "id": "cd27de68d9e0cbc4",
    "type": "ui-dropdown",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "group": "377461f11e162f6d",
    "name": "color 03",
    "label": "Couleur :",
    "tooltip": "",
    "order": 7,
    "width": "2",
    "height": "1",
    "passthru": false,
    "multiple": false,
    "options": [],
    "payload": "",
    "topic": "topic",
    "topicType": "msg",
    "className": "",
    "x": 3460,
    "y": 5160,
    "wires": [
      [
        "d59c718c84ca0c45"
      ]
    ]
  },
  {
    "id": "11e8012b77840d09",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "group": "377461f11e162f6d",
    "order": 8,
    "width": "4",
    "height": "1",
    "name": "color 04 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 3270,
    "y": 5220,
    "wires": []
  },
  {
    "id": "67c80d1f6f7f4480",
    "type": "ui-dropdown",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "group": "377461f11e162f6d",
    "name": "color 04",
    "label": "Couleur :",
    "tooltip": "",
    "order": 9,
    "width": "2",
    "height": "1",
    "passthru": false,
    "multiple": false,
    "options": [],
    "payload": "",
    "topic": "topic",
    "topicType": "msg",
    "className": "",
    "x": 3460,
    "y": 5220,
    "wires": [
      [
        "d59c718c84ca0c45"
      ]
    ]
  },
  {
    "id": "862bd44140894d07",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "group": "377461f11e162f6d",
    "order": 10,
    "width": "4",
    "height": "1",
    "name": "color 05 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 3270,
    "y": 5280,
    "wires": []
  },
  {
    "id": "eb3242a9703a76df",
    "type": "ui-dropdown",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "group": "377461f11e162f6d",
    "name": "color 05",
    "label": "Couleur :",
    "tooltip": "",
    "order": 11,
    "width": "2",
    "height": "1",
    "passthru": false,
    "multiple": false,
    "options": [],
    "payload": "",
    "topic": "topic",
    "topicType": "msg",
    "className": "",
    "x": 3460,
    "y": 5280,
    "wires": [
      [
        "d59c718c84ca0c45"
      ]
    ]
  },
  {
    "id": "42acd7f9ad626301",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "name": "set metric",
    "rules": [
      {
        "t": "set",
        "p": "measurement",
        "pt": "msg",
        "to": "brightness",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2160,
    "y": 5640,
    "wires": [
      [
        "c17daf8aa7e26a0c"
      ]
    ]
  },
  {
    "id": "c3e90ec1d4493bb4",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "index.brightness",
        "pt": "flow",
        "to": "{}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 5520,
    "wires": [
      [
        "7eacb809027a3f29",
        "992d3a4f1f2cef04",
        "7f81ef3f4f7d218f",
        "6aeea1de4587093e",
        "2155a7e805ce62e5",
        "db3dc40ea4b498e3",
        "65dca07a06ffa9c6",
        "d272a453214030a9",
        "f89a84a4111a2df9",
        "ccd498fdd2090daf"
      ]
    ]
  },
  {
    "id": "6ab8f6f585ebee36",
    "type": "link in",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "name": "boot brihgtness",
    "links": [
      "9e4bfee0db3051d4"
    ],
    "x": 135,
    "y": 5400,
    "wires": [
      [
        "af81a38fa86c6cc8",
        "1cfe4db12a78f24a"
      ]
    ]
  },
  {
    "id": "c17daf8aa7e26a0c",
    "type": "link out",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "name": "room - ui - brihgtness - metric",
    "mode": "link",
    "links": [
      "2690f4e06626ebda"
    ],
    "x": 2295,
    "y": 5640,
    "wires": []
  },
  {
    "id": "7379c487515b9889",
    "type": "link in",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "name": "room - ui - brihgtness - metric",
    "links": [
      "b6323e1460f6f50c"
    ],
    "x": 135,
    "y": 5460,
    "wires": [
      [
        "1b38e8d77f15ac4a"
      ]
    ]
  },
  {
    "id": "3a6f2959b098c17e",
    "type": "switch",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "name": "index",
    "property": "index",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "2",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "3",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "4",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "5",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 5,
    "x": 1370,
    "y": 5640,
    "wires": [
      [
        "db3dc40ea4b498e3",
        "ae5513076154ad8a"
      ],
      [
        "65dca07a06ffa9c6",
        "9a9eba7461771815"
      ],
      [
        "d272a453214030a9",
        "7f33cfc11587b83c"
      ],
      [
        "f89a84a4111a2df9",
        "04f0f1dcc6935c42"
      ],
      [
        "ccd498fdd2090daf",
        "51dd51d87769dfc4"
      ]
    ]
  },
  {
    "id": "69f1300be1c6d8ab",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "name": "index",
    "rules": [
      {
        "t": "set",
        "p": "index",
        "pt": "msg",
        "to": "index.brightness",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "index",
        "pt": "msg",
        "to": "$count($keys(msg.index)) +1",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "index.brightness[msg.field]",
        "pt": "flow",
        "to": "index",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "field",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1210,
    "y": 5700,
    "wires": [
      [
        "3a6f2959b098c17e"
      ]
    ]
  },
  {
    "id": "32f30c6a0241b184",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "name": "index",
    "rules": [
      {
        "t": "set",
        "p": "index",
        "pt": "msg",
        "to": "index.brightness[msg.field]",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "field",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1210,
    "y": 5640,
    "wires": [
      [
        "3a6f2959b098c17e"
      ]
    ]
  },
  {
    "id": "1313dd5a267993d9",
    "type": "switch",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "name": "exists",
    "property": "index.brightness",
    "propertyType": "flow",
    "rules": [
      {
        "t": "hask",
        "v": "field",
        "vt": "msg"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 1050,
    "y": 5640,
    "wires": [
      [
        "32f30c6a0241b184"
      ],
      [
        "69f1300be1c6d8ab"
      ]
    ]
  },
  {
    "id": "1b38e8d77f15ac4a",
    "type": "switch",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "name": "measurement",
    "property": "measurement",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "brightness",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 300,
    "y": 5460,
    "wires": [
      [
        "d9d65b36d28ee1b5",
        "6318eeea1f540ad8"
      ]
    ]
  },
  {
    "id": "d9d65b36d28ee1b5",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "name": "set",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t   \"groups\":{\t       \"show\":[\"Pièces:Luminosités\"]\t   }\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "class",
        "pt": "msg",
        "to": "remove",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 5460,
    "wires": [
      [
        "dbe559c73da68763",
        "d88e0ed1a96a90b5"
      ]
    ]
  },
  {
    "id": "af81a38fa86c6cc8",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t   \"groups\":{\t       \"hide\":[\"Pièces:Luminosités\"]\t   }\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "reset",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "class",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 5400,
    "wires": [
      [
        "d88e0ed1a96a90b5",
        "dbe559c73da68763"
      ]
    ]
  },
  {
    "id": "dbe559c73da68763",
    "type": "ui-control",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "name": "",
    "ui": "2d75e4809d2a6fbf",
    "events": "all",
    "x": 1700,
    "y": 5460,
    "wires": [
      []
    ]
  },
  {
    "id": "d88e0ed1a96a90b5",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "name": "payload",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Aucune gestion de couleurs",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1700,
    "y": 5400,
    "wires": [
      [
        "42c1dae9372de9c6"
      ]
    ]
  },
  {
    "id": "42c1dae9372de9c6",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "group": "07c72906c906336b",
    "order": 1,
    "width": "6",
    "height": "1",
    "name": "none",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1870,
    "y": 5400,
    "wires": []
  },
  {
    "id": "149cc130f5efb763",
    "type": "link call",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "name": "",
    "links": [
      "df0e4ab2e1efc286"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 700,
    "y": 5640,
    "wires": [
      [
        "6e9d7cb4048d2eef"
      ]
    ]
  },
  {
    "id": "7eacb809027a3f29",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "group": "07c72906c906336b",
    "order": 2,
    "width": "2",
    "height": "1",
    "name": "brihgtness 01 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-left",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1730,
    "y": 5640,
    "wires": []
  },
  {
    "id": "992d3a4f1f2cef04",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "group": "07c72906c906336b",
    "order": 4,
    "width": "2",
    "height": "1",
    "name": "brihgtness 02 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-left",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1730,
    "y": 5700,
    "wires": []
  },
  {
    "id": "7f81ef3f4f7d218f",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "group": "07c72906c906336b",
    "order": 6,
    "width": "2",
    "height": "1",
    "name": "brihgtness 03 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-left",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1730,
    "y": 5760,
    "wires": []
  },
  {
    "id": "6aeea1de4587093e",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "group": "07c72906c906336b",
    "order": 8,
    "width": "2",
    "height": "1",
    "name": "brihgtness 04 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-left",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1730,
    "y": 5820,
    "wires": []
  },
  {
    "id": "2155a7e805ce62e5",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "group": "07c72906c906336b",
    "order": 10,
    "width": "2",
    "height": "1",
    "name": "brihgtness 05 (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-left",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1730,
    "y": 5880,
    "wires": []
  },
  {
    "id": "db3dc40ea4b498e3",
    "type": "ui-slider",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "group": "07c72906c906336b",
    "name": "brihgtness 01",
    "label": "",
    "tooltip": "",
    "order": 3,
    "width": "4",
    "height": "1",
    "passthru": false,
    "outs": "end",
    "topic": "topic",
    "topicType": "msg",
    "thumbLabel": true,
    "min": 0,
    "max": "255",
    "step": 1,
    "className": "",
    "x": 1960,
    "y": 5640,
    "wires": [
      [
        "42acd7f9ad626301"
      ]
    ]
  },
  {
    "id": "65dca07a06ffa9c6",
    "type": "ui-slider",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "group": "07c72906c906336b",
    "name": "brihgtness 02",
    "label": "",
    "tooltip": "",
    "order": 5,
    "width": "4",
    "height": "1",
    "passthru": false,
    "outs": "end",
    "topic": "topic",
    "topicType": "msg",
    "thumbLabel": true,
    "min": 0,
    "max": "255",
    "step": 1,
    "className": "",
    "x": 1960,
    "y": 5700,
    "wires": [
      [
        "42acd7f9ad626301"
      ]
    ]
  },
  {
    "id": "d272a453214030a9",
    "type": "ui-slider",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "group": "07c72906c906336b",
    "name": "brihgtness 03",
    "label": "",
    "tooltip": "",
    "order": 7,
    "width": "4",
    "height": "1",
    "passthru": false,
    "outs": "end",
    "topic": "topic",
    "topicType": "msg",
    "thumbLabel": true,
    "min": 0,
    "max": "255",
    "step": 1,
    "className": "",
    "x": 1960,
    "y": 5760,
    "wires": [
      [
        "42acd7f9ad626301"
      ]
    ]
  },
  {
    "id": "f89a84a4111a2df9",
    "type": "ui-slider",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "group": "07c72906c906336b",
    "name": "brihgtness 04",
    "label": "",
    "tooltip": "",
    "order": 9,
    "width": "4",
    "height": "1",
    "passthru": false,
    "outs": "end",
    "topic": "topic",
    "topicType": "msg",
    "thumbLabel": true,
    "min": 0,
    "max": "255",
    "step": 1,
    "className": "",
    "x": 1960,
    "y": 5820,
    "wires": [
      [
        "42acd7f9ad626301"
      ]
    ]
  },
  {
    "id": "ccd498fdd2090daf",
    "type": "ui-slider",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "group": "07c72906c906336b",
    "name": "brihgtness 05",
    "label": "",
    "tooltip": "",
    "order": 11,
    "width": "4",
    "height": "1",
    "passthru": false,
    "outs": "end",
    "topic": "topic",
    "topicType": "msg",
    "thumbLabel": true,
    "min": 0,
    "max": "255",
    "step": 1,
    "className": "",
    "x": 1960,
    "y": 5880,
    "wires": [
      [
        "42acd7f9ad626301"
      ]
    ]
  },
  {
    "id": "c7e91ffdb1fe5a2e",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "aperture 01",
    "label": "",
    "group": "1af30d82c94d6258",
    "order": 3,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "door-open",
    "oncolor": "purple",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "door",
    "offcolor": "grey",
    "x": 2090,
    "y": 540,
    "wires": [
      []
    ]
  },
  {
    "id": "99abe6ab320bf6f1",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1690,
    "y": 540,
    "wires": [
      [
        "e9d47e8d56320c0f"
      ]
    ]
  },
  {
    "id": "5e8e9f03c92c72bf",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1690,
    "y": 600,
    "wires": [
      [
        "e1468bd07f7833d2"
      ]
    ]
  },
  {
    "id": "cec940e246132dd8",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1690,
    "y": 660,
    "wires": [
      [
        "fd32c9160864393c"
      ]
    ]
  },
  {
    "id": "bc3f1c8b796e6e94",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1690,
    "y": 720,
    "wires": [
      [
        "e92aecb14578b6f2"
      ]
    ]
  },
  {
    "id": "55458de5ef49bb91",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1690,
    "y": 780,
    "wires": [
      [
        "8511a4bc957115d4"
      ]
    ]
  },
  {
    "id": "280b16759c50ec5d",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "aperture 02",
    "label": "",
    "group": "1af30d82c94d6258",
    "order": 5,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "door-open",
    "oncolor": "purple",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "door",
    "offcolor": "grey",
    "x": 2090,
    "y": 600,
    "wires": [
      []
    ]
  },
  {
    "id": "f098e88f376a791b",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "aperture 03",
    "label": "",
    "group": "1af30d82c94d6258",
    "order": 7,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "door-open",
    "oncolor": "purple",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "door",
    "offcolor": "grey",
    "x": 2090,
    "y": 660,
    "wires": [
      []
    ]
  },
  {
    "id": "c3a2ed381aba6a33",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "aperture 04",
    "label": "",
    "group": "1af30d82c94d6258",
    "order": 9,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "door-open",
    "oncolor": "purple",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "door",
    "offcolor": "grey",
    "x": 2090,
    "y": 720,
    "wires": [
      []
    ]
  },
  {
    "id": "3fecb11ba25e2884",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "aperture 05",
    "label": "",
    "group": "1af30d82c94d6258",
    "order": 11,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "door-open",
    "oncolor": "purple",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "door",
    "offcolor": "grey",
    "x": 2090,
    "y": 780,
    "wires": [
      []
    ]
  },
  {
    "id": "b73d1209033d8724",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "colors",
    "rules": [
      {
        "t": "set",
        "p": "old_payload",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "[\t    {'value':'#FFFFFF','label':'white'},\t    {'value':'#FF0018','label':'red'},\t    {'value':'#FFFF41','label':'yellow'},\t    {'value':'#008018','label':'green'},\t    {'value':'#0000F9','label':'blue'},\t    {'value':'#86007D','label':'purple'}\t]",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "old_trans",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1430,
    "y": 5040,
    "wires": [
      [
        "929e091f58d7e981"
      ]
    ]
  },
  {
    "id": "929e091f58d7e981",
    "type": "split",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 1590,
    "y": 5040,
    "wires": [
      [
        "d23265902eda3894"
      ]
    ]
  },
  {
    "id": "d23265902eda3894",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "payload.label",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1750,
    "y": 5040,
    "wires": [
      [
        "cbe25ff8706d300b"
      ]
    ]
  },
  {
    "id": "a803317ea68e18fc",
    "type": "join",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "",
    "mode": "auto",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": "false",
    "timeout": "",
    "count": "",
    "reduceRight": false,
    "x": 2290,
    "y": 5040,
    "wires": [
      [
        "fadfc3bdbc68f76f"
      ]
    ]
  },
  {
    "id": "fadfc3bdbc68f76f",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "options",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "old_payload",
        "tot": "msg"
      },
      {
        "t": "delete",
        "p": "old_payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "trans",
        "pt": "msg",
        "to": "old_trans",
        "tot": "msg"
      },
      {
        "t": "delete",
        "p": "old_trans",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2450,
    "y": 5040,
    "wires": [
      [
        "17650efb4c8eac6d"
      ]
    ]
  },
  {
    "id": "cbe25ff8706d300b",
    "type": "link call",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "",
    "links": [
      "df0e4ab2e1efc286"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 1940,
    "y": 5040,
    "wires": [
      [
        "159202a1e2a32023"
      ]
    ]
  },
  {
    "id": "159202a1e2a32023",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload.label",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2130,
    "y": 5040,
    "wires": [
      [
        "a803317ea68e18fc"
      ]
    ]
  },
  {
    "id": "46ff4d153fc9736c",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "text",
    "rules": [
      {
        "t": "set",
        "p": "trans",
        "pt": "msg",
        "to": "'Couleur '&msg.old_trans&' en '&msg.trans",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1270,
    "y": 5040,
    "wires": [
      [
        "b73d1209033d8724"
      ]
    ]
  },
  {
    "id": "b2358081175b0301",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "colors",
    "rules": [
      {
        "t": "set",
        "p": "old_payload",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "old_trans",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "colors",
        "pt": "msg",
        "to": "{\t    '#FFFFFF':'white',\t    '#FF0018':'red',\t    '#FFFF41':'yellow',\t    '#008018':'green',\t    '#0000F9':'blue',\t    '#86007D':'purple'\t}",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "field",
        "pt": "msg",
        "to": "colors[msg.payload]",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 890,
    "y": 5040,
    "wires": [
      [
        "04052562e24f52a7"
      ]
    ]
  },
  {
    "id": "04052562e24f52a7",
    "type": "link call",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "",
    "links": [
      "df0e4ab2e1efc286"
    ],
    "linkType": "static",
    "timeout": "30",
    "x": 1080,
    "y": 5040,
    "wires": [
      [
        "46ff4d153fc9736c"
      ]
    ]
  },
  {
    "id": "d963d406dbde22b8",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3090,
    "y": 5040,
    "wires": [
      [
        "230b7b206cbda14f"
      ]
    ]
  },
  {
    "id": "037325aca1c515e3",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3090,
    "y": 5100,
    "wires": [
      [
        "93ed91bff23ccae6"
      ]
    ]
  },
  {
    "id": "7b14579668c1af3f",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3090,
    "y": 5160,
    "wires": [
      [
        "c369c0df4127877c"
      ]
    ]
  },
  {
    "id": "fa5d15edbf72f647",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3090,
    "y": 5220,
    "wires": [
      [
        "11e8012b77840d09"
      ]
    ]
  },
  {
    "id": "b2e76bba0862cef8",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 3090,
    "y": 5280,
    "wires": [
      [
        "862bd44140894d07"
      ]
    ]
  },
  {
    "id": "639c01a19ae1a820",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "text",
    "rules": [
      {
        "t": "set",
        "p": "trans",
        "pt": "msg",
        "to": "'Lumière '&msg.trans&(msg.payload?' allumée':' éteinte')",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 890,
    "y": 1140,
    "wires": [
      [
        "2ac79808a71cacb1"
      ]
    ]
  },
  {
    "id": "b129a76c891d0014",
    "type": "delay",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "100 ms",
    "pauseType": "delay",
    "timeout": "100",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 500,
    "y": 480,
    "wires": [
      [
        "7b3f1aaec004ecfa"
      ]
    ]
  },
  {
    "id": "65d2993302d9e21b",
    "type": "delay",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "100 ms",
    "pauseType": "delay",
    "timeout": "100",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 500,
    "y": 2340,
    "wires": [
      [
        "65e427add3ad7d5c"
      ]
    ]
  },
  {
    "id": "5bc2441e8a6e0e82",
    "type": "delay",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "100 ms",
    "pauseType": "delay",
    "timeout": "100",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 500,
    "y": 3240,
    "wires": [
      [
        "2c43537a0cf9e307"
      ]
    ]
  },
  {
    "id": "283d461116d4ddad",
    "type": "delay",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "100 ms",
    "pauseType": "delay",
    "timeout": "100",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 500,
    "y": 1140,
    "wires": [
      [
        "ac514b49b2018467"
      ]
    ]
  },
  {
    "id": "142c5e63a5897acb",
    "type": "delay",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "100 ms",
    "pauseType": "delay",
    "timeout": "100",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 500,
    "y": 1740,
    "wires": [
      [
        "b2a2d9d670500881"
      ]
    ]
  },
  {
    "id": "fc59359ff0fc3578",
    "type": "delay",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "100 ms",
    "pauseType": "delay",
    "timeout": "100",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 500,
    "y": 4140,
    "wires": [
      [
        "0aa9ffb8eb4cd831"
      ]
    ]
  },
  {
    "id": "e4063f822861a8e3",
    "type": "delay",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "100 ms",
    "pauseType": "delay",
    "timeout": "100",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 500,
    "y": 5040,
    "wires": [
      [
        "bd985c8dc9609479"
      ]
    ]
  },
  {
    "id": "6318eeea1f540ad8",
    "type": "delay",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "name": "100 ms",
    "pauseType": "delay",
    "timeout": "100",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 500,
    "y": 5640,
    "wires": [
      [
        "149cc130f5efb763"
      ]
    ]
  },
  {
    "id": "6e9d7cb4048d2eef",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "name": "text",
    "rules": [
      {
        "t": "set",
        "p": "trans",
        "pt": "msg",
        "to": "'Luminosité '&msg.trans&' à '&msg.payload",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 890,
    "y": 5640,
    "wires": [
      [
        "1313dd5a267993d9"
      ]
    ]
  },
  {
    "id": "ae5513076154ad8a",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 5640,
    "wires": [
      [
        "7eacb809027a3f29"
      ]
    ]
  },
  {
    "id": "9a9eba7461771815",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 5700,
    "wires": [
      [
        "992d3a4f1f2cef04"
      ]
    ]
  },
  {
    "id": "7f33cfc11587b83c",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 5760,
    "wires": [
      [
        "7f81ef3f4f7d218f"
      ]
    ]
  },
  {
    "id": "04f0f1dcc6935c42",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 5820,
    "wires": [
      [
        "6aeea1de4587093e"
      ]
    ]
  },
  {
    "id": "51dd51d87769dfc4",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 5880,
    "wires": [
      [
        "2155a7e805ce62e5"
      ]
    ]
  },
  {
    "id": "999a7018d46ffc73",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 2880,
    "wires": [
      [
        "3744b28f43a5bb2b"
      ]
    ]
  },
  {
    "id": "aa91636fd91822cd",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 2820,
    "wires": [
      [
        "47b82a6a458a6f25"
      ]
    ]
  },
  {
    "id": "8b02b507d6467dcb",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 2760,
    "wires": [
      [
        "8ffac054b06e408a"
      ]
    ]
  },
  {
    "id": "510ee05b3d6497d4",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 2700,
    "wires": [
      [
        "82e320bbcec01dec"
      ]
    ]
  },
  {
    "id": "7cdf67aea069fe46",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 2640,
    "wires": [
      [
        "47c0bf4047a645fd"
      ]
    ]
  },
  {
    "id": "699ec99e677c7dc7",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 2580,
    "wires": [
      [
        "2a102caad43b93f6"
      ]
    ]
  },
  {
    "id": "3272b2668f830af9",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 2520,
    "wires": [
      [
        "0b3ada9a154f8404"
      ]
    ]
  },
  {
    "id": "0f1d5657502571bf",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 2460,
    "wires": [
      [
        "ab5070d8e2289db3"
      ]
    ]
  },
  {
    "id": "3d01f404ce8e4f2e",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 2400,
    "wires": [
      [
        "28383999950bc1ee"
      ]
    ]
  },
  {
    "id": "c8c8e81ef5a7a779",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 2340,
    "wires": [
      [
        "9d9a9a166ac14a87"
      ]
    ]
  },
  {
    "id": "25c121f68955e797",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "battery 01",
    "label": "",
    "group": "a8c4088f8bac709d",
    "order": 3,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "battery-high",
    "oncolor": "grey",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "batery-off",
    "offcolor": "teal",
    "x": 1920,
    "y": 2340,
    "wires": [
      []
    ]
  },
  {
    "id": "815d0596d6b03dba",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "battery 02",
    "label": "",
    "group": "a8c4088f8bac709d",
    "order": 5,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "battery-high",
    "oncolor": "grey",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "batery-off",
    "offcolor": "teal",
    "x": 1920,
    "y": 2400,
    "wires": [
      []
    ]
  },
  {
    "id": "3cfbbbdec94a469c",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "battery 03",
    "label": "",
    "group": "a8c4088f8bac709d",
    "order": 7,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "battery-high",
    "oncolor": "grey",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "batery-off",
    "offcolor": "teal",
    "x": 1920,
    "y": 2460,
    "wires": [
      []
    ]
  },
  {
    "id": "8ba2fb2ae10d5f8a",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "battery 04",
    "label": "",
    "group": "a8c4088f8bac709d",
    "order": 9,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "battery-high",
    "oncolor": "grey",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "batery-off",
    "offcolor": "teal",
    "x": 1920,
    "y": 2520,
    "wires": [
      []
    ]
  },
  {
    "id": "12443294ea11d3c1",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "battery 05",
    "label": "",
    "group": "a8c4088f8bac709d",
    "order": 11,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "battery-high",
    "oncolor": "grey",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "batery-off",
    "offcolor": "teal",
    "x": 1920,
    "y": 2580,
    "wires": [
      []
    ]
  },
  {
    "id": "91b94a9d896e7e78",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "battery 06",
    "label": "",
    "group": "a8c4088f8bac709d",
    "order": 13,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "battery-high",
    "oncolor": "grey",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "batery-off",
    "offcolor": "teal",
    "x": 1920,
    "y": 2640,
    "wires": [
      []
    ]
  },
  {
    "id": "b525d95cb47e05e7",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "battery 07",
    "label": "",
    "group": "a8c4088f8bac709d",
    "order": 15,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "battery-high",
    "oncolor": "grey",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "batery-off",
    "offcolor": "teal",
    "x": 1920,
    "y": 2700,
    "wires": [
      []
    ]
  },
  {
    "id": "bb111dd74584e31e",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "battery 08",
    "label": "",
    "group": "a8c4088f8bac709d",
    "order": 17,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "battery-high",
    "oncolor": "grey",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "batery-off",
    "offcolor": "teal",
    "x": 1920,
    "y": 2760,
    "wires": [
      []
    ]
  },
  {
    "id": "d23964f1034cc332",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "battery 09",
    "label": "",
    "group": "a8c4088f8bac709d",
    "order": 19,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "battery-high",
    "oncolor": "grey",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "batery-off",
    "offcolor": "teal",
    "x": 1920,
    "y": 2820,
    "wires": [
      []
    ]
  },
  {
    "id": "2bf944e313216712",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "battery 10",
    "label": "",
    "group": "a8c4088f8bac709d",
    "order": 21,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "battery-high",
    "oncolor": "grey",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "batery-off",
    "offcolor": "teal",
    "x": 1920,
    "y": 2880,
    "wires": [
      []
    ]
  },
  {
    "id": "48fe1d10a3a37a85",
    "type": "ui-text",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "group": "1af30d82c94d6258",
    "order": 12,
    "width": "2",
    "height": "1",
    "name": "shutter (txt)",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 1870,
    "y": 480,
    "wires": []
  },
  {
    "id": "22b8700637e578f9",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "format",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "'Volet à '&msg.payload&'%'",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1690,
    "y": 480,
    "wires": [
      [
        "48fe1d10a3a37a85"
      ]
    ]
  },
  {
    "id": "24163d2ac0806a9e",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1770,
    "y": 3780,
    "wires": [
      [
        "b8af5e3061c3fd5a"
      ]
    ]
  },
  {
    "id": "395a54a40d57ff29",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1770,
    "y": 3720,
    "wires": [
      [
        "b5e1b5781b6067d7"
      ]
    ]
  },
  {
    "id": "6c04bba89bc4d93f",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1770,
    "y": 3660,
    "wires": [
      [
        "9251d2904afbdbde"
      ]
    ]
  },
  {
    "id": "ef1a0dcd39c2ebfa",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1770,
    "y": 3600,
    "wires": [
      [
        "41178c35c209aac0"
      ]
    ]
  },
  {
    "id": "75b4cef66ff5b569",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1770,
    "y": 3540,
    "wires": [
      [
        "8796089a19e22fe4"
      ]
    ]
  },
  {
    "id": "a1fecc9bf61cbecc",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1770,
    "y": 3480,
    "wires": [
      [
        "c98bc4cd21e70d26"
      ]
    ]
  },
  {
    "id": "7a5403df0db1a125",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1770,
    "y": 3420,
    "wires": [
      [
        "190cd8656368dea1"
      ]
    ]
  },
  {
    "id": "b308c52fad5e3003",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1770,
    "y": 3360,
    "wires": [
      [
        "3e0c8f89c9ad2c59"
      ]
    ]
  },
  {
    "id": "31e66543c855840b",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1770,
    "y": 3300,
    "wires": [
      [
        "1debe93af15df2b3"
      ]
    ]
  },
  {
    "id": "9fe066202aa296f9",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1770,
    "y": 3240,
    "wires": [
      [
        "f8cca546e04eb48f"
      ]
    ]
  },
  {
    "id": "82643125d8e7bae9",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "seen 01",
    "label": "",
    "group": "b09caf5d92ae87c0",
    "order": 3,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "eye-outline",
    "oncolor": "grey",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "eye-off",
    "offcolor": "teal",
    "x": 2140,
    "y": 3240,
    "wires": [
      []
    ]
  },
  {
    "id": "4c31f8c823796b9d",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "seen 02",
    "label": "",
    "group": "b09caf5d92ae87c0",
    "order": 5,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "eye-outline",
    "oncolor": "grey",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "eye-off",
    "offcolor": "teal",
    "x": 2140,
    "y": 3300,
    "wires": [
      []
    ]
  },
  {
    "id": "68ac0321fc403487",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "seen 03",
    "label": "",
    "group": "b09caf5d92ae87c0",
    "order": 7,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "eye-outline",
    "oncolor": "grey",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "eye-off",
    "offcolor": "teal",
    "x": 2140,
    "y": 3360,
    "wires": [
      []
    ]
  },
  {
    "id": "a3c2ced4e60f6aff",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "seen 04",
    "label": "",
    "group": "b09caf5d92ae87c0",
    "order": 9,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "eye-outline",
    "oncolor": "grey",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "eye-off",
    "offcolor": "teal",
    "x": 2140,
    "y": 3420,
    "wires": [
      []
    ]
  },
  {
    "id": "4155536a5f1ff708",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "seen 05",
    "label": "",
    "group": "b09caf5d92ae87c0",
    "order": 11,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "eye-outline",
    "oncolor": "grey",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "eye-off",
    "offcolor": "teal",
    "x": 2140,
    "y": 3480,
    "wires": [
      []
    ]
  },
  {
    "id": "1fde23683c7ff5d8",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "seen 06",
    "label": "",
    "group": "b09caf5d92ae87c0",
    "order": 13,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "eye-outline",
    "oncolor": "grey",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "eye-off",
    "offcolor": "teal",
    "x": 2140,
    "y": 3540,
    "wires": [
      []
    ]
  },
  {
    "id": "97b05bc746ae98eb",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "seen 07",
    "label": "",
    "group": "b09caf5d92ae87c0",
    "order": 15,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "eye-outline",
    "oncolor": "grey",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "eye-off",
    "offcolor": "teal",
    "x": 2140,
    "y": 3600,
    "wires": [
      []
    ]
  },
  {
    "id": "8422a13fa9dcca51",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "seen 08",
    "label": "",
    "group": "b09caf5d92ae87c0",
    "order": 17,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "eye-outline",
    "oncolor": "grey",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "eye-off",
    "offcolor": "teal",
    "x": 2140,
    "y": 3660,
    "wires": [
      []
    ]
  },
  {
    "id": "80ccf2e84836c3b9",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "seen 09",
    "label": "",
    "group": "b09caf5d92ae87c0",
    "order": 19,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "eye-outline",
    "oncolor": "grey",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "eye-off",
    "offcolor": "teal",
    "x": 2140,
    "y": 3720,
    "wires": [
      []
    ]
  },
  {
    "id": "2da226787a8deb51",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "seen 10",
    "label": "",
    "group": "b09caf5d92ae87c0",
    "order": 21,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "eye-outline",
    "oncolor": "grey",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "eye-off",
    "offcolor": "teal",
    "x": 2140,
    "y": 3780,
    "wires": [
      []
    ]
  },
  {
    "id": "5d01b01dda282884",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 4680,
    "wires": [
      [
        "a4d7386dea5c2987"
      ]
    ]
  },
  {
    "id": "95dbd0806f6e50e3",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 4620,
    "wires": [
      [
        "57516cd75e235df7"
      ]
    ]
  },
  {
    "id": "65ba5d4db252f373",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 4560,
    "wires": [
      [
        "628630966e299dce"
      ]
    ]
  },
  {
    "id": "8c26987fb7503da4",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 4500,
    "wires": [
      [
        "fb14e8329c2c77c8"
      ]
    ]
  },
  {
    "id": "b4ade4e43f7f5619",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 4440,
    "wires": [
      [
        "0109e7088ec7040c"
      ]
    ]
  },
  {
    "id": "1c5b37e443ea3a54",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 4380,
    "wires": [
      [
        "cf55e9963f617d17"
      ]
    ]
  },
  {
    "id": "d66db8193ecbf5f3",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 4320,
    "wires": [
      [
        "3a821e7da32a3561"
      ]
    ]
  },
  {
    "id": "11459cef626d8dd5",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 4260,
    "wires": [
      [
        "eb891ec4b0a07cfe"
      ]
    ]
  },
  {
    "id": "d48781c900013ee5",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 4200,
    "wires": [
      [
        "962301d657a74408"
      ]
    ]
  },
  {
    "id": "865b1e2e30c1406e",
    "type": "change",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "move",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "trans",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1530,
    "y": 4140,
    "wires": [
      [
        "55023cb2a00a038e"
      ]
    ]
  },
  {
    "id": "2c3c9f634bfc436b",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "power 01",
    "label": "",
    "group": "fb4d25e6dae3c8fd",
    "order": 3,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "meter-electric",
    "oncolor": "teal",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "meter-electric-outline",
    "offcolor": "grey",
    "x": 1920,
    "y": 4140,
    "wires": [
      []
    ]
  },
  {
    "id": "01d61d75b12c086d",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "power 02",
    "label": "",
    "group": "fb4d25e6dae3c8fd",
    "order": 5,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "meter-electric",
    "oncolor": "teal",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "meter-electric-outline",
    "offcolor": "grey",
    "x": 1920,
    "y": 4200,
    "wires": [
      []
    ]
  },
  {
    "id": "c18aac930067b2c5",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "power 03",
    "label": "",
    "group": "fb4d25e6dae3c8fd",
    "order": 7,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "meter-electric",
    "oncolor": "teal",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "meter-electric-outline",
    "offcolor": "grey",
    "x": 1920,
    "y": 4260,
    "wires": [
      []
    ]
  },
  {
    "id": "f996e39f99239f8f",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "power 04",
    "label": "",
    "group": "fb4d25e6dae3c8fd",
    "order": 9,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "meter-electric",
    "oncolor": "teal",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "meter-electric-outline",
    "offcolor": "grey",
    "x": 1920,
    "y": 4320,
    "wires": [
      []
    ]
  },
  {
    "id": "ef696b96885101ae",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "power 05",
    "label": "",
    "group": "fb4d25e6dae3c8fd",
    "order": 11,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "meter-electric",
    "oncolor": "teal",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "meter-electric-outline",
    "offcolor": "grey",
    "x": 1920,
    "y": 4380,
    "wires": [
      []
    ]
  },
  {
    "id": "48a0cc5241d2549f",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "power 06",
    "label": "",
    "group": "fb4d25e6dae3c8fd",
    "order": 13,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "meter-electric",
    "oncolor": "teal",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "meter-electric-outline",
    "offcolor": "grey",
    "x": 1920,
    "y": 4440,
    "wires": [
      []
    ]
  },
  {
    "id": "8360781eafaecfeb",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "power 07",
    "label": "",
    "group": "fb4d25e6dae3c8fd",
    "order": 15,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "meter-electric",
    "oncolor": "teal",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "meter-electric-outline",
    "offcolor": "grey",
    "x": 1920,
    "y": 4500,
    "wires": [
      []
    ]
  },
  {
    "id": "c19b6e3169ebc381",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "power 08",
    "label": "",
    "group": "fb4d25e6dae3c8fd",
    "order": 17,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "meter-electric",
    "oncolor": "teal",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "meter-electric-outline",
    "offcolor": "grey",
    "x": 1920,
    "y": 4560,
    "wires": [
      []
    ]
  },
  {
    "id": "1127e98653b5a27a",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "power 09",
    "label": "",
    "group": "fb4d25e6dae3c8fd",
    "order": 19,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "meter-electric",
    "oncolor": "teal",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "meter-electric-outline",
    "offcolor": "grey",
    "x": 1920,
    "y": 4620,
    "wires": [
      []
    ]
  },
  {
    "id": "4183c52e2b2c85f1",
    "type": "ui-switch",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "power 10",
    "label": "",
    "group": "fb4d25e6dae3c8fd",
    "order": 21,
    "width": "1",
    "height": "1",
    "passthru": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "meter-electric",
    "oncolor": "teal",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "meter-electric-outline",
    "offcolor": "grey",
    "x": 1920,
    "y": 4680,
    "wires": [
      []
    ]
  },
  {
    "id": "5fbe5259545c7e84",
    "type": "delay",
    "z": "b928bb81c1e02961",
    "g": "3a47bd390630563b",
    "name": "50 ms",
    "pauseType": "delay",
    "timeout": "150",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 270,
    "y": 4020,
    "wires": [
      [
        "b456712facdb8f99"
      ]
    ]
  },
  {
    "id": "52be14f6c954aaec",
    "type": "delay",
    "z": "b928bb81c1e02961",
    "g": "55552ce2fcab661e",
    "name": "50 ms",
    "pauseType": "delay",
    "timeout": "150",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 270,
    "y": 3120,
    "wires": [
      [
        "0556201671b0285e"
      ]
    ]
  },
  {
    "id": "3c125c12aed493a6",
    "type": "delay",
    "z": "b928bb81c1e02961",
    "g": "e9b46670bc7283be",
    "name": "50 ms",
    "pauseType": "delay",
    "timeout": "150",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 270,
    "y": 2220,
    "wires": [
      [
        "cfe03bc0196989f5"
      ]
    ]
  },
  {
    "id": "17e00a50bca8a511",
    "type": "delay",
    "z": "b928bb81c1e02961",
    "g": "cfd2fc533d86ab94",
    "name": "50 ms",
    "pauseType": "delay",
    "timeout": "150",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 270,
    "y": 1620,
    "wires": [
      [
        "24db240be39b9a2a"
      ]
    ]
  },
  {
    "id": "557d6369a161cd69",
    "type": "delay",
    "z": "b928bb81c1e02961",
    "g": "af3293313a492113",
    "name": "50 ms",
    "pauseType": "delay",
    "timeout": "150",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 270,
    "y": 360,
    "wires": [
      [
        "af81b0a41bcf99df"
      ]
    ]
  },
  {
    "id": "689e466df8f8c5c5",
    "type": "delay",
    "z": "b928bb81c1e02961",
    "g": "edfd321fdae55df0",
    "name": "50 ms",
    "pauseType": "delay",
    "timeout": "150",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 270,
    "y": 1020,
    "wires": [
      [
        "3add54b2949c23ec"
      ]
    ]
  },
  {
    "id": "bc769b10e03830e1",
    "type": "delay",
    "z": "b928bb81c1e02961",
    "g": "65f5bcaeef2cb043",
    "name": "50 ms",
    "pauseType": "delay",
    "timeout": "150",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 270,
    "y": 4920,
    "wires": [
      [
        "6974a448a0c0c431"
      ]
    ]
  },
  {
    "id": "1cfe4db12a78f24a",
    "type": "delay",
    "z": "b928bb81c1e02961",
    "g": "14365542ae0790c8",
    "name": "50 ms",
    "pauseType": "delay",
    "timeout": "150",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 270,
    "y": 5520,
    "wires": [
      [
        "c3e90ec1d4493bb4"
      ]
    ]
  }
]